[2020-02-27 17:59] lanctot commented on #149
Yes, you are right. But there is a called to `ExpectedReturns` which currently assumes the policy implements `GetStatePolicy(const std::string& infostate_str)`. And when I change the policies to be `UniformPolicy` (in policy.h) the tests fail fails in the call to this function. It should be easy to fix: we can just allow the best response code to call expected returns with the state-based queries

[2020-02-27 18:55] lanctot commented on #149
You can also do game-specific abstractions (grouping information states to shrink the state space), which have worked quite well will sampling / tabular methods in the past for Poker AI.

[2020-02-28 14:24] sbodenstein commented on #135
@hejujie: I was going to propose implementing this after I had done AlphaZero. But great that you are working on it. Would be happy to help on any parts if you don't have time etc.

[2020-02-29 02:27] lihuiknight opened #155 "reproduce rpg and rmpg on kuhn and leduc"
Dear Authors,

I am trying to reproduce the results of https://arxiv.org/pdf/1810.09026.pdf based on pytorch. The idea in this paper is very interesting. Before my implementation, I run the experiments on two-players kuhn and leduc based on the release codes: [kuhn_nfsp.py](https://github.com/deepmind/open_spiel/blob/master/open_spiel/python/examples/kuhn_nfsp.py) and [kuhn_policy_gradient.py](htt

[2020-02-29 06:30] lanctot commented on #155
Hi @lihuiknight,

Ok yes, several things:

1. Please do not refer to the original paper for results, but rather the [OpenSpiel paper](https://arxiv.org/abs/1908.09453) (Figure 3, page 17). In the original paper, we used a more difficult version of Leduc which, rather than handling illegal actions explicitly, imposed arbitrary penalties when taking illegal actions (and then sampled uniformly among

[2020-02-29 06:33] lanctot commented on #155
(Note that Vinicius is currently on holiday so he might not respond right away. I will remind him to take a look when he's back.)

[2020-02-29 06:36] lanctot commented on #153
Any eventual luck with this @chenxli ?

[2020-02-29 07:56] chenxli commented on #153
still not.....since I updated the gcc and g++

[2020-02-29 08:43] lihuiknight commented on #155
Thanks @lanctot . It's expected that deep rl algorithm without correct hyperparameters or other tricks will not work well, as discussed in https://arxiv.org/pdf/1709.06560.pdf.

According to the implementation in open_spiel, `entropy_cost=0.01, num_critic_before_pi=8,`. Using entropy bonuses and updating value network more frequent than policy network are two important tricks in rl community.

Loo

[2020-02-29 13:17] lanctot commented on #155
You mean this? https://github.com/deepmind/open_spiel/blob/ed118af36137c1b01b3d54502747eb1ac28d939a/open_spiel/python/algorithms/policy_gradient.py#L103

I might not understand your question.. why would it be biased (and why would the size of the batch matter for determining that?) The learning is done synchronously (as in batch A2C) so there is no lag in the learning and acting here: data is coll

[2020-02-29 14:02] lihuiknight commented on #155
@lanctot  Yes. You're correct. During the batch training, the policy is not updated.  Because the self._dataset has been thrown away, it doesn't need importance sampling. If this dataset is maintained in a buffer, i think importance sampling should be used here.

[2020-03-02 10:49] PaulFMMuller commented on #141
Hi there !
The internal reviews have taken longer than anticipated, and unfortunately, the whole of the update hasn't made it to this Monday's code update ; only small parts have been included.
Nevertheless, things are drawing to a close, and we're anticipating the update to soon be submitted, apologies if you were hoping to start working on it today :/

[2020-03-02 16:28] yarncraft opened #156 "Dockerized Openspiel"
I've been working on putting OpenSpiel in Docker container (since it always greatly boosts framework adoption). So far I can get the tests to run, but there are still some tests prone to failure. Is there anyone else with some Docker experience that spots the problem in the Dockerfile.

Dockerfile Reference: https://github.com/yarncraft/DockerizedOpenSpiel

Thanks in advance!

<img width="1751" al

[2020-03-02 17:11] lanctot commented on #156
Hi @yarncraft , this is really cool!

Looks like all the python tests are failing, so it's probably the case that the Python API (pybind11) is not building properly.

We've seen this a few times. It's usually been one of these:

- `python3-dev` is not installed.
- python2 and python3 are being mixed
- The python environment variables passed to CMake are not right
- There are several installations

[2020-03-02 17:15] lanctot commented on #156
Haha, clicked on literally the only link in your message and saw Ubuntu 18.04. Perfect. It's been fairly straight-forward to install Ubuntu 18.04. My guess is that you don't have `python3-dev` installed. Did you run `install.sh` to get all the dependencies?

[2020-03-02 17:21] lanctot commented on #156
LOL I just saw now the second line of your Dockerfile installs `python3-dev`. Looking at the file, seems fine.

Hmm... do you know if you can import pyspiel from python3 in the Docker instance? Before doing `build_and_run_tests.sh`, can you try:

[code]

Does this cause an error?

Before doing this , you'll need to set the `PYTHONPATH` environment variables, see Step 4 of https://github.com/deepmi

[2020-03-02 23:16] yarncraft commented on #156
According to step 4 in the docs I read the following:

_To be able to import the Python code (both the C++ binding pyspiel and the rest) from any location, you will need to add to your PYTHONPATH the root directory and the open_spiel directory._

I think this is not needed when you put the framework in the container as you would use Docker containers exactly to avoid undertaking such steps. (Since

[2020-03-02 23:32] lanctot commented on #156
Right, but currently the python tests are failing within the environment and when you're using `build_and_run_tests.sh` which sets up the Python paths for you as necessary. I was asking to try doing the import pyspiel _from within the container_ to see if it was built properly. If the tests are failing, something is going wrong in the container, so we have to diagnose it. I mainly want to know if

[2020-03-02 23:42] yarncraft commented on #156
Ok I'll make sure to check out if I can run a python script whereby I import pyspiel in my containerized environment!

Note that not all tests fail (_in fact 57% passes_) however the tests that _do_ fail seem to be quite random, therefore it is indeed hard to debug what exactly goes wrong. I'll do a full report on what could be the cause somewhere in the next 24 hours.

[2020-03-02 23:51] lanctot commented on #156
Right, looks like the C++ tests are passing, so OpenSpiel is building and running properly. From your screenshot it seems to be only the python tests, and we've seen this before so I think it's just that the Python API is not getting build or linked properly (or the CMake tests are not building the python tests properly).

[2020-03-03 07:29] elkhrt commented on #156
Thanks for taking the initiative to do this!
I needed something similar a few months ago. I am no docker expert, so this
is certainly not optimal, but the following worked for me.
This was part of a larger effort; I've removed some things I know to be
irrelevant, but other unneeded items may still be there.

FROM ubuntu:20.04
RUN apt update
RUN dpkg --add-architecture i386 && apt update
RUN apt-ge

[2020-03-03 09:56] yarncraft commented on #156
@elkhrt Thanks for sharing, to make your Dockerfile future proof you might consider adding a python _upgrade step_. I do observe that you don't make use of a virtualenv, this might not be needed when you containerize indeed.

I will give this Dockerfile a try in a minute!

[2020-03-03 10:27] yarncraft commented on #156
@elkhrt It seems like the Dockerfile is working correctly for the TicTacToe example. It does not run tests explicitly however, does it check these internally when executing the last CMD or is it something that needs to be added as well?

[2020-03-03 11:29] elkhrt commented on #156
Yours is far better / future proof / general. And actually runs the tests,
unlike mine. I was just sharing it in case it helped you find what was
missing in yours.

On Tue, 3 Mar 2020, 10:27 Lucas Engels, <notifications@github.com> wrote:

[2020-03-03 11:38] yarncraft commented on #156
Ok I will make sure to enhance the Dockerfile with some extra obligatory steps. I think we can close this issue, I will come back with an update once I get everything up and running with the enhanced version!

Thanks @lanctot @elkhrt  for the help!

[2020-03-03 13:13] yarncraft commented on #156
[code]

@elkhrt, I added tests by running the `ctest -j4` command after the build as explained in the installation docs. It seems like your Dockerfile experiences the same troubles as well! So the python build fails both through pip as through a manual compilation it seems.

[2020-03-03 13:15] yarncraft commented on #156
So the dockerfile I'm using now is

[code]

When skipping the test command, you can indeed run the examples. However, as explained above, when running the tests this Dockerfile approach also experiences the same trouble as did mine when it comes down to the Python tests.

[2020-03-03 13:33] lanctot commented on #156
`PYVERSION` is something our script defines here: https://github.com/deepmind/open_spiel/blob/b19852be38e65de2db20dc9be6659e522a72e83d/open_spiel/scripts/build_and_run_tests.sh#L89, it's not defined by default.

So you either need to run the same command on that line before running the test or hard-code it. (Ubuntu 18.04 comes with Python 3.6 but I see you do an upgrade so you might have 3.7-- you

[2020-03-03 13:40] lanctot commented on #156
Also looks like your new file is missing the installing the required pip packages..?

[2020-03-03 13:53] lanctot commented on #156
If it helps, my go-to minimal manual install is the one on page 6 of the paper: https://arxiv.org/abs/1908.09453

[2020-03-03 13:56] yarncraft commented on #156
I am now working with the Dockerfile provided by Lockhart, the Dockerfile uses:
Python 3.8.2
pip 18.1

[2020-03-03 13:58] lanctot commented on #156
Cool. But you still need to install OpenSpiel's python dependencies via `pip3 install --upgrade -r requirements.txt`

[2020-03-03 14:08] yarncraft commented on #156
[code]

_results in_

[code]

[2020-03-03 14:44] lanctot commented on #156
Ah man, not this again. This error was a pain to fix a few months back when we upgraded to TF 1.15. Maybe it is back to haunt us in Ubuntu 20.04.

Might not work by the system's pip. I wonder if the user-based pip is necessary now.

I will test an install independently on a Ubuntu 20.04 machine and report back. Might be a few days.

[2020-03-03 14:54] yarncraft commented on #156
[code]

I managed to resolve the dependency issue by switching back to 18.04 and installing make through pip (since that downloads the latest version in contrary to apt-get). I am now running the tests again and I'm checking if I can import pyspiel in a Python script

[2020-03-03 15:03] lanctot commented on #156
Ok I expect that python3 command to fail unless you set the PYTHONPATH environment variables. Tests should be ok because they are set within the CMakeLists.txt IIRC.

[2020-03-03 15:09] yarncraft commented on #156
[code]

OK so the tests are ok, the script indeed still fails, so I'm adding the PYTHONPATH and everything should work properly in that case

[2020-03-03 15:15] inejc commented on #156
I haven't spent too much time going through the conversation above but we've successfully dockerized OpenSpiel and hence I'm pasting the relevant docker files here in case they are of any help.

1. We use [this file](https://github.com/semanticweights/tarok/blob/master/.docker/build.Dockerfile) to build a container which is used to build the OpenSpiel project (within CI), image size is `~800MB`
2.

[2020-03-03 15:18] yarncraft commented on #156
Ok thanks for sharing, I just got it working with the following setup:
[code]

[2020-03-03 15:22] lanctot commented on #156
Amazing! Thanks for working on this.

Please submit a PR. Many people would benefit from this, so we should have it somewhere!

[2020-03-03 15:23] yarncraft commented on #156
Indeed! I am working on it! 👍

[2020-03-03 16:06] yarncraft commented on #156
PR submitted 💯Being able to easily run Reinforcement Learning projects in the cloud will most certainly be beneficial!

[2020-03-04 10:55] yarncraft commented on #156
@lanctot The PR still needs to be merged on the master, is there a problem still?

[2020-03-04 13:01] sullins2 commented on #148
Thanks for the responses.

Ignoring (for now) the unique form of entropy regularization that NeuRD uses mentioned above, I am wondering if below the modified BatchQPGLoss is correctly implementing the NeuRD change. The BatchQPGLoss function is the same as BatchQPGLoss, but the compute_adantages() function has been modified (last two lines), and I put in the thresholded() function in from neurd.py

[2020-03-04 13:44] lanctot commented on #156
No problem, I just got busy with work yesterday so couldn't do it yet.

We have a weekly update cycle: we import the PR internally and then it gets merged in our weekly push back to github (on Mondays).

So I will import it in the next few days and it will be merged on March 9th.

[2020-03-04 13:54] lanctot commented on #156
I am wondering if you could try something for me though.

My server provider doesnt have Ubuntu 20.04 yet but I would like if we coukd fix the problem you faced before its release. I suspect if we bump the TF requirement to 2.0 I believe it will work (in `requirements.txt`). Is it easy for you to just test out for me?

[2020-03-04 14:19] yarncraft commented on #156
Thanks for the update! 👍
I will check if the system still works on Ubuntu 20.04 with TF 2.0 as soon as possible

[2020-03-04 21:30] lanctot commented on #156
I tried internally and the upgrade to TF 2.0 breaks ~10 tests so if that's the solution we'll have to update some code first. When I can get an Ubuntu 20.04 machine then I'll look for a shorter-term solution (unless we've fixed those tests by then).

[2020-03-04 21:41] yarncraft commented on #156
Ok as soon as you've updated the code I will try to run it in the Ubuntu 20.04. You should give Docker a try as well, it's very easy to install on whatever OS you're using! In that case you can just use the Dockerfile I provided and switch from 18.04 to 20.04. (if you can write shell scripts, you can write Dockerfiles)

[2020-03-06 04:41] lanctot commented on #148
Looks ok to me, but I wasn't close to the implementation. Any thoughts @dhennes @shayegano @perolat @dmorrill10 ?

[2020-03-06 05:12] lanctot opened #159 "Issue with Julia API and passing shared_ptr<Evaluator> as an argument"
Hi @findmyway ,

We recently had to change `MCTSBot` to use a `shared_ptr<Evaluator>`. However, when I passed it directly via the constructor, I got a strange problem with the Julia API test that I couldn't explain (see below).

The only thing that fixed it was to change the constructor to take a `const std::shared_ptr<Evaluator>&` instead, which is a bit weird: see https://github.com/deepmind/ope

[2020-03-06 12:59] yarncraft commented on #156
@lanctot, I'm glad I could contribute, it seems like we're about to have a presentation from you for our Machine Learning project at the University of Leuven.

<img width="923" alt="screenshot" src="https://user-images.githubusercontent.com/15328198/76085315-14712c00-5fb2-11ea-9f48-75540dc4ccf2.png">

[2020-03-06 13:38] lanctot commented on #156
Indeed, I am looking forward to it. I was wondering if you were in that class. Is that how you found out about OpenSpiel?

[2020-03-06 13:43] yarncraft commented on #156
Yes that is how I found out about OpenSpiel indeed, many people of the course struggled with getting it up and running on various operating systems so that's why I built a Dockerfile asap 👍I already mentioned the new way of installation on our forum

[2020-03-07 11:22] hejujie opened #162 "issue with top-level directory when installing via docker"
I found dockerfile is added in yesterday commit: #158 , while it was placed in open_spiel/open_spiel/Dockerfile.
In the document, installing via docker
[code]
If we use this command in top-level directory, the dockerfile will not be found.
If use this command in open_spiel/open_spiel, many commands in dockerfile will not be found, as they should be in the same directory with dockerfile.
[code]
Whe

[2020-03-07 11:26] hejujie commented on #162
In the merge request of dockerfile #158, in [origin branch](https://github.com/yarncraft/open_spiel/tree/patch-1) Dockerfile is also set in top-level directory

[2020-03-07 13:45] lanctot commented on #162
Whoops! Good catch. Ok I think this should be fixed by https://github.com/deepmind/open_spiel/pull/164

[2020-03-07 14:17] lanctot commented on #162
Which I expect will be merged on Monday.

[2020-03-07 14:42] yarncraft commented on #162
Thanks for the heads up, the relocation in the last PR was not on purpose indeed 👍

[2020-03-07 14:53] lanctot commented on #162
I will fix this by moving the Dockerfile up one directory (you can currently do this yourself by just moving it: `mv Dockerfile ..`). I messed up the paths accidentally when importing the PR by @yarncraft . Code will be updated Monday. Apologies.

Please leave this issue open as it will automatically be fixed when code is updated.

[2020-03-07 16:03] hejujie commented on #162
By moving Dockerfile to the top-level directory, build and run the image.  I find the root path is messy, the file and directory in the top-level directory of this repo are mixed with system file:
![image](https://user-images.githubusercontent.com/29149911/76146631-517f1080-60cf-11ea-9978-2b4957c96d86.png)
I am not familiar with docker, but I think it can be cleaned by changing some command in
the

[2020-03-07 16:55] yarncraft commented on #162
Feel free to add a .dockerignore is that is what you are aiming for! I follow the convention of having the Dockerfile and other configs in the root directory as explained in https://12factor.net/.

[2020-03-07 16:58] yarncraft commented on #162
I would first move it to the root at least so that we can set up the CICD Docker pipeline, further reducing the image size and altering some steps in the Dockerfile can be done from then onwards!

[2020-03-07 17:01] yarncraft commented on #162
Ah I see what you mean @hejujie, once the Dockerfile is moved, I will alter the COPY step so that the files are placed in a directory instead of the root of the container.

[2020-03-07 17:05] lanctot commented on #162
That is the plan. I will get to it as soon as I can.

[2020-03-07 18:05] lanctot commented on #162
Ok I have move the Dockerfile to the right place, closing this for now. @yarncraft if you would like to change the Dockerfile you can do that now.

[2020-03-07 18:05] #162 closed

[2020-03-08 01:01] lanctot opened #166 "Known issues on Ubuntu 20.04"
Hi all,

We recently discovered OpenSpiel has installation problems on Ubuntu 20.04; there is a failure when trying to install tensorflow from pip.

A quick investigation reveals that TF (both version 1.15 that we use now and version 2) requires a Python version <= 3.7 but Ubuntu 20.04 comes with Python 3.8.

We don't currently have a solution, but will be looking into it. Any tips or advice on ho

[2020-03-08 16:20] lanctot commented on #141
I believe all of Paul's implementations are in the code base now, so closing this. Please re-open if you want to discuss further! Thanks again, Paul!

[2020-03-08 16:20] #141 closed

[2020-03-08 16:37] wyz2368 commented on #141
Thanks! @lanctot @PaulFMMuller  :)))

[2020-03-09 13:03] hejujie commented on #135
sorry for the delay,  I'm trying to meet a deadline in the past two weeks, and I restart this work from yesterday.

[2020-03-09 14:21] lanctot commented on #166
Update after some searching: looks like the nightly builds have python3.8 support as of a few days ago: https://github.com/tensorflow/tensorflow/issues/33374

So I don't expect this to be a problem for much longer, but we will have to update all of our code to support TF 2. Last I tried, about 10 of the tests were failing when we tried adding that requirement, but I guess they should not be too ha

[2020-03-09 14:25] #159 closed

[2020-03-10 18:53] inejc commented on #149
First of all, @lanctot, thank you for all the suggestions. I'm interested in combining CFR with RL so I would appreciate the relevant literature regarding this as well.

As far as the original issue is concerned, here are some comments/questions:
1. I plan to add (de)/serialization to `CFRSolverBase`, `OutcomeSamplingMCCFRSolver` and `ExternalSamplingMCCFRSolver`
2. we need to be able to serialize

[2020-03-11 13:54] lihuiknight opened #167 "how to fix seed to reproduce the results."
how to set environment seed so that I can achieve the exact the same results every time.

[2020-03-12 10:01] Josef-Vonasek opened #168 "Could not find a version that satisfies the requirement tensorflow."
I followed the installation steps for windows subsystem (I have ubuntu 18.04 WSL).
But when i run `pip3 install --upgrade -r requirements.txt # Install Python dependencies`,
I get the following error:
[code]

[2020-03-12 10:43] Josef-Vonasek commented on #168
I had to upgrade pip with `pip install -U pip`

[2020-03-12 12:52] Wouter1 opened #169 "documentation incorrect"
In the documentation https://www.groundai.com/project/openspiel-a-framework-for-reinforcement-learning-in-games/1 we read in several places that games are written in C++

This is incorrect and may lead to people giving up on using this.

If you open python/games/tic_tac_toe.py you read what I suppose to be really correct

[2020-03-12 13:06] lanctot commented on #169
It is not incorrect. 99% of the games are written in C++, and just like any higher level API one could simply choose to abide by the higher-level API only (we cannot prevent this) so we provide a single game implementation in Python for people who do not want to use C++.

[2020-03-12 13:06] #169 closed

[2020-03-12 13:18] Wouter1 commented on #169
@lanctot

"Games are written in C++" reads as a REQUIREMENT.

But it is not a requirement.
Therefore I think it's incorrect.
That 99% of the games is in C++ does not make it a requirement.

There is no mentioning of a higher-level API. Yes it says games are wrapped in python but that does not override the stated requirement.

Also I assume you can not use any other higher level API (say, java). Ho

[2020-03-12 13:21] lanctot commented on #168
Hi @Josef-Vonasek , yes indeed that is the step that's missing.

Those docs are quite old now, and we forgot to update them when we moved over to TF 1.15.

Nice catch! We will fix the Windows install docs to reflect this so I am re-opening this issue until it is fixed as a reminder.

Thanks!

[2020-03-12 13:23] Wouter1 commented on #169
Some code suggests MujocoEnv is C++

But there is code in gym/envs/mujoco/mujoco_env.py that is pure python.

[2020-03-12 14:08] lanctot commented on #169
"Games are written in C++" is an objectively true statement that is as correct now as when we wrote it. ;-)

Joking aside, it cannot be a requirement, even if we wanted it to be. The higher-level API I am referring to is just pyspiel: anybody could have written a game that exposes the same methods as the C++-wrapped games and the python algorithm would have no way of knowing. The same is true for

[2020-03-12 14:53] Wouter1 commented on #169
@lanctot  it's not true, the one game in python is the counter example. The crux is that most of your system will still work if you write the game in python because the rest of your system is in python anyway (if I get it correctly). It would not if I wrote a game in Java.

Anyway I'm just pointing out this mistake, for me it's a mistake so it probably is for others. I tried my best to explain the

[2020-03-12 15:10] lanctot commented on #169
There are several algorithms in Python, but you don't have to use Python to use OpenSpiel. There are many classical tabular and search algorithms written only in C++ (see https://github.com/deepmind/open_spiel/tree/master/open_spiel/algorithms). You can use OpenSpiel for research without ever touching the Python parts if you want.

[2020-03-12 15:42] lanctot commented on #167
Hi @lihuiknight , depends on the algorithm and which random number generators are used. You should be able to set the seed in the usual way? What algorithms are you using? If they are using numpy for random numbers then `numpy.random.seed`.

[2020-03-13 01:40] lihuiknight commented on #167
I have set the seed for all the key package as follows.

def set_device_seed(args):
    torch.set_num_threads(1)
    device = torch.device("cuda:0" if torch.cuda.is_available() and args.cuda else "cpu")
    random.seed(args.seed)
    np.random.seed(args.seed)
    torch.manual_seed(args.seed)
    torch.cuda.manual_seed_all(args.seed)
    # if args.cuda and torch.cuda.is_available():
    #     torch

[2020-03-13 09:10] oslumbers opened #170 "Google Colab build issue"
Hi,
I'm having an issue building the open spiel environment this morning that wasn't an issue yesterday, happens at 63% of build. Here's the error:
 ``` Makefile :94: recipe for target 'all' failed make: *** [all] Error 2```
Happy to give more info if needed

[2020-03-13 12:20] sullins2 commented on #170
I have the same issue as well.

[2020-03-13 13:31] lanctot commented on #170
Hmm.. last time we did an update was Monday so might be that the systems running the colabs changed configurations.

I will look into it, thanks.

[2020-03-13 15:15] lanctot commented on #167
I don't think we have the equivalent function yet, but it would certainly be a good thing to add.

I need more information. You're mentioning torch and gym.. is this not for one of our algorithms? Are you using our RL environment?

Hmm, I just checked and our RL environment has an internal component called a `ChanceEventSampler` that supports a seed but there's no way to set it externally (see her

[2020-03-13 15:23] lihuiknight commented on #167
I write my algorithm in pytorch and test the algorithm on multiple environments includes gym and open_spiel.

[2020-03-13 15:28] lanctot commented on #167
Ah, I just noticed that we do have a way to send in a seeded chance event sampler. This is the way it should be done:

[code]

So I won't add a seed parameter as we already support custom chance samplers which is more general anyway.

[2020-03-13 15:37] lanctot commented on #167
On second thought, I will still add a seed method for consistency with gym environments.

[2020-03-13 15:46] lihuiknight commented on #167
Yes. Your method works (I have tried one minute ago). Great job. Thanks.

[2020-03-13 15:50] lanctot commented on #167
Great!

(Please leave this open, as it will be closed when the fix goes in.)

[2020-03-13 15:51] lanctot commented on #170
Noticed a few other things that need attention in the colab:

1. This line `!pip3 install --upgrade mock==3.0.5` also fails.
2. It's still using g++, which we switched away from a while back (we're using clang++ now).

[2020-03-13 15:55] lanctot commented on #170
I've reproduced the error on our side (even internally, on my workstation), which is odd. Wasn't happening on Monday either. Must be due to a global change in compiler / linker on Google systems. Looks like it should be an easy problem to fix.

[2020-03-13 15:58] sullins2 commented on #170
Thanks

[2020-03-13 16:08] lanctot commented on #170
I just noticed we're not fixing the version of absl; it's possibly due to a new change in absl. I'll try with an older commit.

[2020-03-13 16:50] lanctot commented on #170
Confirming it's a recent change in abseil. Fix coming soon.

[2020-03-13 17:34] #168 closed

[2020-03-13 17:34] #167 closed

[2020-03-13 17:34] #170 closed

[2020-03-13 17:39] lanctot commented on #170
Should work now, but you _might_ have to clear your old build directory by adding

[code]

after the `% cd /usr/local`.

[2020-03-13 17:55] sullins2 commented on #170
Working again. Thanks @lanctot

[2020-03-13 18:00] dhennes commented on #148
It looks like the logits are not centered around zero before you pass them to the threshold function. Note that you can re-center logits without changing the policy nor the logit gap. Other than that, I think you're on the right track!

[2020-03-13 18:48] sullins2 commented on #148
Thanks @dhennes

I'm assuming you mean this line from neurd.py (I have been doing this, but it isn't in the post above since I didn't think of it until later on):

logits = logits - tf.reduce_mean(logits, keepdims=True)

I appreciate the responses as it has been difficult to know if I have correctly implemented NeuRD in the policy_gradient.py code without having the scheme in (https://arxiv.org/ab

[2020-03-14 06:12] lanctot commented on #149
Hi @inejc , sorry for the late response. This all seems good to me.

I think it should be easy to "serialize" the RNG by just saving its current state and reloading it? Seems like this could be one line, see here: https://stackoverflow.com/questions/27727012/c-stdmt19937-and-rng-state-save-load-portability/27728971#27728971 . I agree it's maybe not the highest priority so we can add it if after yo

[2020-03-14 14:04] lihuiknight commented on #149
Dear @lanctot , I am the author of Double Neural CFR. I am using open_spiel. I think open_spiel is a good environment and it will benefit a lot for both game theory and reinforcement learning communities.

[2020-03-14 16:27] yarncraft commented on #162
@hejujie I've submitted a PR ( #171 ) that solves your issue!

[2020-03-14 20:56] lanctot commented on #149
I would love to see an implementation of DNCFR in OpenSpiel... it's ok if it is based on PyTorch. :)

[2020-03-15 13:09] lancelot-ch opened #172 "Openspiel+Bazel+Tensorflow build failure"
Hello,

I tried to use Bazel to build Openspiel. It succeeds. But when I tried to use Bazel to build Openspiel in a Tensorflow folder, it failed.

I put open_spiel folder in Tensorflow folder. I used Tensorflow's WORKSPACE. It gives following errors(seemed that compiling passed, while linking failed with errors on absl). I tried removing .bazelrc file in Tensorflow source folder, and Bazel build p

[2020-03-15 14:00] lanctot commented on #172
Hi @lancelot-ch ,

Yes I think this is being cause by a recent bug in abseil. We got around it by fixing the checkout to a specific commit number for now, so if you pull from master (+ get rid of the abseil-cpp directory that `install.sh` clones, rerun `install.sh`) then I think you'll be fine.

There is also a very quick fix to a single file in abseil that you can apply and also abseil should be

[2020-03-15 16:33] lancelot-ch commented on #172
Thanks, @lanctot !

I tried the fix, and the problem isn't solved yet. I felt that could be the cause, given that I downloaded Abseil-cpp on March 9. However, even if I delete that and switched to the March 7 version Abseil-cpp as you suggested, the problem is still there.

One thought is that, I am using Bazel to build, so the change of a Cmake file might not help. Also, I remembered that I encou

[2020-03-15 18:15] lanctot commented on #172
Good point, agreed: it cannot be due to a change in CMake files in your case.

But I guess it must be related because those are the exact same errors I was getting (but in different files).

[2020-03-15 18:22] lanctot commented on #172
Might be. You could try following up on the abseil-cpp thread, they responded pretty quickly and they might have an idea (even if it may not be directly related to absl).

[2020-03-15 22:44] derekmauro commented on #172
When you say you put open_spiel in a TensorFlow folder, what exactly do you mean?

I think the problem is likely that you are accidentally doing a mixed-mode compile somehow. I think TensorFlow by default uses C++14 and it looks like open_spiel uses C++17. Linking will fail in this case because `absl::string_view` is its own backport type in C++14, but becomes `std::string_view` in C++17. The diff

[2020-03-16 09:32] lancelot-ch commented on #172
Thanks, @lanctot @derekmauro

By "put open_spiel in a TensorFlow folder", I mean I cloned Tensorflow souce codes, put open_spiel in the souce code folder like "tensorflow/tensorflow/open_speil/spiel.cc" etc. I kept Tensorflow root folder WORKSPACE file. I cloned Abseil-cpp  to open_spiel folder, like "tensorflow/tensorflow/open_spiel/Abseil-cpp". I used "bazel build --copt=-std=c++17 open_spiel/ga

[2020-03-16 12:58] derekmauro commented on #172
I'll also point you to https://abseil.io/blog/201901115-options and https://github.com/abseil/abseil-cpp/blob/master/absl/base/options.h. You should be able to make this work with a little tweaking.

[2020-03-17 02:45] lancelot-ch commented on #172
Thanks a lot, @derekmauro . I will give it a try.

I am not sure if I can handle it well though. Tensorflow will pull in an older version of Abseil as well. I might also work with that also. Besides, Tensorflow default with C++14 and OpenSpiel requires C++17. I had not expected such a difficult senario...

[2020-03-19 13:21] Josef-Vonasek opened #173 "Julia: Assertion `i < (((jl_array_t*)(a))->length)' failed."
I followed the steps 1, 2 and 3 at https://openspiel.readthedocs.io/en/latest/julia.html without complications.

But when I enter julia console and type `using OpenSpiel_jll` I get following error:

[code]

[2020-03-19 16:32] findmyway commented on #173
Hi @Josef-Vonasek ,

Could you paste the result of `versioninfo()`?  And also the result of `]st`.
The Julia wrapper is only tested with Julia v1.3. From your error message, the version of CxxWrap is different from the one building the OpenSpiel.

Alternatively, you can just install OpenSpiel directly by `] add OpenSpiel` on Linux (this version is built about two months ago)

[2020-03-20 09:43] Josef-Vonasek commented on #173
Does `] add OpenSpiel` cloned source of open spiel github repo?

[2020-03-20 13:17] findmyway commented on #173
No, you don't need to clone the repo. It will be installed just like many other Julia packages.

[2020-03-20 13:23] lanctot commented on #173
Hi @Josef-Vonasek ,

Just curious, did you follow the instructions here? https://openspiel.readthedocs.io/en/latest/julia.html

[2020-03-20 13:26] lanctot commented on #173
Actually, @findmyway , are those instructions out of date now? (Since you are suggestion adding it via the registration method)

I would still like to have the ones with the manual build up somewhere just so we keep track of it as an option.

[2020-03-20 13:29] lanctot commented on #173
Ah I just read that you followed these in your first message, oops! So yeah now I am curious about the output of the commands @findmyway asked for too.

[2020-03-20 13:48] findmyway commented on #173
I think they are still up-to-date. But it requires users to have a basic understanding of what's happening when `]dev ./open_spiel/julia`

Yeah, this method is more user-friendly but it has some restrictions

1. requires Julia v1.3 or above
1. works only on Linux
1. some new features/bugfixes in the last two months are not included
1. can't be precompiled

That's the main reason why I didn't inclu

[2020-03-20 14:20] Josef-Vonasek commented on #173
[code]

[2020-03-20 17:45] findmyway commented on #173
Hi @Josef-Vonasek ,

Thanks for providing the information.

Now I know where the error comes from. Sorry that I didn't notice it before.

The quick solution is to run `]add CxxWrap#0c82e3e383ddf2db1face8ece22d0a552f0ca11a` in the Julia REPL to make sure that it is the same with the one built the Julia wrapper.

TL;DR

The reason is that, the Julia wrapper used to depend on an unreleased version of

[2020-03-20 19:22] lanctot commented on #173
Thanks for the quick responses @findmyway !

[2020-03-20 21:29] qmaai commented on #172
@lanctot @lancelot-ch
Thanks for this thread, it saves my day. I have been using gcc/9.2.0 to compile and the abseil issue was gone after pulling the master head again.

[2020-03-20 22:00] lanctot commented on #172
We are about to release some code in the next few weeks that would require TF inference (note, btw in `contrib/` we have some code there already; it's not supported but works internally).

We _might_ spend a bit of effort trying to see how to get this to work because it would be nice to support the TF-compiled code. It's unfortunately not high priority, but we can at least try. I agree the C++14 /

[2020-03-22 00:42] lancelot-ch commented on #172
Thanks, @lanctot . I didn't notice there is already a TF example. I will read it through. On a quick study, I feel I am also on a similar route. With the link you recommended in the example note, I also read it. It mentions either go with Bazel or link to a TF API in .so file.

I took the first path with Bazel and programmed below codes following codes and instructions from other links with some r

[2020-03-22 04:54] lanctot commented on #166
Good news, looks like TF 2.2 now available via pip:

[code]

[2020-03-22 05:27] lanctot commented on #172
Interesting, I didn't realize this was an option. Can you point me to any places you found on how to do this or where you found out about it? If we could get it to work without having to compile TF from scratch, I'd far prefer that option. I wonder if the pip packages come with everything you need, though (we would need the headers in addition to the .so).

After a few quick searches and I found t

[2020-03-22 07:01] lancelot-ch commented on #172
@lanctot At Openspiel tf_trajectories.h file's note link, https://tebesu.github.io/posts/Training-a-TensorFlow-graph-in-C++-API, it says "There are two ways to compile this: one is bazel and the other is linking against the tensorflow library. I prefer the latter."

https://stackoverflow.com/questions/42898577/list-of-headers-to-use-tensorflow-c-api-using-libtensorflow-cc-so

The above link mentio

[2020-03-22 07:08] lancelot-ch commented on #172
@lanctot And please also refer to the following two links. One uses Bazel while another uses Cmake. There are some parts I cannot fully follow so I am still still studying them.

https://github.com/FloopCZ/tensorflow_cc

https://github.com/bitbionic/keras-to-tensorflow

[2020-03-22 17:12] oslumbers opened #175 "PSRO Example v2"
Hi,

I'm trying to do some research on psro (v2) and have been trying to work through the example to understand the code. However, there seems to me to be an issue with https://github.com/deepmind/open_spiel/blob/f8110024dcf04fc3841dc30cc3da95c7bdf279a7/open_spiel/python/examples/psro_v2_example.py#L167
and similarly with the policy gradient responder. Using the example code yields the following e

[2020-03-22 18:26] qmaai commented on #175
Yeah, agreed. I have found some other errors including this one. A possible fix to this one could be:
`agents = [
     agent_class(  # pylint: disable=g-complex-comprehension
         env,
         player_id,
         session=sess,
         state_representation_size=info_state_size, #(for init_pg it should be info_state_size=info_state_size)
         num_actions=num_actions,
         **agent_kwarg

[2020-03-22 18:29] qmaai commented on #175
After solving this bug, the following error occurs in rl_policy.py line 78
`time_step=self.get_time_step()`. It invokes the self._env.get_time_step(), whereas the self._env._state is still None.
Proper fix to this is adding env.reset() to  main() in psro_v2_example.py

[2020-03-22 18:32] qmaai commented on #175
A third bug I have found so far is the following:
abstract_meta_trainer.py calls "sample_episodes()", which start from an initial state (self._game.new_initial_state()). However, in prso_v2/rl_policy.py, in action_probabilities(self._sttate,player_id=None), the state that is passed in is not the same state that self._env is maintaining at all.
Working on the possible fix right now.

[2020-03-22 18:33] qmaai commented on #175
I actually wonder if there is an error in version control, that the master branch is not the tested version.

[2020-03-22 18:54] lanctot commented on #175
No the examples are just not run during the tests. @paulfmmuller, any ideas?

[2020-03-22 19:06] qmaai commented on #175
For my part, the example does not run because tensorflow import is placed before pyspiel import. If their order is reversed, then it could run normally, with the aforementioned bugs though.

[2020-03-22 20:18] PaulFMMuller commented on #175
Hi all,

Apologies about the bugs; they're now solved. Some mixup happened during the review process that has now been fixed. In addition, the update contains an improvement to the alpharank solver, greatly improving stability.

This should be submitted in tomorrow's update. Thank you very much for your interest in PSRO ! :)

Paul

[2020-03-22 22:38] lanctot commented on #175
Thanks @oslumbers @qmaai for the reports and @PaulFMMuller for the fast fix, which will be included in tomorrow's update!

[2020-03-23 18:20] oslumbers commented on #175
Hi,
just went to check these new updates, thanks @PaulFMMuller! however, have found a new error when testing on symmetric games (was using Blotto).
you get a 'list index out of range' error at this part : https://github.com/deepmind/open_spiel/blob/58a3525c00ff29d93f5afde913fec31717aee674/open_spiel/python/algorithms/psro_v2/rl_policy.py#L103

doesnt seem to be a problem when using non symmetric g

[2020-03-23 18:48] PaulFMMuller commented on #175
Hi there,

Running psro_v2_example with flags game_name=blotto and symmetric_game=True doesn't result in an error in my end. Could you please elaborate on the settings used to run the experiment ?

Thanks !

Paul

[2020-03-23 21:24] oslumbers commented on #175
Hi @PaulFMMuller  cheers for getting back to me

I'm not using Abseil as I am running this in Colab so that could potentially be an issue? But not entirely sure how - anyway have attached the code I'm using which is just psro_v2_example with the flags directly replaced:

https://github.com/oslumbers/open_spiel/blob/23e47e607c87dc6c24af4079ae2e36b7d0a22d61/open_spiel/python/examples/psro_v2_example

[2020-03-24 14:41] fzvinicius commented on #155
Hi @lihuiknight ,

Thank you for bearing with me on this query.
As you mentioned, there is a good amount of variance in deep RL. In general this effect is even more pronounced on PG algorithms, which is probably why the values you obtained are not aligned with the paper.

I compiled some of the hyperparameters we used for the paper on the table below:

![image](https://user-images.githubuserconten

[2020-03-24 15:56] oslumbers commented on #175
So i've been testing this today and have found it to be an intermittent problem where, from what I can tell, https://github.com/deepmind/open_spiel/blob/d55f38380bb53fc95f920c1a8a10a427662d1e0c/open_spiel/python/algorithms/psro_v2/rl_policy.py#L102 is an empty list and therefore an error is thrown up. Am using DQN btw.
Thanks!

[2020-03-25 01:07] lihuiknight commented on #155
OK. Thanks. I close this issue.

[2020-03-25 01:07] #155 closed

[2020-03-25 07:05] hejujie opened #176 "Issue about the python implementation of AlphaZero"
When I compare our implementation of AlphaZero with the pseudocode of paper, I find two different, maybe it will have a slight influence on the performance.
The first is the Dirichlet noise:
- In the pseudocode of AlphaZero, the noise is added before MCTS simulations, so it will have the same noise in different simulations.
[code]
- In our MCTS,  different noise is added in every simulations.
http

[2020-03-25 07:19] hejujie commented on #176
OK, I find the sample batch of the games in pseudocode is sampled with the probability according to the length of the game, the second one is not a difference.

[2020-03-25 15:44] lanctot commented on #176
Going to loop in @elkhrt and @tewalds to this conversation.

Good catch! Based on those two lines, I'm inclined to agree: I think you are right, we should probably only be noisifying the root once before the simulations. @tewalds, can we try moving that the noise to before the simulations and see if we can easily reproduce internal results?

Also, btw, there will be some upcoming changes to the Al

[2020-03-25 16:08] lanctot commented on #176
Tagging also @TWAnthony who might have experience with this from [ExIT](https://arxiv.org/abs/1705.08439).

[2020-03-25 16:16] elkhrt commented on #176
Yes, this looks like a bug - well spotted!

[2020-03-25 16:22] tewalds commented on #176
Isn't it only noisifying the root once? It only happens when the current node has no children and is the root, which should only happen the first time. It then saves that noise in the tree. The second time the root will have children, so it'll use the noise saved in the tree.

[2020-03-25 16:25] tewalds commented on #176
Btw, your second point is slightly different, in that it samples without replacement, as compared to with replacement in the pseudocode. I asked the author of AZ whether it was important that it was with replacement. He said it was simpler with replacement but shouldn't make a difference. It may well be true in that without replacement is harder in their code layout, but it's much easier without r

[2020-03-25 16:29] lanctot commented on #176
Ahh, yes I missed this: https://github.com/deepmind/open_spiel/blob/f5eabb654690081991a212cc6c2e8cbd46cefaa6/open_spiel/python/algorithms/mcts.py#L311

Ok, I think I agree @tewalds, seems like this case will only be hit once. Thanks.

[2020-03-25 16:51] hejujie commented on #176
I run the code and it just hit once, sorry for the mistake.
btw, whether place the exploration noise before the simulations loop will make the code easier to understand?
I will close this issue soon.

[2020-03-25 16:59] tewalds commented on #176
That would require duplicating some code for node expansion, but feel free to raise a PR to suggest it. If you manage to make it clean enough it could be worth integrating.

[2020-03-25 17:08] hejujie commented on #176
ok, got it.

[2020-03-25 17:08] #176 closed

[2020-03-26 05:27] lanctot commented on #173
@Josef-Vonasek, were you able to fix the problem?

[2020-03-26 17:01] lanctot commented on #175
Ho @oslumbers, we have now reproduced the problem on our end, and we are looking into it. I'm re-opening the issue. Thanks for reporting this.

[2020-03-26 18:47] PaulFMMuller commented on #175
Hi @oslumbers ,
We have found & fixed the bug, thank you very much for this !
For more info, it was due to a simultaneous moves game being loaded as a turn-based game, preventing the sharing of policies from one player to the other.

This was fixed by loading simultaneous moves games as such.(And refactoring some issues in PSRO itself) Nevertheless, the policy aggregator code doesn't yet support s

[2020-03-27 10:38] oslumbers commented on #175
Cheers for this @PaulFMMuller & @lanctot, much appreciated! Will let you guys know if I get around to implementing exploitability :)

[2020-03-28 11:58] fmxFranky opened #177 "No cuda support for NFSP algorithm"
First of all, thanks for the repo!
I am trying to use NFSP to run some simple imperfect-information games implemented in the repo, however, I found that the networks and losses in NFSP/DQN didn't define on cuda(gpu) devices. Are there any methods to run NFSP on gpu device?
Thanks a lot~

[2020-03-28 14:29] lanctot commented on #177
Hmm, should be done in the usual way..? You need to install tensorflow-gpu and then set the device to the GPU.

Have you used Tensorflow with a GPU before? If not, there are many excellent resources online on how to do this. See https://www.tensorflow.org/install/gpu for installations and some tutorials, e.g. https://dzone.com/articles/using-gpu-in-tensorflow-model.

We don't have any explicit exa

[2020-03-28 14:33] lanctot commented on #173
@findmyway did you confirm that was this issue resolved?

[2020-03-29 06:59] findmyway commented on #173
Yes, I think so.

[2020-03-29 09:48] fmxFranky commented on #177
thanks, maybe I have to set the device when building the graph. I see that other examples, such as AlphaZero, have provided the option of whether to build the graph on the GPU. I will add methods similar to that

[2020-03-29 16:32] lanctot commented on #173
Ok great. I will wait a few more days for @Josef-Vonasek

[2020-03-29 16:32] #173 closed

[2020-03-29 16:35] lanctot commented on #173
Great thanks again for the continued support.

Also we are making progress on getting OpenSpiel entirely compliant with TF 2.2 (will still support TF 1 code) in time for Ubuntu 20.04. Once done, we plan to tag a release right after that. Will keep you posted.

[2020-03-30 06:34] #177 closed

[2020-03-30 17:27] #175 closed

[2020-03-31 15:18] oslumbers opened #179 "PBR Oracle"
Hi,
I was wondering if there were any plans for an implementation of PBR to be released anytime soon?
Thanks!

[2020-03-31 16:22] PaulFMMuller commented on #179
Hi again, @oslumbers !

Thanks again for the interest ! :)
The current iteration of the code was meant to include support for RL algorithms. Unfortunately, since PBR cannot yet be used in such frameworks, we haven't made it a priority. (The paper only investigated it in Normal Form Games' settings) If using PBR interests you, though, please don't hesitate to add it (And, if you feel like it, the m

[2020-03-31 18:56] oslumbers commented on #179
Hi @PaulFMMuller!

Thanks for letting me know, am doing some working on PSRO over the next few months so will let you know if I get round to implementing it :)

[2020-04-03 16:41] justinkterry opened #180 "Support for Checkers"
Would you be willing to support checkers? I think that it's a really interesting game for RL because of how jumping impacts the action space.

[2020-04-04 00:47] lanctot commented on #180
Yes, absolutely, I would love to have checkers in the list of games! It also played an important role in the history of AI.

We just need someone to implement it.... are you offering to? :)

[2020-04-04 07:01] justinkterry commented on #180
What would the action space even look like for checkers? No one I'm aware of has done a serious RL implementation of it.

The action space would be unfathomably large because of jumping if it were all one action space, and the only clear way I can see to get around this would be to let an agent act again after a jump, but that seems very wierd and unlikely to be a good idea.

[2020-04-04 07:20] elkhrt commented on #180
Having multiple moves per turn seems like the simplest solution to me. So
there would be up to four actions per piece, which is very manageable. We
could have a feature in the observation to indicate which piece is being
moved so that there's no need for the agent to have any memory. Very often
there will only be one legal continuation, and we could force-play the
moves after the first.

Edward

O

[2020-04-05 15:36] lanctot commented on #180
Yes I was going to suggest exactly what @elkhrt said.

The other thing to keep in mind: there was a lot of research done on this game (search programs like Chinook and then solving it, etc.) Might be useful to know how it was typically implemented in those programs.. maybe it was separated from the general search algorithm and handled using specific heuristics (like the doubling cube in backgammon

[2020-04-05 15:49] lanctot commented on #180
Mmmm.. almost certainly this would not be the canonical way the search algorithms did it, because they could have encoded jumps  efficiently using bits in a 64-bit integer (flip every bit that corresponds to: start location, end location, and every checker that you're jumping over). That would be difficult in our case, because it would make it hard to have a hard-coded range of all valid moves. So

[2020-04-06 13:52] JialianLee opened #182 "Is there any method to accelerate cfr methods?"
I test CFR on the Leduc poker. I count the number of visited states during CFR updating process. The print_freq = 10.

On my own Mac, it costs around 200 seconds to visit 1e6 states. It seems to be slow. Is there any method that we can accelerate CFR?

Thanks~

[2020-04-06 15:15] lanctot commented on #182
I think it's because you print_freq is so low, the time is likely being dominated by the best response computation. Try setting print_freq to 100 or 1000.

I guess you are using Python; we also have implementations in C++ that are much faster.

Also, this is vanilla CFR so it will be quite slow generally; we should really add chance sampling at some point!.. maybe I'll do that soon. If the per-ite

[2020-04-09 08:37] TalfrynK opened #186 "Training an Agent to play Chess using Different Algorithms"
I want to be able to train a model on the Chess game environment using different Algorithms to compare and test performance as part of my research and experimentation for my extended essay.
I need some assistance and guidance as to how (and if) I can implement the PSRO_rn model (playing against itself in a competitive multi-agent scenario) and the A2C playing against a random opponent, to train th

[2020-04-09 17:13] lanctot commented on #182
Hi @JialianLee , was this resolved?

[2020-04-09 17:20] lanctot commented on #186
I'm quite sure that we do not have PSRO_{rn} implemented... @PaulFMMuller, can you confirm?

There are some examples of how to run policy gradients in here: https://github.com/deepmind/open_spiel/blob/master/open_spiel/python/algorithms/policy_gradient_test.py. E.g. you can replace one of the agents with a random agent in the list constructed on line 43. You will want to use a loss="a2c" (take a l

[2020-04-09 19:26] PaulFMMuller commented on #186
Hi there !

We do have support for both PSRO_N and PSRO_rN - a fact we probably should underline more !

To run these, run PSRO with rectifier='rectified' (This will train each training strategy only against strategies it beats) and training_strategy_selector='rectified' (This will select all strategies with selection probability > 0 as starting point for training)

Hope this helps !

Paul

[2020-04-09 22:03] TalfrynK commented on #186
Thank you for your assistance; however, I am new to Open Spiel as a whole and I am completely unclear on how to actually use the framework and environments to train an agent (basic stuff).
Also @PaulFMMuller by setting rectifier='rectified' will this essentially place them in a competitive environment with each other? or does the model learn this itself while running.

[2020-04-10 03:25] lanctot commented on #186
Ah! ok, probably the best place to start before looking at any code is the paper: https://arxiv.org/abs/1908.09453. This will help provide some context on formalisms and lingo.

I gave a tutorial recently, it mostly covered just the basic API, but also useful: http://mlanctot.info/open_spiel-tutorial-kuleuven-mar11-2020.pdf

But probably the best advice if you want to know how to train agents is t

[2020-04-10 05:44] TalfrynK commented on #186
I thought that the python examples provided used pre-trained models? (do correct me if I am wrong)
Also when I tried to run the breakthrough_dqn.py file it didn't work with the player parameters I provided to it.

[2020-04-10 05:52] lanctot commented on #186
No I don't think there are any that use pre-trained models as we are not storing any in the repos. The examples are intended to show example usage.

`breakthrough_dqn.py` may be out of date, we have not used it in a while. What's the error?

[2020-04-10 08:06] JialianLee commented on #182
Thanks a lot!
Large print_freq can imporve. We are considering turning to C++ implementations.

[2020-04-10 08:06] #182 closed

[2020-04-10 13:41] lanctot commented on #186
`breakthrough_dqn.py` still works on my end. Can you tell me what error you are getting?

Did you try an unsupported parameter? The supported ones are documented here: https://github.com/deepmind/open_spiel/blob/master/open_spiel/games/breakthrough.h (`rows` and `columns`)

[2020-04-11 06:06] findmyway commented on #173
The CxxWrap.jl v0.10 just gets released. And it's much more stable now. I'll update the Julia related code/doc in the next few days. :smiley:

[2020-04-11 11:50] TalfrynK commented on #186
Ah yes, I was using an unsupported parameter. I was trying to run it the same way mcts.py was run in the example as I was unclear as to how to use the file.

How do I go about training a model then? Could you provide any guidance?

[2020-04-13 05:52] TalfrynK commented on #186
How can I run the PSRO_rn model on breakthrough?

[2020-04-13 13:34] lanctot commented on #186
Have you looked at `psro_v2_example`?

You can run PSRO classic on chess using this command:

[code]

You will need to comment out lines 277-288 because chess is too large to run exploitability.

There are lots of setting to play with. I strongly recommend going through the cose to understand what is goin on under the hood.

It may have trouble with small feed forward nets. If so, try something la

[2020-04-13 13:37] lanctot commented on #186
Also just moticed that the default learning rate for dqn is 0.01, that is likely too high for chess. Try 0.0001. You will almost certainly need to play with those, the defaults were tuned for small poker games.

[2020-04-14 16:11] lanctot commented on #149
Quick follow-up, I've done this now in https://github.com/deepmind/open_spiel/commit/c2be1951587b2879b04ef986706652275256081a and changed the implementations of the Monte Carlo CFR so that they don't have to store an explicit uniform policy.

[2020-04-15 08:36] inejc commented on #149
Thanks for the follow-up. I shall finally find the time to tackle the issue in the next weeks. Regarding my point 5. above, I just wanted to check how much of an additional effort would go into serializing `TabularBestResponse` and that I might do that in a separate PR.

And thank you very much for all the paper recommendations!

[2020-04-15 13:22] VogtAI opened #189 "universal_poker not registered in colabs"
I simply concatenated "install_open_spiel.ipynb" and "test_universal_poker.ipynb" from open_spiel/open_spiel/colabs/ in Google Colab.
However I get the error:
"RuntimeError: Unknown game 'universal_poker'. Available games are:"

[2020-04-15 13:58] lanctot commented on #189
Hi @VogtAI, this is because that game requires an optional dependency (the ACPC code base) as a dependency which we have disabled by default.

To enable it, you will need to clone the ACPC code into the proper directory (see `install.sh`) and then prepend the build command with `BUILD_WITH_ACPC="ON" `

[2020-04-15 14:01] lanctot commented on #189
Thinking more: having the appropriate commands in the colab commented out would be good. That way people can enable poker just by deleting a few characters. I will suggest it to the team, will probably go into next Monday's update.

[2020-04-15 14:43] lanctot commented on #149
Sorry, I still don't understand the original point you made (point 5 in your March 10th response). Can you explain what you mean? What requires special consideration in CFR-BR? Do you mean `TabularPolicy`.. if so, we can very quickly write serializer + deserializer for `TabularPolicy` and I think it'd be a good thing to have anyway.

[2020-04-15 14:48] lanctot commented on #149
Oh I just noticed this: https://github.com/deepmind/open_spiel/blob/c2be1951587b2879b04ef986706652275256081a/open_spiel/algorithms/cfr_br.h#L43  . I guess that can be changed now to just `UniformPolicy`.

Do you mean the `best_response_computers_` on the next line? Those should not hold any state and should be able to be re-created fresh when deserializing.

[2020-04-16 10:49] VogtAI opened #190 "deepcfr algorithm yields error in colab"
I'm trying to get deepcfr to work in colab:
https://colab.research.google.com/drive/1hnsPNjcQnxtpvyO3l2-Aa8zcGvAomnPT?authuser=1&pli=1#scrollTo=CYfgDd7H9iK1

I get the following error:

/usr/local/open_spiel/open_spiel/python/algorithms/deep_cfr.py in reinitialize_advantage_networks(self)
    241   def reinitialize_advantage_networks(self):
    242     for p in range(self._num_players):
--> 243

[2020-04-16 13:10] lanctot commented on #190
I can't load the colab for some reason; can you copy the code here?

What are you doing beyond `test_deep_cfr_runs` from this: https://github.com/deepmind/open_spiel/blob/master/open_spiel/python/algorithms/deep_cfr_test.py (that test is passing so I guess it must be something custom)

[2020-04-16 13:58] VogtAI commented on #190
This link should hopefully work:
https://drive.google.com/open?id=1r4Ge5-g8Y9NUQUSSLhGsKKUP65TVNRJb

I just copied the code of the test_deep_cfr_runs from the file you posted method.

[2020-04-16 19:39] sullins2 commented on #190
I had a problem similar to this a week or so ago, I think they updated Sonnet to a version 2.0 a few weeks ago and that broke what you are using. I had to manually install a lower version of 1.x of Sonnet. You can get the older 1.x versions with something like 'pip install sonnet=' and it will error and list the versions and just install the highest 1.x version.

[2020-04-16 19:46] sullins2 commented on #190
Also, to run neurd.py on colab, I always have to change line 67 of rcfr.py to

num_columns = 1 if rank == 0 else tensor.shape[0] #.value

Note the ".value" is commented out, that's what I had to remove.

[2020-04-16 20:03] lanctot commented on #190
Pretty sure we haven't upgraded to Sonnet 2; in fact we're looking into that because we're considering moving a few algorithms to TF2 and it's non-trivial. Sonnet version still listed as 1.32 in https://github.com/deepmind/open_spiel/blob/master/requirements.txt . @sullins2 , can you point me to where you see references to Sonnet 2?

Something I'm missing: why would the tests all still run without

[2020-04-16 20:08] lanctot commented on #190
A ha! By 'they' I think you meant the colab providers, not us. Sorry!

Hmmmm... that is going to make this a bit tricky indeed!

[2020-04-16 20:28] sullins2 commented on #190
Yeah, it was colab I think. One day, a bunch of stuff just stopped working, like what I mentioned. It was easy enough to fix so I didn't end up posting about it on here.

[2020-04-17 05:06] lanctot opened #191 "Known issues with colab"
It seems that the some packages on colab servers have been upgraded (e.g. sonnet) causing some backward-compatibility issues with the Python learning algorithms.  (See some discussion here: https://github.com/deepmind/open_spiel/issues/190)

We know about it, but we're not sure when we will be able to fix this. If anybody works out what to fix, a PR would be greatly appreciated!

[2020-04-17 07:51] adityauser commented on #90
@scalaboy @lanctot do you have any other alternate solution to resolve this issue, without reinstalling anaconda3(python3.6)?
I'm getting this issue in Ubuntu 18.04, anaconda3(python 3.7).
For installation, I'm creating a new environment using the command` conda create -n OpenSpiel python=3.6`.
There should be some way to resolve this issue without downgrading anaconda3(python3.7) to anaconda3(pyt

[2020-04-17 11:24] Inujal opened #192 "Catan Support"
Hey there my name is Julian Bokelmann and I am a computer science student at Heinrich-Heine-Universität in Duesseldorf Germany. I want to integrate The Settlers of Catan (Catan for short) into OpenSpiel as part of my bachelor thesis. I plan to use an existing implementation of Catan and first port it over into C++ and then into OpenSpiel. When I have a working game in OpenSpiel I want to test and

[2020-04-17 14:27] lanctot commented on #90
I have never used anaconda but I know we have managed to get it working with 3.7. If you follow the manual install using PYTHON_TARGET_VERSION=3.7, does it not work?

[2020-04-17 19:52] adityauser commented on #90
Yeah it worked but now I'm failing `Test #141: run_python_test` with error `ModuleNotFoundError: No module named 'absl'`
I did following steps:
Creating enviroment:
[code]
Installation steps:
[code]

[2020-04-17 20:51] lanctot commented on #90
Ok great now you need to install the pip dependencies, see this page: https://github.com/deepmind/open_spiel/blob/master/docs/install.md

[2020-04-18 00:16] lanctot commented on #192
Hi Julian, that sounds like a great plan for a thesis! I would love to see those results, Catan is a great game for AI research.  Please let us know if you have questions about the API.

If you want to contribute the implementation we will have to look into legalities. E.g. we might require permissions from the designers and/or publishers. I will look into this.

Either way that would not stop you

[2020-04-18 10:27] adityauser commented on #90
Thanks for all your help @lanctot .

[2020-04-18 11:34] Inujal commented on #192
Thank you for your support, if any questions come up that I can not solve myself I will get in touch.

[2020-04-20 15:09] lanctot commented on #190
Hi @VogtAI @sullins2 : I am closing this bug in favor of the overall one with colab being broken here: https://github.com/deepmind/open_spiel/issues/191

If you have any updates for us on getting it to work, please follow-up on that thread. Thanks!

[2020-04-20 15:09] #190 closed

[2020-04-20 18:25] lanctot commented on #172
Quick heads-up that I've been playing around with tensorflow_cc; for now just trying to get it to compile with TF2.2 and Ubuntu 20.04 (we need to change OpenSpiel to support these soon so I'm taking the opportunity to try the compilation in this setting too).

I've run into some trouble:

- https://github.com/FloopCZ/tensorflow_cc/issues/216
- https://github.com/FloopCZ/tensorflow_cc/issues/218

I

[2020-04-21 01:10] DeusExMachina1993 opened #193 "Use OpenSpiel in Unity3d"
can I use open spiel in a unity3d environment?

[2020-04-21 07:46] jblespiau commented on #193
Hi. I am unsure I understand the question.

Right now, OpenSpiel has no support for Unity (let it be 2D or 3D). It has no support for any visualisation of the games. Some work is in progress, using Javascript to get a graphical interface to play some of the games or to visualise them, but it's still not open-sourced.

If you are asking whether it would be possible to use OpenSpiel as a dependency

[2020-04-21 08:45] DeusExMachina1993 commented on #193
thanks for the reply,
I developed backgammon game in Unity, and want to develop an agent for AI part of that, I saw in your document that open spiel status in backgammon game is normal, just wondering if possible to somehow connect open spiel to my game?

[2020-04-21 09:22] jblespiau commented on #193
The API to interact with the OpenSpiel is either in C++ or in Python. And it offers a very specific API, with a specific id for each move (one would need to look into backgammon to see what "1" represent for the action). So it will depend on the interface you have. In theory, with the correct converters from/to the move representation within OpenSpiel and your internal move representation, there i

[2020-04-22 06:31] lanctot commented on #172
Ok, I've managed to compile Tensorflow via CMake using tensorflow_cc, thanks for pointing us out to that @lancelot-ch , seems like a great project. This is the first step to getting OpenSpiel + TF compiling externally together. I can't promise any time lines, but it means we're just a few steps from getting them to work together.

[2020-04-22 12:47] lancelot-ch commented on #172
@lanctot Thanks for your wonderful contribution. I tried a few times but with no luck. Recently I am occupied with some other work, but I will be eager to be looking forward to your new milestones!

[2020-04-24 14:15] Inujal commented on #192
I am currently trying to understand the API, as it stands I figured out that the main way my game tells its current state is through the ObservationTensor or InformationStateTensor. The ObservationTensor is set in a function of the State class through a TensorView Object. I looked at the examples tic-tac-toe and breakthrough and the TensorView class, but I do not quite understand how I set my vari

[2020-04-24 14:47] lanctot commented on #192
No `ObservationTensor` and `InformationStateTensor` are are mainly intended to encode the state in a format that is amenable to RL (i.e. neural network inputs). The actual state should be stored in the state class, i.e. `CatanState`.

For example, in Tic-Tac-Toe and Breakthrough, these variables are found here:
- https://github.com/deepmind/open_spiel/blob/e3a8ea81a09db68870622a26602a48bac65cca8a/

[2020-04-24 15:48] Inujal commented on #192
Thank you for your fast response.
The thing is, by now I already have a complete working implementation of Catan in C++. But it is object oriented and with around 10 classes. Do I have to completely rewrite it, so it fits into OpenSpiel?
Can the State class also hold objects of other classes for the state or do they have to be primitive data types?
For example I do have a class for the hex-tiles a

[2020-04-24 16:02] elkhrt commented on #192
No need to rewrite anything - just add a Game and State class which conform
to the OpenSpiel API, and hold instances of your classes.
See for example hanabi, which delegates all functionality to the Hanabi
Learning Environment implementation.
https://github.com/deepmind/open_spiel/blob/master/open_spiel/games/hanabi.h
Chess, Go, Oware, Gin Rummy all use a similar pattern to a greater or
lesser ext

[2020-04-25 04:47] Liuweiming opened #195 "link tensorflow with open_spiel."
Dear authors, I am currently trying C++ version AlphaZero and I have been trying to link TensorFlow with open_spiel for some time. I have tried to compile  TensorFlow c++ libs, but linking them from open_spiel just failed. The reported problems are about Absl lib and Eigen lib.
I also tried to link with the prebuilt TensorFlow c_api lib. It works without linking errors. However, the program may be

[2020-04-25 05:22] Liuweiming commented on #195
I noticed the issue (#172), and that is why I am trying TensorFlow c_api lib. If you are interested in the c_api lib and how to reproduce the problem, I can provide more details.

[2020-04-25 06:02] lanctot commented on #195
Hi @Liuweiming , as mentioned in that issue you linked, I've been working on getting Tensorflow compiled with CMake using tensorflow_cc (see https://github.com/FloopCZ/tensorflow_cc).

Compiling against a prebuilt Tensorflow c_api sounds promising.. I like simple solutions. I would be quite sad if it was because of two different version of absl. Yes, I am quite curious about the details. No rush,

[2020-04-25 15:10] lanctot commented on #195
Curious what program you ran to assess this, and what makes you think it's caused by absl::Mutex? Was it a simple example or our C++ AlphaZero? I'd love to know if it runs for a very simple example. You can also look at `contrib/tf_trajectories` which basically just runs batch inference (no training). I'm curious if it would work on that.

[2020-04-26 00:57] Liuweiming commented on #195
@lanctot , I wrote some code based on the C++ AlphaZero. Actually, I wrote a c_api wrapper,  so I can call the c_api lib easily. If you are interested, please take a look [here](https://github.com/Liuweiming/tensorflow_c). The implementation is based on these two projects:

- https://github.com/Neargye/hello_tf_c_api,
- https://github.com/serizba/cppflow.

But in order to make the problem clear. I

[2020-04-27 04:53] Liuweiming commented on #195
Update. I tried to rename the namespace of Absl lib, by doing:
``sed -i "s/namespace absl/namespace my_absl/g" `grep "namespace absl" -rl .` ``
``sed -i "s/absl::/my_absl::/g" `grep "absl::" -rl .` ``.
It compiled and linked perfectly. But the problem remains the same. So I tried to debug into TensorFlow lib. The screenshot showed that libtensorflow_framework.so linked to my_absl::lts_2020_02_25 !

[2020-04-27 08:06] #193 closed

[2020-04-27 18:56] lanctot commented on #166
Quick update: we've managed to get it down to 5 tests failing, and it's all uses of Sonnet that won't work with `disable_v1_behavior`. We tried to upgrade these uses to TF2 + Sonnet2 but it's non-trivial and will take time (too much time that we don't currently have). Since our uses of Sonnet are very simple, we plan to just remove them. This will hopefully also fix the colab issues here: https://

[2020-04-27 19:00] lanctot commented on #191
Quick update that we are working on getting OpenSpiel to work on Ubuntu 20.04 (see https://github.com/deepmind/open_spiel/issues/166). I think those fixes will also mostly fix colab, so stay tuned!

[2020-04-28 14:01] lanctot commented on #186
Closing this for now since it's not an outstanding issue, but feel free to keep using the thread to ask questions!

[2020-04-28 14:01] #186 closed

[2020-05-04 04:08] lanctot opened #201 "Julia test failing (on Linux)"
Hi @findmyway , seems that as of a few days ago the julia test is failing (oddly, only the test fails... it still compiles fine). This was the original error I got

[code]

Then when I removed julia and all the packages, starting from scratch (re-installing Julia via `./install.sh`) I get a different error:

[code]

Did something change with the packages recently? Can you reproduce this?

[2020-05-04 05:34] findmyway commented on #201
🤔 That's strange. I can't reproduce the error on my local machine or on [Travis](https://travis-ci.org/github/findmyway/open_spiel). Is there any other environment change on the build machine?

[2020-05-04 06:22] lanctot commented on #201
That is certainly possible, but I'm not sure what it could be.. it has not changed much and has been up for much longer than a few days. My guess is still that either CxxWrap or something changed in the Julia packaging and the new one doesn't work with our system.

Note that Travis does not build with Julia and hence does not test it (since it's an optional dependency).

Can I confirm that this co

[2020-05-04 06:47] findmyway commented on #201
Yes, that would be enough to remove all Julia related.

I can confirm that the latest release of CxxWrap is still `v0.10.1`. So this might not be the real reason.

[2020-05-05 08:30] mrdaliri opened #206 "Any reasons for limiting nox tests to python 3.6?"
Hi,

I tried to run nox tests within my Python 3.7 virtual environment, but it requires python **3.6**:
https://github.com/deepmind/open_spiel/blob/4c02fe8c74ced5d448e98c68520c7394e241051d/noxfile.py#L30-L32

I found that the `python` argument has been added in a893c45b to mitigate build problems with TravisCI. However, it breaks things when running nox inside a venv.

I think if we remove python

[2020-05-05 08:32] mrdaliri commented on #206
Well, I just noticed that nox tests are not included in TravisCI. It only checks building from source method. Is it intentional?

[2020-05-05 09:26] mrdaliri opened #207 "`run_python_test_file` fails on Nox"
Hi,

When running tests with Nox, test #141 (`run_python_test`) fails with the following `ModuleNotFoundError` exception.

Any suggestions? I thought it could be wrong package name, since `open_spiel` is installed as `pyspiel` so replaced `open_spiel.utils.run_python_test_file` with `pyspiel.utils.run_python_test_file` but it didn't solve the issue.

[code]

[2020-05-05 13:27] lanctot commented on #207
Yes I ran into the same problem when we added that test. You need to setup the PYTHONPATH appropriately before running nox. See here for how we do it on Travis: https://github.com/deepmind/open_spiel/blob/master/open_spiel/scripts/travis_script.sh

[2020-05-05 13:36] lanctot commented on #206
There was a cryptic error that I couldn't figure out, but I don't remember what it was.

The nox tests are included in Travis when the flag is set (which we do set: https://travis-ci.org/github/deepmind/open_spiel).

Could be good to reinvestigate this now. Does it work for you with Python 3.7?

[2020-05-05 13:46] lanctot commented on #206
Python 3.7 is supported everywhere, it was just the nox tests which have have only been using on Travis (we don't use it for testing internally).

[2020-05-05 13:48] lanctot commented on #206
Oh yes now I think I remember that it was indeed related to Travis not having python 3.7 installed. I thought I had put a comment to that effect in the nox file but I will add it if not.

[2020-05-05 13:57] lanctot commented on #206
Ah! I believe that I didn't try that. I assume you are trying it? If it works, could you submit a PR? That will trigger a Travis build and we can see what happens.

[2020-05-06 21:15] mrdaliri commented on #207
Thank you. I set `PYTHONPATH` as you said, and was able to pass all tests with Python 3.7. Here is the commands (for reference only):

[code]

[2020-05-06 21:15] #207 closed

[2020-05-06 21:21] mrdaliri commented on #206
Well, I removed version specifier from Nox session definition and was able to pass all Nox tests with Python 3.7 (after setting `PYTHONPATH` #207).

I'll submit a PR to confirm it with Travis.

[2020-05-06 21:32] mrdaliri commented on #206
Pull request #208 created. Hope it passes Travis build.

[2020-05-07 19:44] lanctot commented on #201
Hmm, you're right. I take it back: it's working on the Travis machines just not internally (or might just be my machine).

This is not ideal, we don't really have a way to test it before pushing to github. I'll try again before the next update, but if you have any other ideas I'd love to hear them.

[2020-05-08 03:40] findmyway commented on #201
@lanctot , I tried to search around and found a similar error with other packages [here](https://github.com/JuliaInterop/RCall.jl/blob/master/docs/src/installation.md#failure-on-recent-linux-distributions):

So is your OS also Ubuntu 19.10?

Could you try the workaround in the above link and see if it works for you?

[code]

I'm still using Ubuntu 18 so I can't reproduce the problem locally. I'll

[2020-05-08 03:58] lanctot commented on #201
Ahh yes, I had to do that... right. And I think I got rid of that directory when we were testing other stuff, so I accidentally deleted it. Good catch! Ok, I'll try it on Monday when I go to do the update.

[2020-05-09 14:03] jhtschultz opened #217 "Issue with perfect information efg_game"
https://github.com/deepmind/open_spiel/blob/master/open_spiel/games/efg_game.cc#L497-L499

If the .efg file counts infosets separately per player, this will incorrectly label a perfect information game as imperfect information. Confirmed it with a test on tic tac toe.

[2020-05-09 18:38] lanctot commented on #206
Closing this now that this PR was imported and will be merged soon: https://github.com/deepmind/open_spiel/pull/208

[2020-05-09 18:38] #206 closed

[2020-05-10 03:00] lanctot commented on #201
Confirmed, that was indeed the problem. Thanks @findmyway!

[2020-05-10 03:00] #201 closed

[2020-05-10 16:41] mrdaliri opened #218 "Python AlphaZero: division by zero exception"
Hi,

I'm trying to run `tic_tac_toe_alpha_zero.py` but it fails with an **ZeroDivisionError: division by zero** exception. Here is the stack trace:

I tried it on a Mac and Ubuntu 18.04 machine, both failed with same error.

[2020-05-10 16:45] mrdaliri commented on #218
I could mitigate this issue by adding a guard in this line. But I think it's more like a workaround and probably the root of the problem is somewhere else.
 https://github.com/deepmind/open_spiel/blob/4c02fe8c74ced5d448e98c68520c7394e241051d/open_spiel/python/algorithms/alpha_zero/alpha_zero.py#L452

Changed to:
`
            "results": [sum(e.data) / len(e) if len(e) > 0 else None for e in evals]

[2020-05-11 13:57] #217 closed

[2020-05-13 14:37] yarncraft commented on #191
Hello again @lanctot, I have been able to construct a _Dockerized_ OpenSpiel JupyterLab so that users can experiment with the code and write new algorithms in the popular Jupyter Notebook environment.

Thanks to Docker you can also deploy it on a larger VM without a hassle (we are doing this with a Compute Optimized Azure instance at the moment) and have an amazing development workflow.

When I ha

[2020-05-13 15:14] lanctot commented on #218
Thanks for reporting this, @tewalds has submitted a fix. It will be merged in Monday's update.

[2020-05-13 15:15] lanctot commented on #191
This looks awesome! Thanks @yarncraft for your continued contributions :)

[2020-05-15 15:06] Inujal commented on #192
I am now able to run the learning algorithms. I implemented the difference in victory points after an action as the reward function. For the observation tensor function I return the state of my game encoded as an integer vector. Unfortunately the algorithms do not seem to learn very much. I tried the tabular_qlearner and dqn algorithms. The dqn algorithms has some hyper parameters and I tried some

[2020-05-15 15:29] sullins2 commented on #148
@lanctot @dhennes

Hi, is a sampling based version of NeuRD still planning to be released? Will it likely be an extension (as noted elsewhere) to the policy_gradient.py code or its own separate implementation? Would you suggest I make a pull request with the above implementation (would for now not include the entropy regularization NeuRD actually uses that is linked to above). Thanks.

[2020-05-15 21:57] sullins2 commented on #191
This might not be a complete fix, but in some cases simply reverting to Tensorflow 1.x will make everything work. I have been using policy_gradients.py, for example, and currently Colab will spit out a bunch of errors. Simply run a cell with this first and it will work:

%tensorflow_version 1.x

[2020-05-15 23:45] lanctot commented on #191
Nice, thanks @sullins2!

And, actually, small update on this: thanks to @dhennes, our Monday update will have a fix that should solve a lot of the current problems with colab, too!

[2020-05-16 10:11] inejc commented on #149
@lanctot I had `best_response_computers_` in mind since I assumed there is some state kept there. Anyway, this simplifies things then. Regarding `TabularPolicy uniform_policy_`, I think due to the fact that MCCFR instances keep `Policy` I will need to add serializers for `Policy` in any case.

I will also try changing `TabularPolicy uniform_policy_` to `UniformPolicy uniform_policy_` in `CFRBRSolv

[2020-05-16 18:07] yarncraft commented on #191
_I submitted a PR that offers a good alternative:_
https://github.com/deepmind/open_spiel/pull/219

[2020-05-18 01:26] #218 closed

[2020-05-18 01:27] #191 closed

[2020-05-18 03:11] lanctot commented on #148
Hi @sullins2,

It definitely won't be me to do it, but last I spoke to @dhennes and @perolat, it was still indeed on the to-do list. I would very much like to have it in the code base but I was not very involved on the implementation side of the NeuRD paper.

Yes, the plan would be to add it to either the policy_gradient.py or as its own file that would very much resemble policy_gradient.py.

We a

[2020-05-18 17:23] yarncraft opened #221 "Enhancement: Using Dask for Distributed Processing"
During our project I encountered several methods in the Python code that commented on the possibility of multithreading that specific part. A good example is the following for loop in the PSRO algorithm: https://github.com/deepmind/open_spiel/blob/e87fe7beef3c698e334704ee570eaf09b9159a40/open_spiel/python/algorithms/psro_variations/optimization_oracle.py#L186

The implementation of CFR also lends

[2020-05-18 21:38] DanielUranga opened #223 "GPU memory requirements for Alpha Zero tic-tac-toe sample"
When trying to run the tic-tac-toe example got an out of GPU memory error (CUDA_ERROR_OUT_OF_MEMORY).
Full log output: https://pastebin.com/B0sNKgMr
Hardware: RTX 2070 Super with 8GB of GPU memory.
Using Tensorflow 2, Python 3.6.2. Pip list output: https://pastebin.com/LtcgAZ9a

What's the minimun GPU memory requirement to try the Alpha Zero tic-tac-toe example? Might the out of memory related err

[2020-05-19 07:47] tewalds commented on #223
The python alphazero doesn't use the gpu at all...

[2020-05-19 17:25] DanielUranga commented on #223
@tewalds Thanks for your answer, I appreciate. Could you elaborate?

I must be miss-understanding something. From this incomplete stacktrace:
[code]
It's using Tensorflow, and I have tensorflow-gpu installed, I see it's trying to use CUDA. It seems there are "actors" trying to load a model, I assume those are intended to self-play in order to generate training data.

[2020-05-19 21:20] sullins2 commented on #148
@lanctot Thanks!

[2020-05-20 10:07] hejujie commented on #135
@sbodenstein I am busy in last two months for COVID-19,  the implementation job is always in low priority,  I finished the model part and evaluator part in March, but the code of AlphaZero is being refactored again so it also needs to be refactored (or just rewrite these two parts is better).
I am afraid that I can't work for it in the next two months, you can do it if you have free time.

[2020-05-20 16:55] qmaai opened #224 "laser tag players do not act as commanded."
Hi I have been reading through laser_tag.cc, and open_spiel/open_spiel/integration_tests/playthroughs/laser_tag(horizon=20).txt.

Some of the agents' behaviors are strange. Here is one example where agent A fails to step right even when it is still within the grid even after doing so. There exist numerous similar problems in the afore-mentioned txt file. Would you kindly look into that?
[laser_tag

[2020-05-20 18:26] lanctot commented on #224
Hi Gary, took a look-- yeah, I agree... that appears to be a bug.

I will take a look, hopefully have it fixed by Monday's update.. but unfortunately can't guarantee any timeline for now, a bit busy with some paper submissions at the moment.

[2020-05-20 19:25] lanctot commented on #192
Hi Julian,

This is great that you have Catan up and running already!

Sounds good. Also consistent with what we did in the Hanabi Learning Environment, and seems like a generally sensible choice.

I don't think this is very common. I'm used to bitwise inputs, even for encoding integer values (or even float values!) We do this a lot in various places in OpenSpiel. If a value can take on e.g. {0, .

[2020-05-20 19:55] alexminnaar commented on #224
Been a while since I've looked at this but it looks like there's a joint action of ["step right", "move forward"] for A and B respectively, then the chance node decides to apply B's action first (which it then does) but then A's action is never applied.  I could maybe look into this this weekend.

[2020-05-20 20:07] lanctot commented on #223
I chatted about this with @tewalds. Timo please correct anything I say if it's inaccurate.

We also tried running on the GPU and got the same errors. I think the default network is quite large.. you should be able to try using MLP by changing this line: https://github.com/deepmind/open_spiel/blob/master/open_spiel/python/examples/tic_tac_toe_alpha_zero.py#L56 to `"mlp"`

However, I should also say

[2020-05-20 20:28] qmaai commented on #224
@lanctot @alexminnaar  thank you for looking into this.

[2020-05-21 06:33] Inujal commented on #192
I looked into that, but did not quite understand it, guess I have to look harder.

The Catan implementation has all the functionality, but I did not put all features in the functions for OpenSpiel yet, biggest missing features are development cards, the robber, trading with harbors and trading with other players. As the development cards are missing I still treat the game as perfect information. I

[2020-05-21 19:09] lanctot commented on #192
Maybe Hanabi was not the best example to point you to first. Take a look at `OshiZumoState::ObservationTensor` and `GoofspielState::ObservationTensor` in our code base for simpler examples.

It's always a good idea to start small (on simpler sub-problems) when trying to get things to work. Great to hear about the progress!

[2020-05-23 17:04] alexminnaar commented on #224
Looks like the issue is on [this line](https://github.com/deepmind/open_spiel/blob/c2683ca03d85e39d867594ef7f3c7f9319f18673/open_spiel/games/laser_tag.cc#L237).  The left step is there twice and one of them should be the right step.  I created a PR https://github.com/deepmind/open_spiel/pull/227/  I'm not sure about the other problems you mentioned but this should at least cover the linked issue.

[2020-05-23 18:38] qmaai commented on #224
Hi Alex. Yup I think that is it. All of the other cases that I have spotted so far are step-right related.

[2020-05-25 13:59] sbodenstein opened #228 "Breakthrough Swift implementation is slow"
Playing random games with Swift environments is generally faster than the combination of Python/C++. But Breakthrough is significantly slower for some reason. Times below are in μs:
|  | **Swift** | **Python** |
| :---         |     :---:      |          ---: |
| TicTacToe  | 87     | 255    |
| Breakthrough     | 9340      | 2506      |
| Kuhn Poker     | 15       | 149      |

These numbers were

[2020-05-25 14:02] sbodenstein commented on #223
Can't you just reduce the batch size to fit onto your GPU?

[2020-05-25 15:53] lanctot commented on #224
Thanks for the quick fix @alexminnaar !

[2020-05-25 17:36] lanctot commented on #228
Hi @sbodenstein,

I'm not too surprised by this, but I don't know much about Swift. @elkhrt or @dan-zheng , any ideas?

The reason for my thinking: the python games are all wrappers around C++ implementations, not actual Python implementations. So, the constant overhead you pay for the round trip from python to C++ and back should eventually be less of a problem as the game gets larger because the

[2020-05-25 18:43] DanielUranga commented on #223
Reduced the batch size, set the nn_model to "mlp", and still getting the same errors.
The latest changes I tried with no luck:
[code]

[2020-05-25 18:48] sbodenstein commented on #228
@lanctot: sorry, I should have titled this as 'possible slow implementation issue', as you are right that this could well be that C++ is much faster than Swift in this case and the C++/Python round-trip overhead is no longer relevant for this more complex game.

But: if Swift is really is at least 3.7x slower than C++ here, then doesn't that potentially invalidate the motivation for Swift OpenSpie

[2020-05-25 18:52] Inujal commented on #192
I implemented a one-hot encoder and the results with the DQN algorithm now seem to be much more stable. I looked at the AlphaZero and PSRO algorithms. The AlphaZero implementation seems to work only with 2 player deterministic games. Strictly speaking Catan is three to four players, but two players would not be a problem. But it needs to be deterministic too and I have chance nodes for the dice ro

[2020-05-25 19:46] elkhrt commented on #192
Great! Extending the Alpha Zero implementation to handle chance nodes in
one or two player games is not a major change. Worth having a go if you're
interested! Obviously start testing with some smaller game like pig.

On Mon, 25 May 2020, 19:52 Julian B., <notifications@github.com> wrote:

[2020-05-25 20:29] lanctot commented on #228
Keep in mind that I have only epsilon knowledge of Swift, hence tagging the experts :)

_If_ it is indeed 3.7x slower than C++ then yes, we should be asking some questions. I'm happy (and quite likely!) to be wrong about this.

I actually have not looked at the Swift Breakthrough implementation-- I don't know Swift at all. Is there anything in it that strikes you as inefficient that could be causi

[2020-05-26 20:55] DanielUranga commented on #223
Alpha Zero tic-tac-toe example works as expected in Google Collab. I think the issue must be related to using TF2 which is unsupported.

Thus I'm closing this issue.

[2020-05-26 20:55] #223 closed

[2020-05-26 22:23] lanctot commented on #223
Thanks @DanielUranga . FYI I will be pushing hard on TF2 support end of June and expect to be able to have it mid to end of July.

[2020-05-27 02:23] saeta commented on #228
Thanks @sbodenstein for noticing and inquiring about this! I've put together https://github.com/deepmind/open_spiel/pull/230 which helps a bit. I suspect there's a fair bit more that's possible to improve Breakthrough's performance.

Please do let me know if you'd be interested in further optimizations!

[2020-05-27 11:35] sbodenstein commented on #228
@saeta: thanks for such a rapid response and fix! Don't directly require more speedup.

It would be interesting to know just how close you can get to C++ performance in Swift to answer the question 'is solving the two-language problem in RL viable with Swift', but that is beyond the scope of this issue 😉

[2020-05-27 11:35] #228 closed

[2020-06-01 13:48] lanctot commented on #224
Fixed by https://github.com/deepmind/open_spiel/pull/227 which was just merged. Closing.

[2020-06-01 13:48] #224 closed

[2020-06-02 06:11] michalsustr opened #232 "Warnings while compiling pyspiel"
While compiling the `pyspiel` target, I get following warnings:

[code]

Compiled with g++-7 (Ubuntu 7.5.0-3ubuntu1~18.04) 7.5.0

Not too important I guess, pyspiel works just fine, I just thought I'd mention it since there are no other warnings generated anywhere else.

[2020-06-02 11:46] Inujal commented on #192
I will give it a try if I find the time for it.
Meanwhile, I finished up the missing features, except for players trading with each other. I leave it out for now since it adds a lot of actions. I also submitted a pull request deepmind/open_spiel#233 so you can look over my implementation and make suggestions/flag errors.

[2020-06-02 13:10] lanctot commented on #192
Perfect, thanks for the PR.

There was a major bug in DQN found last weekend (fixed now) that could have affected your initial results.

I recommend pulling from master and rerun.

[2020-06-02 15:08] lanctot commented on #232
Cool, thanks Michal.

We switched to clang++ some time ago, so we have not compiled with g++ in a while. Do you know if the same warnings show up with clang?

[2020-06-02 19:46] michalsustr commented on #232
No, they do not show with clang.

[2020-06-05 14:42] aliyakamercan opened #234 "Example using a trained model/policy"
Hi,

I am trying to run Kuhn poker playthrough using different policies (NSFP and CFR from examples), but I could not find a way to save these. Pickling doesn't seem to work. Is there some other method to save/load these?

Thanks

[2020-06-05 15:13] lanctot commented on #234
Hi, can I double-check that you are doing this all in python? I think I know why the pickling does not work, and there is an easy fix (convert the policies to tabular policies and pickle those). We don't have an example but it would be easy to add. I will wait for your reply first.

[2020-06-05 17:04] aliyakamercan commented on #234
I am using python.

Here are two examples:

[code]

Both pickles are failing with
[code]

I think, it is because there is no `py::pickle` for `GameState` in [pyspiel.cc](https://github.com/deepmind/open_spiel/blob/master/open_spiel/python/pybind11/pyspiel.cc)

[2020-06-05 17:50] lanctot commented on #234
That is odd because we definitely support pickling states, we even test it for all games in the simulation tests:

 https://github.com/deepmind/open_spiel/blob/0e9b1b75dea3e87f0326fe1012d1b0367196b7dc/open_spiel/python/tests/games_sim_test.py#L98

So something seems very wrong indeed. I will look into it. Did you perhaps add something to GameType that does not serialize?

[2020-06-05 17:52] lanctot commented on #234
And the `py::pickle` is here:

[2020-06-05 17:56] inejc commented on #234
I might be missing something here but I don't think there is support for serialization of any of the policy types currently, i.e. it is not possible to pickle `TabularPolicy` or `CFRAveragePolicy` which I believe the above python code tries to do.

[2020-06-05 18:07] lanctot commented on #234
Oh I think you meant `GameType` which is missing the `py::pickle`.

Yes it is probably right that we can't pickle tabular policies right now but these are simple objects. We should support pickling them and I think the fix is easy (or should be).

[2020-06-05 18:11] inejc commented on #234
Once https://github.com/deepmind/open_spiel/pull/222 is finished, it should add the ability to pickle both `TabularPolicy` instances and the actual CFR solvers which can then be used to obtain the `CFRAveragePolicy`.

[2020-06-05 18:17] lanctot commented on #234
Thanks @inejc but I thought you were doing the C++ side. I think/thought the python tabular policy objects were self-contained (i.e. not wrappers to the C++ TabularPolicy objects)... but maybe I am wrong?

[2020-06-05 18:25] inejc commented on #234
That's correct. I didn't realize the code above uses a pure python version of tabular, sorry for the confusion!

[2020-06-05 19:45] aliyakamercan commented on #234
Thanks for the quick replies.

Yep, my bad, I meant `GameType`.

https://docs.python.org/3/library/pickle.html#handling-stateful-objects can be used to drop/set game_type since `game` is already serializable.

[code]

I will open a PR.

How about solvers like deep-CFR where I wouldn't necessarily want to store the tabular policy? Should I be using `tf.saver` in those cases and save the network?

[2020-06-05 22:36] lanctot commented on #234
Ok great thanks. I still want GameType to be serializable so I might add that as well this week.

For other things like NFSP we only need tf.saver if you want a full checkpoint. If you are happy with just the policy itself than we can extract it into a tabular policy by doing a tree pass and calling the network at each infostate (we might already be doing this in some places but if not we should a

[2020-06-06 15:48] sullins2 opened #236 "Colab build broke for anyone else?"
This was happening yesterday and still today, anyone else having problems? This usually happens when an outside library upgrades / changes.

[code]

[2020-06-06 15:54] lanctot commented on #236
Yeah just checked: the proper include is missing in spiel.cc. Will fix soon and include in Monday's update.

[2020-06-06 17:52] sullins2 commented on #236
Thanks Marc @lanctot

[2020-06-08 14:58] ayakamercan-coatue commented on #234
I will work on making `GameType` serializable, let's close #235.

[2020-06-08 15:08] lanctot commented on #234
Hi @ayakamercan-coatue , I will assume you are the same person as @aliyakamercan-- otherwise I would not want to decide on closing another person's contribution! ;-)

I've already got the GameType serialization half-done (it's actually non-trivial because of the serializing of the GameType parameters). I can commit what I have and let you finish it. Are you happy with that? That way you still get

[2020-06-08 15:09] lanctot commented on #234
Feel free to close it yourself, I agree -- the serializing of the GameType will get this already, and I think I'd rather that as well.

[2020-06-08 15:15] aliyakamercan commented on #234
Got my users mixed up :), yes that sounds great.

[2020-06-08 17:43] lanctot commented on #234
Ok, great! It will be in an upcoming commit in the next hour or two.

Can I ask the following:

1. The game type be readable: one piece of it per line, that way it is easily splittable with '\n' as a delimiter using absl::StrSplit. For the parameter specs line it would be like: "parameter_specification: <serialized parm1> <serialized parm2> <serialized parm3> ..." (you can do all this in spiel.cc;

[2020-06-08 19:03] lanctot opened #238 "Upcoming (potentially breaking) changes and release"
Hi all,

This is a post just to let you know that we plan to make some changes in the coming month(s) in order to support TF2.2 and Python 3.8, with the aim of finally fixing and closing https://github.com/deepmind/open_spiel/issues/166.

I expect the changes will mostly be minor, like adding `disable_v2_behavior` in several places, but at least one I consider to be a major change: removing our de

[2020-06-09 12:01] sullins2 commented on #236
Not sure how Colab is going to be affected by the updates mentioned in the other thread, but it is once again not building.

[code]

[2020-06-09 12:22] lanctot commented on #236
Ok, thanks.. keep'em coming, we'll get them all. We need to do several updates to github this week anyway.

I am guessing another missing include.

[2020-06-09 13:50] #236 closed

[2020-06-09 19:49] lanctot commented on #236
Any luck @sullins2 ? Please let us know when it's confirmed working again.

[2020-06-09 20:34] sullins2 commented on #236
Quite a bit, the whole thing builds now. No errors. @lanctot

[2020-06-11 20:44] lanctot commented on #238
We have released OpenSpiel 0.1.0!

https://github.com/deepmind/open_spiel/releases/tag/v0.1.0

Closing this issue. I will keep everyone posted on changes regarding upgrades to TF2.2 and Python3.8 in #166.

[2020-06-11 20:44] #238 closed

[2020-06-11 20:51] lanctot commented on #166
We have now released OpenSpiel 0.1.0: https://github.com/deepmind/open_spiel/releases

Toward the end of June I plan to address these issues and finally release again once we've gotten the code to be stable under TF2.2 + Python3.8  and Travis-CI adds official support for Ubuntu 20.04.

[2020-06-13 23:20] ravigupta2323 opened #243 "Action abstraction and information abstraction."
Dear Authors, I am working on universal_poker using open_spiel (python) and was wondering if there is a standard way to add information abstraction and action abstraction to these games and then use the preexisting algorithms on the abstracted game?

If there isn't a standard way, what would be your suggestion to do this? I was currently thinking of subclassing the state class and changing the def

[2020-06-14 02:15] lanctot commented on #243
Hi @ravigupta2323,

Yes, there is, but we only have action (betting) abstraction implemented currently. The abstract game is the one that gets loaded as a function of thr specified game strings (the algorithms don't even know they are playing in an abstracted game-- from their perspective it is just the game itself). See the game strings in here: https://github.com/deepmind/open_spiel/blob/master/

[2020-06-14 05:55] jhtschultz commented on #243
Yeah should be relatively straight forward. Like you said, card & imperfect recall abstractions only require altering the algorithm's perception of the game, so I think that's just a matter of modifying InformationStateString()/Tensor() and ObservationString()/Tensor(). Betting abstractions can also affect LegalActions(), so that's something to be aware of.

Abstractions can get sophisticated, so

[2020-06-14 11:17] ravigupta2323 commented on #243
Hi @lanctot @jhtschultz, thanks for the prompt response. I was currently thinking of only card abstraction with perfect recall. Also currently available betting abstractions are quite restrictive, I wanted to add a few more bet sizes.

While I agree that adding new flags to game strings would be relatively easy. I think to keep the implementations separate we might want to do it using game transfo

[2020-06-14 13:04] lanctot commented on #243
Yeah for that kind of work (where you mix abstractions across players) then a game transform you are describing makes sense.

If you want them to play within arbitrary abstractions afterward then you could make a translation bot that takes in their learned policy and does the translations.

Thanks for the link to Slumbot @jhtschultz ! Would be neat if we could get it running in OpenSpiel!

[2020-06-14 13:16] lanctot commented on #232
Ok great thanks. I will close this then since we no longer support g++, but feel free to reopen if you want to keep discussing or submit a PR to fix these if you want. :)

[2020-06-14 13:16] #232 closed

[2020-06-14 13:44] lanctot commented on #153
@chenxli we recently removed all instances of std::optional and replaced them with absl::optional. Can you try to see if this fixes the problem?

[2020-06-14 14:21] lanctot commented on #122
Closing this and keeping #148 open since it has more discussion.

[2020-06-14 14:22] #122 closed

[2020-06-14 18:09] michalsustr commented on #243
I think the game transformation is the correct way to go about it, and I'd like to suggest two things.

1) Maybe the transform could be more general than just Poker? It could work generally by providing a callback "translation" function, which effectively acts as an "onto" ([surjective](https://en.wikipedia.org/wiki/Surjective_function)) function for whatever object (information state / action) is

[2020-06-14 19:48] ravigupta2323 commented on #243
@lanctot OpenSpiel already supports CFR+ and MCCFR, so it seems that abstractions and real-game best-response are the missing pieces of the puzzle. Although to replicate results from Slumbot, optimizing the implementations of some of the algorithms might be necessary (parallel computing and maybe using ints instead of strings? I am not sure) .

@michalsustr I completely agree with each of your poi

[2020-06-14 21:45] lanctot commented on #243
@ravigupta2323 I didn't mean replicate Slumbot results I just meant getting it to run in OpenSpiel. I don't think OpenSpiel is the right code base for doing those large scale experiments, it would require optimizations specialized to poker and OpenSpiel is intended for simplicity + breadth. I am a bit surprised you want to use OpenSpiel for this kind of work (and the amount of interest in poker mo

[2020-06-15 10:48] ravigupta2323 commented on #243
@lanctot Ohh I also wasn't thinking of replicating of Slumbot results myself I am only interested in abstractions for now. It was a general response to your comment. I wanted to use open spiel for our project because of all the preexisting algorithms and games (hidden info) to benchmark new ideas. Preexisting algos I believe are also useful as subroutines in any further work. So kudos to you guys

[2020-06-15 12:53] lanctot commented on #243
That all sounds great! Glad we could help, and let us know if you have any more questions.

[2020-06-15 13:04] lanctot commented on #180
@justinkterry just checkin in on this. Were you intending to implement checkers? Any way that we could help?

[2020-06-15 13:06] lanctot commented on #179
Hi @oslumbers just checking in on this. Is it still on the road map? Any way we can help?

[2020-06-16 21:58] michalsustr commented on #243
I can try to add a function which returns the original untransfomed state (in the list of transformations), and update already existing game transforms accordingly. Basically we can create a [category](https://en.wikipedia.org/wiki/Category_(mathematics)) of `State`, where the untransfomed state is an [initial object](https://en.wikipedia.org/wiki/Initial_and_terminal_objects).

The the bot will b

[2020-06-18 05:31] lanctot commented on #166
Update: I have OpenSpiel compiling and passing all tests in Ubuntu 20.04 with TF 2.2. Details here: https://github.com/deepmind/open_spiel/pull/249 .

If Travis-CI tests pass in Ubuntu 18.04, we might import this before Travis support 20.04. I will discuss it with the team.

[2020-06-18 18:02] finbarrtimbers commented on #243
Sorry folks, I'm slow at checking Github.

Imperfect recall (at least one version) is supported in UniversalPoker in the observation. The observation only includes the pot size, and not the actual sequence of betting actions to get there.

Depending on the action abstraction you want, it should be easy to implement. You can look at the code in `UniversalPokerState::LegalActions()` and in `Universa

[2020-06-18 18:57] elkhrt commented on #243
I'm not entirely sure I understand the proposal for handling mismatched
abstractions. If one player thinks the only possible betsizes are 1, 2, 4
but its opponent bets 3, then there will be no direct state translation
available. Of course, approximations are possible.

On Tue, 16 Jun 2020, 22:58 michalsustr, <notifications@github.com> wrote:

[2020-06-20 01:04] #180 closed

[2020-06-20 01:04] #179 closed

[2020-06-20 01:05] #153 closed

[2020-06-20 01:07] lanctot commented on #10
I agree continuous actions would be great to support. But this issur has remained open for a long time without activity so I will close it for now and we can reopen if we want to discuss further.

[2020-06-20 01:07] #10 closed

[2020-06-20 19:16] lanctot commented on #135
@hejujie sorry about the clash; we did a fair bit of work on a C++ AlphaZero and this included some necessary refactoring. It was an unfortunate coincidence. We also did not realize how much it would affect your development.

Would still love to see MuZero in the code base but I understand any lack of motivation due to the interruption.

Closing this for now. Feel free to reopen if there are any p

[2020-06-20 19:16] #135 closed

[2020-06-21 18:07] mpflanzer opened #250 "Question about design decision for "Qwinto" game"
Hi all!

I'm currently trying to figure out the best way to implement the game "Qwinto". The complete rules can be found here: https://www.ultraboardgames.com/qwinto/game-rules.php

In short, it's a turn-based game. During each turn **one** player rolls one to three dice up to two times and then **all** players enter the result into an empty field in their personal score card. In the next turn the

[2020-06-21 18:45] elkhrt commented on #250
I think most natural would be to implement the game with a combination of
single-player turns and simultaneous move turns. We don't by currently have
an example of that, but it should hopefully be obvious how to do it.

You're right that most of our algorithms work only on non-simultaneous
games, but there is a wrapper to convert a simultaneous game to a
sequential one, so this is not a problem in

[2020-06-22 20:03] lanctot opened #251 "~!~ OpenSpiel Extravaganza ~!~ Jun 22nd - Jul 3rd"
Hello everyone,

Starting today until July 3rd, there will be concentrated effort to add functionality to OpenSpiel. During this time, we will be updating github every day (possibly even many times per day).

We will be more available than usual to answer questions that you may have about OpenSpiel. Please use this thread.

Among the list of planned additions:

- Public states sub-API (for impleme

[2020-06-22 20:32] lanctot commented on #251
@findmyway did you know about AlphaZero.jl project? I posted a suggestion to support OpenSpiel games: https://github.com/jonathan-laurent/AlphaZero.jl/issues/15 . Would that be something you'd be interested in trying out or looking into, even if you don't have time between this specific period? Would be a neat collaboration between projects!

[2020-06-23 01:39] findmyway commented on #251
Hi @lanctot ,
Yeah, in fact, I contacted @jonathan-laurent just after I **decided** to write this Julia wrapper. And we had some nice discussions several months ago https://github.com/jonathan-laurent/AlphaZero.jl/issues/4 . I'll provide more info in the issue you created there. https://github.com/jonathan-laurent/AlphaZero.jl/issues/15

[2020-06-23 22:19] michalsustr commented on #250
I think what you chose to do is very reasonable. In fact, I'd like to argue that we should have a special `kNoOpAction` besides the `kInvalidAction` you've used, because this "action padding" is in fact necessary in [FOGs](https://arxiv.org/pdf/1906.11110.pdf) -- players take joint (simultaneous) actions, and those who are not "acting" just have these no-op actions.

@lanctot do you think we could

[2020-06-24 02:53] mrdaliri commented on #172
Hi,
I was able to build latest commit (4300bc4fafa0ef43d2f707fe5cdea120f0be3ecb) with Tensorflow v1.15.2 (via TensorflowCC and Bazel 0.26.1) on my macOS Catalina (Apple Clang 11.0.3). I had to modify some cmake files and rename some `#include` statements. Please see the diff [here](https://github.com/mrdaliri/open_spiel/compare/4300bc4fafa0ef43d2f707fe5cdea120f0be3ecb...mrdaliri:dd70dcb2046c309183

[2020-06-24 02:55] mrdaliri commented on #172
I also tried on an Ubuntu 18.04 machine with `clang version 6.0.0-1ubuntu2`. This time, the build failed with following errors:

[code]

[2020-06-24 02:58] mrdaliri commented on #172
P.S: The TensorflowCC (Tensorflow v1.15.2) is working without problem in both environments.

[2020-06-24 03:31] lanctot commented on #172
Hi @mrdaliri , yes I think you're not linking to the alpha_zero library that you're defining in `open_spiel/algorithms/alpha_zero/CMakeLists.txt`.

You're defining a library when you do this:

[code]

But then the executables are not including them because they are not being bundled into OPEN_SPIEL_OBJECTS. You will also need to add a line here: https://github.com/deepmind/open_spiel/blob/695fad0a

[2020-06-24 11:33] mpflanzer commented on #250
I converted my initial approach with only simultaneous turns and "noop"/invalid actions into a mixture of single-player and all -player turns. See this commit: https://github.com/deepmind/open_spiel/commit/9c85c7ec0e357243348ae66a84e9c1bc69834d70
To make this work I had to adapt the simultaneous move game like this: https://github.com/deepmind/open_spiel/commit/78cf523a51065840bf7a3bba65bf37cf574a

[2020-06-24 11:42] elkhrt commented on #250
Thanks Moritz - that looks good to me; could you fix the now-outdated
comment in simultaneous_move_game.h
<https://github.com/deepmind/open_spiel/commit/78cf523a51065840bf7a3bba65bf37cf574a475a#diff-b8f76afdaf8c1b8eb720427ef6fcd2b8>
as
well?

Michal - it seems a pretty simple extension of the FOG formalism to allow
single-player turns, but if we don't want to allow for that it would
perhaps be sim

[2020-06-24 12:58] lanctot commented on #250
Hi Moritz, sorry for chiming in late. I think the way you have it now makes sense.

Michal, what you are suggesting makes sense if every step was simultaneous, but I don't see why we should force that in cases like this. Seems more natural to just have the game implemented as a mixture of turn-based and simultaneous nodes.

As Ed implied, I think the turn based simultaneous game wrapper should alr

[2020-06-24 15:17] mpflanzer commented on #250
No worries, thanks for the suggestions. Did you have any specific test in mind? I quickly adapted the `mcts.py` example to load the game via `load_game_as_turn_based`. That is running without issues -- tough the bot is not exactly making the smartest decisions. :wink: Looks like I should now spend some time to figure out which algorithm to select.

[2020-06-24 15:33] lanctot commented on #250
Yeah I meant our standard simulation tests (uniform random simulations that test a bunch of properties).

Should be a one-line test that looks like this: https://github.com/deepmind/open_spiel/blob/63ede7dee69c79510ff99dac99c68b8e368f6a9a/open_spiel/games/goofspiel_test.cc#L31

Except you replace the game string by the one I gave about (or you could use `LoadGameAsTurnBased` if you want). So inste

[2020-06-24 15:53] mrdaliri commented on #172
Oh I assumed uncommenting was enough. I changed that block to the following:

[code]

Now I'm getting a great number of errors on Ubuntu, all complain about Tensorflow stuff. It seems it is not yet correctly linked:

[code]

[2020-06-25 02:57] michalsustr commented on #250
Enabling single player turns in simultaneous games with #255 makes sense. I was just wondering whether it would not be confusing for new-comers, since now you can have a sequential and "simultaneous-turn" games which are exactly equal. Which one should you use? Simultaneous seems more powerful, because there is a transformation to sequential (so you don't lose anything), but there is no transforma

[2020-06-25 03:07] lanctot commented on #250
Oh yes, I agree with that, makes complete sense. You're advocating for supporting games in which a simultaneous node leads to a subset of players acting simultaneously, and the players outside that subset **must** return `kNoOpAction`.

But I think this is a separate topic, right. As in, it's independent of the choice made by @mpflanzer, right? Qwinto does not have situations like this, does it? B

[2020-06-25 03:28] mrdaliri commented on #172
@lanctot: I've added [TensorflowCC example](https://github.com/FloopCZ/tensorflow_cc/blob/master/example/example.cpp) as per your suggestion, and disabled all other alpha_zero targets (`alpha_zero` library + `vpnet_test`). It compiles, links and runs perfectly. Please see [my fork at commit #9ebbf6](https://github.com/mrdaliri/open_spiel/tree/9ebbf6bbdc10eee6c5e972ab912b09bb8597fd1c) for modified

[2020-06-25 03:47] lanctot commented on #172
Ok thanks for doing that.. it will help move us along at least.

I unfortunately have a lot of reviewing to do tonight but maybe tomorrow I can clone your fork and take a look. @tewalds, any ideas?

I'm reluctant to blame Eigen or Abseil only because all the undefined references are coming from Tensorflow itself. So possibly TensorflowCC is not exposing everything we need from TF (doubtful) or it'

[2020-06-25 03:53] lanctot commented on #172
Hey @mrdaliri I also noticed TensorflowCC is using TF2.2. I will have my PR that lets us upgrade to TF2.2 (https://github.com/deepmind/open_spiel/pull/249) ready to go. I have already imported it, there's just a bunch of work to do on it which I plan to get done tomorrow. So it will likely be in on Friday morning. If we don't have this solved by then I'd like to try see what happens if we move ove

[2020-06-25 03:58] mrdaliri commented on #172
Yes, by default is is using TF 2.2. Just to clarify, I modified TensorflowCC config file and changed its TF version to 1.15.2. So all tests were running against TF 1.15.2.

[2020-06-25 04:00] michalsustr commented on #172
I'm trying it ou.

[2020-06-25 05:02] elkhrt commented on #250
Continuing with the side discussion (sorry for spamming your thread Moritz!)

*Simultaneous seems more powerful, because there is a transformation to
sequential (so you don't lose anything), but there is no transformation the
other way around.*

It would be simple to write such a transformation (from sequential to
simultaneous) - perhaps we should do so if there are algorithms for which
it would b

[2020-06-25 05:13] elkhrt commented on #250
To the extent that this is in the code at all, we currently use
kInvalidAction for the padding,

https://github.com/deepmind/open_spiel/blob/2859b4c309a88ac10ec07d00cee25828682f9522/open_spiel/simultaneous_move_game.cc#L27-L44

https://github.com/deepmind/open_spiel/blob/0530df0397a35e155ea7ad0f09249eb62ab124ee/open_spiel/spiel.h#L607-L608

kNoOpAction would be a reasonable alternative if you thin

[2020-06-25 05:36] michalsustr commented on #172
Urgh, I started compilng the original reference example. That _monster_ is still compiling after 1 hour on 8-core CPU! Only 2/3 are done  ... I tried looking up precompiled C++ binaries, but they are generally not available because the developers are concerned about compatibility of ABI interfaces. There are precompiled binaries for C however. I don't understand well enough why C would be ABI fine

[2020-06-25 05:41] lanctot commented on #172
Yes, Tensorflow is a beast :) Luckily you only have to compile it once!

@Liuweiming was able to compile out C++ AZ with just headers and linking to a binary libs, but there were a number of problems with absl mutexes due to TF using an old version of absl or something like that. Details here: https://github.com/deepmind/open_spiel/issues/195.

I quite like the TensorflowCC route as it seems the s

[2020-06-25 07:12] michalsustr commented on #172
Okay, I replicated the problem and I got a somewhat smaller log of link error messages:
[code]

I will investigate further tomorrow.

[2020-06-25 08:15] mpflanzer commented on #250
Ah, yes, that runs without issues as well.

Correct, For Qwinto it's always a single player for the first to steps and then all players in the last step that have to make decisions. (Though in the last step a player might decide to do nothing).

clearer.

Having a `kNoOpAction` makes the intention clearer I would say. But the difference seem very subtle. It would definitely allow for better checks

[2020-06-26 03:23] michalsustr commented on #172
Yes.

I managed to identify the line which causes link problems:
[code]

When I comment it out, I can run the vpnet_test. However, it fails:
[code]

@lanctot do we need this?

[2020-06-26 03:45] michalsustr commented on #172
Got the stack trace:
[code]

[2020-06-26 03:53] michalsustr commented on #172
The problem seems to arise when the function `VPNetModel::Inference` returns: however it returns just `InferenceOutputs` which has nothing to do with tensorflow objects. The error concerns some reference checks. Maybe the problem is that there is some kind of memory leak / bad handling of memory ownership, ... or something like that, that tf checks automatically and raises the error.

The check is

[2020-06-26 03:56] bakanaouji opened #264 "DeepCFR with Reservoir sampling"
Dear authors.

I have been reading the code of DeepCFR and was wondering why a reservoir sampling is not chosen?
https://github.com/deepmind/open_spiel/blob/021f3585efed8bb9eb4173e36f65c65263996c69/open_spiel/python/algorithms/deep_cfr.py#L62-L76

According to the following paper, the performance with a reservoir sampling is better than one with a sliding window memory.
https://arxiv.org/pdf/1811.

[2020-06-26 04:01] michalsustr commented on #172
Just for the heck of it I tried to add a seemingly missing destructor for `tf_session_`:
[code]
but still getting the same check error. I never wrote a line of TF in C++, so no idea what is going on. :)

[2020-06-26 04:10] michalsustr commented on #172
I am not sure if this is related: https://github.com/tensorflow/tensorflow/issues/17316 but indeed ABI seems not to be stable. When I changed cmake from Debug to Release, the linking fails. Maybe that explains part of @mrdaliri problems.

[2020-06-26 04:29] michalsustr commented on #172
I thought I'd try out just a small example in `vpnet_test.cc` of running some session and getting output out.
[code]

I got a funny error, I never got this one before haha.
[code]
I'm quite surprised at this one -- I've built tf on my machine, I wouldn't expect it to use unsupported instructions.

[2020-06-26 09:50] tewalds commented on #172
Without the`SetDefaultDevice` you won't be able to run on GPU, which will severely slow down training.

[2020-06-26 18:33] lanctot commented on #166
This is now fixed! Commit details are here: https://github.com/deepmind/open_spiel/commit/b65db20bffe0cc45c4bbb768947626693e058de1

Apologies if this causes any problems and we'll do our best to help fix them.

[2020-06-26 18:33] #166 closed

[2020-06-26 19:44] lanctot commented on #264
Hi @bakanaouji yes I think that is a bug... or, rather, something the author did not realize about the algorithm on reading the paper.

Do you feel like contributing a fix? There is reservoir sampling code you can take directly from NFSP. Maybe we should make that data structure more accessible generally, a lot of algorithms in this class are starting to use them now. But I'd be happy with an impl

[2020-06-27 14:16] FloopCZ commented on #172
Hi everyone,

@michalsustr By default, the optimizations are enabled for `ivybridge+` CPU generation. You may be able to fix the illegal instruction issue by running `export CC_OPT_FLAGS="-march=native"` before the build of [TensorflowCC](https://github.com/FloopCZ/tensorflow_cc). Aren't you using some virtual CPU by a chance?

Regarding the undefined references - one option is that the `libtensor

[2020-06-28 00:45] bakanaouji commented on #264
Hi @lanctot , thanks for your polite response.

I would like to contribute to the fix this bug. Since I have already confirmed that the performance with the fixed code will improve in my local environment, I can send the pull request immediately.

[2020-06-28 01:26] lanctot commented on #264
Ok great. Can you make sure it's the most reason version using our simple_nets not sonnet?

Also can you try the example to see if you get close to the proper values in Kuhn? I had to introduce a flag to toggle reinitializing the networks and had to set it to false to get good values. Curious if that is still true with the reservoir buffers.

Details here: https://github.com/deepmind/open_spiel/pu

[2020-06-28 03:45] bakanaouji commented on #264
I have checked with both versions using simple_nets and sonnet.
The results of trying the example are shown in the following PR.
#268

[2020-06-28 03:49] qmaai opened #269 "PSRO V2 rectified training(using joint) code bug"
In [https://github.com/deepmind/open_spiel/blob/master/open_spiel/python/algorithms/psro_v2/utils.py](url), function `sample_random_tensor_index(probabilities_of_index_tensor)` fails when running psro_v2_example.py with --rectified=True flags or any case where sample_joint. The functions could be modified into the following:

`

    def sample_random_tensor_index(probabilities_of_index_tensor, sha

[2020-06-28 12:17] lanctot commented on #264
Great thanks. @aliyakamercan tagging you since you were also looking into this code.

[2020-06-28 12:27] andrschl opened #270 "Question about algorithms for simultaneous move games (goofspiel in particular)"
Hi all!

In the course of a small project we are currently trying to find some nice algorithms for goofspiel. However, from what I've seen so far, algorithms that would need a LP-solver for the simultaneous case such as (star-) minimax, MCTS (https://dke.maastrichtuniversity.nl/m.winands/documents/wcg13-smmcts.pdf), value iteration, and Q-learning are currently not implemented. Since we don't want

[2020-06-28 12:44] lanctot commented on #270
Hi @andrschl , the proper value iteration for simultaneous move games is implemented in python just not C++. The reason at the time was that I did not want to add a dependency to glpk. But now we have nice way to do conditional dependencies so we can revisit this. I would also like having MinimaxQ in the code base, which would be a simple extension. It is some work, but would be a very welcome con

[2020-06-28 12:52] lanctot commented on #172
Awesome thanks @FloopCZ yes this was what I was thinking as well. We can also manually check the symbols in `libtensorflow_cc.so` to help. I bet the fix comes down to adding a few extra bazel flags before the TF build and maybe redirective some link paths. We will keep updating the thread with more info, thanks again!

[2020-06-28 17:05] andrschl commented on #270
Hi @lanctot , thanks a lot for the quick answer and the suggestions! In this case we will try the value iteration for a small number of cards first. Also we are going to look at NFSP, RPG, and QPG.

If time permits I would also be very interested in implementing MinimaxQ. So if I understand this correctly you would prefer to have this in C++?

[2020-06-29 02:03] lanctot commented on #270
Oh no I don't have a preference there. Would be a lot easier in python since you don't have to reimplement the wrapper to the LPs. If we do it in python would be cool if it could support using function approximation and tabular, AFAIK that's never been done. And "Deep Minimax-Q" is a pretty awesome name for an algorithm, after all.. :-p

[2020-06-29 12:24] lanctot commented on #269
Thanks @qmaai. @paulfmmuller, any ideas?

[2020-06-29 15:31] PaulFMMuller commented on #269
Hey @qmaai ,

Taking a look into it. Just to minimize time spent searching, do you confirm that this error pops up when running the example and setting --rectifier="rectified" ?

I don't believe it's possible to use joint probabilities for the moment in v2's example ; would you by any chance have been running v1 ? We were planning on ensuring and validating support for joint probabilities in the f

[2020-06-29 23:43] andrschl commented on #270
Ah ok, then we'll stick with python for the moment. Deep Minimax-Q indeed sounds really cool :) I would like to give it a try in the second have of the week.

By the way, is there an easy way to play with an RL agent (RPG, QPG) that is trained using the turn_based_simultaneous_game wrapper against an agent that uses the simultaneous node representation (e.g. the player from value iteration)?

[2020-06-30 05:13] michalsustr commented on #172
Hello @FloopCZ :)

Strange. According to wikipedia, [Ivy Bridge](https://en.wikipedia.org/wiki/Ivy_Bridge_(microarchitecture)) supports Core i7-48xx. My laptop is running on Intel(R) Core(TM) i7-4810MQ, so that should support this instruction?

I guess I have to recompile everything from scratch? Just changing the flag a re-running cmake/make didn't seem to do anything with the targets. I started

[2020-06-30 05:34] lanctot commented on #172
Two small things:

1. I am thinking `find_package` is not finding the proper link path for TensorFlowCC, that's why you need to sudo make install for it to finally link properly. This is clear from your ldd output that it's finding libtensorflow_cc.so in /usr/local/lib. We can try entering the link paths manually to avoid this but if it's working then ok.

2. I wonder if this is a gcc versus clang

[2020-06-30 06:32] lanctot commented on #270
Ah there is nothing implemented, but it's a super easy change (that I would encourage you to contribute independently if you want).

The information state tensors (and observation tensors) of the wrapped game add a fixed number of bits to game's underlying tensors. See e.g. here: https://github.com/deepmind/open_spiel/blob/351e157c9804ae459cb5db37f345162603249070/open_spiel/game_transforms/turn_ba

[2020-06-30 06:42] michalsustr commented on #172
Recompiled the whole thing with `-match=native`. I still get
[code]

[2020-06-30 13:26] mrdaliri commented on #172
@lanctot Running [`tf_trajectories`](https://github.com/mrdaliri/open_spiel/tree/tf_trajectories_cpp) failed with `protobuf` related errors:

[code]

[2020-06-30 15:29] mrdaliri commented on #172
I was thinking about this. However, since my first attempt to put tensorflow_cc example inside open_spiel folder and build it with other OpenSpiel libraries was successful, I don't think that's the issue at least for me.

That's correct. TF_CC uses gcc by default. So I tried building OpenSpiel with GCC but faced the same errors as with clang. (side question: Is OpenSpiel compatible with GCC?)

[2020-06-30 15:35] lanctot commented on #251
Ok so we will use this thread as a way to describe our project in a bit more detail and show any relevant progress.

I will start.  I implemented HyperBackgammon, which is a simple variant where each side has only 3 checkers. However, it is not the full game because we still don't have the doubling cube implemented (note to self: we should do that :-p)

Here's a screenshot of the initial state:
[c

[2020-06-30 15:41] lanctot commented on #251
With the help of several people @finbarrtimbers @jblespiau , I did the final stages of getting OpenSpiel fully supported with TF 2.2 and Python 3.8. As a result, we now fully support Ubuntu 20.04. For details see https://github.com/deepmind/open_spiel/issues/166 and https://github.com/deepmind/open_spiel/pull/249.

![image](https://user-images.githubusercontent.com/3929263/86146717-d2667b80-bab5-1

[2020-06-30 15:51] lanctot commented on #172
Ok, thanks @mrdaliri . You said you still get those linker errors even when doing a sudo make install for TensorflowCC, so you're unable to reproduce Michal's success on getting the binary built at all?

We were using GCC primarily before. In November we switched over to using clang when we went to support C++17 and our tests now exclusive use clang. Everything should still work, but we don't acti

[2020-07-01 11:41] inejc opened #275 "Make Python code PEP8 compliant"
The PEP8 style guide is available here: https://www.python.org/dev/peps/pep-0008. It is possible to use auto formatters, e.g. https://github.com/hhatto/autopep8 is a good choice.

[2020-07-01 12:18] elkhrt commented on #275
Thanks for suggesting! We us `YAPF` with the `google` style. The main difference is the use of two spaces rather than four for indentation. I'll kick off a run now.

[2020-07-01 16:30] inejc opened #276 "Better de/serialization for stateful game objects"
Strictly speaking, I believe stateful game objects are currently not serialized correctly. For example, `NegotiationGame` which holds an internal RNG loses the state of the RNG after serialization and deserialization (using `ToString` and `LoadGame`). I guess this issue is mostly relevant for sampled stochastic implementations, e.g. I have the same problem in https://github.com/deepmind/open_spiel

[2020-07-01 16:39] qmaai commented on #269
thank you Paul. I was using v2 with "--rectifier=rectified" flags. yup.

[2020-07-01 17:26] lanctot commented on #276
Hi @inejc , ah yes I understand the issue.

But, I think we should probably not encourage stateful objects generally, could be error-prone. We can allow it for this specific exceptional case of `kSampledStochastic` chance mode and the RNG state.

I think there is a simple fix which is to include the current seed (or whatever is needed to reconstruct the RNG state) in the game's parameters and invl

[2020-07-02 04:12] mrdaliri commented on #172
Hi all,
Finally, I was able to replicate Michal's results. I tried on both the Ubuntu VM and the Docker container version of TensorflowCC.

While I got exactly the same errors as posted [here](https://github.com/deepmind/open_spiel/issues/172#issuecomment-649292582), I didn't get the "Illegal instruction" error with Michal's toy example ([here](https://github.com/deepmind/open_spiel/issues/172#iss

[2020-07-02 06:40] mrdaliri commented on #172
Good news! After installing protobuf externally (`sudo apt install libprotobuf-dev protobuf-compiler`), my tf_trajectories_example errors list reduced to the following:

[code]

My guess is version difference between the installed protobuf (3.0.0-9.1ubuntu1) and the required one. Will check other versions tomorrow.

[2020-07-02 08:27] inejc commented on #276
Agree with not encouraging stateful game objects in general. Yeah, I think that fix would work, I will give it a try later in the day.

[2020-07-02 09:17] inejc commented on #251
I finalized de/serialization of CFR and MCCFR C++ solvers and exposed the functionality in Python. For details see https://github.com/deepmind/open_spiel/pull/222.

Below is the output of the Python example where an MCCFR solver is pickled halfway through training and then the process is continued with the loaded solver:
[code]

[2020-07-02 09:31] inejc commented on #251
@timsmole and I implemented the [Slovenian Tarok card game](https://github.com/semanticweights/tarok) and started porting it to the OpenSpiel repository. For details see https://github.com/deepmind/open_spiel/pull/274.

Below is part of the initial output of the Python script that enables one to play the full game:
[code]

[2020-07-02 12:46] mrdaliri commented on #172
Building tf_trajectories_example against protobuf 3.12.3 cause only one link error:

[code]

[2020-07-02 12:57] lanctot commented on #172
Great progress, ok this now maybe comes down to just one extra flag you need to pass when building protobufs.

Out of curiosity, what does the output of ldd on your executable of Michal's binary look like?

Is TensorflowCC linking to a different version of protobufs?

[2020-07-02 13:00] mrdaliri commented on #172
I just tried vpnet_test. It also failed with just one error, without commenting any lines (so we have `tf::graph::SetDefaultDevice`)

[2020-07-02 13:02] lanctot commented on #172
Great let's Google this one function or link error and find out when it was added and/or how to include it in the .so. Almost there!!!

[2020-07-02 13:07] lanctot commented on #172
At this point we can also try posting on TF github. Since it's just down to one error, with luck they might get back to us today.

[2020-07-02 13:08] mrdaliri commented on #172
Do you mean his `run_tf` example? I think it doesn't use protobufs. Here is the ldd output:

[code]

What I understand is that Protobuf is NOT included in tensorflow_cc, so we have to install it externally, and then link it manually. (`target_link_libraries(tf_trajectories_example ${PROTOBUF_LIBRARIES} TensorflowCC::TensorflowCC)`)

[2020-07-02 13:13] lanctot commented on #172
TF uses protobufs, so they might have a subset of protobufs within the TF code (likely an older version).

Ok coukd I ask you to post a brief message on TF github pointing to the most relevant comment in this thread and quoting the final link error?

I will also post on our internal sites and contact the TF devs, but it would be great if I could include a link to your post.

[2020-07-02 13:28] mrdaliri commented on #172
Something has happened to that `ArenaImpl::AllocateAligned` function in this PR of protobuf library: https://github.com/protocolbuffers/protobuf/pull/6869. It dates back to Nov 2019, so I'm trying v3.10.1 which is released on Oct 2019. It's currently compiling and should be done in ~15 min. If it fails, I'll post the issue on TF repo.

[2020-07-02 13:55] mrdaliri commented on #172
Great news! Protobuf 3.10.1 did the trick! I was able to run `vpnnet_test`. It ended with a core-dumped error but has generated some output:

[code]

[2020-07-02 13:56] mrdaliri commented on #172
@lanctot is it the expected output?

[2020-07-02 14:18] lanctot commented on #172
Yeah I saw, could you try `tf_trajectories_example`? Probably will be the same error. I guess this one will be easier to find/solve with some online search.

[2020-07-02 14:33] mrdaliri commented on #172
@lanctot `tf_trajectories_examples` throws the following error:

[code]
I changed line 41 of its python file:https://github.com/deepmind/open_spiel/blob/549e48010a81c023902a39c41319ed08769d3f26/open_spiel/contrib/python/export_graph.py#L41

to `info_state_shape = game.observation_tensor_shape()` as you told me previously. What should be changed in its C++ files?

[2020-07-02 14:46] mrdaliri commented on #172
Found this issue https://github.com/tensorflow/tensorflow/issues/38393. It seems that the OP in that issue was using TF_CC with TF 2.2-rc2 (like me). Maybe it got solved in 2.2.0 final version. I have to build TF_CC again which takes some time. In the meantime, I'll try TF_CC docker container which uses 2.2.0 final version.

Side note: my machine is GPU-enabled with CUDA installed. Since the error

[2020-07-02 14:51] lanctot commented on #172
I will fix this today. Basically every instance of `information_state_tensor` should be changed to `observation_tensor`.

[2020-07-02 15:24] mrdaliri commented on #172
I think I've fixed it now (see [my tf_trajectories_cpp branch](https://github.com/mrdaliri/open_spiel/tree/tf_trajectories_cpp/open_spiel/contrib)). It also failed with same XLA-related runtime errors.

[2020-07-02 15:58] mrdaliri commented on #172
Same errors with TF_CC Docker (TF2.2).

I'm now re-building TF_CC with `TF_ENABLE_XLA=0` to disable XLA completely.

[2020-07-02 18:21] ryanbhayward commented on #251
I've been following what Bedir and Mohammad-R have been doing.  (It's not yet directly related to openspiel, but I've been writing some postscript so that I can generate board position pix for the game of Y, especially on the geodesic-dome-style boards introduced by Craige Schensted)
![Screen Shot 2020-07-02 at 12 19 52 PM](https://user-images.githubusercontent.com/3485282/86395971-5e1b0c00-bc5e-1

[2020-07-02 21:14] christianjans commented on #251
I just have added the standard implementation of the game [Clobber](https://en.wikipedia.org/wiki/Clobber).

It supports up to a 99x26 board (99 rows, 26 columns), although boards for humans and computers are usually kept to 5x6, 8x8, and 10x10.

For this original version, beginning from a custom board is not supported in Python, and the option to invert the default checkerboard pattern of the pie

[2020-07-02 21:28] tuero commented on #251
I implemented a bridged version of Boulder Dash/Emerald Mines (see [here ](https://www.c64-wiki.com/wiki/Boulder_Dash)for a description, and [here ](https://www.youtube.com/watch?v=FiEVfa1OK_o)for a playthrough). The mechanics of the game are simple: collect enough diamonds to open the exit, while avoiding enemies. This game offers many interesting challenges for AI
- Long delays between rewards
-

[2020-07-02 23:49] mrdaliri commented on #172
I doesn't look related to XLA. The issue is with the `SetDefaultDevice`. Related issues: https://github.com/FloopCZ/tensorflow_cc/issues/136 https://github.com/tensorflow/tensorflow/issues/38393 https://github.com/tensorflow/tensorflow/issues/5379 https://github.com/tensorflow/tensorflow/issues/16291

For tf_trajectories_example, if I comment that line, it runs without issues (no errors but no out

[2020-07-03 00:15] tewalds commented on #172
Is there a better way to set the device, so that you can load the same graph onto each device on a system with multiple GPUs?

[2020-07-03 02:47] vbhatt-cs commented on #251
I implemented a modified version of the Lewis Signaling Game ([https://en.wikipedia.org/wiki/Lewis_signaling_game](https://en.wikipedia.org/wiki/Lewis_signaling_game)) with an option for arbitrary payoffs. This game can be used as a starting point for multi-agent communication algorithms.

With certain payoff matrices, even a game with 3 states and 3 messages can be challenging for decentralized a

[2020-07-03 03:49] jhtschultz commented on #251
As part of the Hearts project, we implemented the classic card game Hearts in OpenSpiel, open sourced the current state of the art Hearts program xinxin (https://github.com/nathansttt), and built an interface that allows xinxin to play as an OpenSpiel bot.

Example OpenSpiel Hearts state:
<img width="167" alt="Screen Shot 2020-07-02 at 10 25 24 PM" src="https://user-images.githubusercontent.com/39

[2020-07-03 05:07] ElnazDavoodi commented on #251
We worked on Public states sub-API to add factored-observation support. In imperfect information games, each agent gets different private information, as well as some public information. The agent's observation is factored to "private observation" and "public observation". During an imperfect information game, each agent should have a non-empty "private observation" at some states (e.g. in Kuhn-po

[2020-07-03 05:59] lanctot commented on #251
Hi all,

So other than importing PRs and running stuff, I managed to get a small but fun thing done: progress on CFR's empirical convergence outside two-player zero-sum games.

I had previously implemented the `EFCCEDist` and `EFCEDist` functions in `algorithms/corr_dist.*` to be analogues of NashConv: distances to extensive-form coarse-correlated equilibria (EFCCE) and to extensive-form correlate

[2020-07-03 06:25] BedirT commented on #251
Hi all,

I took the first steps on modified AlphaZero. I added the first version for alpha-beta search functionality instead of MCTS on AlphaZero. The main idea is to be able to compare the results and see the differences between the search methods. The policy is not used in the search yet (to be added), for now only values are used. It is significantly slower, and depth limited, therefore I could

[2020-07-03 07:26] michalsustr commented on #251
I worked with Elnaz on adding support for factored observations, which are the basis of the [Factored Observation Games (FOG) formalism](https://arxiv.org/abs/1906.11110). We implemented factored observations for Kuhn Poker with arbitrary number of players. We added a special `PublicState` interface and implemented it for Kuhn Poker as well. See [Public State API](https://github.com/deepmind/open_

[2020-07-03 13:25] findmyway opened #283 "Inconsistent length of `LegalActions` and `LegalActionsMask` for chance nodes"
For example, in the game `kuhn_poker`, the `LegalActions` of the first chance node is `[0,1,2]`, while the `LegalActionsMask` fallbacks to the default implementation and returns `[1,1]`. Is this expected? (If so, does it mean that I should always rely on `LegalActions` instead of `LegalActiosnMask` for chance nodes?)

[2020-07-03 13:29] lanctot commented on #283
Hi @findmyway , no this is not expected, pretty sure is a bug. Can you confirm, @jblespiau ?Thanks for finding.

We introduced that function as a helper for neural net experiments so we likely only thought about it at decision nodes and mistakenly did not support it properly at chance nodes.

Can I ask you to submit a fix?

[2020-07-03 14:51] mrdaliri commented on #172
**New updates:**

I re-compiled TF_CC with a modified version of Tensorflow 2.2 ([here](https://github.com/mrdaliri/tensorflow/tree/r2.2-no-protobuf)). I added `*protobuf*;` to `tensorflow/tf_version_script.lds` which (I think) will include the bundled protobuf library in resulting `.so` file. So there is no need to externally compile, install and link protobuf.

It also eliminates all errors with

[2020-07-03 15:46] mrdaliri commented on #251
Hi,
During Extravaganza, I worked on getting C++ AlphaZero to work externally. The current version of AlphaZero is implemented using Tensorflow, which is known to have a tricky C/C++ API.

After many trials and errors, and with the help of many great people, I was able to fix all compile and linking errors for all four TF/C++ targets of OpenSpiel (`alpha_zero` library, `vpnet_test`, `alpha_zero_ex

[2020-07-03 16:07] flostim commented on #251
Hi,

I spent most of the Extravaganza adding a GUI for Skat and Hearts in the soon to be released OpenSpiel GUI framework. They allow you to play the games against bots and see all the observations that a bot would see. Additionally they can be used to review games played by bots.

**Skat:**
![skat-screenshot](https://user-images.githubusercontent.com/11563594/86485057-a23a0980-bd4f-11ea-9c8d-f21b

[2020-07-04 00:04] jeremysalwen commented on #172
Hello all, I am on Debian 10, and I was able to get the tensorflow_cc_test from [mrdaliri's comment](https://github.com/deepmind/open_spiel/issues/172#issuecomment-649193062) (commit 9ebbf6bb) building and running on my machine. (Fresh install of cuda 10.2 with cudnn 7.6.5.32, tensorflow_cc v2.2.0, libprotobuf-dev and protobuf-compiler 3.6.1.3-2)

However, when I update to the latest  az_cpp_cmake

[2020-07-04 01:27] mrdaliri commented on #172
Hi @jeremysalwen,
Thanks for testing it out!

You need to modify `tensorflow/tf_version_script.lds` and rebuild your tensorflow_cc. You can switch to [my fork of tensorflow_cc](https://github.com/mrdaliri/tensorflow_cc) (branch `mrdaliri-tf-mirror`), which is connected to [my Tenorflow fork](https://github.com/mrdaliri/tensorflow) (branch `r2.2-protobuf`). Then run CMake for TF_CC with an extra fl

[2020-07-04 06:44] jeremysalwen commented on #172
Hi @mrdaliri I was able to build and install tensorflow_cc using your modified version of tensorflow.  I was then able to build open_spiel, but running the vpnet_test fails with

[code]

I tried uninstalling my libprotobuf-dev debian package, but then openspiel refuses to compile at all (cmake complains) do you have further modifications to open_spiel to address this?

[2020-07-05 09:47] andrschl commented on #270
Thanks a lot for this and sorry for my late answer. For time reasons we did it quickly on the python side. However, I started with (deep) Minimax-Q and plan to submit a PR for that as soon as it works (sometime next week hopefully) :)

[2020-07-05 13:13] lanctot commented on #270
Great. Turns out I might add LP solving support on the C++ side myself soon, some time in the next month or so. I will keep you posted.

[2020-07-06 01:30] michalsustr opened #289 "coor_dist_test results in segmentation fault"
Running on #8c8e0863 I get segmentation fault: (clang-9 compiler)
[code]

[2020-07-06 01:35] michalsustr commented on #289
Hmm, seems I rushed the reporting. Somehow I created this problem.

[2020-07-06 01:35] #289 closed

[2020-07-06 03:58] #251 closed

[2020-07-06 04:25] jeremysalwen opened #291 "More sophisticated state representation for e.g. Policy Gradients"
As far as I can tell, in most of the cases where neural nets are used as part of a learning algorithm, the structure of the neural network is basically specified by the algorithm class, with only basic tunable knobs (e.g. [hidden_layer_sizes](https://github.com/deepmind/open_spiel/blob/754e0d7f32d87115f58b811e6b2db1954dfc080e/open_spiel/python/algorithms/policy_gradient.py#L105) for policy gradien

[2020-07-06 13:39] lanctot commented on #291
Hi @jeremysalwen ,

We have `ObservationShape` to specify the shape to reshape the observations into planar form for e.g. convolutional networks. Several of the perfect info games are laid out in planar form that allows one reshape on the python side (see Breakthrough, Tic-Tac-Toe).

The action space one has come up a number of times, and I even started writing it, e.g. a tensor-based action space

[2020-07-06 13:44] lanctot commented on #269
@qmaai did you see Paul's response that joint probabilities are not yet possible in the v2 example?

Shall we close this or is there continued work being done on it? @PaulFMMuller shall we raise an exception informing the user in this case?

[2020-07-06 20:31] lanctot opened #292 "Julia test error"
Hi @findmyway I am having a problem in the Julia tests on Travis that I cannot reproduce locally, details here: https://travis-ci.org/github/deepmind/open_spiel/jobs/705469596

Any ideas?

[code]

[2020-07-06 20:36] lanctot commented on #292
`gc.c` must be garbage collection?

Do you think it's a memory issue? I will try running some memory checks on our side.

[2020-07-06 22:09] lanctot commented on #292
Hey Jun,

- I just triggered a new build and it passed.
- I just discovered that we have a few memory errors. So this could very well be on our side, sorry. I will continue to investigate and close this if indeed it's no longer a problem.

[2020-07-07 03:08] BedirT opened #293 "Build error on Linux"
I get a build error on my machine, I updated cmake and clang thinking they might be the issue, but apparently not.

Any idea what might be causing this?
[code]

[code]

[2020-07-07 03:15] jeremysalwen commented on #291
Thanks @lanctot

A few notes:
1. Adding more structure to the observations would not necessarily require changing the existing API, just adding additional data.  Just like the ObservationShape allows the algorithm to reshape the observation tensor before passing it to the NN, additional metadata could allow it to use the exact same observation tensor in a more principled way.  For example, I could

[2020-07-07 05:45] michalsustr commented on #293
What version is your compiler? gcc >=7.5 and clang >=6.0 work fine for me. Maybe some older C++ standard does not support inline strings?

[2020-07-07 05:56] michalsustr commented on #291
I like the first suggestion, i.e. add some TensorStructure. There can be a default neural encoder implementation (for the ML framework of choice) that takes the tensor structure as input and creates an "observation head" for the game.

[2020-07-07 05:59] michalsustr commented on #291
It is worth thinking about also how to deal with the different kinds of observations. Right now, there is InformationState/Observation/PublicObservation/PrivateObservation. Each of them provides a string and a vector of doubles for tensor observations (except the last two ones because we don't have the use case yet). It just starts to feel quite crowded :)

[2020-07-07 06:54] BedirT commented on #293
Amazing! Thanks, I thought my clang was latest version, just realized that apt is not actually giving me the latest update. Thanks it's fixed now @michalsustr

[2020-07-07 06:54] #293 closed

[2020-07-07 09:02] PaulFMMuller commented on #269
Hey @qmaai ,
I ran the example with --rectifier="rectified" and didn't encounter an issue ; did you add any other flag, or do something else ?
If so, and it's not supported yet, please don't hesitate to make a contribution :)
Otherwise, if there's something I've missed, please don't hesitate to send the entire launch command so I can reproduce the bug.

[2020-07-07 18:07] lanctot commented on #292
I pushed an update that included a number of memory fixes and the Travis tests passed. I believe this was likely not the fault of the Julia API, so I am closing it.

[2020-07-07 18:07] #292 closed

[2020-07-08 03:42] lanctot commented on #291
These are all great ideas. I agree it can be done without changing the existing core API.

I think one thing that needs to be mentioned is the trade-offs between appealing to the masses and just doing what you need to do to get your own research done. OpenSpiel was designed in a way to make it easy to just tack-on what you need or change something you don't like without ever giving back, and that'

[2020-07-08 09:34] jeremysalwen commented on #291
@lanctot I certainly am open to the idea of implementing the code.  I am not sure if I can commit to longer term maintenance, but I expect that either this feature will gain traction with other users, or if not, it could be removed easily.

1. **Algorithm-independent.** 100% on board here.
2. **Easy C++ / Python inter-operability** I am not so familiar with how python bindings interact with the va

[2020-07-08 13:15] lanctot commented on #264
Fixed now by https://github.com/deepmind/open_spiel/commit/f67f3e65b1c66fe3a2291cf555957e9378a29456

[2020-07-08 13:15] #264 closed

[2020-07-08 13:22] lanctot commented on #172
@mrdaliri could you add a section to the AlphaZero README.md describing the steps necessary to compile and run TF within OpenSpiel?

Actually it could even be a separate independent doc (because maybe it will come up again in different contexts) and for now we can link from the AlphaZero doc and in the header of tf_trajectories.

[2020-07-09 13:09] lanctot opened #295 "Ubuntu 20.04 Docker container"
Hi @yarncraft, we now support Ubuntu 20.04. Would you like to add it back to the Dockerfile and run the tests to ensure that it works?

[2020-07-09 16:28] lorrp1 opened #296 "[Request] Guide that explain how to create a new game."
hello, im trying to understand how to modify an existing game, but from the spiel.h i cant figure out how many functions works and the requirement for the different gameType (whats is needed for a kSimultaneous vs kSequential for example).
could you provide a simple guide at least to explain in detail how to create a game?

from spiel.h:

  // Which type of information state representations are su

[2020-07-09 17:07] findmyway commented on #296
1. Determine the [`GameType`](https://github.com/deepmind/open_spiel/blob/a651ce7fbea858b0be2db98afabb49f7c830d904/open_spiel/spiel.h#L72-L116) and [`StateType`](https://github.com/deepmind/open_spiel/blob/a651ce7fbea858b0be2db98afabb49f7c830d904/open_spiel/spiel.h#L153-L158) of the environment you want to implement.
    - The `provides_*` usually mean that the related function is optional and you

[2020-07-09 17:43] mrdaliri commented on #172
Hi @lanctot,
By "compile and run TF **within** OpenSpiel", you mean to download/compile/install and TF (and Protobuf, if needed) just like an external library in a way that we have currently for Eigen and others? So far, I compiled and installed them externally (out of OpenSpiel) and then linked the installed shared libs with CMake.

[2020-07-09 18:29] lanctot commented on #172
Yes basically something tidy that people can read and follow to reproduce your success in getting this to work.

[2020-07-09 20:03] lanctot commented on #296
Hi @lorrp1 , best thing to do is read the paper: https://arxiv.org/abs/1908.09453. Then read comments, then if you're still not sure, just ask! We don't bite. :)

On first pass, you can omit all `InformationStateString`, `InformationStateTensor`, `ObservationString`, `ObservationTensor` (and set all their respective `provides_` in the game type to be false). These are really the last things you ne

[2020-07-09 20:04] lanctot commented on #296
BTW I replied assuming you've seen the "Adding a Game" section of this page: https://github.com/deepmind/open_spiel/blob/master/docs/developer_guide.md

If not, that's a great place to start!

[2020-07-09 20:27] mrdaliri commented on #172
Sure. I'll make a pull request so you can try it out before adding it to master.

[2020-07-09 21:00] mrdaliri commented on #172
Hi @jeremysalwen, if you have built and installed the modified version of TF, you don't need external Protobuf anymore. Please check out my latest commit on [`az_cpp_cmake` branch](https://github.com/mrdaliri/open_spiel/tree/az_cpp_cmake). It removes protobuf from CMake file.s

[2020-07-13 14:53] lanctot commented on #295
@yarncraft what do you think?

[2020-07-13 15:18] DennisSoemers opened #298 "[Question] REGISTER_SPIEL_GAME and GameType in parameterised games"
What should I do about `REGISTER_SPIEL_GAME` and `GameType` in parameterised games, where different `GameParameter` selections should lead to different values for some of the `GameType` variables?

For context: I'm thinking here of (finally) continuing the [Ludii general games wrapper](https://github.com/deepmind/open_spiel/issues/39). Ludii has hundreds of games implemented. My thinking was, Open

[2020-07-13 15:29] lanctot commented on #298
Hi Dennis,

Yes I'd prefer a single `LudiiGame` game and single game type. I would recommend setting the defaults parameter values to something that makes sense for a specific game (e.g. TicTacToe) and just putting a comment that these values will depend on the game and be changed when the game instance is created. You can also go the route of having non-mandatory parameter values without any defa

[2020-07-13 16:48] lanctot commented on #250
Hi @mpflanzer , do you still have any questions about implementation? If not, shall we close this for now? (Feel free to re-open if you have more questions).

[2020-07-13 16:48] #250 closed

[2020-07-13 17:54] yarncraft commented on #295
Hello Lanctot, sorry for the late reply, had a busy week. I will submit a PR with the updated OS tomorrow!

[2020-07-13 18:26] yarncraft commented on #295
https://github.com/deepmind/open_spiel/blob/6172b9a72bd5d08dd5bfddbe0a0847b31cfb4ecf/open_spiel/scripts/install.sh#L206

I have tried to run it but I have the following remark:
The installation of the dependencies on line 206 of _install.sh_ should support container (headless) creation through `apt-get -y install`. Since, _in principle_, no user interaction is expected when pulling container image

[2020-07-13 18:58] lanctot commented on #192
Dear @Inujal , I have had some discussions with our legal team. Would you be able to meet to discuss over a this at some point soon? And, are you in CET?

[2020-07-14 06:21] Inujal commented on #192
Hey, yes that should be possible. I am currently writing exams but I am sure I will find some time in between. I live in Germany so yes I am in CET.

[2020-07-14 11:32] lanctot commented on #192
No rush, I am 8 hours behind you. So most convenient time would be around 5 or 6pm CET unless you want to talk at night e.g. 8 or 9pm.

Just let me know when is mosy convenient for you.

[2020-07-14 16:36] Inujal commented on #192
I could do 6 pm CET on Wednesday and Thursday.

[2020-07-15 02:25] lanctot commented on #192
Cannot do Wednesday. Will follow up by email, thanks.

[2020-07-15 03:31] wyz2368 opened #299 "Building From Source Error"
Dear authors,

We met an installing issue when building Openspiel from source. We first created an environment and then run the following commands in the Openspiel directory.

mkdir build
cd build
CC=/sw/arcts/centos7/gcc/9.2.0/bin/gcc CXX=/sw/arcts/centos7/gcc/9.2.0/bin/g++ cmake -DPython_TARGET_VERSION=3.6 -DCMAKE_CXX_COMPILER=/sw/arcts/centos7/gcc/9.2.0/bin/g++ ../open_spiel
make

The version a

[2020-07-15 03:46] lanctot commented on #299
Hi @wyz2368 , I am guessing that this is a g++ vs. clang++ thing.. or possibly that you need to add -std=c++17 ? Or maybe they have different default flags; e.g. you can probably disable this check somehow.

@michalsustr: you recently compiled with g++... can you check if observation_history compiles works under g++? Also, can we just rename these functions to GetAction and GetObservation to avoid

[2020-07-15 08:47] michalsustr commented on #299
Hi @wyz2368 I created a PR #303 that should fix this, you can merge it in the meantime before it gets into master (probably on Monday).

@lanctot Yeah I just renamed it. I started using clang++ recently, I didn't check in g++. I just thought -- maybe Travis could be set up to support both?

[2020-07-15 16:21] lanctot commented on #299
Sure, makes sense, would be good that we can get flagged when g++ fails. Feel free to add it!

[2020-07-15 18:20] alextrudeau commented on #172
Hi @mrdaliri, when do you think your fixes will be pushed to master in OpenSpiel? Will there also be documentation explaining how to properly compile an AlphaZero instance with the fixes?

Thanks!

[2020-07-15 18:33] wyz2368 commented on #299
Thanks @lanctot @michalsustr ! The compile issue was resolved. But the second issue still exists. That is, the pyspiel is not installed after "make". There is no error reported during "make". When I run "ctest" after "make", only 87 test cases are there in total. But when I try to build OpenSpiel from source on my Mac (running ./open_spiel/scripts/build_and_run_tests.sh with clang), there are 158

[2020-07-15 18:49] wyz2368 commented on #299
For example, after "make", import pyspiel would fail because package pyspiel does not exist. Same issue would appear when I manually run, for example, dqn_test.py.

[2020-07-15 19:05] lanctot commented on #299
Hmm.. something is majorly wrong, I suggest you simply start over from scratch: `rm -rf build venv` then rerun everything from the start.

Possibly you have BUILD_WITH_PYTHON set to off somewhere in your environment. Maybe try adding `BUILD_WITH_PYTHON=ON` manually to the cmake command.

[2020-07-15 20:41] wyz2368 commented on #299
Thank you very much @lanctot ! Everything back to normal after adding BUILD_WITH_PYTHON=ON.

Another warning related to the g++ is

'''
In file included from /home/wangyzh/open_spiel/open_spiel/python/pybind11/bots.cc:29:
/home/wangyzh/open_spiel/open_spiel/../pybind11/include/pybind11/cast.h:398:31: warning: declaration of ‘bool pybind11::detail::isinstance_generic(pybind11::handle, const std::ty

[2020-07-16 02:30] lanctot commented on #299
Hi @wyz2368 , no problem. Actually, I figured out why you ran into this problem: we accidentally disabled the Python build by defealt when you build without using `build_and_run_tests.sh` script because it is set when sourcing `global_variables.sh`.

This is a bug, so we'll fix it. It'll go get merged on the next update. After that you should not need to explicitly used BUILD_WITH_PYTHON. Thanks f

[2020-07-16 02:42] wyz2368 commented on #299
Thanks for your help, very appreciated!

[2020-07-20 16:02] #299 closed

[2020-07-20 16:02] #283 closed

[2020-07-20 19:56] lanctot commented on #296
Hi @lorrp1 , did you find what you needed? Any more questions for us?

[2020-07-20 19:56] #298 closed

[2020-07-20 19:57] lanctot commented on #276
Closing this since it's actively being working on in https://github.com/deepmind/open_spiel/pull/279

[2020-07-20 19:57] #276 closed

[2020-07-20 19:58] lanctot commented on #275
Closing as I feel it is resolved, please reopen if necessary.

[2020-07-20 19:58] #275 closed

[2020-07-20 19:59] lanctot commented on #243
Hi @ravigupta2323 , just wondering if your issue has been addressed? Happy to discuss further, but the last response was one month ago. Prefer to close and re-open if/when we have more to talk about.

[2020-07-20 20:00] lanctot commented on #149
Closing this as we are actively integrating https://github.com/deepmind/open_spiel/pull/222

[2020-07-20 20:00] #149 closed

[2020-07-20 20:15] ravigupta2323 commented on #243
Hey, sorry for not updating. I tried to implement the game transform but I realised I didn't fully understand what to do and am caught up in exams rn.

You can close the issue now, I'll reach out again if I need any help.

[2020-07-20 20:46] lanctot commented on #243
Sounds good, thanks!

[2020-07-20 20:46] #243 closed

[2020-07-21 12:27] lanctot commented on #269
Hi @qmaai just wondering if this has been resolved for you? If so I am inclined to close this issue for now. Let us know, thanks.

[2020-07-21 12:29] lanctot commented on #270
Hi @andrschl I feel this is mostly resolved so I will close this now. Please feel free to reopen if you have more questions, and I will follow-up when I have added C++ LP code.

[2020-07-21 12:29] #270 closed

[2020-07-21 20:03] mrdaliri commented on #172
Hi @alextrudeau,
Please see my latest PR (https://github.com/deepmind/open_spiel/pull/307). It includes instructions for building against TensorflowCC, in an easy way!

[2020-07-21 22:05] rezunli96 opened #308 "The L2-projection operator in projected replicator dynamics"
This might be a minor issue. I found in [projected_replicator_dynamics.py, line 57](https://github.com/deepmind/open_spiel/blob/e87fe7beef3c698e334704ee570eaf09b9159a40/open_spiel/python/algorithms/projected_replicator_dynamics.py), the L2-projection operator is implemented as
[code]

I think this is not quite aligned with the [original definition (Sec 3.1)](https://arxiv.org/pdf/1711.00832.pdf),

[2020-07-22 11:35] PaulFMMuller commented on #308
Hi @rezunli96 , thank you very much for the fix !
Indeed, I hadn't taken the time to do a proper L2 projection (As mentioned in the comment) ; thank you for taking care of this !

Out of curiosity, I've tried a vectorized version of this code, it must be the first time I see a for loop faster than numpy-vectorized code in Python, well done !
Please don't hesitate to put it in a pull request and ad

[2020-07-22 13:07] rezunli96 commented on #308
Hi @PaulFMMuller , please expect a pull request [here](https://github.com/deepmind/open_spiel/pull/309). Thanks.

[2020-07-23 20:56] #296 closed

[2020-07-23 20:57] #269 closed

[2020-07-27 20:43] andrschl commented on #270
Hi @lanctot, sorry for my late anwer! So far I have some first implementation of tabular minimax q. However, training didn't seem to be really working and then holidays came in between :) As soon as time permits I will review the code and if I manage to make it train properly I could submit a PR if this is still of interest.

[2020-07-28 03:20] lanctot commented on #270
It is certainly still of interest! I also have LPs on the C++ side planned, but keeps getting bumped :)

[2020-07-28 04:06] lanctot commented on #270
But there is no rush, and no expectations about time, so whenever you manage that is great. Would really love to see MinimaxQ in the algorithms, it's classic multiagent RL!

[2020-07-31 15:41] lanctot commented on #192
Let's keep in touch by email and voice calls on this point, thanks. Closing for now.

[2020-07-31 15:41] #192 closed

[2020-08-01 04:04] #195 closed

[2020-08-01 04:06] lanctot commented on #291
@jeremysalwen you might be interested in the latest commits. @elkhrt has designed a new observation API that allows for richer representations. It does not touch everything you've brought up, but certainly some of the points about the observations. I can let Ed say more.

[2020-08-01 04:08] lanctot commented on #295
Hi @yarncraft sorry for the delayed reply! Yes, absolutely, we should just add the `-y` at that spot, I agree.

[2020-08-01 13:56] andrschl commented on #270
Ok great. In this case I'll stay on it!

[2020-08-01 16:17] elkhrt commented on #291
I've added structure to observations, currently only for Kuhn poker, leduc
poker, and coordinated matching pennies. But it's easy(ish) to add more.
Probably best to check out the update on Monday (I suggest looking at the
leduc playthroughs as a good starting point). Let me know what you think
and if you have any questions.

I haven't addressed structure in the action space at all. We could
static

[2020-08-09 15:34] gsdt opened #315 "[question] how to save and load trained model?"
For example:
In file `open_spiel/python/examples/tic_tac_toe_dqn_vs_tabular.py`
I would like to save trained agents:
[code]
How to save dqn_agent?

[2020-08-09 17:02] lanctot commented on #315
Unfortunately DQN does not support that yet. However, it should be relatively easy to do by using savers similar to NFSP and policy gradients (see `nfsp.py` and `policy_gradient.py`).

It would make a nice contribution. If you do this, it would be great to submit a PR so everyone benefits!

[2020-08-09 23:07] chiggy2402 opened #316 "Implementation of Thresholding of Gradients -NeuRD"
I was working with `open_spiel/open_spiel/python/algorithms/neurd.py` and was trying implement thresholding part in my version of Gradient Update. However it seems like the Remark in the NRD paper about the gradient clipping and it's implementation in OpenSpiel don’t quite match up.  In particular the latter just checks whether the logit is already too large and then zeros out the gradient if it i

[2020-08-10 02:34] lanctot commented on #316
HI @chiggy2402, the implementation used for most of the experiments in the paper was not open-sourced. I believe this one was used for the convergence over time comparison to SPG in Leduc poker.

@dmorrill10, can you say more?

Btw you might also be interested in this discussion among the main authors: https://github.com/deepmind/open_spiel/issues/148

[2020-08-10 19:20] dmorrill10 commented on #316
Thanks for the question, @chiggy2402, and thanks for the ping @lanctot.

The remark at the end of page 5 and the beginning of page 6 on [the most recent version of the paper on arXiv](https://arxiv.org/pdf/1906.00190.pdf) states that the gradient is thresholded before the update as the code describes (clears the update to zero if the unthresholded gradient update would make the magnitude of the lo

[2020-08-10 20:55] lanctot commented on #316
Quick comment: I had a chat about this with @perolat and he said it was consistent with what `neurd.py` does. I've asked him to elaborate.

[2020-08-11 16:34] perolat commented on #316
Hi all,

`
def apply_force_with_threshold(decision_outputs, force, threshold):
  can_decrease = tf.cast(tf.greater(decision_outputs, -threshold), tf.float32)
  can_increase = tf.cast(tf.less(decision_outputs, threshold), tf.float32)
  force_negative = tf.minimum(force, 0.0)
  force_positive = tf.maximum(force, 0.0)
  clipped_force = can_decrease * force_negative + can_increase * force_positive
  r

[2020-08-11 16:36] lanctot commented on #148
Hi @sullins2, @perolat has posted a copy of the code we used for the paper experiments, see here: https://github.com/deepmind/open_spiel/issues/316#issuecomment-672074701

[2020-08-11 17:14] sullins2 commented on #148
Thanks for the heads up @lanctot and thanks for posting it @perolat

[2020-08-12 03:46] jeremysalwen commented on #291
Thank you for keeping me updated.   I have been busy with a move, but I have not lost interest and I will take a look in a week or two!

[2020-08-13 18:48] chiggy2402 commented on #316
Thanks for your quick replies @dmorrill10 @lanctot @perolat . I understand the code implementation. However, I am still not sure if it matches the remark in the recent version of paper.

1. Do you consider` z = y ` (as seen in the algorithm 1, line 10) or `z = y * (q - v) ` ( as seen in the remark's theta update equation)?

2. Is the thresholding applied before the update ` z(θ) ∈ [−β, β)` (as see

[2020-08-13 19:02] dmorrill10 commented on #316
The pseudocode update does not contain the threshold operation. Line 10 is swapped out for the second line of math in the remark at the start of page 6. The parameters are adjusted according to the `hat{nabla}` function, which is the thresholded gradient function. So the dot product of the logits and the regret becomes the `z(theta)` parameter of `hat{nabla}`. `hat{nabla}` computes the gradient of

[2020-08-14 17:06] chiggy2402 commented on #316
Ok. So I understand that you consider` z = logits * regret `which is used to compute the clipped gradient and then finally you update the parameters. However, can you explain why the paper says `z(θ + η∇z(θ)) ∈ [−β, β)` ? Shouldn't it be `z(θ) ∈ [−β, β)`?

[2020-08-14 17:57] dmorrill10 commented on #316
Oh, thanks, I think you're right that there is a mistake there but it's a little different from your suggestion. `hat{∇}` needs to take the logits and regrets as separate arguments and return the gradient of the logits dot regrets times the indicator that the *logits* are in `[−β, β)`. So `hat{∇}(y, r, η, β) = η∇<y, f(r, y, β)>` where `f(r, y, β) = r I{y ∈ [−β, β)}`. @perolat, can you crosscheck t

[2020-08-15 04:51] alextrudeau opened #318 "Processes Not Joining Properly In Python AlphaZero Implementation"
I've been trying to perform a parameter sweep for AlphaZero in Connect Four and added some loops to open_spiel/python/examples/alpha_zero.py to do so. However, once AlphaZero is finished training with the first set of parameters, the program stops. I've spent today debugging and it seems like the actor and evaluator processes aren't joining properly. I get the following logging:

learner exiting
a

[2020-08-15 11:18] lanctot commented on #318
@tewalds @sbodenstein, any ideas?

[2020-08-15 17:29] akileshbadrinaaraayanan commented on #68
Hi @griprox did you have any success in training A2C agents on Hanabi either in your own implementation or using Open Spiel. If so, do you mind sharing the results?

[2020-08-16 21:58] chiggy2402 commented on #316
Thanks for the clarification.

Can you explain as to why you have z(θ + η∇z(θ)) ∈ [−β, β) inside the indicator? Shouldn't it be z(θ) ∈ [−β, β)?

[2020-08-17 14:40] lanctot commented on #308
Fixed by https://github.com/deepmind/open_spiel/pull/309, thanks!

[2020-08-17 14:40] #308 closed

[2020-08-18 16:13] akileshbadrinaaraayanan opened #320 "Build failure in install_open_spiel.ipynb colab"
Hello,

The "Build Open Spiel" sub-section inside the Colab fails since some time with the below error:

[code]

[2020-08-18 17:31] lanctot commented on #320
Hi @akileshbadrinaaraayanan , thanks for letting us know.

I would need to see more than this, though-- seems like the actual cause is getting cut off. Do you still have it?

We've have some problems with the build over the past few days from a few bad updates, which are now fixed. When did you try? I suspect this is almost certainly the cause.. you might need to pull from master again (maybe via

[2020-08-18 17:42] akileshbadrinaaraayanan commented on #320
Hi @lanctot , thank you very much for your prompt response.

Sure, that makes total sense (my bad!). I'm posting the complete message. Below is the log from my try at the moment.

[code]

[2020-08-18 18:08] lanctot commented on #320
Hmm, ok that seems like a deeper issue to me. Odd, it compiles fine internally and it just passed the Travis-CI tests an hour ago. There must be a discrepancy in the build environment on the colab systems.

@elkhrt @michalsustr @dhennes , any ideas what could be the cause?

[2020-08-19 15:36] sullins2 commented on #320
I have the same error. It was working two days ago so I suspect it is a recent change that did it.

[2020-08-19 15:54] lanctot commented on #320
We think we know the cause. The colab hosts have an old version of clang so we have been unable to reproduce on our end. But we are looking into it, though, and will try to get it fixed as soon as we can.

[2020-08-20 12:09] dhennes commented on #320
Hi @akileshbadrinaaraayanan, @sullins2
Until this is fixed, you can get OpenSpiel to build in Colab by installing a recent version of clang:
Just add the following to a cell of your notebook and run it before you build:
[code]
You also need to pass the correct flag to cmake in the "Build `open_spiel`" section (specially, change the line that starts with `CXX=clang++ ...`):
[code]

[2020-08-20 13:29] sullins2 commented on #320
Thanks @dhennes

[2020-08-20 13:54] elkhrt commented on #320
Fix incoming.

[2020-08-20 13:54] #320 closed

[2020-08-24 08:56] lanctot commented on #65
We have added this now: https://github.com/deepmind/open_spiel/commit/e73a69ce76d70791ef42f493a4f1721750d13b7d

Disabled by default, requires changing `BUILD_WITH_GAMUT` in `scripts/global_variables.sh`.

[2020-08-26 12:43] ekaradon-Alexander opened #321 "Compile error in docker"
Host OS:

- macOS Catalina 10.15.6
- Docker 19.03.12

Run command:
[code]

Error message:
[code]

[2020-08-26 14:09] lanctot commented on #321
Ah yes, we fixed this recently on the colab hosts as well. It is caused by old old version of Clang that ships with Ubuntu 18.04. It is not caught by our Travis-CI tests because they use a newer version of clang.

I think the quick fix is to simply move to Ubuntu 20.04. That involves changing two lines in the Dockerfile:
1. Change the first line of the Docketfile to 20.04.
2. You also have to remo

[2020-08-27 10:50] lanctot commented on #321
I have fixed this and will be syncing to github shortly, thanks for reporting.

[2020-08-27 10:56] #321 closed

[2020-08-27 10:56] lanctot commented on #295
Fixed by https://github.com/deepmind/open_spiel/commit/ddce79d1988370ee0b358ddbf03bc3811c8802d7

[2020-08-27 10:56] #295 closed

[2020-08-30 20:52] akileshbadrinaaraayanan opened #322 "Queries regarding installation"
Hi there,

I am trying to set up Open Spiel on a cluster in which I don't have sudo access following the installation instructions specified in https://github.com/deepmind/open_spiel/blob/master/docs/install.md.

The first step requires running `install.sh` which tries to install the external dependencies specified in https://github.com/deepmind/open_spiel/blob/master/open_spiel/scripts/install.sh

[2020-08-31 03:14] #322 closed

[2020-08-31 07:36] lanctot commented on #322
Hi @akileshbadrinaaraayanan , did you manage to get it to work?

There are no real steps that truly _require_ root access, but the ones installed by apt-get are standard parts of Linux distributions, the easiest for them would be to point your cluster's system administrators to that one line asking them to install them (if they are not already installed, I suspect they are already).

The git depen

[2020-08-31 21:21] akileshbadrinaaraayanan commented on #322
Hi @lanctot , partially yes. I created a new conda environment with `python 3.6.9` (following the version in colab) and set up the git dependencies after cloning OpenSpiel. I installed the python packages in EXT_DEPS through pip. From the colab I can see the `clang` version is 9, so I ended up installing `linux-64/clang-9.0.0-default_hde54327_4.tar.bz2` from https://anaconda.org/conda-forge/clang/

[2020-08-31 22:17] lanctot commented on #322
Hmm, all those tests seems to use either TF or cvxopt. Is there a way to test your python installation to see if it can import tf or cvxopt? Perhaps the pip dependencies silently failed?

[2020-08-31 22:39] akileshbadrinaaraayanan commented on #322
Wow, great catch! cvxopt seems to be fine, import tensorflow fails with Illegal instruction (core dumped)

[2020-09-01 11:58] awesomettt opened #325 "installation error"
Hello，
When I follow the detailed steps, some errors occured. When I run 'make -j$', the following error occurred.

My environment：
ubuntu 16.04.12
gcc 5.4.0
python 3.6.5

Error message:
In file included from /home/wuqi/wt/open_spiel/open_spiel/../open_spiel/game_parameters.h:23:0,
                 from /home/wuqi/wt/open_spiel/open_spiel/../open_spiel/spiel.h:36,
                 from /home/wuqi/

[2020-09-01 13:22] lanctot commented on #325
Hi @awesomettt,

I am guessing it's because the compiler is too old. We only officially support clang 9. If possible I would suggest upgrading to Ubuntu 18.04 or 20.04 but you can also install clang 9 on 16.04 by following this guide: https://justiceboi.github.io/blog/install-clang-9-on-ubuntu/

Let us know!

[2020-09-01 13:32] lanctot commented on #325
Looking more closely, seems like `-Wno-everything` had just not been invented yet, maybe remove it (from CMakeLists.txt), remove and recreate the build dir, and try again. You might have to disable individual warnings or it might produce a lot of warnings.

[2020-09-01 14:06] akileshbadrinaaraayanan commented on #322
Hi @lanctot , thanks very much for your help. I guess that was an issue pertaining to a particular node. I am now able to import tf and most of the tests pass barring the two. Could it be one of the dependencies again?

[code]

[2020-09-01 14:49] akileshbadrinaaraayanan commented on #322
Nvm, I think setting the PYTHONPATH should solve it. Thanks again.

[2020-09-01 22:40] lanctot commented on #325
@awesomettt , any luck?

[2020-09-02 07:17] awesomettt commented on #325
When I modified the CMakeLists.txt, the warning disappeared but the error remained. I will try it with Ubuntu 18.04. Thank you. @lanctot

[2020-09-02 10:41] xiaowenwenwen commented on #325
@lanctot I followed your advice, it is very nice. When I used the clang9 in Ubuntu 18.04, It was compiled successfully. Only 4 errors appeared in the ctest stage. The errors are as follows.

98% tests passed, 4 tests failed out of 165

Total Test time (real) = 396.83 sec

The following tests FAILED:
	108 - python_neurd_test (Failed)
	121 - python_rcfr_test (Failed)
	151 - python_examples_bridge_su

[2020-09-02 10:44] awesomettt commented on #325
@lanctot I followed your advice, it is very nice. When I used the clang9 in Ubuntu 18.04, It was compiled successfully. Only 4 errors appeared in the ctest stage. The errors are as follows.

98% tests passed, 4 tests failed out of 165

Total Test time (real) = 396.83 sec

The following tests FAILED:
108 - python_neurd_test (Failed)
121 - python_rcfr_test (Failed)
151 - python_examples_bridge_super

[2020-09-03 16:31] gkio opened #326 "static lib compile"
how to compile it as static lib?

[2020-09-03 18:18] Weihnachtshase opened #327 "Installation Errors on Windows"
Hi everyone!

I followed the installation instructions on Windows.
My current specifics are Windows 10 Version 2004 Build 19041.450, running WSL 2 and then Ubuntu 20.04.1 LTS

In the installtion instructions I skipped the part of updating make, because it said it's only necessary with Ubuntu Version 18.04 and I already have 20.04.
Besides omitting this step I followed all instructions. My errors a

[2020-09-03 18:25] elkhrt commented on #327
This probably means you have an old version of clang. What version do you
have installed?

On Thu, 3 Sep 2020, 19:18 Weihnachtshase, <notifications@github.com> wrote:

[2020-09-03 18:28] Weihnachtshase commented on #327
Thanks for the fast reply.

I have clang version 10.0.0-4ubuntu1 (the one that comes per default with the Ubuntu App)

[2020-09-03 18:43] Weihnachtshase commented on #327
To be honest I just recognized, that I wasn't event using clang, since in the installation instructions there is this line:
CXX=g++ cmake -DPython3_EXECUTABLE=$(which python3) -DCMAKE_CXX_COMPILER=g++ ../open_spiel

I now simply replaced the 'g++' for 'clang' in the above line and ran 'make -j$' again and it runs much longer. But at about 51% it gives mit a ton of output, that ends with:

/usr/bin

[2020-09-03 19:37] lanctot commented on #325
Ok tge first two use some special features of TF. Possibly your version is too old or too new. The third is likely because you did not install jax or dm-haiku. Last on probably PYTHONPATH not setup properly.

Coukd you run the tests manually and post the output?

If those are the only 4 failing I think you wilo mostly ok but can help more if we could see the errors.

[2020-09-03 19:42] lanctot commented on #326
Hi can you be more specific, are you looking for something that builds e.g. a `libopen_spiel.a` ?

[2020-09-03 19:49] lanctot commented on #326
You might be able to achieve this by changing using similar logic to the shared lib here: https://github.com/deepmind/open_spiel/blob/3f79a3c1fb6f39071c48a2fc2e2e7190643094a9/open_spiel/CMakeLists.txt#L267 . You will have to consult the CMake docs but it might be as easy as just replacing `SHARED` with `STATIC`. Then you can build it by prepending the cmake command with `BUILD_WITH_SHARED=ON cmake

[2020-09-03 19:53] elkhrt commented on #327
Ah, sorry - it looks like we haven't updated the Windows installation
instructions.
I suspect you might need to make clean and rebuild everything with clang.

On Thu, 3 Sep 2020 at 19:44, Weihnachtshase <notifications@github.com>
wrote:

[2020-09-03 20:02] lanctot commented on #327
It should be `clang++`. (For the exact command take a look at the manual Linux instructions.)

Can you try `rm -rf build venv` and start everything over with clang++? Some of the build info / filed may have been cached.

[2020-09-03 20:09] Weihnachtshase commented on #327
it is working now
Thnak you very much!

[2020-09-03 20:14] elkhrt commented on #327
Great! If you have time, it would be much appreciated if you could update
the Windows instructions.

On Thu, 3 Sep 2020 at 21:10, Weihnachtshase <notifications@github.com>
wrote:

[2020-09-05 17:33] akileshbadrinaaraayanan commented on #68
Hi @lanctot , is there someone who has trained A2C under self-play setting on Hanabi using Open Spiel. If so, what are the kind of scores to expect and after how many steps. I have a version that's running but that doesn't seem to be learning anything at all.

[2020-09-06 13:48] julianstastny commented on #175
Hi, maybe I am doing something stupid, but for me it doesn't seem to be fixed:

When I run `psro_v2_example.py` with blotto as the game, then regardless of whether I set `symmetric_game` to `True` or `False`, I get the following error:

[code]

So there seems to be an issue with the game being simultaneous. I have the same problem with a (repeated) matrix game I created.

Thanks in advance!

[2020-09-06 17:43] michalsustr opened #329 "Visualize game trees with SpielViz"
Hello, as a small side-kick I made [SpielViz](https://github.com/michalsustr/spielviz). I finally had a free weekend when I could put final things together. Enjoy!

It is based on another open source project which uses LGPL-3, so it cannot be integrated into OpenSpiel. However, if you feel like putting a link to it, I would be happy. :) In the docs there is a mention of publishing pyspiel as a pip

[2020-09-06 18:12] lanctot commented on #329
Hi Michal, thanks for the PR!

In the next couple of months we will do another release, where we include prebuilt dynamically linked libraries supported on Linux x86_64 and (maybe) MacOSX. I already have this working on Ubuntu 20.04, we just have to put a release together, and I want to get LP solving in on the C++ side (via OR-Tools / GLPK) and hopefully merge the C++ Libtorch AlphaZero.

Once th

[2020-09-06 18:15] lanctot commented on #329
Oops I thought it was a PR. Of course we are happy to point to this :) You can submit a PR to link to it whereever you think is most appropriate!

[2020-09-06 19:24] michalsustr commented on #329
Thank you! :) Btw I recently made a PR to pybind and it seems their travis setup is pretty advanced. Maybe there is something useful to be learned from that project, as they deal with bunch of python versions / OSes etc.

[2020-09-07 09:40] julianstastny commented on #175
Update: I was able to "fix" it at least for DQN, by noticing that the problem is that `DQN.step()` returns an empty list when sampling the episode via the abstract_meta_trainer, i.e. that `DQN.step()` calls its else-block. This is because `self.player_id != time_step.current_player()` when calling in abstract_meta_trainer, so I could fix it for my use case by inserting a `or time_step.current_play

[2020-09-07 13:52] michalsustr opened #335 "Question: use case for Observer params?"
Hi @elkhrt , what is the use case for `GameParameters params` in `Game::MakeObserver`? https://github.com/deepmind/open_spiel/blob/master/open_spiel/spiel.h#L792

AFAIK it is currently not used, and these parameters should be accessible via Game::GetParameters(). I think this implies the observer would fill tensors for a different game than is actually played.

[2020-09-07 14:01] michalsustr opened #336 "FYI: public observation for Goofspiel"
FYI I'm currently implementing public observations for Goofspiel.

[2020-09-07 14:02] michalsustr opened #337 "FYI: Base to public state API transformation."
FYI, I'm going to implement Base to public state API transformation.

[2020-09-07 14:18] elkhrt commented on #335
These are params for the observer, not for the game. The type name is
unfortunate.
For example, in bridge one might like to have the option to include
double-dummy results in the observation (or not), which could be controlled
by a flag in here.

On Mon, 7 Sep 2020 at 14:52, michalsustr <notifications@github.com> wrote:

[2020-09-07 14:25] michalsustr opened #338 "Question: redundancy of State::*TensorShape methods"
Now that we have an `Observer` and all `State::*String/Tensor` methods are forwarded to `Observer,` custom `State::*TensorShape` seem redundant. @elkhrt is the plan to get rid of them as well? I think it could be implemented in `Game` as a call to `Observation::tensor_info()` (why the snake_case btw?), something like this:

[code]
where `ComputeShape` will return flat shape if there are multiple t

[2020-09-07 14:44] michalsustr opened #339 "Question: goofspiel state round-robin encoding of NextPlayer"
The observations in Goofspiel are player relative, i.e. the requested player's observation will be at index 0, and the remaining players will be "modulo wrapped around", as in change:

Add ObservationString, ObservationTensor, and ObservationTensorShape to Goofspiel and make both tensors observing player-relative  PiperOrigin-RevId: 283363694 Change-Id: I205363c9d641a574e2018cb9312672c8b15e8d9f

I

[2020-09-07 15:13] elkhrt commented on #338
The default Observer implementation relies on
Game::InformationStateTensorShape et al, so we can't remove them yet. Once
all games use the new style, yes.
Snake case because its an accessor:
https://google.github.io/styleguide/cppguide.html#Function_Names

On Mon, 7 Sep 2020 at 15:25, michalsustr <notifications@github.com> wrote:

[2020-09-08 09:54] michalsustr commented on #335
Makes sense. Maybe it should be renamed then to `Parameter`, and we can keep GameParameter as an alias for backwards compatibility? Also I added a better comment.

[2020-09-08 18:24] michalsustr commented on #338
Makes sense. I added a PR to do this on per-game basis: #346

[2020-09-08 18:24] michalsustr commented on #336
Addressed by #344

[2020-09-08 18:24] #336 closed

[2020-09-08 18:25] #329 closed

[2020-09-08 18:26] michalsustr commented on #339
Concerns #344

[2020-09-08 18:29] michalsustr opened #347 "Feature: named dimensions of shapes"
At some point in the future I'd like to make a neat interface to render `Observer`'s tensor output. While we know the shape sizes, I thought it would be neat to optionally label the individual dimensions, so it is cleared what each represents. What do you think?

[2020-09-08 18:31] michalsustr opened #348 "Feature: automatic encoding and checks of DimensionedSpan"
The Observer's WriteTensor implementations contain boilerplate code for encoding one-hot vector representations. Instead of looping arrays and setting indices to 1 at some places, `DimensionedSpan` could have new methods to accept, check and appropriately copy vectors from which these observations are made. Wha do you think?

[2020-09-08 19:31] elkhrt commented on #347
Sure, nice added extra.

On Tue, 8 Sep 2020, 19:29 michalsustr, <notifications@github.com> wrote:

[2020-09-08 19:32] elkhrt commented on #339
The idea is that there is no difference between p0 and p1 in goofspiel -
it's just an arbitrary labelling that we give the players. So the
observation should be invariant to swapping the player labels (in the 2p
case).

On Tue, 8 Sep 2020, 19:26 michalsustr, <notifications@github.com> wrote:

[2020-09-08 21:41] #347 closed

[2020-09-08 21:43] michalsustr commented on #339
Sure, but it is not invariant in >2p case. I kept it the same, but it is a bit awkward.

[2020-09-09 06:07] elkhrt commented on #339
Thanks! If you have an idea for a representation which is invariant in the
many-player case, please add it.

On Tue, 8 Sep 2020, 22:43 michalsustr, <notifications@github.com> wrote:

[2020-09-09 09:27] michalsustr commented on #339
It would have to be permutation invariant, I think this is something that would have to be done by the neural network model, maybe something like this: https://papers.nips.cc/paper/6931-deep-sets.pdf (just skimmed the paper briefly).

[2020-09-09 09:27] #339 closed

[2020-09-10 13:55] lanctot commented on #326
Any update @gkio ?

[2020-09-10 13:56] lanctot commented on #325
Any update on this @awesomettt  ?

[2020-09-10 20:31] PaulFMMuller commented on #175
Hi Julien,

We're rolling back an older, stronger fix we had let go of in favor of something more nuanced - but that was less tested. Games are now all loaded as turn-based, removing issues with non-sequential games. The fix should be included in the next update.

Tell us if that fixes things on your side (It does on ours). If the turn-based loading is an issue, I'll be happy to review a push requ

[2020-09-11 11:47] lanctot commented on #327
Re-opening to serve as a reminder to fix the Windows installation instructions.

[2020-09-11 16:57] yuhan-zh opened #351 "Build error on Linux (undefined reference to `__vdso_clock_gettime@GLIBC_PRIVATE')"
Hello,
When I follow the Installation Instructions, I faced the following error in "make" period.

Env: Ubuntu 18.04.4 LTS
Python 3.7.7
GNU 7.3.0
Clang 9.0

Error:
/anaconda/envs/py37_default/x86_64-conda_cos6-linux-gnu/sysroot/usr/lib/librt.so: undefined reference to `__vdso_clock_gettime@GLIBC_PRIVATE'
clang: error: linker command failed with exit code 1 (use -v to see invocation)
examples/CMake

[2020-09-14 09:13] #326 closed

[2020-09-14 09:13] #325 closed

[2020-09-14 09:14] lanctot commented on #337
Sounds good!

[2020-09-14 09:14] #337 closed

[2020-09-14 09:23] lanctot opened #352 "Add Klondike to the games list"
Solitaire was recently merged, but was not added to the games list. It should be added to the games list.

[2020-09-15 15:10] yuhan-zh commented on #351
Bug fixed. I manually delete the "/anaconda/envs/py37_default/x86_64-conda_cos6-linux-gnu/sysroot/usr/lib/librt.so" lib address in link.txt, and it worked.

[2020-09-15 15:12] yuhan-zh commented on #351
Bug fixed. I manually delete the "/anaconda/envs/py37_default/x86_64-conda_cos6-linux-gnu/sysroot/usr/lib/librt.so" lib address in link.txt, and it worked. I guess it's caused by some problem of my environment.

[2020-09-15 15:12] #351 closed

[2020-09-18 11:28] lanctot commented on #327
@Weihnachtshase in the end, was it just changing `g++` to `clang++`? Is there any other thing that should be modified in the Windows instructions?

[2020-09-18 12:14] Weihnachtshase commented on #327
Yes it was just that.
Sorrry for not changing the instructions myself, I forogt about that

[2020-09-18 12:31] lanctot commented on #327
No problem. It's a one-line change easy to do on our side!

[2020-09-21 03:21] andrealbh opened #367 "Questions on adding new games"
Hi, I have followed the instructions to copy aa existed game to a new game but when I verified it before modifying, the error message said the newgame i copied is not registered.

[2020-09-21 03:26] lanctot commented on #367
My guess is you forgot to change the unique name somewhere. Is it easy for you to show me your fork or create a PR?

(Probably will only reply tomorrow)

[2020-09-21 03:27] lanctot commented on #367
Wait: you at least need to modify all the names, otherwise it will try to register the same game twice. Did you do that?

Also what executable or test are you running?

[2020-09-21 10:04] #327 closed

[2020-09-21 16:49] #352 closed

[2020-09-23 08:06] #338 closed

[2020-09-23 13:41] andrealbh commented on #367
Thank you for your reply. I have forked the repo and uploaded a new_auction folder containing all related files. To make it more clear I also put the modified CMakeLists.txt and python/tests/pyspiel_test.py in the same folder. The new_auction is modified from first_sealed_auction game. I was doing the step 6, "python3 open_spiel/python/examples/example.py --game=new_auction" and it said it is not

[2020-09-23 13:48] andrealbh opened #372 "problems when installing in Ubuntu 18.04.4 LTS"
Hi, I was trying to install open_spiel in my server. And when I do the step of "ctest -j$(nproc)", it said "4% tests passed, 159 tests failed out of 166". I am using python3.6.9.

[2020-09-23 13:51] michalsustr commented on #372
Can you post the full trace? Did you use clang as a compiler?

[2020-09-23 13:56] michalsustr opened #373 "Feature: Bot registration API"
It would be great if we could have a bot API similar to the one for games, such as
[code]

We could also add the following method to the `Bot` interface:
[code]

The bots right now are disorganized -- Roshambo is in `bots/`, but xinxin is illogically in `games/hearts/`. I can put it together more nicely. This will also provide a structure for adding other external bots in the future, like Stockfis

[2020-09-23 14:00] andrealbh commented on #372
Yes. I just followed the instructions of
CXX=clang++ cmake -DPython3_EXECUTABLE=$(which python3) -DCMAKE_CXX_COMPILER=${CXX} ../open_spiel
make -j$(nproc)
ctest -j$(nproc)

When I run
 "CXX=clang++ cmake -DPython3_EXECUTABLE=$(which python3) -DCMAKE_CXX_COMPILER=${CXX} ../open_spiel"

it says
-- Looking for pthread.h
-- Looking for pthread.h - found
-- Performing Test CMAKE_HAVE_LIBC_PTHREAD
-- Pe

[2020-09-23 14:29] lanctot commented on #367
Hi @andrealbh, you should not put it into a new directory. Just place it with the rest of the games under open_spiel/games. The problem is the rest of the code is not getting compiled with your new game because you have it in a separate dir with a separate CMakeLists.txt so example.cc has no way of knowing about it.

In principle you can do it this way but you need to then make sure it gets built

[2020-09-23 14:36] andrealbh commented on #367
Sorry for making you misunderstand. I did put the new game files in the game folder and did not change the location of CMakeList.txt or pyspiel_test.py. I just want to avoid looking for files here and there if you are willing to review my code so I create the new game fold in the fork and copy related files to this folder.

[2020-09-23 15:36] andrealbh commented on #372
I download clang9 and use CXX=~/clang/bin/clang++ instead and fix most errors. Only one remains
99% tests passed, 1 tests failed out of 166

Total Test time (real) = 353.59 sec

The following tests FAILED:
	162 - run_python_test (Failed)
Errors while running CTest

What can I do to fix it?

[2020-09-23 16:56] lanctot commented on #372
If that's the only one failing, you should be mostly good. We've seen that one fail due to PYTHONPATH not being set in the environment. This is because this test spawns a process that runs python from C++.  Once set (see the installation instructions), then it should be good.

[2020-09-23 16:57] lanctot commented on #367
Ah right, I see. What you did seems perfectly fine to me. Can you try rebuilding and then paste the exact command you run and its output?

[2020-09-23 17:02] lanctot commented on #367
You might need to redo the whole build process once you modify CMakeLists, i.e. all the way back to the cmake command. This is because CMake generates make files, and at the time you ran it maybe your new additions were not in them?

So I would remove the build dirs: `rm -rd build venv`, rebuild, and try again. And if it still doesn't work please past the command and its output.