[2022-01-28 17:08] lanctot commented on #778
Hmm, we don't normally serialize the solver -- does the above work for a different game, e.g. leduc_poker?

[2022-01-28 17:11] lanctot commented on #778
Can you try serializing the game or the state separately from the solver.. does that work?

[2022-01-28 17:23] lanctot commented on #778
I have a suspicion. The serialization requires reconstructing the state via the game string, and you're loading it by specifying a string that contains newlines, which works fine based on how you're loading it, but then fails the default serialization.

Would it be possible to instead load it via the OpenSpiel parameters (rather than ACPC gamedef), as is done in this file: https://github.com/deepm

[2022-01-28 17:28] lanctot commented on #778
I think this might be easily fixed by using a custom serializer for universal poker, which I believe has been on the TODO list for quite some time. I can walk you through how do to that if you like. It would be nice to finally fix it :) I believe we've known about it for some time and just forgot...

[2022-01-28 18:07] maxspahn opened #779 "Quoridor: No support for 3 or 4 players"
I just learned that Quoridor can also be played with 3 or 4 players. According to the documentation this is also supported in open_spiel.

However, the number of players is fixed in the header.

https://github.com/deepmind/open_spiel/blob/f522d174a1e2e8fbaf2007294985869d6e520669/open_spiel/games/quoridor.h#L35

Either the documentation or the implementation should be updated accordingly.

Looking

[2022-01-28 18:14] lanctot commented on #779
From the looks of it, our implementation only supports the two-player version.

Which documentation are you referring to.. the games list? Can I ask you to submit a PR fix to clarify the docs?

It would be quite fun to add support for 3-4 players! I encourage you to add this and contribute it. ;-)

Tagging the original author: @tewalds

[2022-01-28 18:44] lanctot commented on #778
I took a quick look. This is non-trivial to fix properly because it's currently difficult to have custom *game* serializers/deserializers  (having custom *state* serializers / deserializers is easy). We should change things to make this possible and then fix this, so please leave this issue open as a remind, but I'm not sure when we'll get to it.

So currently the only way is to use the OpenSpiel

[2022-01-28 19:59] Henry-E commented on #778
Ah ok, this is just from one of the example [python scripts](https://github.com/deepmind/open_spiel/blob/master/open_spiel/python/examples/cfr_cpp_example.py).

`So currently the only way is to use the OpenSpiel parameters instead of the ACPC game def (as the canonical game strings do).`
Great! I didn't realise the distinction previously but doing it that way works. The solver can be pickled and l

[2022-01-28 21:54] lanctot commented on #778
Great!

Yeah it is due to a subtlety about how things get serialized. We should fix it, and we will, so please leave it open as a reminder.

[2022-01-28 22:11] lanctot commented on #774
@egeozsoy I have asked a few people who've used the Libtorch C++ AlphaZero and all of them used the convolutional net model.

I think we used an MLP for the [DQN C++ Libtorch implementation](https://github.com/deepmind/open_spiel/tree/master/open_spiel/algorithms/dqn_torch). It only has the values, though. But I wonder if you could adapt the policy head and its loss from the conv net?

[2022-01-28 23:30] egeozsoy commented on #774
I already have a running version of Libtorch Alphazero with MLP implemented. I am now also making it work with non deterministic games, then I will make a pull request.

[2022-01-28 23:55] lanctot commented on #774
Nice!!! Thanks, great progress.

[2022-01-31 10:34] egeozsoy commented on #774
So now I have finished the Libtorch AlphaZero implementation. I made in total the following changes:

- Adapt LibTorch AlphaZero to work with non-deterministic games
- VPNetEvaluator correctly deals with chance nodes
- Added option to never return chance nodes in MCTS, necessary for AlphaZero (similar to python version)
- Add MLP Support to Libtorch AlphaZero
- Refactor Libtorch AlphaZero to suppo

[2022-01-31 10:36] egeozsoy commented on #777
Do you mean something other than https://github.com/deepmind/open_spiel/blob/master/open_spiel/examples/alpha_zero_torch_game_example.cc?

[2022-01-31 11:36] lanctot commented on #777
No that is what I meant.. did not realize it already exists!

[2022-01-31 11:41] lanctot commented on #774
Ok these are very cool, thanks! They are quite complex changes so might take some time to properly review.

Can I double-check that you added support for MLPs in LibTorch without removing support for resnets? From a quick glance at the change it looks like the Resnet code is getting deleted.

[2022-01-31 11:55] egeozsoy commented on #774
Sure, I would really appreciate a proper review.

I deleted the Resnet model class, but resnet is still supported. The new and more general Model class, supports both resnet or MLP, determined by the ModelConfig object passed to it. ModelConfig now has an additional argument nn_model, which can be set to resnet or mlp (defaults to resnet).

This is of course backwards incompatible, requiring a ref

[2022-02-03 18:48] dpmaloney opened #783 "Infostate Tree Memory Usage"
I've been working on using the new LP tools to solve some games, including poker subgames and was wondering if anyone had any ideas for optimizing infostate trees and their memory usage.

It seems like there are lots of calls to `.Clone` or `.Child`, specifically with subtree rebalancing and updating the leaf nodes. It doesn't seem like `std::vector<std::unique_ptr<State>> corresponding_states_` i

[2022-02-04 09:33] lanctot commented on #783
@michalsustr, can you comment on this?

[2022-02-04 09:39] lanctot commented on #783
I have tagged the original author, he might have some suggestions, and maybe we can remove some of the stuff that is unused or unnecessary.

But I would say if you can easily cut stuff for your own work, go right ahead. We designed OpenSpiel with "hackability" as a target property -- if it is easy to jump in and cut stuff out and customize for your own use cases then that's great.. it's exactly wh

[2022-02-05 09:46] lanctot commented on #783
Hi @dpmaloney, unfortunately I'm just not familiar with that code, so I can't really answer. I'm not sure why there would be any rebalancing (or storing / copying of states at all), so I will contact the author by email to ask him to follow-up.

[2022-02-05 12:28] michalsustr commented on #783
Hi @dpmaloney !

Recently @milecdav wrote some code that constructs the infostate trees for both players without maintaining the corresponding states https://arxiv.org/abs/2112.10890 . However, the problem is that you need to avoid building the leaves with terminal utilities, because you will still encounter a large memory blowup. A special leaf evaluator is needed that can work with just the $n$

[2022-02-06 22:30] tuero opened #784 "Game serialize/deserialize"
Forenote: I previously wrote the `stones_n_gems` game.

## Problem
The `stones_n_gems` game uses a string containing commas to represent the map being used, which clashes with how the `GameParametersFromString` function parses serialized Games.

## Description / Explanation
The `stones_n_gems` game allows for various input maps to play. Maps are used in the game initialization process through the

[2022-02-07 01:25] lanctot commented on #784
Hi Jake, yes this is a problem with the simple default way that everything is serialized (and passed as strings). As a result some games are just not serializable with nondefault params (see this thread too: https://github.com/deepmind/open_spiel/issues/778).

The larger fix is to allow games and state serialization to be overridden (not just states) which we plan to get around to eventually. But

[2022-02-07 01:27] lanctot commented on #784
I don't know anyone using this game but also I think it is ok to have backward-incompatible changes on the master branch (since there are other options for greatet stability like using a release branch and forking)

[2022-02-07 04:04] tuero commented on #784
Thanks for the feedback Marc!

[2022-02-07 11:10] jamesdfrost commented on #774
Egeozsoy - this sounds fantastic, really interested to hear how you get on with this. I've wanted to do Backgammon on AlphaZero for a while, but have lacked the time (and some technical skills) to make much progress. A few years ago I built my own simple framework for backgammon training based on a convolutional network with a replay buffer for an MSc project, and this achieved a pretty strong rat

[2022-02-09 13:02] lanctot commented on #783
@michalsustr , the code you are referring to by @milecdav would be poker-only, though, right? It's not a general implementation that does not store states?

[2022-02-09 13:08] lanctot commented on #783
Yes, true, but probably not worse that the blow-up (and slow-downs due to rebalancing) of having to store full states?

As in, it might be good to have an info set tree implementation that builds the entire game, stores whatever is necessary for computing payoff values, and can still be used by the LP methods? Or, alternatively, a general implementation of sequence-form strategies that we could bu

[2022-02-09 13:33] milecdav commented on #783
Yes, that is correct.

[2022-02-10 01:59] dpmaloney commented on #783
I think this might get at the heart of my question, I'm trying to implement/develop some techniques for reducing the size of the payoff matrix that are game-agnostic so this would also be something I'd love to have.

@michalsustr, my main goal is to do work with LP solving for larger games, so I think I need to compute the terminal utility beforehand, but I think the motivation behind my question

[2022-02-10 19:09] lanctot commented on #783
Hi @dpmaloney, yeah what I'd really love is to have a data structure to represent sequence-form strategies (much like we have for behavioral strategies, e.g. `TabularPolicy`).

But even separately from that, if you have a high-enough level API for the front end of your LP solver then you can build everything you need in one full-game tree pass. You can see how it's done on the python side here (co

[2022-02-11 19:46] lanctot commented on #772
@jeremysalwen, my apologies.. somehow I completely missed your last message.

I think the value we'd have by having this example in any form outweighs any small detriment to it being under a specific choice of API or usage. So I'm a bit indifferent. But, if I had to choose, I'd say the RL Agent API would be the best one. That is: it would be great to have something that could define a set of RLAge

[2022-02-14 09:17] #784 closed

[2022-02-14 09:18] lanctot commented on #779
Merged in https://github.com/deepmind/open_spiel/pull/780

[2022-02-14 09:18] #779 closed

[2022-02-19 01:19] BedirT opened #789 "NFSP with CNN"
Do we have NFSP implementation using a CNN rather than a linear network? I can't seem to locate it, I would appreciate it if someone could direct me (if it exists).

[2022-02-19 11:50] lanctot commented on #789
Hi Bedir,

We do not. Most of the imperfect information games have single dimensional info set tensors.

Extending NFSP to support CNNs (with e.g. an example on Dark Hex) would make a nice contribution!

[2022-02-19 18:04] BedirT commented on #789
Yeah I will work on that :ok_hand:

[2022-02-22 00:27] BedirT commented on #789
@lanctot

I have a couple of questions (All on the DarkHex version, but it is probably the same for some other phantom games):
- The game implements the info-states as one-hot encoding which I don't think would capture the spatial connection I aim to have with CNN implementation. If that sounds fine I will change the game itself. Let me know if there is a better way.
- Is it fine if I used tf2 & d

[2022-02-22 00:53] lanctot commented on #789
If you're planning to train it only on the current "view" (losing all historical information) then I suggest you use the ImperfectRecallDarkHex and override the information state tensor to be just the spatialized view.

To see how to organize the tensor for use by CNNs, see some of the perfect information games which lay them out in planes (e.g. Tic-Tac-Toe, Breakthrough) which can then be reshape

[2022-02-22 23:32] BedirT commented on #789
I am pretty much done, except that I cannot figure out some c++ related stuff :)

When I implement a non-one-hot version of the `information_state` and `observation_state`, I can run the game, but I get weird shapes from `InformationStateTensorShape` and `ObservationTensorShape`... I couldn't find a proper way to handle the issue.

Here is an example from the playthrough;
[code]
I did realize the

[2022-02-23 00:37] lanctot commented on #789
`Game::StateInformationStateTensorSize` is simply a product of the values in InformationStateTensorShape, see here: https://github.com/deepmind/open_spiel/blob/5eaf401f7d08d68285fe214ab5cf5a741807ea6e/open_spiel/spiel.h#L824. Similarly for `ObservationTensorSize`.

I don't see and `InformationStateTensorSize` above, only `ObservationTensorSize`, and your `ObservationTensorShape` does not look righ

[2022-02-23 01:16] BedirT commented on #789
Here #791

[2022-02-23 01:40] lanctot commented on #789
Ok right those tensor shapes are single-dimensional. Why? They should be planar for CNNs: one plane for white stones, one for black stones, one for empty (or "unknown").

Please take a look at Breakthrough or Tic-Tac-Toe for examples on multi-dimensional observations tensors (including their shape functions). You can mostly copy what was done in those games, but in your case your shape should be [

[2022-02-23 02:40] aaronsnoswell opened #792 "Struggling to understand ChanceMode"
Hi OpenSpiel team!

I'm excited about using OpenSpiel as a tool when prototyping my own board game designs.

I'm attempting to define my first (non-deterministic) game, and I'm struggling to understand the role of the `ChanceMode` enum.

`spiel.h:67` [has the following](https://github.com/deepmind/open_spiel/blob/5eaf401f7d08d68285fe214ab5cf5a741807ea6e/open_spiel/spiel.h#L67);

[code]

And I can

[2022-02-23 16:51] lanctot commented on #792
Hi @aaronsnoswell,

Good question: it is subtle. After you understand it I would appreciate any advice you have on improving the docs and encourage you to do that!

Firstly: most of the games use `kExplicitStochastic`, it allows greater flexibility, and several algorithms need the information. When your game is explicit stochastic, it means that the implementation has to provide the distribution o

[2022-02-24 01:28] aaronsnoswell commented on #792
Aaaah I understand now. Thanks @lanctot!

So explicit mode communicates the full support of the chance outcome distribution to a learning algorithm, while sampled mode just passed the sampled outcome.

I will create a PR for some extra documentation explaining this. Would it be ok to create a new `.md` file in the `/docs` folder if necessary to do this?

[2022-02-24 01:54] lanctot commented on #792
Yes, exactly. But to clarify: the second still uses chance nodes, it's just that every chance node as having a single legal outcome. And it's only when you try to call `ApplyAction` using that single outcome that the state changes (stochastically, using a random number generator).

Absolutely, thanks! I would love for it to be linked from somewhere, though. Possible in the comments of the `spiel.h

[2022-02-24 02:54] aaronsnoswell commented on #792
Great. Thanks for the clarification.

I'll give it a crack.

As for games - I'm presently implementing [Battle Line](https://boardgamegeek.com/boardgame/760/battle-line) as a learning exercise (it is similar to a game design I'm working on). It's a two-player zero-sum sequential partial information card game. I'm using python for now for quick prototyping.

---

This discussion has reminded me of

[2022-02-24 03:32] lanctot commented on #792
Battle Line is a great choice of game to start with! (I'm quite a fan of Reiner Knizia.)

Nope, it's perfectly fine (and expected) to have different number of outcomes at each chance node. For example, the poker games have a sequence of chance nodes where each one deals one card and then the deck reduces, so each successor chance node has one has 1 less outcome than its predecessor.

[2022-02-24 20:00] jeremysalwen commented on #772
I ended up implementing a subset of this functionality, just calculating average returns. (It seems like the alpharank code requires a dense metagame matrix, which makes it complicated, since I am just sampling a few games).  The code is just a part of the leduc_nfsp.py example, but I tried to write it in a way that it could be reasonably generalized.

Before I clean up/document everything for the

[2022-02-25 01:45] aaronsnoswell opened #794 "Windows build fails: Errors in `morpion_solitaire.cc`"
I'm trying to build OpenSpiel on windows.

I followed the instructions [in the docs](https://github.com/deepmind/open_spiel/blob/master/docs/windows.md), cloning 5eaf401f7d08d68285fe214ab5cf5a741807ea6e.

CMake runs properly, but I get 8 syntax errors, all from the file `morpion_solitaire.cc`. It seems this file uses some fancy C++ notation I (or VS at least) am not familiar with - using `...` in

[2022-02-25 06:33] wyz2368 opened #796 "Failure for testing MFGs"
Dear authors,

Does anyone get the following failure information while testing MFGs?

[code]
I found two errors lead to the test failure.
(1)
[code]
(2)
[code]

I also noticed that when test the routing game, a bunch of playthrough information is printed out. For example,
[code]

Thanks in advance!

[2022-02-26 04:23] lanctot commented on #794
I see you have fixed it in your PR, thanks!

[2022-02-26 04:24] lanctot commented on #772
This is great, thank you @jeremysalwen. I was quite busy this week, but will take a look next week.

[2022-02-26 04:27] lanctot commented on #796
Hi @wyz2368,

Can you explain how you are getting these errors? Is this via a fresh checkout of master and running `build_and_run_tests.sh`?

Because I don't see how to reproduce it. Several of the PRs have run tests throughout the week and they all passed. So I suspect it's something local to your setup. Did you recently pull from master? I wonder if you have an older setup and if you need to rem

[2022-02-26 12:01] lanctot commented on #796
Can you try a completely fresh check out from master to see if it happens in that case?

[2022-02-27 13:43] #794 closed

[2022-02-28 10:11] lanctot opened #798 "OpenSpiel 1.1.0 released!"
OpenSpiel 1.1.0 has been released.

Many new games, algorithms, and features. Some highlights:

- Windows support
- Rust API
- ADIDAS Nash equilibrium solver
- AlphaZero support for chance nodes
- Mean-field games: several new algorithms and functionality

Full details:  https://github.com/deepmind/open_spiel/releases/tag/v1.1.0

[2022-03-05 13:33] #798 closed

[2022-03-08 05:45] aaronsnoswell opened #799 "Help with Python game implementation: MCTS reaches state with no legal actions remain"
Hi OpenSpiel team!

I'm working on understanding how OpenSpiel works, and I've been implementing the card game [Battle Line](https://boardgamegeek.com/boardgame/760/battle-line) (in Python) to learn about the game and state objects OpenSpiel uses.

I've gotten my implementation to a point that I believe the game logic is correct: I can sample random actions manually and rollout an entire game traj

[2022-03-08 08:56] lanctot commented on #799
Hi @aaronsnoswell,

The best way to debug this is to insert an if statement on the offending line that checks if the legal_actions are empty. When it is, print out the `state.to_string()` and `state.history()`.

Then, separately, construct a new program that plays through that history, printing out ever state and every action (you can use `state.action_to_string` to get the action's string represe

[2022-03-08 12:32] lanctot commented on #799
Actually, this is such a common case for debugging that I'll add a helper that does this (one that can take the history string and game string and just play it out (but will only be in the next few weeks). There are a few options that would be good too, like the ability to make it an interactive session walk through the game.

[2022-03-13 13:21] huynq55 opened #802 "Implement Xiangqi game"
Hello, I want to implement the Xiangqi game. I'm referring the Chess game implementation as an example for Xiangqi. For chess, there is chess folder which has files like chess_board, chess-common. I want to create the same xiangqi folder with same files (my programming skill is not so good, so i'm just mimicking Chess). Will the files be recognized by the compiler when I run `build_and_run_tests.s

[2022-03-14 00:10] lanctot commented on #802
Hi @huynq55,

Great!

The best place to start is the "Adding a game" section of the developer guide: https://github.com/deepmind/open_spiel/blob/master/docs/developer_guide.md

The files will be found if they are added to the appropriate CMakeLists.txt files. I recommend copying what is done in chess there as well.

Once you are happy with the implementation and all the tests pass, please submit a

[2022-03-15 19:17] GitMew opened #804 "Installation via pip failing on Windows 10/11 with "legacy-install-failure""
I'm on Windows 10, Python 3.8.2 (but the same issue is happening on another machine with Windows 11, Python 3.7.3).

Running `py -m pip install open-spiel==1.0.2` in a Windows Powershell terminal (both with and without administrator privileges) results in a `legacy-install-failure` error preceded by a `subprocess-exited-with-error` error. The full output is dumped [here](https://pastebin.com/e3w8X

[2022-03-15 21:46] lanctot commented on #804
Hi @GitMew, we don't support installation via pip on Windows yet (and Windows support at all is a rather new feature). Hopefully we can look into this st sone point in the year.

Please follow these instructions on building in Windowd from source: https://github.com/deepmind/open_spiel/blob/master/docs/windows.md

[2022-03-17 11:22] cmarlin commented on #595
Hi. I wrote a MCTS using tensorflow's tensory only+batching (and XLA).
https://gitlab.com/dia.group/tf-muzero
So it's possible to the GPU doing the MCTS's stuff (whole MCTS in one gpu function call) ! It could be great to rewrite it to JAX.
Difficulties:
- a bit complex to read code (so JAX could help)
- some part have to be re-designed (like MCTS backpropagation), but I've done that stuff
- tree

[2022-03-17 16:47] uduse commented on #595
@cmarlin There's already a [JAX implementation here](https://github.com/deepmind/mctx). They addressed the issues you mentioned above using a couple of tricks.

[2022-03-21 15:12] cmarlin commented on #595
Thanks for your link, I didn't know it!

[2022-03-23 11:03] hhlei opened #808 "Can't import pyspiel, module not found error"
I'm trying to build open spiel on windows 10. I've followed the installation instructions for windows, but I'm getting an error importing pyspiel when running example.py.

$ python example.py
Traceback (most recent call last):
  File "C:\Users\henry.lei\Documents\Projects\open_spiel\open_spiel\python\examples\example.py", line 26, in <module>
    from open_spiel.python import games  # pylint: disa

[2022-03-23 15:30] lanctot commented on #808
@hhlei, hmmm.. I feel like the stack trace is being cut off.

Can you try opening python interpreter and type in `import pyspiel`. Does that work?

[2022-03-23 20:49] hhlei commented on #808
Here's the stack trace when I run import pyspiel in the python interpreter.

python -i
Python 3.9.11 (tags/v3.9.11:2de452f, Mar 16 2022, 14:33:45) [MSC v.1929 64 bit (AMD64)] on win32
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
ModuleNotFoundError: No module named 'pyspiel'

I don't actually see a

[2022-03-23 20:54] lanctot commented on #808
What are the contents of that directory?

[2022-03-23 22:05] #498 closed

[2022-03-24 05:19] hhlei commented on #808
Turns out I didn't actually build the project at the time of my original post... I've done that now though, and the pyspiel import still fails. The tests and binaries are all built I think, but not all the tests pass. I think all of the python tests are failing:

41:bridge_test
76:oh_hell_test
78:othello_test
87:skat_test
89:stones_and_gems_test
102:efg_writer_test
106:python/../integration_tests/

[2022-03-24 09:23] lanctot commented on #808
Can you try running python from within that directory? Does the import work if you do that?

[2022-03-24 19:33] hhlei commented on #808
Adding that folder to the path works for importing pyspiel, thanks! However, many of the tests still fail:

41:bridge_test
76:oh_hell_test
78:othello_test
87:skat_test
89:stones_and_gems_test
102:efg_writer_test
106:python/../integration_tests/api_test.py
107:python/../integration_tests/playthrough_test.py
108:python/algorithms/action_value_test.py
109:python/algorithms/action_value_vs_best_respon

[2022-03-24 19:45] lanctot commented on #808
Are you able to run the python example now?

[2022-03-24 21:09] hhlei commented on #808
Yep, I'm able to run example.py. Some of the tests are failing for other reasons for sure: I think the first four have array subscripts out of bounds errors. I'm not too sure what is going on with the python/... tests though.

[2022-03-25 18:16] lanctot commented on #441
Thanks @dvstter ! Implementation is here: https://github.com/deepmind/open_spiel/pull/706, so I'm now closing this.

[2022-03-25 18:16] #441 closed

[2022-03-25 18:18] lanctot commented on #623
@Counterfeiter: apologies that we were not able to addressed this, but I was happy to see more interest in Eurogames!

[2022-03-25 18:18] #623 closed

[2022-03-25 18:18] lanctot commented on #439
Apologies that we were not able to address this.

[2022-03-25 18:18] #439 closed

[2022-03-25 18:19] #492 closed

[2022-03-25 18:19] #768 closed

[2022-03-25 18:22] lanctot commented on #686
Closing now as this is out-of-date. @rysios, please re-open if you want to continue discussion, but a PR would be welcome!

[2022-03-25 18:22] #686 closed

[2022-03-25 18:23] #522 closed

[2022-03-25 18:28] #477 closed

[2022-03-25 18:28] #789 closed

[2022-03-25 18:32] #592 closed

[2022-03-25 18:32] lanctot commented on #799
Hi @aaronsnoswell, just touching base -- were you able to find the problem?

[2022-03-25 18:33] lanctot commented on #459
Closing this now since there is a PR: https://github.com/deepmind/open_spiel/pull/635

[2022-03-25 18:33] #459 closed

[2022-03-25 18:34] #678 closed

[2022-03-25 18:35] #749 closed

[2022-03-25 18:35] #742 closed

[2022-03-25 19:13] StochasticEntropy commented on #441
Awesome, sorry that I didn’t have more time to contribute anymore

[2022-03-29 02:55] kimyoonduk opened #809 "Test 135 failed on mac os while building from source"
Hardware: Macbook Pro M1 Max
OS: macOS 12.3
Python version: 3.10
Using a fresh conda environment on miniforge

Here's the error message I get:

[code]

Below is the output for test 135:

[code]

[2022-03-29 03:01] lanctot commented on #809
Hi @kimyoonduk,

Thanks for reporting. OpenSpiel does not yet support Python 3.10, but it will be coming soon. I have encountered this problem and it is fixed in https://github.com/deepmind/open_spiel/pull/807, but we will only merge it once GitHub Actions provides tests for Ubuntu 22.04 and it is released (in about another month). The problem you're encountering is due to a newer numpy version; i

[2022-03-29 03:16] kimyoonduk commented on #809
Thanks for the quick response! I'll patch it manually my local file.

[2022-03-29 03:16] #809 closed

[2022-03-30 19:10] kimyoonduk opened #810 "Requested Observer type not available for kNone and kSinglePlayer"
I have a local build that I'm testing out and I'm getting errors for single player games.

This is the error I get when trying to run the python package via rl_envionment.Environment('blackjack'):

[code]

I also found that I get these errors during playthroughs when I'm running build_and_run_tests.sh

[code]

[2022-03-30 19:41] lanctot commented on #810
Hi @kimyoonduk,

Yes, looking at the blackjack implementation, it seems to not have any observation or information state tensors defined, which means you (currently) can't use it for RL experiments with neural networks. This sometimes happens when we get contributions of games that are not complete, but e.g. it could still be used for some tabular methods.

I think in the case of blackjack, it sho

[2022-04-04 23:54] acxz opened #811 "[RBC] Various issues encountered during the use of RBC"
Hello, first off thanks for creating this amazing group of environments for board games! It is only place where I have found an implementation of ReconBuildChess besides APL's own implementation.

I've been trying to utilize the RBC environment and here are some issues/pain points that I have encountered and thought I'd share:

Note: I am using the RBC environment through a gym like wrapper create

[2022-04-05 09:08] lanctot commented on #811
Thanks @acxz. @michalsustr can you take a look and respond to Akash?

[2022-04-06 11:21] GitMew opened #812 "Replicator dynamics (quiver) not showing"
I've been trying to write an OpenSpiel example that illustrates how to plot replicator dynamics. However, even with the minimal code below, nothing seems to show up. Perhaps I'm missing something, perhaps something is broken.
[code]

[2022-04-06 12:16] dhennes commented on #812
Hi @GitMew you need to set the projection of the subplot. In your example, the axis object `ax` is not linked to the figure `fig`. This should work:
[code]

[2022-04-06 12:35] GitMew commented on #812
@dhennes Aha, now something is showing up. If you don't mind me asking: why are we forgoing `Dynamics3x3Axes` altogether? It's a subclass of `matplotlib.Axes`, but surely not the same at all?

[2022-04-06 13:10] dhennes commented on #812
`Dynamics3x3Axes` is actually the projection class [registered](https://github.com/deepmind/open_spiel/blob/master/open_spiel/python/egt/visualization.py#L609) under the name `3x3`. The argument `projection='3x3'` tells Matplotlib to create an instance of this class and adds it to the figure. You can find more info on how projections work in Matplotlib [here](https://matplotlib.org/stable/api/proj

[2022-04-07 21:52] wyz2368 opened #813 "State string in tabular policies for mean field games."
Dear authors,

I noticed there might be an indexing issue when using tabular policy for mean field games. In the example code below, I first created a MFG and a uniform policy that is transformed to a tabular policy using `to_tabular()`. For a tabular policy, we can use `policy.state_lookup` (a dictionary) to look up the index of the state by inputting the state string (keys). However, the keys of

[2022-04-07 23:36] lanctot commented on #813
Thanks @wyz2368,

@sgirgin @RaphaelMarinier @perolat , any idea what's going on here?

[2022-04-07 23:37] lanctot commented on #813
@TheoCabannes too, maybe...?

[2022-04-08 06:05] sgirgin commented on #813
Hi @wyz2368 ! When a game provides the information state string, the tabular policy uses that as the keys. This is documented in the class description:

https://github.com/deepmind/open_spiel/blob/master/open_spiel/python/policy.py#L192

(impementation: https://github.com/deepmind/open_spiel/blob/master/open_spiel/python/policy.py#L291)

In this particular case (crowd modelling game), they are the

[2022-04-08 12:35] #812 closed

[2022-04-08 19:07] wyz2368 commented on #813
This is very helpful. Thank you so much!

[2022-04-08 19:07] #813 closed

[2022-04-11 05:39] sardanian opened #814 "Unable to use C++ shared library in CMAKE project"
I am trying to use the C++ shared library in a CMAKE project. I am trying to do something simple which is basically to be able to run a game by also include another library, such as libtorch. I understand libtorch is already built into the current alphazero lbtorch example but I am trying to use it on its own.

I understand that in the C++ useage instructions that you can use a shared library for

[2022-04-12 10:21] lanctot commented on #814
Hi @sardanian,

We don't have OpenSpiel setup for this at the moment, we would have to write the necessary CMake meta-files (as you're suggesting) to have find_package work properly. This would be a welcome addition to OpenSpiel.

In the mean time:

- Will you need to modify the OpenSpiel code at all? If not, then I suggest you build it at as a dynamically-linked library by following the instructi

[2022-04-13 12:46] hhlei opened #815 "What is the difference between an information state and an observation?"
I don't understand the purpose of the Observer class in making a game. Isn't there already a function InformationStateTensor(player, values) to generate observations? Also, what exactly should go into values?

[2022-04-13 13:17] hhlei commented on #815
Kind of related question: how do I write the informationStateTensor for non homogenous players (ie different observation/action spaces)? I have to define a priori an informationStateTensorShape in the game class, but it doesn't differentiate between players.

[2022-04-13 14:06] hhlei opened #816 "Implementing NSFP for custom simultaneous game with non homogenous agents."
I'm a little confused on how to implement NSFP for simultaneous games. In the examples, NSFPpolicies's actionProbabilities method relies on state.currentPlayer(). But in simultaneous games (in my game at least), the curr_player_ is always kSimultaneousID. How exactly does the right obs/rewards get routed to the right NSFPpolicy? Do I have to define special behavior in the game to make sure that th

[2022-04-13 17:31] lanctot commented on #815
Hi @hhlei, see the docs in spiel.h for the difference, also explained in the OpenSpiel paper.

For different observations / infoststes the common way is to make it a constant size equal to the maximum across players and then just store different information in them (see the Sheriff game as an example).

[2022-04-13 17:35] lanctot commented on #816
Best way to do this is to used the turn-based simultaneous game wrapper. There should be some examples (maybe in nfsp_test or game_transforms). If not I am quite sure cfr_test would have some exampled of how to use it.

The observation and info state functions have players as arguments (the observing player). You can check goofspiel, oshi-zumo, or Markov soccer for examples.

[2022-04-13 22:19] aaronsnoswell commented on #799
Hi @lanctot! Thank you for following up! I have been busy and haven't had a chance to review this yet :D Please feel free to close and I'll report back if there is any actual issue here (other than my own incompetence :D)

[2022-04-13 22:19] #799 closed

[2022-04-14 05:33] sardanian commented on #814
Thank you for this.

I do not need to modify OpenSpiel code at all. However, "[Using OpenSpiel as a C++ Library](https://github.com/deepmind/open_spiel/blob/master/docs/library.md)" requires that I compile via clang++. I do not believe there is a way to compile libtorch with clang++ (at least I have not been able to find the appropriate method to do that). Libtorch documentations and tutorials sho

[2022-04-14 07:00] sardanian commented on #814
Actually, upon further testing, recompiling Openspiel with libtorch doesn't seem the right approach or I can't seem to figure it out. I would like to use CLION and debug my program and so would like to be able to build and add an executable of my file and then debug it. Ideally I can have an OpenSpiel library and a torch library called by the same program via CMAKE. Then I can build via cmake and

[2022-04-14 10:07] lanctot commented on #814
If you do not need to modify the OpenSpiel code, then you can compile it as a shared library. It should not matter whether you produce that shared library with clang++ or g++ (replace all the instances of clang++ with g++ on that page and it will still work), because it's binary/machine code that gets dynamically loaded at run-time. You compile the OpenSpiel shared library once via the instruction

[2022-04-19 20:55] sardanian commented on #814
Thank you. I was able to get this resolved. I went through your points and it seems that there was an issue with LibTorch, not OpenSpiel. I had implemented LibTorch first, but for some reason when combined with OpenSpiel it was causing some issues. I eventually got a cmake file working for both of them through your direction. Thank you.

[2022-04-19 20:55] #814 closed

[2022-04-20 00:31] lanctot commented on #814
Great! Glad we could help.

[2022-04-20 10:27] michalsustr commented on #811
Hi @acxz, I will try to have a look on the weekend. If you have an implementation that would fix these I could review the PR :)

[2022-04-20 14:09] acxz commented on #811
Sweet! Sadly I'm a bit busy for ~2 weeks, but after that can put in the effort to help resolve this issue.

At least 1) should be doable by me.
I think 2) and 4) (recording the previous taken action) is the most important and would appreciate it if you could tackle those.

[2022-04-22 15:45] cuijiaxun opened #820 "Gym Wrapper to work with multiagent RL frameworks?"
I found Openspiel super useful in my research. I am wondering if the API is friendly to any of the popular multiagent RL frameworks(e.g. rllib, stablebaselines3, tianshou) so that we can use different algorithms/develop custom algorithms directly from the RL frameworks?

[2022-04-22 21:04] rezunli96 opened #822 "Minor discussions about pathfinding games"
Hello there. I am currently working on pathfinding games and found the implementation here really helpful!

Some minor questions about the implementation. According to the reference [here](https://www.jmlr.org/papers/volume4/hu03a/hu03a.pdf) there maybe several mechanics that are missing: (1) when an agent hits an obstacle, actually there could be a probability to pass through the block. (2) when

[2022-04-23 03:05] lanctot commented on #820
Hi @cuijiaxun,

I would be happy to support the other RL frameworks. We designed our own because, at the time of development, most of the standard algorithms implementations (such as DQN) were mostly designed for Atari and not for multiagent games. As such, they lacked basic handling of things like whose turn it is or illegal moves.

Here's a list of what I know right now:

- [MAVA](https://github

[2022-04-23 13:00] lanctot opened #823 "Dropping support for Python 3.6."
Python 3.6 has reached its end-of-life in December 2021.

This coming week, we will be merging https://github.com/deepmind/open_spiel/pull/807 into master which upgrades many dependency versions and drops support for Python 3.6. The minimum version of Python supported will be Python 3.7.

OpenSpiel might still still work in Python 3.6 but may stop working at any time. If you need Python 3.6 or Ubu

[2022-04-23 21:25] lanctot commented on #822
Hi @rezunli96, I did not model the pathfinding games on any existing descriptions, I just designed the rules myself. Not sure I fully understand each one of the points yet so I will look at the reference and get  back to you soon.

[2022-04-24 12:25] lanctot commented on #815
Hi @hhlei, did this clarify things for you?

[2022-04-25 00:26] cuijiaxun commented on #820
Thanks, @lanctot, the information above is really helpful! I can look into it for my project, and maybe contribute to this if anything works :)

[2022-04-25 18:05] phcerdan opened #825 "Dependency errror: LogUsage function is used in core (spiel.cc) but defined in utils"
Changed in commit: https://github.com/deepmind/open_spiel/commit/f3fee781cc9936d9ba3f33582a2ea77846225756

Faulty line:  https://github.com/deepmind/open_spiel/blob/master/open_spiel/spiel.cc#L238

Solution: Move usage_logging.{h.cc} from utils to core (or remove LogUsage from spiel.cc)

[2022-04-25 18:09] lanctot commented on #825
Sorry, I don't understand-- under what circumstances does this cause an error and can you give an example?

[2022-04-25 18:28] phcerdan commented on #825
I am refactoring a bit CMake files to simplify the library for my usage.

If you compile the files at core: https://github.com/deepmind/open_spiel/blob/0c265fbaa56c418788333fdf3bd373ff12620d14/open_spiel/CMakeLists.txt#L165-L190

 without `/utils`, it fails at that line. If you remove the line, it compiles ok.

I thought utils was an optional extra, but you need it to compile `spiels.cc`. Closing.

[2022-04-25 18:28] #825 closed

[2022-04-25 18:33] lanctot commented on #825
Ok, makes sense. We need to keep that call to `LogUtil` for internal purposes.

[2022-04-25 20:33] michalsustr commented on #811
Thanks! Sorry, this is not high priority for me at the moment due to neurips deadline coming, but I will try to have a look then :)

[2022-04-26 09:58] lanctot commented on #823
Ok, https://github.com/deepmind/open_spiel/pull/807 has now been merged.

As of https://github.com/deepmind/open_spiel/commit/5111a3591df9f26a7b6c11d68e3660b1aedd1293, Python 3.6 is no longer supported.

[2022-04-26 09:59] #823 closed

[2022-04-26 17:02] hhlei commented on #816
Thanks for the help! Quick question: in Goofspiel, the game class has member variables default_observer_, info_state_observer_ etc, that are labeled as "old observation api". What is the newer way to do it?

[2022-04-26 17:45] lanctot commented on #816
Hi @hhlei,

Do you mean [this comment](https://github.com/deepmind/open_spiel/blob/550f2fba696428606023e31ccd97cbf24c4a5daa/open_spiel/games/goofspiel.h#L168)? I think that comment is referring just to the first one "default_observer". That observer is used to implement the "old" observation API.

OpenSpiel supports a "new" (it's almost already 2 years old! haha) observation API. Examples of this

[2022-04-26 19:45] lanctot commented on #820
Great, that would make a great contribution!

[2022-04-29 06:58] BedirT commented on #711
After a long time, I came back to the same issue :) Getting all the states in the memory is unfeasible for me. That's why I wanted to provide a number of states for the best response to consider and fall back to random play otherwise. I am not sure why but `get_all_states` is really memory heavy on python, not sure if I am doing something wrong.

As far as I can see, both methods use `get_all_stat

[2022-04-29 11:29] lanctot commented on #711
Clarifying question: are you running a tabular algorithm for which you have a subset of the total info states, and you want to find a best response for a policy which uses the ones you have and falls back to some default (e.g. uniform) policy when queries a state that is not in the table?

I think that would be doable without having to get all the states. We can just make a `PartialTabularPolicy`

[2022-04-29 17:16] BedirT commented on #711
Yes exactly.

Yeah, that would be amazing!

[2022-04-29 17:59] lanctot commented on #711
Ok. The code calling that policy would only work if you are able call it using states (i.e. rather than info state strings... because it needs to query the state object for legal actions). If you'd be using it for best response computations, this should be fine because that should be the case (I know there's an option to do this).

I can easily add this along with an example to OpenSpiel, and shou

[2022-04-29 18:05] BedirT commented on #711
Yeah, I am using it for best_response, and states are available.

Thanks!

[2022-04-29 19:14] ssokota opened #827 "Possible small bug"
It looks like the code here is optimizing the policy but clipping the gradients for the value head

https://github.com/deepmind/open_spiel/blob/550f2fba696428606023e31ccd97cbf24c4a5daa/open_spiel/python/pytorch/policy_gradient.py#L457-L464

[2022-04-29 19:28] lanctot commented on #827
@Asugawara can I ask you to take a quick look?

[2022-04-30 02:43] Asugawara commented on #827
Hi!
I compare TensorFlow and PyTorch implementation again.
Clipping the value head grad which is detached on `pg_class.loss` method is meaningless.
Thank you for finding the bug and apologies for that.

[2022-04-30 13:21] lanctot commented on #827
No problem. This is just a typo.. right? So the fix should be easy.. could you submit a PR?

[2022-04-30 17:56] Asugawara commented on #827
Yes!
Please confirm this PR @lanctot @ssokota !!
https://github.com/deepmind/open_spiel/pull/828

[2022-05-02 12:13] lanctot commented on #711
Hi @BedirT, I've added a partial tabular policy with a fallback option here: https://github.com/deepmind/open_spiel/commit/2acbd485af75fc92a4815fefd610c37292537127

See the python test additions in that comment to see usage examples.

[2022-05-06 23:30] VitamintK opened #833 "Test 167 (pytorch/rcfr_pytorch_test.py) failed when building from source on mac os"
Building from source from master (haven't done it in a while, so I could definitely be doing something wrong?)

Get the error:

[code]

What I did:
- pull latest master
-  ./install.sh
- pip install -r requirements.txt
- ./open_spiel/scripts/build_and_run_tests.sh

and that's when the test fails.

Anyone else run into this before?  All other tests pass just fine.

[2022-05-07 08:02] lanctot commented on #833
This was one test in a series that I changed recently when upgrading pytorch versions.

Can I check which version of pytorch you are using?

[2022-05-07 08:08] lanctot commented on #833
Here is the commit with those changes, if it helps:
https://github.com/deepmind/open_spiel/commit/5111a3591df9f26a7b6c11d68e3660b1aedd1293

[2022-05-07 19:03] VitamintK commented on #833
I'm apparently still on pytorch 1.7.0

[2022-05-07 19:06] VitamintK commented on #833
confirmed that upgrading to the expected pytorch passes the test (and it was consistently failing before):

`pip install --upgrade torch==1.11.0`

`./open_spiel/scripts/build_and_run_tests.sh --test_only="rcfr"`

passes.

[2022-05-07 19:09] VitamintK commented on #833
So is there a bug where running the install scripts should have updated pytorch and didn't? (I didn't set any env vars when running the scripts, so they are all on auto.) Or if that's expected behavior, then is there a bug where the pytorch tests shouldn't have run for me but they did?

[2022-05-07 19:38] lanctot commented on #833
This is all intended behavior, it's just a rare case because the change in the commit above caused an incompatibility with the old version of PyTorch.

Last year, we made most of the Python packages optional dependencies. This is because most of the python functionality is "extra" and we didn't want to cause python dependency nightmares for any projects that depend on us for mostly optional featur

[2022-05-08 18:08] VitamintK commented on #833
ok, that sounds reasonable, thanks for the reponse! Is it not desirable or not feasible to check the user's pytorch version before deciding whether or not to run the pytorch tests?

My 2 cents: It feels to me like the behavior I encountered is pretty bad (since there's no error message or anything indicating what was wrong) and I don't see why it would be rare: anytime OpenSpiel upgrades a depende

[2022-05-09 08:29] lanctot commented on #827
Fixed by https://github.com/deepmind/open_spiel/commit/c90e92537ce731c25623b1e55e722aa7793c7969

[2022-05-09 08:29] #827 closed

[2022-05-09 08:41] lanctot commented on #833
Yeah I thought it would be more common myself, but turns out most projects tend to be backward-compatible. This is only the second time something like this has happened since August 2019, and we upgrade the versions 2-3 times per year (and the other time wasn't even python packages, it was that we upgraded the version of abseil).

I like the idea of mentioning the versions and pointing to that fil

[2022-05-11 11:29] hhlei opened #836 "leduc_nfsp.py fails on windows."
I'm trying to run leduc_nfsl.py on my windows machine but its failing with the errors like:

OP_REQUIRES failed at save_restore_v2_ops.cc:110 : Not found: Failed to create a NewWriteableFile: /tmp/nfsp_test\q_network_pid0.data-00000-of-00001.tempstate15867241677518851320 : The system cannot find the path specified.

The full error trace:

 python leduc_nfsp.py
WARNING:tensorflow:From C:\Users\henr

[2022-05-18 10:25] huangweixin1994 opened #837 "How to use python version games?"
I want to implement a multiplayer and multicard kuhn_poker game, just like 4 players with 6 cards(not 5).  So I prepare to use the python version kuhn_poker as my prototype. But now I don't know how to use it. Whatever I change in the open_spiel/python/games/kuhn_poker.py,  it can't work. So how can I see my code wrriten in open_spiel/python/games/kuhn_poker.py work? Thank you very much!

[2022-05-18 12:08] lanctot commented on #837
Hi @huangweixin1994,

Can you confirm that you are running the [python example](https://github.com/deepmind/open_spiel/blob/master/open_spiel/python/examples/example.py) with the game name of `python_kuhn_poker` (_not_ `kuhn_poker`) ? (see [here](https://github.com/deepmind/open_spiel/blob/63e8a99b70a4ea2eb934740d8fb1d2add2dd258b/open_spiel/python/games/kuhn_poker.py#L45))

[2022-05-18 12:09] huangweixin1994 commented on #837
您好，我是黄伟鑫，您的邮件我已收到，很快会回复您。 

[2022-05-18 12:48] huangweixin1994 commented on #837
Hi, lanctot:
     Thank you very much for your reply! I do run the python example with the game name of `python_kuhn_poker`.  In fact, I add some logging code and change some parameters in the "kuhn_poker.py" , and then run

But the output seems to be same of the original one.

[2022-05-18 15:59] lanctot commented on #837
No worries!

[2022-05-19 08:37] #815 closed

[2022-05-19 08:37] #833 closed

[2022-05-19 08:38] #836 closed

[2022-05-19 23:23] GitMew opened #839 "Dynamics3x3Axes subplot is smaller than others"
I'm plotting 2x2 and 3x3 dynamics besides each other. You'd expect the top and bottom edges of the square 2x2 plot to be reasonably close to the level of the triangular 3x3 plot's base and tip, but the 3x3 plot seems shrunk down. I've looked in many places, and there doesn't seem to be a way in matplotlib to scale up just one of the subplots manually.

On the topic of scaling in 3x3 plots: I've be

[2022-05-19 23:26] lanctot commented on #839
@dhennes, any idea?

[2022-05-23 10:29] lanctot opened #843 "Call for New Games"
Hi all,

I'm starting a thread to collect requests for new games and plans for upcoming games. We will keep this updated as new games get released, and as requests come in (please feel free to comment on this thread to add a request).

Games we would like to add to OpenSpiel:

- Ant foraging on a grid
- Capture-the-Flag on a gridworld (or other team adversarial games)
- [Chinese Checkers](https://

[2022-05-27 09:03] Jazeem commented on #843
- Mahjong
- Reversi
- Yacht
- Dominoes

Could be good additions

[2022-05-27 09:08] lanctot commented on #843
We already have Othello (Reversi), but I will add the others, thanks!

[2022-06-03 10:42] nikhilweee opened #854 "Information State Tensor Format"
I am running Leduc Poker and I am having a hard time figuring out the format for the Information State Tensor. Where can I find more information on how the following Information State String is translated to the corresponding Information State Tensor?
[code]

[2022-06-04 08:55] lanctot commented on #854
Hi @nikhilweee,

You can find the function that fills the tensor here: https://github.com/deepmind/open_spiel/blob/da774f602fb4a390e66b979a67210498fd0d8919/open_spiel/games/leduc_poker.cc#L176

The bits include: one-hot encoded observing player, one-hot encoded private card, one-hot encoded public card, then the betting sequence of one-hot encoded actions (call or raise).

Also described in the co

[2022-06-04 20:14] nikhilweee commented on #854
I see, this was very helpful. Thank you so much!

[2022-06-04 20:14] #854 closed

[2022-06-05 01:36] lanctot commented on #854
No problem!

[2022-06-07 02:21] rezunli96 opened #858 "A question in state_distribution.cc"
so in this for loop
https://github.com/deepmind/open_spiel/blob/c1fbaca644aaf6c7dd82eea4f62cccd9f6469a5d/open_spiel/algorithms/state_distribution.cc#L226

Is there a particular reason that it is written as a for loop? Can't it be just checking whether my_infostate_str is in infostate_action_map, and if it is then directly extract the corresponding action from the map and add the new (state, prob)

[2022-06-07 12:23] lanctot commented on #858
Hi @rezunli96,

Hmm.. I don't see why you would have to iterate over your actions unless this code was trying to support the case of imperfect recall where the player forgets their own past actions. I believe we might have used it in that settings, but even if we did, it's not well-documented because the header says it assumes perfect recall: https://github.com/deepmind/open_spiel/blob/c1fbaca644a

[2022-06-08 15:41] wshwc opened #859 "module 'pyspiel' has no attribute 'Gameparameter'"
module 'pyspiel' has no attribute 'Gameparameter'

[2022-06-08 18:54] lanctot commented on #859
Hi @wshwc,

We will need more information in order to help. Did you install from pip or source? What platform and compiler + versions?  What python version are you using? What are you trying to do that causes this error?

[2022-06-09 02:01] wshwc commented on #859
In 'Multi-agent Reinforcement Learning in OpenSpiel: A Reproduction Report', the report bases experiment on OpenSpiel release 0.2.0.
I use python 3.7.13 and 'pip install open-spiel', but openspiel 1.1.1 is installed.

[2022-06-09 02:03] wshwc commented on #859
game = pyspiel.load_game_as_turn_based(
            "goofspiel", {
                "imp_info": pyspiel.GameParameter(True),
                "num_cards": pyspiel.GameParameter(4),
                "points_order": pyspiel.GameParameter("descending")
            })

module 'pyspiel' has no attribute 'Gameparameter'

[2022-06-09 08:51] lanctot commented on #859
Hmm, I don't remember why that no longer works, but you can do this now:

[code]

or this:

[code]

Can you tell me where you found that way of loading the game as turn-based? Because we should update that code to remove the pyspiel.GameParameter which is no longer necessary.

[2022-06-09 09:41] wshwc commented on #859
Thank you very much, you solved my problem.
In fact, the code I download is based on open-spiel 0.2.0, but some syntax in the code has been deprecated in open-spiel 1.1.1。

[2022-06-09 11:29] lanctot commented on #859
Ah yes, ok makes sense.

[2022-06-10 08:35] dhennes commented on #839
Hi @GitMew, sorry for the delay. You could try this to manually set the bounds of you subplots:
[code]

[2022-06-13 15:23] wshwc opened #863 "pyspiel.state"
import random
import pyspiel
import numpy as np

game = pyspiel.load_game("kuhn_poker")
state = game.new_initial_state()
while not state.is_terminal():
  legal_actions = state.legal_actions()
  if state.is_chance_node():
    # Sample a chance event outcome.
    outcomes_with_probs = state.chance_outcomes()
    action_list, prob_list = zip(*outcomes_with_probs)
    action = np.random.choice(action_

[2022-06-14 21:20] lanctot commented on #863
Hi @wshwc ,

The games are implemented in C++ and exposed to python. So the game logic is in kuhn_poker.cc, which means you cannot directly step into the logic from Python.

For this game in particular there is a pyyhon implementation (name is python_kuhn_poker) which will allow that: see the python/games foldee.

[2022-06-16 10:53] yclicc opened #864 "Use of designated initializer not allowed in C++17"
https://github.com/deepmind/open_spiel/blob/0ffd9584c8be560f4e0f659b3ad93933d9078b48/open_spiel/games/mfg/dynamic_routing.cc#L95-L102

Use of designated initializers is a C++20 feature and the supported version of C++ is C++17. This led to a compile error when building on Windows 10. I'm not an expert on C++ so not sure how this should best be rewritten, but I was able to make open_spiel compile b

[2022-06-16 11:48] lanctot commented on #864
Hi @yclicc,

Thanks for reporting. I will try submitting a PR to fix and link you the fix to try on your side.

[2022-06-16 11:53] lanctot commented on #864
Ok can you try making the changes describe here: https://github.com/deepmind/open_spiel/pull/865/files

(Please confirm if it works as a result.)

[2022-06-16 13:26] yclicc commented on #864
Yep, thanks, that compiles now! I can't comment on whether the mean field games still work as intended though as I haven't used that part of the package and can't find an example script for it.

[2022-06-16 13:26] #864 closed

[2022-06-20 07:07] wshwc commented on #863
Yes, I tried to find C++ code of pyspiel.state until I see the following code block。

 py::classh<State, PyState> state(m, "State");
  state.def(py::init<std::shared_ptr<const Game>>())
      .def("current_player", &State::CurrentPlayer)
      .def("apply_action", &State::ApplyAction)
      .def("apply_action_with_legality_check",
           py::overload_cast<Action>(
               &State::ApplyA

[2022-06-20 09:19] lanctot commented on #863
I also recommend that you watch this tutorial to learn the basic functions: https://www.youtube.com/watch?v=8NCPqtPwlFQ

[2022-06-21 07:57] wshwc commented on #863
Looking forward to your docs page for the API reference.
Now I know more about openspiel.
Thank you very much.

[2022-06-21 08:27] lanctot commented on #863
Thanks. For now there is this: https://openspiel.readthedocs.io/en/latest/

[2022-06-23 01:41] wshwc commented on #863
Now I know how to implement a specific algorithm to solve the equilibrium strategy of a game.
So far, I have learned the basic use of this library. Later, I will learn more about the implementation details of some algorithms，such as Deep CFR, NFSP.
Thank you for your reply and for taking the time to help me.

[2022-06-23 09:14] lanctot commented on #863
No problem, you're welcome. :) Please don't hesitate to ask more questions as they come up.

I will close this issue for now but you can open new ones as necessary.

[2022-06-27 08:49] acforvs commented on #843
What are your thoughts on adding 2048?
The original repo https://github.com/gabrielecirulli/2048 is under an MIT license, so I hope there shouldn't be any problems regarding copyright..

[2022-06-27 19:02] lanctot commented on #843
Great idea, I'll add it to the list!

[2022-06-29 12:19] roolio opened #872 "struggling compiling alphazero_torch version"
Hello,
(and Kudos for the amazing work!)
I'm struggling since a couple of days to have a working version of alphazero libtorch version (python version works fine, but I guess it'll takes ages to train a model)

During compilation phase (/build_and_run_tests.sh), I get compilation errors on alpha_zero_torch_example or  torch_integration_test  like those :

bsl::lts_20211102::AlphaNum const&)'
clang

[2022-06-29 22:00] lanctot commented on #872
On first glance it seems like you are not linking in some abseil targets. Possibly the linker is picking up the binary abseil libraries from a different location which are missing those symbols. Abseil would be downloaded and installed when you run `./install.sh`. Maybe those steps are done manually in the Docker files, I have not checked in a while.) Can you tell me if you have a `abseil-cpp` in

[2022-06-29 22:09] lanctot commented on #872
I noticed tensorflow in the Docker image name. I _believe_ Tensorflow includes past versions of abseil in it, so it's possible that your linker is finding and linking against those, rather than the ones included in OpenSpiel.

Can you inspect the output to see if it lists the path to the abseil library it's trying to link against? It might have something like `libabsl_strings` in the name.

[2022-07-03 23:48] rezunli96 opened #875 "Value targets in AlphaZero"
Hello, I have a question regarding the current AZ implementation. It looks that it uses the average return from MCTS simulation as the value targets:
https://github.com/deepmind/open_spiel/blob/6a49b935bf674920071d0a23464a6d4fa3b39618/open_spiel/python/algorithms/alpha_zero/alpha_zero.py#L229-L232
The loss of the value network is defined as:
https://github.com/deepmind/open_spiel/blob/6a49b935bf67

[2022-07-04 00:26] rezunli96 commented on #875
NVM I think it is using the actual outcomes:
https://github.com/deepmind/open_spiel/blob/6a49b935bf674920071d0a23464a6d4fa3b39618/open_spiel/python/algorithms/alpha_zero/alpha_zero.py#L382-L385

[2022-07-04 00:26] #875 closed

[2022-07-04 16:55] maayanorner opened #877 "OpenSpiel Implementation of Diplomacy"
Hi,

I was wondering - is there a plan to include Diplomacy in OpenSpiel?
Anthony et al. wrote a (beautiful) paper about SBR which cites OpenSpiel - and I was not sure if it means that it was implemented using the framework.

The thing is, I can probably "easily" (nothing is easy but kind of) extend MILA's game engine (https://github.com/diplomacy/diplomacy) or maybe dipcc (SearchBot's) for OpenSp

[2022-07-05 09:51] lanctot commented on #877
Hi @maayanorner,

There is no plan to include Diplomacy in OpenSpiel.

There are currently some blockers technical blockers, e.g. the core OpenSpiel interface uses flat integer actions. We would have to add support for combinatorial (vector-typed) actions. This is doable and we have been intending to do it for some time, but haven't yet.

For research on Diplomacy, given its complexity, it would s

[2022-07-05 11:01] maayanorner commented on #877
You are right dipcc is CPP already, I have no extensive experience using it yet but it is worth a check.

Personally, I thought that even if the existing algorithms don't work, when there is a standard API, the comparison is much easier.
But it might be impractical.

Anyway, I truly appreciate your response and will stay tuned to see if there is a way I can assist.

[2022-07-06 13:49] wshwc opened #878 "How to solve the exploitability of Large Game"
In open_spiel/python/example/deep_cfr, the tabular method is usually used to solve the exploitability or NashConv of kuhn poker.
    """
    average_policy = policy.tabular_policy_from_callable(game, deep_cfr_solver.action_probabilities)
    conv = exploitability.nash_conv(game, average_policy)
    """
Can we find a good way to calculate the exploitability when the scale of game is large?
Thank yo

[2022-07-06 14:03] lanctot commented on #878
The best method I know about is [ABR by Timbers et al.](https://arxiv.org/abs/2004.09677), but there is no implementation in OpenSpiel and it requires a lot of computational resources. This paper will be presented by Nolan Bard at IJCAI later this month. There is a tabular implementation in https://github.com/deepmind/open_spiel/pull/852 by @rezunli96 that could be adapted to function approximatio

[2022-07-06 20:33] lanctot commented on #872
Any luck?

[2022-07-06 20:33] #839 closed

[2022-07-06 20:34] #546 closed

[2022-07-06 20:34] #528 closed

[2022-07-06 20:36] lanctot commented on #877
No problem, makes sense. See also: https://github.com/deepmind/open_spiel/issues/770.

[2022-07-06 20:40] lanctot commented on #816
Any update on this? If not I am inclined to close it.

[2022-07-06 20:43] #422 closed

[2022-07-06 21:02] lanctot commented on #737
@chiraguic , just checking if you have an update on this? If not, I'm inclined to close the issue. Let me know what you think.

[2022-07-06 21:12] lanctot commented on #728
Closing as outdated, but it'd still be fun to have a network-based game implementation for doing it in other languages!

[2022-07-06 21:12] #728 closed

[2022-07-07 17:56] uduse commented on #595
@lanctot I'm still working on [the project](https://github.com/uduse/moozi). The project became more complicated than I envisioned and it would be extremely difficult to be ported as a part of OpenSpiel. That said, I am still using OpenSpiel games to train it and it would be a nice example of using OpenSpiel in a complicated DRL system.

[2022-07-08 02:26] wshwc commented on #878
Wow, I will take a look at these knowledge points immediately. And if there are any questions,  I will leave messages under this column.

[2022-07-08 07:24] #737 closed

[2022-07-08 07:24] #548 closed

[2022-07-09 05:51] masonmcbride opened #880 "matrix_game_utils missing sequence-form sparse matrix conversion?"
It looks like ExtensiveToMatrixGame defaults to creating a payoff matrix of all pure strategies but that is far from desirable now. Especially with the new sparsification techniques, is there any option to convert the extensive form game (kuhn poker for example) into its sparse matrix form based on sequences?

[2022-07-09 05:55] masonmcbride commented on #880
I want to explore solving games using linear programs and I am struggling to find a general method that converts the way I have written kuhn poker to implement CFR and the sparse sequence-form version used in modern LP methods. I thought ExtensiveToMatrixGame would help but it just goes to pure strategies.

[2022-07-09 09:18] lanctot commented on #880
Hi @masonmcbride,

`ExtensiveToMatrixGame` is just a demonstration for toy games. I'm not sure what method you're referring to (can you be more specific?), but I can say with a high degree of certainty that it's not implemented in OpenSpiel.

OpenSpiel only has limited support for the sequence-form and mostly an intermediate step to be able to send them to solvers (though https://github.com/deepmi

[2022-07-09 17:18] masonmcbride commented on #880
Thank you! To be more specific I meant this paper from Mr Farina: Fast Payoff Matrix Sparsification Techniques for Structured Extensive-Form (aaai.org/AAAI22Papers/A…)

[2022-07-10 00:36] #756 closed

[2022-07-11 11:39] #810 closed

[2022-07-16 23:13] pklehre opened #883 "Installation error (install.sh)"
I get the following error message while running ./install.sh

[code]

This can be fixed by adding the following at line 117 in 'install.sh'

[code]

[2022-07-17 04:28] lanctot commented on #883
Hmm.. odd, it works fine on the CI and local tests as is

Can you tell me what platform you are using?

Also is this from a fresh checkout of master or rerunning from a recent pull of an outdated clone?

[2022-07-17 13:35] pklehre commented on #883
I am using Debian. Here is a minimal Dockerfile which illustrates the problem:

[code]

[2022-07-17 14:28] pklehre commented on #883
I suspect the issue arises from the parameters `--single-branch --depth 1` passed to `git clone` in the function `cached_clone()`.

[2022-07-17 16:38] lanctot commented on #883
Hmm.. I wonder if it's due to a default setting of git from a fresh Debian install within Docker.

Can you submit a PR to add that line, it will trigger the CI tests; to confirm that it won't interfere with the non-Docker workflow?

[2022-07-17 16:44] pklehre commented on #883
In fact, adding `git fetch` did not fix the issue. I had to remove '--single-branch --depth 1'. I can prepare a PR for that line.

[2022-07-17 16:47] lanctot commented on #883
Actually, that should not be `--depth 1`, it should be `--depth 15`. Can you try with that?

[2022-07-17 16:47] lanctot commented on #883
(I meant to copy the one from the Hanabi Learning Environment slightly below that)

[2022-07-17 17:04] pklehre commented on #883
Yes, `--depth 15` works on my machine. However, isn't this problem likely to return when further commits are made to the pybind11_abseil repository?

[2022-07-17 17:27] lanctot commented on #883
Oh yes you're right (I misunderstood what the --depth did at first). Thanks!

[2022-07-17 19:22] pklehre commented on #883
I have created a new pull request which removes the --depth etc. for both pybind11_abseil and hanabi. I have also signed the CLA.

[2022-07-17 21:00] rezunli96 opened #886 "Do we need also to store data from RL policy in the RL buffer in NFSP?"
Hello, one minor question about the current implementation of NFSP. According to the [original paper](https://arxiv.org/pdf/1603.01121.pdf), data generated by either SL or RL policy are all stored in M_{RL} for learning RL best response. However according to the current implementation:

https://github.com/deepmind/open_spiel/blob/4924f3de48bf88421259eddc1454f7a1f37d0dc8/open_spiel/python/algorithm

[2022-07-18 00:14] lanctot commented on #886
Hi @rezunli96,

The transitions are always stored in the RL buffer, but in one case it happens within the DQN agent's step function (line 189).

[2022-07-18 01:18] rezunli96 commented on #886
I see, thanks!

[2022-07-18 01:18] #886 closed

[2022-07-18 04:36] #872 closed

[2022-07-18 04:38] #772 closed

[2022-07-18 04:40] #816 closed

[2022-07-18 13:19] lanctot commented on #883
Fixed by https://github.com/deepmind/open_spiel/commit/2651e77362d43af5aabb4e4b78f85d77bf5cf9e1

[2022-07-18 13:19] #883 closed

[2022-07-19 19:28] ryan-dorazio commented on #880
@masonmcbride  Not sure about Farina et. al. but to your original question, as @lanctot  pointed out, #871 includes some new methods in `open_spiel.python.algorithms.sequence_form_utils`  that allow you to construct the sequence form payoff matrix but it is in python. Here's an example of how you can extract the payoff matrix for Kuhn:

[code]

There's a lot of variables constructed from `sequence

[2022-07-20 13:01] chengzelei opened #887 "Exception when running alpha_zero.py on Othello"
I attempted to train a AlphaZero model for the Othello game and followed the instruction. The running script is as below:
python3 alpha_zero.py --game othello --nn_model mlp  --actors 10 --path othello/

However, after running the program for 6 steps, the program throw an exception as below:

Traceback (most recent call last):
  File "alpha_zero.py", line 98, in <module>
    app.run(main)
  File "

[2022-07-20 15:35] lanctot commented on #887
@tewalds any idea what could be causing this?

[2022-07-21 10:40] tewalds commented on #887
I suspect this is a bug in othello's max game length, which is currently defined as kNumCells, but doesn't take pass actions into account.

[2022-07-21 10:45] tewalds commented on #887
I guess a non-crashing general way of dealing with this would be to change alpha_zero:372 to
`game_lengths_hist.add(min(len(trajectory.states), game.max_game_length()))`
so it's at least tolerant of games that underspecify their max game length. You could do that in utils/stats.py as well, but I think I'd prefer that not blindly tolerate invalid values without the higher level knowledge of whether

[2022-07-21 11:17] chengzelei commented on #887
If taking pass action into account, considering the worst case when one party keeps taking action while the other always takes pass, should the max game length of othello be 2*grid size?

[2022-07-21 11:43] chengzelei commented on #887
I suspect it could not solve the othello issue. The max game length is 64, if I have a trajectory of length 100, using min operation, the list index out of range issue may still exist. How about using max operation? It is apparently unsafe but may solve this specific issue for othello I guess?

[2022-07-21 12:01] lanctot commented on #887
Can you add a try/catch and print out `state.serialize()` so we can inspect the game?

[2022-07-21 12:03] chengzelei commented on #887
I didn't customize the othello environment. I just want to take an example when the trajectory length is greater than the current max length 64.. 100 just means a number bigger than 64. I saw some cases when 3 or 4 passes happened.

[2022-07-21 12:05] chengzelei commented on #887
Sure. Will do it now. It may take four or more hours to see the crash.

[2022-07-21 12:07] lanctot commented on #887
Oh I misunderstood, sorry. Yeah let's just fix the Othello max game length to something safer like 2*grid_size. Can you submit a PR?

[2022-07-21 12:08] lanctot commented on #887
Oh it's not necessary. I misunderstood. I thought you were claiming that you had already seen a trajectory with 100 moves. My bad, thanks anyway.

[2022-07-21 14:35] chengzelei commented on #887
I tried to modify the max game length in othello.h (https://github.com/deepmind/open_spiel/blob/master/open_spiel/games/othello.h), but it didn't work (still list index out of range). Am I missing something important here?

[2022-07-21 15:25] lanctot commented on #887
Did you recompile? (Could be that our initial guess was wrong, too :))

[2022-07-22 15:40] chengzelei commented on #887
Oh, I realize that I used the simplest installation way, i.e., pip install. After modifying the code in the site-packages/open_spiel, the code worked. Thank you so much for your assistance!

[2022-07-22 15:48] chengzelei commented on #887
I tried to train an alpha_zero model with mlp (10 actors) for the connect four game using two weeks and finally got the average reward of around 0.85. May I ask if any reference can be provided regarding alpha_zero models? If not, could you please provide any suggestions regarding the computing resources, i.e., how many actors are preferred? Any guidance would be very helpful.

[2022-07-24 08:38] godmoves opened #891 "Implement the sample-based NeuRD"
Hi, I have just read the [DeepNash](https://arxiv.org/abs/2206.15378) paper and I am quite interested in the NeuRD algorithm. But it seems the sample-based version is not implemented in the OpenSpiel repository, so I am trying to do it myself.

I find there are some discussions about it in #148 and #316, so I just follow the instructions in #316 and add a **PyTorch** version. I choose to use the *

[2022-07-25 02:54] godmoves commented on #891
To verify the RPG result of the PyTorch code, I also ran an extra experiment on the Tensorflow code. But the result is still worse than the value reported in the paper.

It is mentioned that the learning rate is decayed to 0 in the [RPG paper](https://arxiv.org/abs/1810.09026). Is this also used in the OpenSpiel experiments?

There is a temperature for softmax, too.

By the way, the hyperparameter

[2022-07-25 18:03] lanctot commented on #891
Hi @godmoves, this is awesome! It's been repeatedly asked for (as you found out), so it would be great to finally include in the library.

For the RPG results, I'd recommend looking at this paper: https://arxiv.org/abs/2103.00187. I think they found a different set of hyper-parameters worked better than the defaults we have (which I think may have been tuned on Kuhn poker) and the ones from the or

[2022-07-26 03:47] godmoves commented on #891
@lanctot Thank you for your reply. I submit a pull request in #892.

For the RPG, I ran a new experiment with policy learning rate decay from the initial value to 0, and its performance is better than fixed learning rate. I will use the hyperparameter in https://arxiv.org/abs/2103.00187 to run an extra RPG check.

![image](https://user-images.githubusercontent.com/25997471/180918027-00f5ef7b-f4ec-

[2022-07-27 07:51] godmoves commented on #891
Unfortunately, I can not reproduce the RPG result on Kuhn poker in https://arxiv.org/abs/2103.00187 even using their [open-sourced code](https://github.com/aicenter/openspiel_reproductions). I don't know if there are some changes in the OpenSpiel codebase that affect the behavior of RPG.

But the good news is that NeuRD's performance is better than RMPG/RPG/QPG on Kuhn Poker both in speed and expl

[2022-07-27 09:35] lanctot commented on #891
Wow, reproducibility is hard :'(

There have been several Tensorflow (and other python package) upgrades since then. Could be something numerical? I can't think of any changes to the policy gradient code that would have caused it.

Either way, it is good to know about. I will keep it in mind and follow-up if I think of anything. Meanwhile, thanks again for contributing the sampled-based NeuRD loss

[2022-07-27 12:03] dipplestix commented on #843
Is anyone working on Cribbage? I'd be willing to take on that one

[2022-07-27 13:24] lanctot commented on #843
I would really, really _love_ to see Cribbage in the code base! I had some interactions with a redditor who said they would look into it, but have not heard from them in a while. I'll touch base with them and point them to this conversation and let you know soon.

[2022-07-27 15:15] lanctot commented on #843
@dipplestix Ok heard back from them: they got replied saying they had been busy and was thinking of getting back to it in the fall, but it shouldn't stop someone else. If you finish it before the summer ends then maybe they could even help (they are thinking of doing research in the game). So, it sounds like you should go for it :) If you'd like to contact them, contact me by email and can give th

[2022-07-30 23:28] BedirT opened #895 "Cmake version requirements"
I get this error with CMake 3.16.3

In the installation guide, it still says 3.12

https://github.com/deepmind/open_spiel/blob/ae9371a1c92a6bfb2312e8315882bfe7d3e69a1a/docs/install.md?plain=1#L28

[2022-07-31 09:47] lanctot commented on #895
Ah yes that was updated a while ago and we forgot to update the docs. In fact I recently skimmed through our documentation and there's several things out-of-date or inaccurate. We'll fix it in the coming weeks before the next release, and I'll be sure to include this too. Thanks!

[2022-08-02 10:52] #887 closed

[2022-08-04 03:25] AntzenSb opened #896 "Using agents in Monte Carlo Tree Search evaluators"
I am attempting to use a Monte Carlo Tree Search (MCTS) algorithm in [mcts.py](https://github.com/deepmind/open_spiel/blob/120420a74a69354d64c10b51cd129d4587f9f325/open_spiel/python/algorithms/mcts.py) to determine the policy of an agent, and I want to use an Evaluator that evaluates a game state using the policy of some other agent. Specifically, I would have something similar to [RandomRolloutEv

[2022-08-04 04:11] rezunli96 commented on #896
Hi @AntzenSb. I think you can just wrap up a time_step object by calling the class function of state. For example you can let ```time_step = TimeStep(observations=state.observation_tensor(), rewards=0, discounts=0, step_type= StepType.MID)```. Please see[ rl_environments.py](https://github.com/deepmind/open_spiel/blob/master/open_spiel/python/rl_environment.py).

Regarding your general note, I thi

[2022-08-04 15:49] sagebei opened #897 "Nim game not available"
Nim game is on the game list at: [available games](https://openspiel.readthedocs.io/en/latest/games.html). But it is not available in `pyspiel.registered_games()`.

[2022-08-04 15:55] lanctot commented on #897
Hi @sagebei,

Are you using OpenSpiel via colabor via the pip binary installation? If so, then it's because that installs the latest release (1.1.1) which did not contain Nim since it was only recently added to master (last month). We are planning a release this month, though-- hopefully within the next week or two. Nim will then be available in that release. Until then, you need to build from sou

[2022-08-04 16:02] sagebei commented on #897
Hi @lanctot

Yes, I am using the pip installation. I will reinstall from the source then. Thank you for your prompt reply!

[2022-08-04 16:05] lanctot commented on #897
No problem. Remember to uninstall the pip version first (`python3 -m pip uninstall open_spiel`) otherwise your Python interpreter will likely find that one instead :) Keep an eye out for the release if you want to switch back!

[2022-08-04 16:05] #897 closed

[2022-08-05 02:57] AntzenSb commented on #896
Hi @rezunli96 , thanks for the quick response and explanation! I think differentiating between 'state' in game theory and 'state' in RL is an interesting idea although it seems like a lot of the properties traditionally assigned to one can still be applied to the other (e.g. imperfect information also can be modeled in RL contexts) and thus both can be united under one "state" object. But that's j

[2022-08-05 10:51] sagebei opened #898 "Error building from source"
Hi,

I was installing the open_spiel library by building from source and following the instructions [here](https://github.com/deepmind/open_spiel/blob/master/docs/install.md#configuring-conditional-dependencies). Everything was fine until I run the last command, which raised the error: `ImportError: /home/bei/PycharmProjects/open_spiel/build/python/pyspiel.so: undefined symbol: _ZNSt15__exception_

[2022-08-05 11:29] lanctot commented on #898
Did the build work and you are having the problem when you try to import pyspiel, or did the build fail?

Can you tell me what platform you are using? (OS and version + python version)?

[2022-08-05 11:39] sagebei commented on #898
The build worked fine. The problem occurred when I run the test. I cannot import pyspiel as well (`PYTHONPATH `was added to the virtual environment).

I am using python 3.9.7 and Ubuntu 22.04.1 LTS

[2022-08-05 11:53] lanctot commented on #898
Can you try with skipping steps 4 & 5 above and using `python3 -m pip` instead of `pip3` for steps 6-8?

Seems like others have had similar issues with pybind11 (are you using Conda?), so if that doesn't work see this thread for more info and some things to try: https://github.com/pybind/pybind11/issues/3623

[2022-08-05 18:28] sagebei commented on #898
Hi @lanctot

Thank you. I tried the method you mentioned, but it did not work. Luckily, **that problem did not arise on another machine**. I am trying out the Nim game and found that the state representation and action representation are hard to comprehend, as shown below. Is there any documentation that shows how the game is represented?

`initial_state.observation_tensor() -->
[1.0, 0.0, 0.0, 0.

[2022-08-05 19:03] lanctot commented on #898
Ah yes, the actions in OpenSpiel are all integers and for games with structured action spaces like this, it can be hard to see exactly what each means. You can always call `state.action_to_string(player_id, action)` to get a more friendly string representation. For programmatic access you need to expose per-game converters. Here is an example of them for Backgammon: https://github.com/deepmind/ope

[2022-08-05 19:12] sagebei commented on #898
Thank you very much! That is very helpful. I did not know we can do like that. I will check out that video which seems to be informative.

[2022-08-05 19:12] #898 closed

[2022-08-05 20:05] rezunli96 commented on #896
Yes the current fix makes sense. TimeStep is really just a wrapper class which can contain any information your agent need. I guess the problem is solved now:) ?

[2022-08-06 02:30] #896 closed

[2022-08-08 20:34] VitamintK opened #901 "Why do ACPC and Hanabi env variables default to ON?"
https://github.com/deepmind/open_spiel/blob/master/setup.py#L86

On a fresh computer, `$OPEN_SPIEL_BUILD_WITH_ACPC` and `$OPEN_SPIEL_BUILD_WITH_HANABI` default to "ON" which means that if not manually turned to "OFF", the installation errors.

Just wondering if they should both default to "OFF" to make the initial installation experience smoother?

[2022-08-09 02:05] lanctot commented on #901
Hmm, that's because we use the setup script mostly to test and distribute the wheels. I did not think people would use setup.py to build OpenSpiel, but I guess it should be an option. I will look into this in the coming weeks.

[2022-08-09 02:53] VitamintK commented on #901
Yeah, I install by doing `pip install -e .` as mentioned in `install.md`, step 4.

[2022-08-10 13:33] nikhilweee opened #903 "Comparison between two game states"
As the question says, my code tries to compare two different game states. When is `state1 == state2`?

From my limited knowledge of pybind11, I can see that equality for games is determined from this code snippet: https://github.com/deepmind/open_spiel/blob/b5e0bf6495bd8baf7c6011c18fa4fd403e21385d/open_spiel/python/pybind11/pyspiel.cc#L378-L381

However, I cannot find anything similar for states.

[2022-08-10 14:12] chengzelei opened #904 "Well-trained model"
Is it possible to release some well-trained models for the games supported by the open spiel framework such as connect four, breakthrough, and othello?

[2022-08-10 15:13] VitamintK opened #905 "error when using python games with C++ CFR algorithm"
I get an error `bad_weak_ptr` when I try to use python games with C++ CFR. I'm 99% sure this used to work, but sometime over the past half-year it stopped working.

Tested on both Mac OS and Ubuntu with a fresh install:

[code]

[2022-08-10 15:27] VitamintK commented on #905
Weird... I would have expected this bug to apply to all C++ algorithms, but it looks like `pyspiel.exploitability` works (as tested in the [kuhn_poker_test.py](https://github.com/deepmind/open_spiel/blob/master/open_spiel/python/games/kuhn_poker_test.py)). So it's just the CFR algorithms that break?

[2022-08-10 20:00] lanctot commented on #903
Hi @nikhilweee, it is just plainly missing :)

In fact I just discovered that we defined `__eq__` is defined for the other ones. The good thing is we have the actual `==` operator overridden for states, see here: https://github.com/deepmind/open_spiel/blob/c6fafb92021a8a3aa5f9746cdb79e74917ed26a5/open_spiel/spiel.h#L318.

So, you we can add an even easier one for states that just does this: `retur

[2022-08-10 20:08] lanctot commented on #904
Hi @chengzelei, this is a recurring question. Unfortunately it does not exist (yet!). It would be quite a nice thing to have, though. An "OpenSpiel baselines" paper that includes some form of comparison between algorithms across games and releasing of models would be wonderful and I hope someone is motivated to contribute it =) Even if not, I would love discuss how such a repository of trained mod

[2022-08-10 20:31] VitamintK commented on #905
Thanks y'all! I also tested `pyspiel.CFRBRSolver`, `pyspiel.OutcomeSamplingMCCFRSolver`, and `pyspiel.ExternalSamplingMCCFRSolver` and confirmed that they give me the same error.

but `pyspiel.TabularBestResponse` and `pyspiel.exploitability` seem to work just fine.

[2022-08-11 09:41] sagebei opened #906 "Train an AlphaZero Agent on Nim game"
Hi,

As the Nim game and AlphaZero algorithms are implemented in the OpenSpiel, I wonder if it is possible to train an AlphaZero agent on Nim game using the library. Is there an instruction page on how to do it?

[2022-08-11 10:19] lanctot commented on #906
Hi @sagebei , yes the best place to start is here: https://github.com/deepmind/open_spiel/blob/master/docs/alpha_zero.md.

[2022-08-11 10:53] sagebei commented on #906
Thank you!

[2022-08-11 10:53] #906 closed

[2022-08-14 11:48] maayanorner commented on #169
It is probably a "noob question" - but I wonder, is there anything in OpenSpiel's architecture that makes python games slower than they would be if used without OpenSpiel? Because I do experience bad performance for my simple custom Python game, and I use a simple, custom RL algorithm without many moving parts (validated that the bottleneck is the env).

I know it's not very specific but I wonder

[2022-08-15 12:34] lanctot commented on #901
They are now removed: https://github.com/deepmind/open_spiel/commit/b847dc0c34ba6e62d2720411d973914ee88294c8

[2022-08-15 12:34] #901 closed

[2022-08-15 12:35] lanctot commented on #891
Closing as resolved from: https://github.com/deepmind/open_spiel/pull/892

Thanks for the contribution!

[2022-08-15 12:35] #891 closed

[2022-08-15 12:37] lanctot commented on #903
Heads-up: we are looking at adding this. Turned out to be slightly more subtle than we thought so we're discussing the addition.

[2022-08-18 02:49] 87a opened #908 "error installing on windows"
I'm installing open_spiel on windows using vs2019, and it gave me errors.

Cannot open include file: 'pybind11_abseil/absl_casters.h': No such file or directory

I guess it's due to pybind11_abseil is not installed.

[2022-08-18 08:26] lanctot commented on #908
Hi @87a , yes actually there are some lines missing from the documentation that will be added in the next github sync (Monday). This should be included in the set of commands run when installing dependencies:

[code]

Can you try it and let me know if it works?

[2022-08-18 08:35] 87a commented on #908
thanks, it works.

[2022-08-18 10:58] 87a opened #909 "How to use a specific game state in C++?"
In C++, game and state can be created by
`std::string game_name = "bridge";
open_spiel::GameParameters params;
std::shared_ptr<const open_spiel::Game> game = open_spiel::LoadGame(game_name, params);
std::unique_ptr<open_spiel::State> state = game->NewInitialState();`

But the state only has methods which was written in spiel.h class State, How do I create a bridge state which has special methods f

[2022-08-18 11:06] lanctot commented on #909
Hi @87a,

You must still use the `LoadGame` method and then down cast it to the specific state:

[code]

[2022-08-18 16:29] lanctot commented on #909
No problem!

[2022-08-18 16:29] #909 closed

[2022-08-19 08:42] lanctot commented on #905
Quick update that we are looking into it. Hopefully we will have a fix soon.

[2022-08-20 11:37] #895 closed

[2022-08-20 11:40] lanctot commented on #908
Documentation has now been updated in: https://github.com/deepmind/open_spiel/commit/7a1a2ee9b54006ab981770cbf3c03e36538ae7c6

Thanks for catching this and letting us know!

[2022-08-20 11:40] #908 closed

[2022-08-20 11:47] lanctot opened #910 "Core API Reference"
Hello all,

We've added a new core API reference:
- [GitHub](https://github.com/deepmind/open_spiel/blob/master/docs/api_reference.md)
- [Read The Docs](https://openspiel.readthedocs.io/en/latest/api_reference.html)

It's mostly intended for Python users but also has links to jump to the C++ function definitions too.

Please let us know if this is helpful, if it's missing anything, or if you have

[2022-08-20 11:52] lanctot commented on #910
Whoops, the Python links in the Read the Docs don't work. Stay tuned! =)

[2022-08-21 21:27] #905 closed

[2022-08-21 23:08] lanctot opened #911 "OpenSpiel 1.2 Released!"
Hello all,

OpenSpiel v1.2 has been released!

Several new games and algorithms have been added, improvements and bug fixes, and documentation updates (including a core API reference).

Details here: https://github.com/deepmind/open_spiel/releases

[2022-08-22 09:22] maayanorner opened #912 "Incorrect docstring in policy_gradient.py"
https://github.com/deepmind/open_spiel/blob/f4ae28033cc1f92ca4cc9f8bc87477ba9c8c4237/open_spiel/python/algorithms/policy_gradient.py

Hi,
The docstring states the critic learning rate is 0.001, but it really defaults to 0.01.
It has the same issue in PPO, etc., I guess it's related to some copy-pasting or something similar :)

Thanks

[2022-08-22 10:38] lanctot commented on #912
Thanks, good find! Can you submit a PR to fix the instances you found?

[2022-08-22 14:13] maayanorner commented on #912
Sure,
I will work on it as soon as I can.

[2022-08-22 14:32] VitamintK commented on #905
Thanks @elkhrt!

[2022-08-23 12:51] lanctot commented on #910
Turned out to be a [known issue with sphinx-markdown-tables](https://github.com/ryanfox/sphinx-markdown-tables/issues/18). Fixed now!

[2022-08-27 07:17] uduse opened #920 "Support for better game state visualizations"
I have been using OpenSpiel for my project and I found the string representation of the states are helpful but do have some limitations. I have been building visualization tools to use with OpenSpiel and I think it would be a nice contribution for OpenSpiel users, either as a part of OpenSpiel, or a standalone project.

## Key Features
### Render an image based on observation tensor
(Here, observa

[2022-08-27 16:27] rezunli96 commented on #920
Hi @uduse, yeah good point! I think yes the current string or tensor representation of a state was not designed for visualization purposes in every game. From my experience in many games the tensor representations were designed to be providing the most accurate information of a state on the "machine-level", so you may expect lots of one-hot encodings in it. And using strings to represent states ha

[2022-08-27 16:50] uduse commented on #920
@rezunli96 I agree! This totally sounds like a matter of taste. That's why I think maybe it's better for me to build the tool in a standalone project (and be unofficial) instead of being a part of OpenSpiel 🤔

[2022-08-28 08:11] lanctot commented on #920
Hi @uduse, those visualizations look great!

I've always slightly preferred mapping from the state object themselves, because those observation tensors could change at any time (they tend to not, though!) and can break the visualization if so, whereas the state APIs will never change. Also if you do from observations or information sets, you can't visualize the imperfect information games. But I u

[2022-08-28 17:01] uduse commented on #920
Yes, my approach gives up showing hidden information from the state and only visualize things that's also visible from the agent's point of view.

The GUI I use is any image viewer. I always work on a server and anything related to rendering to screen is more complicated. I found saving images and GIFs and opening them with VSCode has the less hassle among the solutions. I am not sure how many peo

[2022-08-29 02:26] linshuxi opened #921 "on neural replicator dynamics"
Hi guys,
I am trying to implement the neural replicator dynamics algorithm in the paper "Neural Replicator Dynamics:
Multiagent Learning via Hedging Policy Gradients", and the link of the article is https://arxiv.org/pdf/1906.00190.pdf.

The pseudo code is:
![2022-08-29 10-04-34屏幕截图](https://user-images.githubusercontent.com/6730777/187108954-03238248-e51d-4b81-bed9-e73620853ed4.png)

I have a few

[2022-08-29 04:43] rezunli96 opened #922 "non-marginal strategy selectors in psro_v2"
Hello. In the current implementation of psro_v2, right before it is going to do best response, it will first select a subset of strategies from the current strategy pool and then decided how to do BR using these selected strategies:
https://github.com/deepmind/open_spiel/blob/0e0ae2f1827f24dafe82372d1bf4ea1729cb9566/open_spiel/python/algorithms/psro_v2/psro_v2.py#L293-L313

However here is one thi

[2022-08-29 08:53] lanctot commented on #922
@PaulFMMuller can you take a look?

[2022-08-31 01:05] linshuxi commented on #921
Hi @lanctot, thanks a lot for the response, and it is very useful. I will share the results when i finish the experiments.

[2022-08-31 02:19] linshuxi opened #923 "On the acceleration of convergence process in neural replicator dynamics"
Hi,guys, i was wondering whether it is possible to accelerate the convergence process in Neural Replicator Dynamics. In this paper,https://arxiv.org/abs/1906.00190, the accumulated values **y**<sub>t</sub> at time t is approximated by Euler discretization. From my knowledge, the second order approximation is available and is it possible to use to accelerate the convergence process?

The analysis i

[2022-08-31 10:17] lanctot commented on #923
That is a neat idea, you should try it!

Tagging some potentially interested parties: @dmorrill10 @dhennes @shayegano @perolat

[2022-09-04 11:41] #911 closed

[2022-09-04 11:41] #910 closed

[2022-09-05 02:13] zhang-yingping commented on #878
RL methods to evaluate exploitability seems to be impractical in multi-player extensive games. Maybe it's a more difficult problem for large game more than 2 players ?

[2022-09-06 08:56] 87a opened #928 "Any methods to use a pytorch model to generate trajectory in C++ side?"
Hi there, suppose I have a pytorch model, and I want to use it to generate trajectories for reinforcement learning, for example REINFORCE. The code in python should be like
[code]
but it seems like a bit slow in python, so i'm wondering if I can use pybind and libtorch to generate trajectories in parallel and get buffers return to python. But I can't find an example, that is, is it possible to pas

[2022-09-06 14:04] lanctot commented on #928
We do not have anything like this, but it would be quite useful to have.

We have a few things, though, that are quite relevant in writing this:

- There is an old (unused) version of what you're describing in Tensorflow, see here: https://github.com/deepmind/open_spiel/tree/master/open_spiel/contrib
- There is an implementation of AlphaZero based entirely on C++ LibTorch, see here: https://github

[2022-09-08 09:03] RedBlack888 opened #929 "how to get state info"
Done~

Best

[2022-09-08 15:01] lanctot commented on #929
Seems like this was resolved? So, closing.

[2022-09-08 15:01] #929 closed

[2022-09-11 18:52] carlosgmartin opened #932 "BestResponsePolicy requires concrete policy probability values, fails with JAX abstract tracer values"
[`best_response.BestResponsePolicy`](https://github.com/deepmind/open_spiel/blob/master/open_spiel/python/algorithms/best_response.py#L87) (which is being called by my code via [`exploitability.nash_conv`](https://github.com/deepmind/open_spiel/blob/master/open_spiel/python/algorithms/exploitability.py#L154)) does not work when policy probabilities are JAX abstract tracer values:
[code]

This is d

[2022-09-11 20:35] lanctot commented on #932
Hmm, not sure I understand. I don't know what an abstract tracer value is... But don't all the probabilities need to be concrete for the best to compute a best response in the first place?

Does removing the threshold logic locally work for you?

[2022-09-11 21:11] rezunli96 commented on #932
Is it because there is a jitted function that calls BestResponsePolicy? If it is then I think it is normally not solvable because the execution flow of a jitted JAX function cannot be dependent on the concrete values of the input (e.g., if conditions. see this [link](https://jax.readthedocs.io/en/latest/jax-101/02-jitting.html#why-can-t-we-just-jit-everything)).

[2022-09-13 00:50] carlosgmartin commented on #932
@lanctot A tracer value is JAX's internal representation of intermediate values during transformations ([jit](https://jax.readthedocs.io/en/latest/_autosummary/jax.jit.html), [vmap](https://jax.readthedocs.io/en/latest/_autosummary/jax.vmap.html), etc.). It keeps track of all operations (addition, multiplication, etc.) that created it from the inputs so as to compile the resulting computation, whi

[2022-09-13 15:15] wbrenton commented on #597
@lanctot is there still interest in a JAX implementation of ARMAC for OpenSpiel?

[2022-09-13 15:25] lanctot commented on #597
@wbrenton

Absolutely! But it's not an easy algorithm to implement, so beware.

@dvstter submitted a PyTorch PR: https://github.com/deepmind/open_spiel/pull/706. Unfortunately Audrunas never found the time to look through it, so we never imported it.

I would be happy to re-open the idea of importing ARMAC into OpenSpiel. However, if we do, it's be good to see exploitability graphs comparable to t

[2022-09-13 20:20] wbrenton commented on #597
Fantastic! I'm pretty comfortable in JAX but I'll certainly reach out for some help to make sure the math is sound.

Looks like there is some good info in https://github.com/deepmind/open_spiel/issues/441, glad to have that. I was curious if the seminar mentioned in https://github.com/deepmind/open_spiel/issues/441#issuecomment-884574977 ever made it to your YouTube or elsewhere. Or if you or the

[2022-09-13 21:35] lanctot commented on #597
Yes, the seminar is here: https://www.youtube.com/watch?v=ycQqCT7FFRw. I spent less than 5 min on ARMAC starting at 38:50. So it's an overview but it is a good place to start.

I did not look deeply at @dvstter's implementation because I thought Audrunas would and then I got super busy, but if there's renewed interest, I would be happy to help in both cases, as it would be really nice to finally h

[2022-09-14 20:04] carlosgmartin commented on #878
Related: #519

[2022-09-18 08:10] 87a opened #933 "Can I use open_spiel as a shared library on windows?"
[library.md](https://github.com/deepmind/open_spiel/blob/master/docs/library.md) only provides this on linux and macos, so are there any methods to do this on windows? or it only supports linux and macos?

[2022-09-18 10:06] lanctot commented on #933
We've never tested it, but I would be surprised if it didn't work.

You just have to have the `BUILD_SHARED_LIB` environment variable set to `ON`, or you can manually set it on line 335 of CMakeLists.txt here: https://github.com/deepmind/open_spiel/blob/7f9a27cbca89f412802fb0d5283de8acaa19c4e2/open_spiel/CMakeLists.txt#L335

[code]

On Windows, the extension would be `.dll`, but everything else sh

[2022-09-19 04:17] 87a commented on #933
Thanks, by doing it I can see `open_spiel.lib` and `open_spiel.dll` in the `out/build/x64-Debug` folder, and can you provide an example of how to use it in cmakelist.txt?

[2022-09-19 09:07] lanctot commented on #933
Once you have OpenSpiel as a shared library, you probably can set it up via its own (separate) project in Visual Studio. You'd need to setup the project to link against that library and set the include paths.  That is probably the easiest way to do it. See [here](https://stackoverflow.com/questions/7845886/linking-dll-in-visual-studio) and [here](https://stackoverflow.com/questions/2676417/how-do-

[2022-09-19 09:07] #933 closed

[2022-09-21 08:43] axelbr opened #934 "Possible contribution: LOLA"
Hi,
I am planning to contribute a JAX implementation of [Learning with Opponent-Learning Awareness" (Foerster et al.)](https://arxiv.org/abs/1709.04326) if no one currently works on it and if it is still appreciated (I noticed it was mentioned in your call for contributions list).

I just wanted to check before starting to implement it :slightly_smiling_face:

[2022-09-21 14:54] lanctot commented on #934
Nice!! Absolutely welcome, would love to see it.

Nobody is currently working on it to the best of our knowledge.

[2022-09-22 17:21] wbrenton commented on #597
Very helpful thank you!

[2022-09-23 16:56] wbrenton commented on #597
Could you help me understand the bold in "a batch of 64 trajectories of **length 32**" look like for leduc poker? Longest action sequence to my understanding is (P1: C, P2: R, P1: R, P2: C or F). If your concatenating episodes to get length 32, was there any masking done in between episodes?

I'm writing this initial version for Leduc, then I'll iterate and expand the implementation to all applica

[2022-09-23 19:22] lanctot commented on #597
I believe the next two sentence answers how Audrunas did it:

So I don't think it even did any resetting of LSTM state between episodes, and the only thing different about the end of an episode is that there's a reward contained there. In most RL environments, the gamma is set to 0 when you hit the end of an episode to signify that the algorithm doesn't bootstrap across episode boundaries; I'm not

[2022-09-23 19:51] lanctot commented on #597
Just asked Audrunas: turns out he did both reset the LSTM at episode boundaries and set gamma = 0 for those terminal states (to prevent bootstrapping returns into the next state).

[2022-09-27 15:50] wbrenton commented on #597
Ok thank you for that info. Question regarding that last part: what is s_0 and s_1 in paragraph 4 of Appendix F then? I had interpreted it as each players infostate. If that's correct why concatenate them then immediately partition again?  Or perhaps _h1_ is the concatenation operation your referring to?

[2022-09-27 17:15] lanctot commented on #597
That's correct. s_1 and s_2 are the info states from the perspective of two different players, for the same history h. (These have been called "augmented information states in the past". In OpenSpiel, you can get them via `State::InformationStateTensore(Player player)`.

I do now understand what you mean when you say "immediately partition them again", can you elaborate? Maybe you mean why q_0 and

[2022-09-27 17:42] wbrenton commented on #597
All I'm saying by the "partition" comment is that if we concatenate s_0 and s_1 we need to partition that concat operation so we can perform a_0 = n_A(s_0) + n_B(s_1), a_1= n_B(s_0) + n_A(s_1).
I'm guessing that the concat operation you referred to in "Audrunas **concatenated the information state tensors** (from both players' perspectives) **_as an input_** to represent the history" is in the def

[2022-09-27 17:43] lanctot commented on #597
Oh!! Yes, I believe you're almost certainly right about that. :)

[2022-09-29 11:59] lanctot commented on #597
Confirmed by Audrunas.

[2022-09-29 14:00] dvstter commented on #808
I have encountered the same error. Here are some symtoms.
1. import open_spiel      [ok]
2. from open_spiel.policy import Policy    [no]
3. import pyspiel           [no]
4. import open_spiel.open_spiel     [ok]

I can confirm all my operations are same as the document. For example, my pythonenv are:
1. C:\Users\p1usj\open_spiel\open_spiel\out\build\x64-Debug
2. C:\Users\p1usj\open_spiel\open_spiel

[2022-10-01 07:28] dvstter commented on #808
Thanks for your help. I almost nearly found this problem solved, but the problems are not mentioned before. And there is one little problem still here.
Firstly, my pythonpath environment is set correctly. I found the reason I cannot import pyspiel is that I use another conda env. If I was using the base env, the pyspiel is imported without problem. If I changed to new environment, I cannot import

[2022-10-02 13:34] lanctot commented on #808
I think a path in your pythonpath is missing an extra open_spiel at the end of it

[2022-10-02 23:24] ngaustin opened #938 "error building in windows"
I have run into a bug while building in Windows Visual Studio Code. I have followed the instructions here: https://github.com/deepmind/open_spiel/blob/master/docs/windows.md . The CMake is successful but run into the following errors when attempting to Build All:
[code]

Any help would be appreciated. Thank you!

[2022-10-03 15:40] ngaustin commented on #938
Resolved. Switched to using Python 3.9 instead of Python 3.10, as noted in the instructions.

[2022-10-03 15:40] #938 closed

[2022-10-05 22:35] wbrenton commented on #597
Okay I've got an implementation working and able to descend the exploitability from around 15 -> 1-2. Some thoughts/notes/questions below.

1. I will need some guidance on evaluating the "candidate policies" used for behavior/exploration. I understand the construction of the candidate pool fine. Where I'm uncertain is the "dynamic switching between policies", the process by which we evaluate the c

[2022-10-06 10:12] roblim1 opened #942 "Shared library in Windows?"
Referencing #933, I am trying to build open_spiel as a shared library in Windows in MS Visual Studio 2019, but get the following error:

`Severity	Code	Description	Project	File	Line	Suppression State
Error	LNK2019	unresolved external symbol "void __cdecl open_spiel::LogUsage(void)" (?LogUsage@open_spiel@@YAXXZ) referenced in function "class std::shared_ptr<class open_spiel::Game const > __cdecl op

[2022-10-06 20:57] roblim1 commented on #942
Looks like I am able to build a shared library in Windows properly, per Issue #825.

[2022-10-06 20:57] #942 closed

[2022-10-06 21:00] lanctot commented on #942
@roblim1 ok but did you have to move utils/usage_logging.h and .cc to the core?

[2022-10-06 21:19] roblim1 commented on #942
@lanctot, yes exactly what I did.

[2022-10-06 21:20] lanctot commented on #942
Ok this has bitten us a few times, can I ask you to submit a PR with your changes?

[2022-10-07 08:01] Warlord-K commented on #912
@lanctot I have made the appropriate changes and made a PR for that, Please Merge it if this is correct, otherwise let me know if any modifications need to be made.

[2022-10-07 09:07] lanctot commented on #912
Perfect thanks. Should be merged on Monday.

[2022-10-07 10:42] roblim1 commented on #942
Sure, I can do that!

[2022-10-07 15:37] PrashantPD opened #944 "Optimal pricing policy in the game between the entrepreneur and the environment in a B2B setting"
Hi,

I find it interesting to model prices from the point of view of marketing in an entrepreneurial setting. This is relevant because the product is sold on the basis of the entrepreneur's characteristics too along with the product and consumer economics.

So, the environment comprises of consumers that adopt the new product (Bass, 1969 (https://pdodds.w3.uvm.edu/files/papers/others/everything/ba

[2022-10-07 21:18] gdsmithwmi commented on #774
Hi all. I'm having trouble playing backgammon from a saved checkpoint using python/TF.
I've managed to get the python/TF version training.  For example,

open_spiel/python/examples/alpha_zero.py --game backgammon --nn_model mlp --nn_depth 4 --actors 2 --path /home/gdsmith/az

seems to be working fine.  I can also restart training, e.g.,

open_spiel/python/examples/alpha_zero.py --nn_model=mlp /hom

[2022-10-13 04:42] PrashantPD commented on #843
Hi, I would like to work on the Pursuit-Evasion game played by 2 competitors say for instance: a company that employs an outside consultant and is receptive to recommendations and a company that makes decisions in-house as a canonical model deploying game theory. I will use the multi-armed bandit algorithm in which the company that employs an outside consultant will receive pricing recommendations

[2022-10-13 14:56] agruslys commented on #597
Hi, thank you for your interest in AMRAC. I will try to answer the questions above:

1. The questions conflates data collection and evaluation. The switching and the candidate pool exists for exploratory purposes in order to generate diverse behaviours by running randomly mixed and matched past policies with different modulations (ie. different epsilons, temperatures etc). This is a separate probl

[2022-10-13 16:36] agruslys commented on #597
I would like to clarify regarding (6): Q learning is both a policy improvement and evaluation algorithm. You have to use an off-policy policy evaluation algorithm to evaluate (non-deterministic) policies produced by regret matching.

[2022-10-14 01:00] sullins2 opened #948 "Simplest 2 player perfect information game?"
As the title says, I'm wondering which game is the simplest (as in smallest, fastest to train on) for 2 players and perfect information. It looks like it should be Pathfinding but I am unsure how large the grid is and whether I can reduce the rows/columns. I'm not sure if multiagent Pathfinding is zero-sum or cooperative but that matters less.

[2022-10-14 01:49] rezunli96 commented on #948
Hi, pathfinding seems to be a good one. You can actually specify `kExampleMultiAgentGrid` to customize the grid you want. This game is general-sum, e.g., see [this paper](https://www.jmlr.org/papers/volume4/hu03a/hu03a.pdf)

[2022-10-14 11:30] lanctot commented on #948
Tic-Tac-Toe is my go-to example in this space. There are other games parameterizable by columns so you can adjust the size to very small (such breakthrough to maybe 4x4, hex to 3x3 or maybe even 2x2?).

You can also use game trees encoded in the gambit .efg format if you want to go *really* small (see games/efg_game), e.g. examples you'd find in a game theory text book.

[2022-10-14 11:34] lanctot commented on #843
Hi @PrashantPD, ok I'm not seeing the actual game itself. Is there an example you can point to in e.g. a game theory text or Wikipedia? We're always welcoming of new games. It always helps if they are well-known in the MARL or game theory literature, but they are welcome either way (for now though, I'm curious about the structure of the game in extensive-game format). However, maybe let's continue

[2022-10-14 11:36] lanctot commented on #944
Hi @PrashantPD, my first reaction is I'm not sure how OpenSpiel would help with your research goals you outline here.

Can you help me understand? Is this game formalizable as an extensive-form game? If so, what are the states, observations, actions, rewards/utilities?  Then, are there algorithms you'd like to run on the game from the OpenSpiel suite, or you'd implement your own?

[2022-10-14 11:55] PrashantPD commented on #843
Hi @lanctot, Absolutely - thanks see you there - will be on it and detail the structure of the game and point to the relevant literature. You should see it first thing tomorrow in the morning as you log in. The multi-armed bandit comprising of a player and the environment which can comprise of the competition struck a cord in a pursuit-evasion context where the competitive game ends in an equilibr

[2022-10-14 12:21] PrashantPD commented on #944
Hi @lanctot, Absolutely - on it - will provide a formal extensive-form structure by Sunday. I would love to implement my own algorithm from the marketing literature. So parameters like for instance organizational scale may determine whether the consumer can still make the annual interest payments on its debt after they have bought the entrepreneur's product.

[2022-10-14 22:34] wbrenton commented on #597
I have made a pull request apologies if I did anything incorrectly, this is my first. https://github.com/deepmind/open_spiel/pull/949#issue-1409602058

Regarding the critic loss, I wanted to check own understanding and document incase others have the question in the future. The reason we can not use q-learning is because it is a control algorithm. It aims to make $Q^{\pi} \rightarrow Q^*$. Whereas

[2022-10-14 23:47] lanctot commented on #597
@wbrenton The algorithm I was referring to is called Expected Sarsa (which I've heard some RL friends call SARSE, pronounced "SAR-Sea" so that's what I had called it too). Here's a link to the paper: https://www.cs.ox.ac.uk/people/shimon.whiteson/pubs/vanseijenadprl09.pdf  (I don't see the name in that paper though! So maybe it was from an earlier one. Sorry for the confusion!)

Yes, that your ver

[2022-10-15 10:27] PrashantPD commented on #843
Hi @lanctot I am working on the game for the other thread today - will message tomorrow on both the formats.

[2022-10-15 14:19] lanctot commented on #843
Thanks for letting me know, but there is no rush. And I may not replay for a day or two depending on how busy I am.

[2022-10-15 16:52] GaoZiHong opened #950 "Compilation problems occurred when installing open_spiel from source"
I have the following problem when installing open_spiel from source：
[ 54%] Built target bridge_double_dummy_solver
/home/gaozh/pipline/dependencies/open_spiel/open_spiel/games/phantom_go.cc:70:15: error: no viable constructor or deduction guide for deduction of template arguments of 'vector'
  std::vector points(placement.begin(), placement.begin() + num_handicap);
              ^
/usr/bin/../lib

[2022-10-15 23:16] lanctot commented on #950
Hi @GaoZiHong,

Ah yes this is likely due to a newer language feature that is not supported in Clang 10 / Ubuntu 18.04. We stopped testing on 18.04 when 20.04 came out, so we have no way to reproduce it to help fix.

Assuming you can't or don't want to upgrade to 20.04 (or later, like 22.04), you two a few options:

- Remove phantom_go (to do this, comment out references to phantom_go.h and phanto

[2022-10-16 02:38] GaoZiHong commented on #950
Thank you very much!!! i download open_spiel 1.1.0 source code and install successfully without any trouble.

[2022-10-16 09:03] lanctot commented on #950
Great!

[2022-10-16 09:03] #950 closed

[2022-10-16 09:09] PrashantPD commented on #944
Hi @lanctot, The entrepreneur may be more market leaning whereas the late adopter and the laggard consumer in a B2B setting is more product leaning (Bass, 1969-https://pdodds.w3.uvm.edu/files/papers/others/everything/bass1969a.pdf). The framework agrees with the product-market fit (Davidsson, 2021-https://eprints.qut.edu.au/210484/1/84641557.pdf) literature. But in so far as there is no such ether

[2022-10-16 19:46] sullins2 commented on #948
Thanks for the replies. I am going to work with tic-tac-toe for now, but may need to get even smaller in the future. Is there a section on here that explains the gambit format in more detail? I also had a couple of follow up questions.

1. Here (https://github.com/deepmind/open_spiel/issues/486) was an issue I was getting but corrected but now I am getting NashConv values that grow (rapidly) to ve

[2022-10-16 22:34] lanctot commented on #948
Hi @sullins2,

The gambit EFG representation is documented [here](http://www.gambit-project.org/gambit14/formats.html). There are some examples in [games/efg](https://github.com/deepmind/open_spiel/tree/master/open_spiel/games/efg).

1. Yes that issue you're quoting was resolved once we switched to use `State::HistoryString()` as the cached value for a history. The NashConv in Tic-Tac-Toe has an u

[2022-10-17 08:56] PrashantPD commented on #944
Hi @lanctot, In a game without equilibrium what the player desires is a competitive advantage. In its absence the game basically is a pursuit of this elusive/evasive reward. What each player in the game has is agency in setting up his states in the game. Since the previous states lead to a game without equilibrium the player has to devise a state/set of states which will lead to an equilibrium in

[2022-10-19 01:53] votroto opened #952 "Loading sample EFG files throws an exception"
Trying to load sample games in the Gambit EFG format from Gambit's documentation results in a thrown exception.

Here are their sample games
https://gambitproject.readthedocs.io/en/v16.0.2/samples.html

Here is the affected code
[code]

Which throws
[code]

[2022-10-19 02:28] votroto commented on #952
Sure, seems doable. I'll have a look tomorrow.

Agreed, the format is not well documented. I'll use their new-ish pygambit library as a reference.

[2022-10-19 12:09] GaoZiHong opened #953 "A question about laser_tag"
Is laser_tag not available for this game? When I run example --game=laser_tag, the following message appears:
Creating game..

Starting new game...
Initial state:
State:
.......
.......
..*.*..
.**.**.
..*.*..
.......
.......
Orientations: 1 1
Chance Node
player -1
sampled outcome: (spawned at location #2)
State:
.......
.......
..*.*..
.**.**.
..*.*..
.......
B......
Orientations: 1 1
Chance Node

[2022-10-19 22:51] lanctot commented on #953
Hi @GaoZiHong,

Laser Tag is available. This is due to a bug in the example, which assumes two things: the InformationStateTensor is implemented for all games (which is not true) and that every game has a "players" parameter which is also not true.

If you disable the line accessing the information state tensor and load it with an empty parameter list, it should work.

We will fix soon, thanks for

[2022-10-20 08:11] GaoZiHong commented on #953
Thank you! i found some other problems. when i run pyspiel.load_game("laser_tag") and use BR as oracle, i get the following errors:
File "/home/gaozh/psro-ipdc/psro_ipdc/get_all_states.py", line 75, in _get_subgames_states
    stop_if_encountered)
  File "/home/gaozh/psro-ipdc/psro_ipdc/get_all_states.py", line 68, in _get_subgames_states
    stop_if_encountered)
  File "/home/gaozh/psro-ipdc/psro

[2022-10-20 08:31] lanctot commented on #953
Hi @GaoZiHong,

Laser Tag is a simultanous move game. So it will return the `kSimultaneousPlayerId` (== -2) for current_player() at decisions nodes.

So my guess is that you're using it in a context that assumes the turn-based setting. You can translate any simultaneous game into a turn-based one through a wrapper. Here is an example of how to do that:

[code]

In your case:

[code]

I recommend t

[2022-10-21 07:40] GaoZiHong commented on #953
Thank you very much!!! I run the code, pyspiel.load_game("turn_based_simultaneous_game(game=laser_tag())"), and make the following changes:
In the file rl_policy.py, information_state_tensor should be replaced by observation_tens.
The maximum recursion depth should be set to a larger value, such as 5000, to avoid the problem of exceeding the recursion depth when executing sample_episode.
Thanks ag

[2022-10-22 03:05] votroto opened #955 "EFG parser assumes optional labels are unique and required"
The EFG parser should not depend on the presence or uniqueness of action labels.

Gambit's [documentation for the EFG format](https://gambitproject.readthedocs.io/en/v16.0.2/formats.html#conventions-common-to-all-file-formats) states

The current EFG parser uses labels to identify actions, and fails in cases where the labels are empty or even non-unique.

Consider this game with a value of 4:

[co

[2022-10-22 03:23] lanctot commented on #955
Hmm, I guess we can define a default action label of (infoset string + action number) if the actions are unlabeled? Should be an easy fix, but same as before I'm swamped for at least the next week, probably two. So a fix would be quite welcome :)

[2022-10-22 03:50] votroto commented on #955
That would not handle uniqueness.

If the labels are visible anywhere, it would likely be better to modify them consistently, given that they are originally user- defined and created for the user's benefit.
Although creating a completely separate ID for internal use sounds much cleaner; if openspiel has provisions for keeping track of extra user data, that is.

I will have a look at it, although I

[2022-10-22 10:33] lanctot commented on #955
It should handle uniqueness because the combination of information set id plus action index should be unique, right? You can just ignore the labels... if not, then don't know what you mean. This should be easy to fix I would think.

Are you recompiling everything from scratch every time? You don't need to do that-- just run `make test_name` in the build directory and run the binary directly.

[2022-10-22 13:25] votroto commented on #955
I mean that adding a default action label in case an action is unlabeled is not enough.

It fixes {"" "" ""} to {"11" "12" "13"}, but changes {"R" "R" ""} to {"R" "R" "13"} without fixing the issue, and introduces an issue when changing  {"13" "14" ""} to {"13" "14" "13"}.

Yes, changing all labels consistently to "infoset|action" fixes that, of course. But can users see the labels anywhere? They

[2022-10-22 14:30] lanctot commented on #955
I am not sure why the uniqueness for strings is necessary but we can probably use that as the unique identifier where necessary, and then have State::ActionToString return a user-friendly one that is not bound by the same restrictions (which I guess is what most user side applications would use). Would that work?

[2022-10-22 14:35] lanctot commented on #955
Oh i think i remember why. I think in general it was to handle the actions were not ordered consistently in different info sets. then you can use the labels to match them to the actions instead. But maybe we should just not support that case (maybe it is mot even allowed by the EFG standard?)

[2022-10-22 14:39] votroto commented on #955
Sounds like it should. I like it!

Yes it was used somewhere within the parser, but I haven't had a proper look yet to see why.

I'll check. That might be even easier.

Just for reference, then -- this game fails because of the non-unique labels in the same way that empty labels fail.
[code]

[2022-10-23 02:48] votroto commented on #955
Right, so the actual answer is kind of entertaining. In Gambit they just [have a line](https://github.com/gambitproject/gambit/blob/785519d20cb68b5d5bda4d11a0e31d1c68948c78/src/games/file.cc#L918) that says:
[code]
Either way, based on line 933 of the same file, the actions are "positional". The `i`th action label goes with the `i`th child node counting top to bottom. If I understood what you mean

[2022-10-23 10:46] lanctot commented on #955
Haha, well we are definitely guilty of that in OpenSpiel as well.. in a few places :)

Sure, I have not imported your PR yet, so I think it's fine to continue on it. Do whatever is easiest for you. I have a super busy week ahead, so I wouldn't get to do it this week anyway (but can import it next week if you finish it by then).

I'm perfect happy if you just fix the empty strings and uniqueness is

[2022-10-23 10:47] lanctot commented on #955
Thanks so much for finding these!! And if you don't fix them I will when I'm a bit less busy so no pressure to do it. :)

[2022-10-24 03:46] chiraguic opened #957 "Multistep simultaneous move game and visualizatoin"
I am looking for a zero-sum or fully cooperative multistep simultaneous move games (SMG) that are used as standard benchmarks for evaluation (especially where I can control the size of game)? I am also looking for a way to use and visualize SMG as imperfect information extensive form game. I am assuming I will have to use `convert_to_turn_based` method to convert the SMG to imperfect information e

[2022-10-24 17:18] lanctot commented on #957
Hi @chiraguic,

There's `markov_soccer` and `coop_box_pushing` that have been used in a few papers (maybe the latter more than the former). There's also `laser_tag` which has been used more recently. There are also `coin_game` and `pathfinding` but I think they are general-sum.

We have some basic visualization tools for the EFGs in `python/visualizations` (see the OpenSpiel paper for what the res

[2022-10-29 18:45] sullins2 commented on #948
Thanks for the offers and the reply, @lanctot . I ended up getting both issues resolved. What happened was I was using the cfr example (the smaller one) and in that example the current policy is accumulated to get the average policy. This is sent directly to nash_conv() and so I assumed that it was normalizing internally. I actually didn't need the average and so I took that out and it worked fine

[2022-10-31 14:09] jjshoots opened #958 "Uninterpretable bug with legal_actions check"
Hi there, I'm trying to use Openspiel in a project where all games share a common API with PettingZoo, and due to the architecture of the system, the stepping of  the environment looks something like so (modified from the [first example code](https://openspiel.readthedocs.io/en/latest/concepts.html#playing-a-trajectory)):

P/S: This bug only occurs on `backgammon` AFAICT.

[code]

For some reason,

[2022-10-31 14:23] lanctot commented on #958
Could be terminal, maybe? Hard to tell without seeing the state.

Chances are PettingZoo and OpenSpiel are implementing the game differently.

Can you add a try/catch around that line that fails, and print the output of `pyspiel.serialize_game_and_state(game, state)` ? Then we can try to reload the state to inspect it.

[2022-10-31 14:25] lanctot commented on #958
(Might actually be easier to just print the state and the action you're taking each time.)

[code]

[2022-10-31 14:29] lanctot commented on #958
Wait:

[code]

You're calling legal actions on all the players... why? That might be your answer. Backgammon is turn-based, there's only one player playing at any given turn (including chance).

[2022-10-31 14:42] lanctot commented on #958
Ok I've reproduced it in colab. Hmm... yeah.. something is fishy here; definitely seems like a bug (oddly our simulations tests are not catching it).

[2022-10-31 16:18] jjshoots commented on #958
Thanks for the quick reply! The repo where we are doing the work is [here](https://github.com/Farama-Foundation/Shimmy/pull/3), I've confirmed that this bug only occurs on backgammon.

[2022-10-31 17:50] lanctot commented on #958
Ok yeah I see the problem: it appears to be with the script you have above, not in the game (which explains why our simulation tests are not running into it).

It is taking illegal moves and then getting the state into a bad state. Excerpt with fix below:

[code]

[2022-10-31 17:56] lanctot commented on #958
BTW we added a flag to the RL environment to check for legality of the moves submitted by the agent: https://github.com/deepmind/open_spiel/blob/97a199a3276ef35b932f39dc01786855aa36545f/open_spiel/python/rl_environment.py#L152.

I would recommend enabling this while debugging as it will catch some problems without the mysterious opaque crash in the game state at some other point. (We disable it by

[2022-10-31 23:26] #958 closed

[2022-11-01 12:23] jjshoots commented on #958
Thanks for the help! Just updating here that the solution above worked. :)

[2022-11-01 13:14] jjshoots opened #959 "How to get observations from states?"
According to my testing thus far, it seems that not all games have the same method of accessing player observations, and there are four separate ways to get the current game state:

[code]

Without having to do a bunch of try/excepts, is there a place that documents which games have which methods implemented, or is there a possibility that I'm not seeing a section of documentation that pertains to

[2022-11-01 13:50] lanctot commented on #959
Hi @jjshoots,

Easiest thing is to just check the game type. Each game type object has two fields `provides_information_state_tensor` and `provides_observation_tensor`.

Here's an example of how the RL environment does it:

https://github.com/deepmind/open_spiel/blob/97a199a3276ef35b932f39dc01786855aa36545f/open_spiel/python/rl_environment.py#L198

This is not a general rule, but roughly true: all

[2022-11-01 14:52] jjshoots commented on #959
Ah, gotcha, thank you!

[2022-11-01 14:54] jjshoots commented on #959
Reopening this to hitchhike with an adjacent question, what about string-based observation/information states, is there a flag to check for that? AFAICT, not all games have tensor based observations and only have string-based, e.g. battleship.

[2022-11-01 15:17] lanctot commented on #959
Yes there are similar properties for the string versions, see the GameType struct here:  https://github.com/deepmind/open_spiel/blob/97a199a3276ef35b932f39dc01786855aa36545f/open_spiel/spiel.h#L120

The strings are used mostly for tabular methods, e.g. as unique identifiers for keys that index into a table, or for optimization methods (e.g. CFR, sequence-form linear programming).

Which ones are i

[2022-11-01 15:17] #959 closed

[2022-11-12 03:01] baskuit opened #961 "RNaD implementation different than paper."
I might have to edit this later to better illustrate what I mean.

![image](https://user-images.githubusercontent.com/77259253/201453206-cbb5a0f9-d46a-4cb2-a55e-399c00d67651.png)

This is the formula for the estimate of the state value and Q-value used in DeepNash

![image](https://user-images.githubusercontent.com/77259253/201453274-931d2b39-53ef-4790-92b4-3eead564bd49.png)
And here are these est

[2022-11-12 09:07] lanctot commented on #961
Tagging the original contributors: @perolat @bartdevylder

Thanks @baskuit, there's one thing I'm curious about first: you're quoting some code, but that code uses torch, whereas our RNAD implementation is based on Jax-- so the code you're quoting is not our code?

[2022-11-12 20:11] baskuit commented on #961
Yeah sorry I quoted my pytorch adaptation by mistake. I'll edit in a bit. I just cant reconcile the _loop_v_trace function with the formulas in the paper.

[2022-11-14 11:20] yata0 opened #962 "A question of BatchA2CLoss"
[loss of a2c rl_losses.py](https://github.com/deepmind/open_spiel/blob/c3f8b538afd6223d450c0f74269937e76850cf33/open_spiel/python/algorithms/losses/rl_losses.py#L196)
I think the total loss should be
`total_loss = policy_loss - entroy_loss`
instead of
` total_loss = tf.add(
          total_loss, entropy_loss, name="total_loss_with_entropy")`
@lanctot @elkhrt

[2022-11-14 17:04] perolat commented on #961
Hi @baskuit,

I just updated the text in our internal version and it will be updated publicly by the end of the year I hope (sorry we forgot this average). The second part of the loss looks like this now:
![688570d875bb71ecfc432c034bf62fd1](https://user-images.githubusercontent.com/61795055/201694338-7fa18247-70c7-46d5-8792-00602d46ca2f.png)
We did our best to make sure we transcribed the code to

[2022-11-15 11:00] spktrm opened #963 "R-NaD Vtrace `v_target` calculation"
In the code below, `v_target` is initialised from the target net

[code]

Then, in the vtrace calculation, the `v_target` is overridden by the first vtrace call

[code]

is this intentional?

[2022-11-16 00:44] lanctot commented on #963
@perolat @bartdevylder: any idea?

[2022-11-16 08:03] perolat commented on #963
Hi @spktrm,

Many thanks for spotting this! It will be corrected soon.

Thanks a lot again for the feedback! Really appreciate it.
Julien

[2022-11-16 08:44] spktrm commented on #963
No worries! So it's my understanding that v target should not be overwritten?

[2022-11-16 09:18] perolat commented on #963
Exactly!

The update will be :
[code]

It should be updated when @lanctot will push the change on github. It can take a few days/weeks.

[2022-11-16 09:42] lanctot commented on #962
I _think_ what we have is correct, because the `compute_entropy` returns negative entropy:

https://github.com/deepmind/open_spiel/blob/c3f8b538afd6223d450c0f74269937e76850cf33/open_spiel/python/algorithms/losses/rl_losses.py#L94

@fzvinicius can you confirm this?

[2022-11-16 09:49] lanctot commented on #962
@fzvinicius can you take a look?

[2022-11-16 10:00] lanctot commented on #962
I noticed our Jax policy gradients does something similar where it adds the entropy_loss: https://github.com/deepmind/open_spiel/blob/b03a1977315ffcc1c773fbe1eee7c18f10f96a1e/open_spiel/python/jax/policy_gradient.py#L80

but in that case it gets the loss from rlax, which returns the negative entropy: https://github.com/deepmind/rlax/blob/d6bdb68edc88137bf9ac65e12bd036c888b7dfa0/rlax/_src/policy_gr

[2022-11-17 16:38] ronTohar1 opened #964 "Quoridor Notations"
It seems that the notation you use in Quoridor is not one that I have encountered.
The rows and columns are ordered fine (rows 1-9, columns a-i), but the starting player is at the bottom (starting at e9).
Neither in Glendenning's Notation nor in Modern Algebraic Notation this is the case.
I would be happy if you will consider changing the board orientation.
It is just that when looking at games an

[2022-11-19 16:26] XGungo commented on #872
Hi, I also met the same problem.
I use following setting:

First, I can build without libtorch setting (PEN_SPIEL_BUILD_WITH_LIBTORCH='OFF' ... etc).
It work. But then I do the setting following [THIS](https://github.com/deepmind/open_spiel/blob/master/open_spiel/algorithms/alpha_zero_torch/README.md).
As I run 'open_spiel/script/build_and_run_tests.sh', errors comes like:

[code]

And yes, I have

[2022-11-19 16:59] TadaoYamaoka opened #965 "A question about R-NaD"
state.returns() at line 955 of rnad.py is always [0, 0] because the terminal state is changed in the following code.
[code]
is this intentional?

[2022-11-20 01:15] lanctot commented on #965
@perolat can you take a look?

[2022-11-20 12:37] lanctot commented on #964
Tagging original contributor: @tewalds, can you reply?

[2022-11-21 13:28] tewalds commented on #964
I don't remember why the current choice was made. I think this matched some existing implementation or thesis, but seem to remember not really finding a standard. It's quite possible that either I missed the standard, implemented it badly or it has become more standardized since. Either way, I'm happy for the code to be updated with whatever the modern standard is. Feel free to send a PR, preferab

[2022-11-21 13:34] lanctot commented on #964
Works for me! Feel free to submit a PR @ronTohar1, and we'll import + merge it. Do you have a reference for the standard notation? If so, could you include it in the docs? (Point taken @tewalds about breaking backward compatibility, will surely do that for the next release, if this makes it in.)

[2022-11-21 13:43] tewalds commented on #964
Btw, if you're up for reviewing the code and know the rules well, I also remember there being uncertainty in the rules around jumping when there are more than 2 players. In particular if multiple players are in a line in a dead end, can a player jump more than one opponent's piece, or should they be forced to pass. I think we ended up deciding they must pass, mainly due to code complexity for this

[2022-11-21 13:52] tewalds commented on #964
Hah, https://github.com/deepmind/open_spiel/commit/c210cf3498f3a5a6ba50173ebb6a09f39ac637b7 looks related to this.

[2022-11-21 15:08] mcc311 opened #966 "Cannot Compile with libtorch"
Hi, I met few problems when I try to compile with librtorch.
I can use this Open Spiel without libtorch correctly, but when I:
1. Turn on 'BUILD_WITH_LIBTORCH' and 'BUILD_WITH_LIBNOP'
2. run ./install.sh # download libtorch
3. run ./open_spiel/script/build_and_run_tests.sh
And I met these errors: [Full Version](https://github.com/mcc311/compiling_open_speil_with_libtorch/blob/main/compiling.log)
[

[2022-11-21 19:08] ronTohar1 commented on #964
I agree with this choice. As far as I know, when there are more than 2 players it's not allowed to jump over 2 players so the pawn stuck must pass its turn.
As for the correct notations - Quoridor's notations as for what I have seen follow Glendenning's Notation ([Mastering Quoridor (2005)](https://web.archive.org/web/20181029071511/https://pdfs.semanticscholar.org/acad/6962a9bb3eb3fde4272f476d662

[2022-11-21 20:30] ronTohar1 commented on #964
Yes this is what I meant

[2022-11-21 21:27] lanctot commented on #966
Thanks for reporting.

It was also mentioned here, a few days back: https://github.com/deepmind/open_spiel/issues/872#issuecomment-1320918813

Yeah, exactly.. my guess is the newest version of PyTorch uses a different abseil version than we download in our install script and the mismatch will cause naming/symbol problems.

This problem has come up several times before and it's always the same fix:

[2022-11-21 21:29] lanctot commented on #872
Thanks @mcc311. Just for completion, I'm pointing to your main thread about this: https://github.com/deepmind/open_spiel/issues/966. This is probably related to abseil.

[2022-11-21 21:38] lanctot commented on #966
Hi @mcc311,

- What is your operating system and version?
- Can you confirm that you're not doing this within Docker ?

[2022-11-21 21:49] lanctot commented on #966
Oh hold on a second... looking back, we updated our version of abseil on Jan 3rd of this year: https://github.com/deepmind/open_spiel/commit/ccd9ddcbf4385110fed2efb2180d504aecc383c9

And the thread you replied to seem to have a problem installing it in June. I wonder if it's been broken since then, actually. Maybe we needed to upgrade the version of LibTorch we were downloading. I see that our glo

[2022-11-21 21:51] lanctot commented on #966
Try this URL:

[code]

[2022-11-22 03:25] mcc311 commented on #966
hi @lanctot,
Thanks for replying me!

I use Ubuntu 22.04 LTS, and no, I didn't use Docker but only run on my local pc.

And yes, I try to use older version of pytorch, the previous linking error don't show anymore. But it came a new redefinition problem with pybind11 like:
[Full Version](https://github.com/mcc311/compiling_open_speil_with_libtorch/blob/main/with_older_libtorch.log)

[code]

I gues

[2022-11-22 13:34] lanctot commented on #965
Thanks, this indeed was a bug introduced by a recent refactor. We'll fix it and merge the fix in the next day or two.

[2022-11-22 13:35] lanctot commented on #962
This is indeed a bug, thanks for finding. We're fixing internally and should be merged in the next day or two.

[2022-11-22 17:07] lanctot commented on #966
Wow, that's too bad, but I'm glad it works now. I'll refer back to your solution in the docs until we can fix this properly, so let's keep this issue open for now.

[2022-11-22 17:08] lanctot commented on #872
Hi @roolio, I know it's months late reply but we managed to get it working (with some not so clean solutions). See the new thread @mc311 started above.

[2022-11-23 10:16] #948 closed

[2022-11-23 10:17] #952 closed

[2022-11-23 10:17] #822 closed

[2022-11-23 10:19] #877 closed

[2022-11-23 10:19] #880 closed

[2022-11-23 10:19] #912 closed

[2022-11-23 10:22] #932 closed

[2022-11-23 10:23] #783 closed

[2022-11-23 10:23] #878 closed

[2022-11-23 10:28] lanctot commented on #811
For book-keeping: a PR was opened for issue 1) here: https://github.com/deepmind/open_spiel/pull/817 but was never finished.

[2022-11-24 14:31] #962 closed

[2022-11-24 14:31] #963 closed

[2022-11-24 14:31] #965 closed

[2022-11-25 14:11] baskuit opened #967 "value and policy targets are generated with 'params_target' in paper, but 'params' in code"
See the loss function in the repo:
https://github.com/deepmind/open_spiel/blob/master/open_spiel/python/algorithms/rnad/rnad.py#L777

`      v_target_, has_played, policy_target_ = v_trace(
          v_target,
          ts.env.valid,
          ts.env.player_id,
          ts.actor.policy,
          policy_pprocessed,`

`policy_pprocessed = self.config.finetune(pi, ts.env.legal, learner_steps)`

`pi

[2022-11-25 14:34] lanctot commented on #967
@perolat can you take a look?

[2022-11-25 22:40] spktrm commented on #967
I also noticed in this line:
[code]
It seems the policy regularisation also uses params instead of params target

[2022-11-26 09:44] perolat commented on #967
Hi @baskuit,

Thanks a lot for going in the details of the paper!

This question should be addressed with an updated version of the appendix that will be public soon. I'll add the link once it is  public.

In short we use \theta_n for the policy and \theta_{n, target} for the value (what the code does). Sorry for the discrepancy between the code and the text.

Julien

[2022-11-28 10:47] lanctot commented on #967
Thanks for the clarification @perolat !

[2022-11-28 10:47] #967 closed

[2022-11-29 15:44] nikhilweee commented on #903
Hello @lanctot, as a follow up I also notice some inconsistent behaviour.

[code]

If it helps, I am using the latest openspiel built directly from the master branch following [this post](https://nikhilweee.me/blog/2022/debugging-python-c-extensions/).

[2022-11-29 17:02] lanctot commented on #903
Thanks @nikhilweee . This is definitely known and intended, currently, because the state objects do not override `__eq__`. We would need to expose that to pybind11.

When I last looked at adding it, it turned out to create a lot of non-trivial-to-fix errors, and after a discussion with the team about fixing this, it seemed they convinced me that forcing the user to think about the context for stat

[2022-11-29 17:52] lanctot commented on #903
Cool. But I agree: it does seem inconsistent to support it for `GameType` and `Game` but not for `State` _especially_ since `State::operator==` is defined!

So I will re-open this because I feel like this is still not fully resolved (it's ok to keep open until then). I will try to re-instate the `__eq__` for states, keeping it as a simple call to `State::operator==` and report back once I remember

[2022-11-30 03:29] lanctot commented on #957
Closing this for now but please re-open if you'd like to follow-up.

[2022-11-30 03:29] #957 closed

[2022-11-30 03:29] #923 closed

[2022-11-30 03:29] #922 closed

[2022-11-30 03:31] lanctot commented on #802
I've added this game to Call for New Games thread, so closing this one for now until anybody volunteers to work on it. Thanks for the suggestion!

[2022-11-30 03:31] #802 closed