[2021-03-06 20:46] lanctot commented on #519
No, it will converge to a(n approxinate) best response which is not necessarily Nash. To see this think of Rock, Paper, Scissors. An equilibrium mixed strategy is the 1/3, 1/3, 1/3. Rock is a best response to this, but rock is not an equilibrium strategy.

Yes exactly, it is only a lower bound.

All of our exploitability algorithms require the full policy to be in memory. The best bet for large ga

[2021-03-06 22:28] agoryelov commented on #525
Yeah, I believe that's what it is.

In `/open_spiel/open_spiel/python/bots/policy.py`, the PolicyBot uses `state.legal_actions()` to get a list of actions and `policy.action_probabilities().values()` to get an list of their probabilities. Since the `action_probabilities()` returns a dict, there is no guarantee that the order of the probabilities will be the same as the order of `state.legal_action

[2021-03-07 00:06] lanctot commented on #525
Yeah that sounds good, please submit a fix.

There are currently nothing preventing users from constructing policies that assign positive probability to illegal actions, things will just fail if you do it. So it's already the user's responsibility so your fix would not allow anything that's not already allowed.

[2021-03-07 00:15] lanctot commented on #525
I just took a look at that class and was surprised to see that it uses the legal actions.. that class should not call legal actions at all, it should justt query the policy. Can you remove that and also modify the comment at the top?

Alternatively we can support both setups with a flag. The legal actions one should only consider legal actions (and reconstruct a policy by normalizing by the sum of

[2021-03-07 07:51] agoryelov commented on #525
Hi @lanctot, I opened a PR #527 with these changes

[2021-03-07 13:32] lanctot commented on #525
Great, thanks!

[2021-03-08 13:53] lanctot commented on #519
Hi @lilith829 , it is now in: https://github.com/deepmind/open_spiel/commit/9122a9bf520cfd2dcfc0ac2e8f0c63811a0b6e15

[2021-03-08 13:54] lanctot commented on #525
Fixed by https://github.com/deepmind/open_spiel/pull/527. Thanks again @agoryelov !

[2021-03-08 13:54] #525 closed

[2021-03-08 16:00] finbarrtimbers commented on #519
The tree traversal code in question (which I wrote) was optimized for speed, not memory usage, so it keeps a ton of stuff in memory. While it is technically feasible to calculate a BR in limit poker, our implementation would need drastic changes to do so. I also strongly suspect you'd have to distribute the BR calculation across multiple machines to make it happen in a reasonable amount of time, w

[2021-03-09 14:25] michalsustr opened #528 "Optional build of bridge dummy solver"
Could we move bridge dummy solver as an optional dependency, i.e. `BUILD_WITH_BRIDGE_DUMMY_SOLVER`? I don't know how crucial it is for bridge game evaluation -- is it just a bot? It takes a while to compile and it is probably not used by that many people. I can make a PR that implements this, if it is ok to move it out of the core.

[2021-03-09 15:44] Josef-Vonasek opened #530 "Can't evaluate mcts on tic tac toe with Julia."
I installed openspiel with `] add OpenSpiel` on julia 1.5.3 and copy pasted code from one of your test:

[code]

If I run this code I get:
[code]
- Is it possible to fix this error?
- I am also getting a little bit lost in the types. Is there some way to get more helpful type signatures? For example by truncating the prefixes `CxxWrap.CxxWrapCore`.
- Finally, how can I pass custom `child_selection

[2021-03-09 16:17] lanctot commented on #530
@findmyway can you take a look?

[2021-03-09 16:18] lanctot commented on #528
I believe it's necessary for Bridge. If not, I'm super happy to make it optional. @elkhrt can you comment?

[2021-03-09 16:48] elkhrt commented on #528
I'd rather keep it if possible. It's needed for the variant of the game where the card-play phase is replaced by the result that optimal perfect-information players would obtain. This is the usual variant used for AI research, e.g. https://arxiv.org/abs/2011.14124

[2021-03-09 19:38] lanctot commented on #528
@michalsustr, do you run the script every time you compile? If you just run make in the build dir, it should not recompile this every time unless you touch some of the main core files like spiel.h etc.

Likewise in testing you can just run the tests directly to avoid rerunning them all each time.

Asking because several of your past threads have been about speed, but you'd only be affected by this

[2021-03-09 21:47] michalsustr commented on #528
@lanctot I don't run the build_and_run_test script every time, however when I switch git branches a large number of files is typically modified, causing recompilation of pretty much the whole project (especially if CMakeLists are modified). Maybe Bridge could be done similarly to Hanabi or ACPC? But if you prefer to keep it in that's ok.

I'm planning to get a new PC which would solve most of thes

[2021-03-10 04:41] findmyway commented on #530
Hi @Josef-Vonasek ,

Thanks for trying out the Julia API.

Yes, but it requires a little knowledge of `CxxWrap`. (I'll skip the details here for now)
So why the test cases are passed but the same code throws an error here? Because the `evaluate_bots` function is not the original one in the c++ backend. I added a customized one here 😞  :

https://github.com/deepmind/open_spiel/blob/f7c562588389b75d

[2021-03-10 08:37] michalsustr opened #531 "Best response computation for sim-move games"
Currently sim-move games have to be transformed to sequential games in order to compute best response (and exploitability). This adds overhead and if I remember well it doesn't work too well with observations / observer API.

The way BR works it essentially constructs the entire history tree along with infostates for the players, keeps track of the decision states and is making non-trivial recursi

[2021-03-10 09:21] lanctot commented on #531
Hi @michalsustr , it would be great to support proper best response for simultaneous move games. However, I think there's a better way to do it, that I described here in this thread: https://github.com/deepmind/open_spiel/issues/464. Using the (infostate) MDP approach has the advantages of:

1. Properly supporting perfect info games
2. Properly supporting imperfect recall games
3. Taking space lin

[2021-03-10 10:49] Josef-Vonasek opened #532 "Problems building openspiel from source."
I have built openspiel from source, but I have trouble testing it.

- running `open_spiel/scripts/global_variables.sh` I get python 50% errors caused by missing module `absl`. Despite the fact that I installed `absl` trough pip3 (and I can import it in python3 repl)
- running `open_spiel/scripts/global_variables.sh` with `BUILD_WITH_JULIA=ON` and `test_only=julia_test` I get `make: *** No rule to

[2021-03-10 11:04] Josef-Vonasek commented on #530
Thank you for quick response.

- I don't have trouble with Cxx, but I have trouble deciphering multi lines type errors with tons of Unions and Where.
- I could in theory use RLZoo, but I need MCTS. Besides, I don't even know yet how much faster is Julia going to be over Python OpenSpiel.

[2021-03-10 11:05] #530 closed

[2021-03-10 11:26] michalsustr commented on #531
I like this idea :) As you explained it handles the imp. recall, unlike constructing the tree(s). What do you use, dynamic programming? Once it's out I can add the sim-moves. Is the plan to integrate it with exploitability calculation? (Maybe the exploitability/nashconv functions can take BR as a callback. Then it would compose nicely with ABR to yield ApproxNashConv)

Yes.

[2021-03-10 15:50] findmyway commented on #532
My best guess is this step failed before `make`:

https://github.com/deepmind/open_spiel/blob/f7c562588389b75dd0076fe10c26ce1a57063d5a/open_spiel/scripts/build_and_run_tests.sh#L192-L196

Could you find any other error messages except for `` make: *** No rule to make target 'spieljl' `` ?

[2021-03-10 16:12] VitamintK opened #533 "raising error when illegal action is applied: inconsistency between games"
Not a huge issue, but I figured I'd log it here since I noticed:

in Kuhn poker and universal poker, picking an illegal action for a deal does not raise an error (i.e., dealing the same card twice).
in Leduc poker, doing so raises a `SpielError`.
Seems like they should probably all exhibit the Leduc poker behavior?

[code]

[code]

[2021-03-11 02:54] lanctot commented on #532
Hi @Josef-Vonasek,

If you're getting missing absl errors, then you likely didn't get abseil. You need to run `./install.sh`.

Once you've installed the dependencies, you can do the following to test Julia:

[code]

(Setting it in the global_variables.sh is a good way to keep the settings persistent.)

[2021-03-11 06:21] Josef-Vonasek commented on #532
Ah, that's obvious in retrospect. Thank you!

[2021-03-11 06:21] #532 closed

[2021-03-11 13:53] Josef-Vonasek opened #534 "MCTS SearchNode has no Python counterpart."
I tried calling C implementation of `mcts_search` trough Python:

[code]
and  got the following error:
[code]

[2021-03-11 14:24] findmyway commented on #533
I experienced this issue some time ago when working with the Julia API (in Julia the index of Array starts from 1). It really took me a while to figure out that an illegal action was taken accidentally 😪

[2021-03-11 15:38] lanctot commented on #534
I've reproduced it on my side. That's a bug, nice find! For now, I suggest you use step, and we'll fix and expose the SearchNode struct.

[2021-03-11 15:56] lanctot commented on #534
Quick fix is to put the following in pybind11/bots.cc:

[code]

[2021-03-15 13:20] #523 closed

[2021-03-15 13:20] #534 closed

[2021-03-15 15:14] michalsustr commented on #533
I encountered the same issue a number of times :-)) I believe the search through legal actions before ApplyAction() is not done due to performance?

[2021-03-15 15:23] lilith829 opened #535 "Any plan for adding ReBeL algorithm?"
Hi,

I saw the public state API in the repository with kuhn poker available.
I wonder if there is any work in progress to add ReBeL algorithm.
Thanks.

[2021-03-15 15:42] VitamintK commented on #533
Ah, I hadn't considered that.  Well, it shouldn't be much of a performance hit as long as the total number of dealt cards is low.  Alternatively, at least raising an error at some point -- perhaps when checking `returns()` at a terminal state -- should be better than nothing.

[2021-03-15 23:56] lanctot commented on #535
I would love to see an implementation of ReBeL in OpenSpiel.

Public states are really fundamental to the algorithm. I think the feasibility would depend on the current state / maturity of the public state API. @michalsustr, what do you think?

It'd also be great if it was contributed by one of the original authors, or if they were involved with reviewing. @noambrown, @akhti: is there any interest

[2021-03-16 05:11] dvstter opened #536 "cfr calculation problem in the implementation for deep cfr"
`    else:
      other_player = state.current_player()
      _, strategy = self._sample_action_from_advantage(state, other_player)
      # Recompute distribution for numerical errors.
      probs = np.array(strategy)
      probs /= probs.sum()
      sampled_action = np.random.choice(range(self._num_actions), p=probs)
      self._strategy_memories.add(
          StrategyMemory(
              state.

[2021-03-16 09:13] selfsim commented on #483
Hi @lanctot thank you for the info. I have created a PR.

[2021-03-16 09:55] michalsustr commented on #535
I would love to see that as well.

I had a look at how public states are done in the linked implementation and I think it would be easier to just use that implementation, and provide only a very loose integration with OpenSpiel. I am not sure how well that code can be incorporated in the OpenSpiel codebase, in the sense of running OS algorithms for Rebel results (like computing exploitability usin

[2021-03-16 10:27] ThierryDeruyttere opened #538 "How to run PyTorch agent on GPU?"
Hi,

We have been trying to get the PyTorch agents provided by OpenSpiel on our GPU.
Normally you can do this with `.to("cuda:0")` on an nn.Module. However, the agents are a subclass of `rl_agent.AbstractAgent`which does not provide such a method.

[2021-03-16 11:40] lanctot commented on #538
I have not done this myself. @Asugawara, @ssokota, @MJ10: any ideas?

[2021-03-16 11:44] lanctot commented on #536
Hi @dvstter, yeah that's because Deep CFR uses external sampling, so that term cancels with the denominator when you do the importance sampling. For example, see the C++ update here: https://github.com/deepmind/open_spiel/blob/47492034bc4124464d8258da63ee8a90ccf6edf2/open_spiel/algorithms/external_sampling_mccfr.cc#L169

Super happy to explain why in more detail, but I guess that should also be th

[2021-03-16 13:13] lanctot commented on #535
Yeah I'm not sure that level of integration makes sense.

I was talking about doing it "properly" via the Public States API you started. Can you elaborate on the technical reasons as to why we wouldn't want to get it to the point where we can run/implement ReBeL?

Is it because each game would need to be re-implemented with a "public states first" sort of API?

[2021-03-16 13:14] lanctot commented on #531
Yeah exactly: the internal one I wrote basically just runs value iteration on the resulting MDP.

So I'm happy to do this, but I have no idea when I'll get to it. Might be a few weeks.

[2021-03-16 15:45] michalsustr commented on #535
Yes, and the "generate all histories" workaround can be used only for small games, where you can run more efficient algorithms anyway.

[2021-03-16 16:20] lilith829 commented on #535
Thanks Marc, Michal. I wonder if it's possible to add it as an example algorithm in public state, like CFR. Kuhn poker implemented with public state API can be the target game.

[2021-03-16 17:17] michalsustr commented on #535
Sure, that can be done. Write me an e-mail.

[2021-03-16 21:03] #536 closed

[2021-03-18 04:17] ngrupen opened #539 "Build with tensorflow_cc: tf_trajectories_example, vpnet_test, and alpha_zero_example_test fail"
Ubuntu 18.04
cmake version 3.18.4
clang version 10.0.0-4ubuntu1~18.04.2
bazel 2.0.0
Python 3.8.8

Build succeeds when following standard installation instructions (i.e. BUILD_WITH_TENSORFLOW_CC=OFF). Following instructions from alphazero.md and https://github.com/deepmind/open_spiel/issues/172 I installed @mrdaliri 's open_spiel branch of tensorflow_cc and followed installation instructions. Tenso

[2021-03-18 09:50] lanctot commented on #539
Tagging @mrdaliri, any ideas? Have you run into this?

[2021-03-21 06:56] MJ10 commented on #538
Apologies for the slow response. I think this would require some changes in the agent class:
1. Add a device parameter to the constructor.
2. Within the agent class move the networks to the specified device.
for example, in [DQN](https://github.com/deepmind/open_spiel/blob/master/open_spiel/python/pytorch/dqn.py) after [Line 229](https://github.com/deepmind/open_spiel/blob/master/open_spiel/python

[2021-03-22 16:20] lanctot opened #541 "New Go API"
Hello all,

Today we released our [Go](https://golang.org/) API, see here: https://github.com/deepmind/open_spiel/commit/0c66ee8a2dec68297c1f02e05b7b609a1ceb3408

It is currently quite the bare minimum: just the main API, no algorithms or metrics, nothing beyond simple access to the core API and the games. It should be fairly easy to add more access to some of the C++ code as we do in Python and J

[2021-03-22 22:42] lanctot opened #542 "Specific call for contribution: C++ DQN"
Hi all,

This is a spin-off thread from a conversation in the Amazons PR: https://github.com/deepmind/open_spiel/pull/537.

@selfsim was asking about doing RL in C++. Amazingly, we have very few RL algorithms implemented in C++. We have AlphaZero that uses the TF and PyTorch C++ interfaces, but we only two traditional ones are Q-learning and Sarsa which were recently added by @satyaki3794. I've be

[2021-03-22 23:22] michalsustr commented on #542
+1 for PyTorch :) I think bunch of the code from the AZ implementation could be reused (refactored).

[2021-03-23 00:19] lanctot commented on #541
I just noticed that we didn't include a README, so I will add one and it will get included in the next sync.

For now, see the [CMakeLists.txt](https://github.com/deepmind/open_spiel/blob/master/open_spiel/go/CMakeLists.txt) to see how it is setup: a dynamic shared library (`libgospiel.so`) is built in `build/go` from the `add_library` command (like the Python API), and a simple module is created

[2021-03-23 01:07] jhtschultz commented on #542
Pretty neat indeed. Having attempted some TF C++ a while back I’d also recommend the PyTorch route. Happy to assist :)

[2021-03-23 04:21] ngrupen commented on #539
Small update: I copied the same minimal usage examples from the tensorflow_cc repo to see if building/running within open_spiel would expose any linking (or other) errors. Up running, I got the following warning from cmake:

but the example ran as expected afterwards:

After running this example, I got new errors from the 2 of the tests that failed above:
./vpnet_test

and ./alpha_zero_example

tf

[2021-03-23 07:59] lanctot commented on #539
Hi @ngrupen, did you build with the protobufs tag in this comment: https://github.com/deepmind/open_spiel/issues/172#issuecomment-653705369

It seems based on some discussion that you might have to remove the system's protobufs if you have them installed.

[2021-03-23 09:06] ThierryDeruyttere commented on #538
Ok, thanks for the answer! Is it then possible to run the models on GPU with TensorFlow?

[2021-03-23 09:14] satyaki3794 commented on #542
Yeah, I'm definitely interested in this as well. I think this will be a lot of fun. :)

[2021-03-23 13:05] lanctot commented on #538
Thanks @MJ10 ! That sounds like a minimal change.. @ThierryDeruyttere why don't you make the change locally for the agent you want to use and run that?

We have not spent any time supporting GPUs generally, it would make a nice contribution. If it works for the one agent as @MJ10 suggests, we can start there and maybe make a general solution?

[2021-03-23 16:18] Asugawara commented on #542
That's sounds good! +1!
I'm interested in that.
If there is no other person who wants to do it, could I give it a try?

[2021-03-23 17:02] ngrupen commented on #539
Yes I followed the steps listed in https://github.com/deepmind/open_spiel/issues/172#issuecomment-653705369 to install tensorflow_cc. After rebuilding both tensorflow_cc and open_spiel I am still seeing the errors from the first comment. I also confirmed that system protobufs were uninstalled -- the only one on my machine is the version that is installed with requirements.txt. I also tried install

[2021-03-23 17:21] lanctot commented on #539
This is the problem. It is somehow unable to find the CUDA library at runtime. I've seen this before. One super easy thing to try is find where that file lives (let's call it `/path/to/dir`) and then add it to LD_LIBRARY_PATH. So:

[code]

Also can you try running python3 outside of OpenSpiel and just importing tensorflow? Does it work?

[2021-03-23 17:22] lanctot commented on #539
Since you compiled TF from scratch it might be somewhere in the build dir (if you didn't run `make install`)

[2021-03-23 18:04] ngrupen commented on #539
Hmm I did run `make install`, but tf is indeed failing to load when I use python3 outside of OpenSpiel. The version loaded by the venv is from its site packages:

My issues could stem from this version not being the same as the one installed by tensorflow_cc. You're right, there is a tensorflow directory in the build dir of tensorflow_cc, though I did make install after compiling so this is curiou

[2021-03-23 18:28] lanctot commented on #539
Cool, so does the LD_LIBRARY_PATH trick fix it?

[2021-03-23 18:32] lanctot commented on #539
If you didn't run `sudo make install` (i.e., as root, presumably because it's a lab machine) then it will not have been moved to a directory that's a standard load path for dynamic libraries. You'd need to add where it was installed, I guess maybe to both LD_LIBRARY_PATH and PYTHONPATH (maybe just the latter...?)

[2021-03-23 19:30] ngrupen commented on #539
Two quick updates:

1) CUDA
When running `export_graph.py` on lab machine with cuda, I am seeing the following error:

which is equivalent to the discussion here: https://github.com/deepmind/open_spiel/issues/172#issuecomment-653698293 just with different cuda versions. I thought the steps of installing the custom tf and tf_cc fork were actually to prevent this sort of mismatch, but atleast now I'

[2021-03-23 22:21] ngrupen commented on #539
Another update: after downgrading to TF=2.2 and fixing issues in previous update, I've essentially caught up to the original issue (see: https://github.com/deepmind/open_spiel/issues/172#issuecomment-653582904) on my local (no gpu, no cuda) machine.

`**tf_trajectories_example**`
Works as expected!

`**vpnet_test**`

`**alpha_zero_example**`

The issue hints that this could be due to further misma

[2021-03-23 22:32] christianjans commented on #542
This would be great! I'd be happy to help wherever I can. :)

[2021-03-23 22:41] ngrupen commented on #539
One more quick update: export_graph.py fails because it is using deprecated functions that have since been removed. Replacing:
`init = tf.initialize_variables(tf.all_variables(), name="init_all_vars_op")`
with
`init = tf.variables_initializer(tf.global_variables(), name="init_all_vars_op")`
does the trick. Using `tf.global_variables_initializer()` would also work in this case. Either way, it fixes

[2021-03-23 22:58] lanctot commented on #539
Hmm, I thought we had fixed that last problem.

@mrdaliri @michalsustr judging from going back through the conversations, it seems like those were still outstanding issues? (see https://github.com/deepmind/open_spiel/issues/539#issuecomment-805305939). @mrdaliri I thought you were using it for your research, did you ever manage to get TF AlphaZero fully working?

[2021-03-24 01:06] ngrupen commented on #539
As a sanity check, I re-installed tensorflow_cc and OpenSpiel from a blank slate. I wanted to try out using @mrdaliri 's `open_spiel` branch of the tensorflow_cc fork, because I thought it was conspicuous that the link to that repo in the [AlphaZero docs](https://github.com/deepmind/open_spiel/blob/master/open_spiel/algorithms/alpha_zero/README.md) went to the `open_spiel` branch and not the `mrda

[2021-03-24 07:58] michalsustr commented on #539
Yes sorry, I gave up on TF and just use libtorch.

[2021-03-24 13:15] lanctot commented on #539
@ngrupen I contacted @mrdaliri he confirmed that he never got it fully working. I had mistakenly misunderstood that he had, my apologies for not making that clear. I assume the furthest point he got to is the same place you are now; @mrdaliri can you please confirm?

 I will update the documentation to reflect this state of the C++ TF AlphaZero. It would be wonderful if you can find a fix for thes

[2021-03-24 13:28] mrdaliri commented on #539
Hi @lanctot @ngrupen,
Back in the day, I got `tf_trajectories_example`, `vpnet_test` and `alpha_zero_example` compiled successfully but only `tf_trajectories_example` ran without errors. (see [this comment](https://github.com/deepmind/open_spiel/issues/172#issuecomment-653582904) on #172)

However, one of the later releases of OpenSpiel switched to a different data type (from float to a special do

[2021-03-24 18:22] selfsim commented on #542
I am also interested in this!

[2021-03-26 12:00] lanctot commented on #539
Hi @ngrupen, can you submit a small PR for this?

[2021-03-26 15:24] VitamintK opened #543 "How to invoke `ToTabularPolicy` from python?"
I can invoke `ToJointTabularPolicy` with `pyspiel.to_joint_tabular_policy` but I can't figure out how to invoke `ToTabularPolicy` ([policy.h](https://github.com/deepmind/open_spiel/blob/master/open_spiel/policy.h)).  (My end goal is to turn a C++ CFR policy into a C++ tabular policy, to turn it into a python tabular policy, so if there's a better way to do that then I can do that instead.)

[2021-03-26 18:00] lanctot commented on #543
There's now way to do it currently.

Here's an inefficient way to achieve what you want:
1. Add the following line:

`.def("tabular_average_policy", &open_spiel::algorithms::CFRSolver::TabularAveragePolicy)

right after this line: https://github.com/deepmind/open_spiel/blob/b07e3ba2838c32be8f598abc705b886e64d75101/open_spiel/python/pybind11/policy.cc#L116

2. Then use `pyspiel.python_policy_to_pys

[2021-03-27 14:10] GoingMyWay opened #544 "Will you add the code of PSRO paper in this repo"
Dear @lanctot,

Thanks to you and your team for developing such good repo. Will you share the code of the PSRO's paper: _A Unified Game-Theoretic Approach to Multiagent Reinforcement Learning_ in this repo as good learning examples for other researchers?

Thank you for your attention.

[2021-03-27 17:15] lanctot commented on #544
Hi @GoingMyWay,

Thanks for kind words. You can find an implementation of PSRO here: https://github.com/deepmind/open_spiel/tree/master/open_spiel/python/algorithms/psro_v2

There is an example to help get started:

[2021-03-27 18:36] jordancurve commented on #544
Is there an implementation of online outcome sampling? (http://www.mlanctot.info/files/papers/aamas15-iioos.pdf)

[2021-03-27 18:46] lanctot commented on #544
Yes, see here for example uses: https://github.com/deepmind/open_spiel/blob/master/open_spiel/algorithms/oos_test.cc

[2021-03-27 18:47] jordancurve commented on #544
Thank you!

[2021-03-27 22:44] #544 closed

[2021-03-27 22:45] #541 closed

[2021-03-28 02:51] GoingMyWay commented on #544
Thank you.

[2021-03-28 20:35] michalsustr opened #545 "Feature: complex game parameters"
Hi, here is a crazy idea I was thinking about for a while and I wanted to ask your opinion about it.

In a number of games I encountered things like "write comma/space separated values to encode arrays", game-transformations that take nested expressions, aliasing of common game strings (for goofspiel/poker), etc.
Additionally I think it would be pretty cool to have some new powerful game transform

[2021-03-28 22:13] michalsustr opened #546 "Defaulted parameters are not inferred from GameType"
`Game` has a map of params called [`defaulted_parameters_`](https://github.com/deepmind/open_spiel/blob/41f76e32b11165b0693c84c077134e65cbd7f4b9/open_spiel/spiel.h#L951), while `GameType` has also a map of params called [`parameter_specification`](https://github.com/deepmind/open_spiel/blob/41f76e32b11165b0693c84c077134e65cbd7f4b9/open_spiel/spiel.h#L123) which also uses default values.

I find th

[2021-03-29 12:30] #539 closed

[2021-03-29 17:30] ngrupen commented on #539
@lanctot Apologies for the delay -- I was tied up at the end of last week / weekend responding to reviewers :-) Anyways, just submitted this PR for the minor fix: https://github.com/deepmind/open_spiel/pull/547#issue-602959881

As for libtorch vs. tensorflow_cc, I am planning to use OpenSpiel for research as well, so I have started using the libtorch version for now just to start making progress.

[2021-03-29 21:23] lanctot commented on #545
Yeah I would like to keep these simple as they are now and discourage complex cases, or rather, in those cases specify a config file and load the settings from a file.

[2021-03-29 22:44] VitamintK opened #548 "Leduc public observer doesn't differentiate between pre and post chance node states"
Just a minor issue I noticed -- maybe it's even intended.

When making an observer for public info and no private info for Leduc, even if the observer is supposed to have perfect recall, the tensor immediately before and after a chance node seems to be exactly the same.

[code]
outputs
[code]

but I'd expect them to differ, or if calling `set_from()` on chance nodes is unintended, then I'd expect

[2021-03-29 22:47] lanctot commented on #546
Yeah I think this is generally a good idea, and I've thought about it myself a few times too. It's a huge change to make now, though.. are you sure you're up to it?

I remember when @elkhrt added the `ParameterValue` member functions, wondering why we didn't make the change at that point. I expect there was a technical reason that made sense.. Ed, do you remember? Seems like something we would hav

[2021-03-30 00:45] lanctot commented on #548
@michalsustr @elkhrt I believe one of you changed this.. can one of you take a look?

[2021-03-30 01:16] lanctot commented on #548
Haha no by recently I mean like 6-8 months ago. Bad word choice in retrospect.. :-p

I just meant one of them implemented the Leduc observers when they got changed and so they will be able to answer.

[2021-03-30 01:20] lanctot commented on #548
Wait a sec.. is this the first chance node in the game? That is a private card deal. The public info should not change there. In Leduc, the only public chance node is at the start of round 2.

Can you elaborate on why you expect them to be different?

[2021-03-30 06:32] elkhrt commented on #548
Marc is right - nothing public has changed between the two states, unless you count the fact of a card having been dealt (which doesn't really seem worth recording?)

As always, I recommend looking at the playthroughs to understand the game dynamics, e.g.
https://github.com/deepmind/open_spiel/tree/master/open_spiel/integration_tests/playthroughs/leduc_poker_1540482260.txt

The playthrough doesn't

[2021-03-30 08:22] michalsustr commented on #548
I ran exactly into this issue and fixed it for myself locally, because it was breaking my algorithms :) I added `card_dealt` observation for each player to model "the passage of time".

If there is agreement on distinguishing the time for the chance nodes I can submit a PR.

[2021-03-30 21:02] michalsustr commented on #546
Makes sense. It is not high priority -- I might get to it some time (but not soon). I will make a comment when I do. If anyone wants to change it in the meantime, feel free, and please leave a comment :)

[2021-03-30 21:04] michalsustr commented on #545
Yeah, I thought so :) like I said just some crazy idea. :)

[2021-03-30 21:04] #545 closed

[2021-03-30 23:31] VitamintK commented on #548
Yeah, I was running some code with the intention of finding all the states with the same public state.  I assumed that all states that had the same `tensor` were states within the same "public infoset". The scenario in the original post broke my assumptions, since when I used `game.new_initial_state().child(0).child(1)`, I assumed that the other states with the same `tensor` would also be post-hol

[2021-04-05 17:08] willmcgowan commented on #522
Is MaxChanceNodesInHistory not needed for implicit stochastic games? It is unimplemented in Tarok.

[2021-04-06 16:46] lanctot commented on #522
I don't think that method is used anywhere. @michalsustr, you added it for the public state API... IIRC. Does anything depend on it?

[2021-04-06 19:02] michalsustr commented on #522
AFAIK it is not currently used, it was added as part of #368 . However, `kSampledStochastic` chance mode still results in appending action to the action history -- `MaxChanceNodesInHistory()` is used in other places, such as `MaxHistoryLength()` or `MaxMoveNumber()` to upper bound these quantities, and having the incorrect value for `MaxChanceNodesInHistory()` might result in wrong bounds. So whil

[2021-04-07 15:19] SwiftGodDev opened #553 "GPU not being utilized while using LIBTORCH Alphazero"
I successfully built openspiel with `BUILD_WITH_LIBTORCH=ON`. I have cuda 11.2 installed on my system. But when I start training it does not seem to utilize gpu.

[2021-04-07 17:35] christianjans commented on #553
Hi @SwiftGodDev, thanks for reaching out. What command are your running? There is an argument for `alpha_zero_torch_example.cc` that lets you set the devices you want to use: https://github.com/deepmind/open_spiel/blob/1381619f24317fec2cdf3724fb19505e4bbfeb1d/open_spiel/examples/alpha_zero_torch_example.cc#L58-L61 It defaults to using the CPU, but let me know if you are already specifying GPU (CUD

[2021-04-08 03:42] SwiftGodDev commented on #553
Hi @christianjans, after reading your comment I ran this command `./alpha_zero_torch_example --devices=/cuda:0`. But it gave this error.

Logging directory: /notebooks/data/chess/
Overwriting existing model: /notebooks/data/chess//vpnet.pb
Playing game: chess
terminate called after throwing an instance of 'c10::Error'
  what():  Cannot initialize CUDA without ATen_cuda library. PyTorch splits its

[2021-04-08 08:15] SwiftGodDev commented on #553
I tried changing cuda versions(10.2, 11.0, 11.1) but had no luck.

[2021-04-08 09:31] lanctot opened #555 "Next release planning"
Hello everyone,

We are planning a release in the coming months, so I am starting a thread to discuss it and give updates.

I am currently looking into how we can get fully into PyPI, as a bdist_wheel so you don’t have to compile from source when installing via pip. Luckily we mostly already have what is necessary, and a great project like https://github.com/joerick/cibuildwheel will help automate

[2021-04-08 22:01] christianjans commented on #553
Thanks for the information @SwiftGodDev. Sorry, I forgot to mention that one other thing to ensure is that you are installing the correct Libtorch version. In `open_spiel/scripts/install.sh`, ensure that you have the correct Libtorch download commented-out for the version of CUDA you are using: https://github.com/deepmind/open_spiel/blob/1381619f24317fec2cdf3724fb19505e4bbfeb1d/open_spiel/scripts/

[2021-04-09 01:27] selfsim commented on #553
@christianjans I am currently also trying to configure my system to use a GPU.

I'm initially trying with CUDA 11.2 and cudnn >8

Have you seen this before?

Running ./open_spiel/scripts/build_and_run_tests.sh from /home/jonas/Documents/open_spiel
Reusing virtualenv from ./venv.
Skipping installation of requirements.txt.
Building and testing in /home/jonas/Documents/open_spiel/build using 'python'

[2021-04-09 03:55] willmcgowan commented on #522
I'm not sure exactly how to implement deserialization/serialization for risk, but it seems to me like the easiest way is to have the state object handle the RNG rather than the game object. Is this what you mean by "stateful", and if so any advice on how to avoid this.

[2021-04-09 06:52] SwiftGodDev commented on #553
I am getting the same error as well. I have cudnn>8.

[2021-04-09 08:33] lanctot commented on #522
I suggest you leave serializstion to the very end, most functionality will work without it. There are some basic tests you can call with serialization disabled (BasicSimTestsNoSerialize -- see basic_tests.h).

Many problems are avoided by keeping the RNG in the game, because RNGs are awkward to serialize. You can take a look at tarok or negotiation, and I think one of the bridge games, to see how

[2021-04-09 09:45] selfsim commented on #553
Hi @christianjans, @SwiftGodDev, I've made some progress here.

cudNN version:

nvcc --version:

nvidia-smi:

The issue is that `libtorch/libtorch/share/cmake/Caffe2/public/cuda.cmake` is not set up for versions of cudNN >= 8. They made some changes to where the version appears.

I replaced the line `file(READ ${CUDNN_INCLUDE_PATH}/cudnn.h CUDNN_HEADER_CONTENTS)` with `file(READ ${CUDNN_INCLUDE_PA

[2021-04-09 10:38] willmcgowan commented on #522
I think I am towards the tail end of implementing vanilla risk. It passes the random sim tests without serialization, but it always fails the python game sim test.

[2021-04-09 11:45] SwiftGodDev commented on #553
Thank you @selfsim, your method worked.

[2021-04-09 13:30] SwiftGodDev commented on #553
@christianjans Can you please add an option for loading a checkpoint?

[2021-04-10 14:56] lanctot commented on #316
@chiggy2402 did you ever get a sample-based impl of NeuRD fully working? Would you be interested in contributing it via a pull request?

[2021-04-10 14:57] lanctot commented on #148
@sullins2 did you ever get a sample-based impl of NeuRD fully working? Would you be interested in contributing it via a pull request?

[2021-04-10 19:32] christianjans commented on #553
Great work! Glad this was resolved. And yes, @SwiftGodDev, I will be working on including functionality to restart Libtorch AZ training from checkpoints. Additionally, there is already a branch that allows one to test their trained Libtorch AZ model against a random or MCTS player, see #319 for more information.

[2021-04-11 04:44] SwiftGodDev commented on #553
Thank You @christianjans for the update. I will close this issue now as the problem has been resolved.

[2021-04-11 04:44] #553 closed

[2021-04-11 10:19] michalsustr commented on #555
This is awesome! We're using OpenSpiel in a basic AI course (things like minimax/alphabeta/mcts) since it has a number of game implementations. The precompiled binaries are the number one thing that would be useful, because right now starting up a colab means you have to wait for up to 15min before everything compiles. Thanks a lot!

[2021-04-12 03:54] uduse opened #558 "Observation tensor shape mismatch in Tic-Tac-Toe"
[code]
This prints:
[code]
Is this an intended behavior?

[2021-04-12 22:52] lanctot commented on #558
Hi @uduse,

Intended might be a strong word ... :) This is _expected_ behavior in the sense that it is not a bug: observation_tensor has always returned the flattened data (as a vector or floats) that you then have to reshape when storing into numpy arrays. It is not ideal, and we should probably have a function exposed that returns the observation with its appropriate shape.

@locked made some ch

[2021-04-12 23:31] lanctot commented on #555
Ok I have spent a bit of time looking into this. Here's a quick update.

### Python 3.9

I was able to get OpenSpiel compiled and running in Python 3.9, with TF 2.5.0rc0

- neurd_test is either crashing (when run wheels.yml using the build_and_run_scripts.sh directly in my fork) or hanging (on my personal desktop / MacOS CI). It is clearly related to Tensorflow because when run on the CI after an

[2021-04-13 09:02] elkhrt commented on #558
Yes, this is intended - our original API just returns a flat vector. But as Marc says there is a new & improved method.
[code]
Prints:
[code]
As well as getting the shape right, this also allows reuse of the same numpy array, so avoids a bunch of allocations. Furthermore, for non board games, the observation can be reported in multiple pieces, e.g. the above code for kuhn_poker produces:
[code]

[2021-04-14 01:14] willmcgowan commented on #522
I have implemented serialization, and it passes all tests. Should I send over the code?

[2021-04-14 01:58] uduse commented on #558
@lanctot  @elkhrt Thank you for your answers! It makes sense to me now. 🙏 😄

[2021-04-14 01:58] #558 closed

[2021-04-14 08:54] lanctot commented on #522
Great!

Can you go back to my comment reply on March 4th to see what I said about copyright? It is not straight-forward to include copyrighted games in our main repo.

You can also see the discussion in the Stratego thread: ,https://github.com/deepmind/open_spiel/issues/459 and if you want post a link to your fork for people who are interested.

[2021-04-14 09:09] willmcgowan commented on #522
That makes sense. Thank you for all the help. Here is a link to the fork for anyone interested.
[My fork](https://github.com/willmcgowan/open_spiel)

[2021-04-14 09:49] willmcgowan commented on #522
Im getting this error message "pyspiel.SpielError: Unknown game 'risk'. Available games are:..." when more or less copying and pasting kuhn_nfsp.py and replacing with risk.  I have registered the game so I am bit confused.

[2021-04-14 09:52] michalsustr commented on #522
Maybe missing import?

[2021-04-14 10:05] willmcgowan commented on #522
I copied the kuhn_nfsp.py code verbatim, is there something else I should be importing?

[2021-04-14 11:56] lanctot commented on #522
I think your python interpreter is picking up an old pyspiel.so. Did you previously install via pip? If so just pip uninstalk it and point your PYTHONPATH to the one you are building with risk in it (see the install page for details on how to set PYTHONPATH)

[2021-04-14 12:59] willmcgowan commented on #522
I think I did install via pip

[2021-04-14 13:05] lanctot commented on #522
Right, and I assume the tests you're running with Risk is having been built from source?

[2021-04-14 13:12] willmcgowan commented on #522
Yes that is correct.

[2021-04-14 14:09] lanctot commented on #522
So did you try `pip uninstall open_spiel` and then set PYTHONPATH as described in Step 4 of [this page](https://github.com/deepmind/open_spiel/blob/master/docs/install.md).

[2021-04-14 16:36] willmcgowan commented on #522
Yeh, I have pip uninstalled,but I'm getting the impression I'm messing up the pythonpath step as I'm getting an error on importing pyspiel now

[2021-04-14 17:07] lanctot commented on #522
Suppose you cloned in `$HOME/open_spiel`, then you should do this:

[code]

[2021-04-14 17:23] willmcgowan commented on #522
So I did that and the error is still being generated.
Here's what I typed:
[code]

[2021-04-14 17:28] lanctot commented on #522
It has to be an absolute path, I am guessing `Projects` is relative to something, like maybe your home directory. Can you send the output of `pwd` in that directory?

[2021-04-14 17:41] willmcgowan commented on #522
I changed the path to the absolute path you described and now it runs. Thank you for the help.

[2021-04-14 23:28] willmcgowan commented on #522
GetAllStates seems to be exceeding recursion depth for python objects. What might be the effects of setting depth limit to some number not -1?

[2021-04-14 23:32] lanctot commented on #522
You should not be calling GetAllStates in Risk, it is too large. What are you trying to use it for?

[2021-04-15 00:56] willmcgowan commented on #522
Should I just remove the exploitability calculation entirely?

[2021-04-15 01:02] lanctot commented on #522
For the full game of Risk? Yes. Computing exploitability storing information linear in total (information) states. This is prohibitively expensive in full Risk. Might be feasible in smaller subgames, though.

[2021-04-15 09:27] willmcgowan commented on #522
So I ran the modified version of kuhn_nfsp on risk(a simplified version with a smaller map for 2 players). One of the player's losses (I think the last_rl_loss_value) got stuck at NaN, and then eventually it threw this.
[code]

[2021-04-16 11:10] RjVicks opened #561 "Issue with spiel_move_to_checker_moves (Backgammon)"
Hello again,

I have found an issue with the "state.spiel_move_to_checker_moves" function in backgammon.

The third item in the "checker_moves" array, (which is the return of "state.spiel_move_to_checker_moves"), flags if an opponent's checker was 'hit' i.e. placed on the bar.

This boolean is always displaying false even when an opponent is hit. I have attached an image.

[2021-04-16 11:10] RjVicks commented on #561
![issue-with-checker-move](https://user-images.githubusercontent.com/26366162/115016297-c6b13d80-9eac-11eb-9558-9b46b941a113.png)

[2021-04-16 11:11] RjVicks commented on #561
Consider where the terminal displays:

 Checker moves:
pos 3, num 1, hit? False
pos 0, num 6, hit? False

[2021-04-16 11:17] RjVicks commented on #561
As aside, please can I ask for your advice with something.

Please can you inform me on how I can get the number of checkers at a given point?
Is it possible to retrieve this information from the api?

For example, I would like to know how many checkers are at point number 4. A function of the sorts:

state.get_num_checkers_at_point(point_index=4)

[2021-04-16 12:38] lanctot commented on #561
I just took a look at the code, the missing hit info is actually a bug. I'll fix it today, add a test, and the fix should be merged in our next update (Monday). Thanks for finding & reporting this.

As for more inspection function: I wrote the games_backgammon.cc file specifically for that. It doesn't contain the one you're looking for, but you can quite easily add all the ones you need (they are

[2021-04-17 09:47] lanctot commented on #561
I take it back: it is not a bug. Some internal logic relies on that function to not contain hit information, but I have added an extra function to augment them with the hit information with an example. Will be included in Monday's update.

[2021-04-18 08:43] lanctot commented on #522
I'm guessing there are still bugs in the game.  E.g. this can happen if the NFSP agent is being given NaNs in the observation/infostate tenor. I would add a check in your observation functions over every float using `std::isnormal` to check that they're not NaN or infinity (which can occur if you're normalizing a value by dividing by a quantity that can be zero).

[2021-04-18 15:36] RjVicks commented on #561
Ah, that's great. Thank you so much :)

[2021-04-18 19:58] willmcgowan commented on #522
I added asserts in the write tensor method making sure the observation doesn't contain NaN or infinities, and the same error was thrown after a couple hours of training, in the same fashion (ie one of the losses was NaN for many iterations before the error was thrown.

[2021-04-19 04:40] willmcgowan commented on #522
Could this be an underflow problem?

[2021-04-19 09:16] #561 closed

[2021-04-19 14:06] lanctot commented on #522
Almost certainly some form of numerical error. Can you print the values of the observations? What kind of magnitude / scale /  range do they have? Most of the games use binary features, but a few use real values (within a smallish range).

[2021-04-19 18:54] willmcgowan commented on #522
The entries in the observation are mostly binary except for the troops in each territory, the current troop income, and the amount of troops. These entries contain integer values. Should I represent these integer values as binary values, ie by converting them to binary?

[2021-04-19 23:43] lanctot commented on #522
Not necessarily. I think what is happening is that one input is mistakenly causing a numerical issue. What I suggest is to put a try around the failure, and when the error is raised, print out the state ToString and out all the values of the observation and inspect them manually. I bet one of them is either uninitialized or larger than you expect, which would cause a numerical issue.

[2021-04-20 00:31] lanctot commented on #555
Quick update:

We decided to remove a lot of official python dependencies (#563), making the python installation a lot less bulky. Of course this doesn't quite solve the weird issue with Python 3.9 and `python_neurd_test` but it would at least allow a wheel to be built and the main API to be used-- which is Python 3.9-compatible-- without the TF release. It will also make installing the pip for us

[2021-04-20 22:48] VitamintK opened #565 "Should __str__() have perfect recall?"
Should `__str__()` have perfect recall? I ask because it looks like for `tic tac toe`, `battleship`, and `oshi_zumo`, the `__str__()` does not have perfect recall, e.g.:
[code]

I think this is causing issues with the way that the BR caches `.value()`

Here's a demo I ran (can supply the policy action_probability_array to repro `my_policy` if anyone is interested):
[code]

I believe the expected o

[2021-04-20 23:34] lanctot commented on #555
Another update: I fixed the one problematic C++ compilation problem on older g++ and we successfully built our first official bdist wheel using cibuildwheel today (targeting Python 3.6 on the manylinux2014 image). This is great because any other issues with different Python versions should be simple to solve (modulo the pending TF issue). Will pursue fixing the code for MacOS compilers on the many

[2021-04-20 23:45] lanctot commented on #565
Short answer: no.  `__str__` calls `State::ToString` which is a string representation of the state, which does not require perfect recall. And it's shouldn't be required to have perfect recall because there are times when it makes perfect sense for it not to, like in the case of Markovian states like Tic-Tac-Toe.

Yes, our best response algorithms use the ToString as a key representation of the st

[2021-04-26 13:33] lanctot commented on #555
I managed to build our first set of bdist wheels built with cibuildwheel, and installed it externally (on my Mac laptop and personal Ubuntu desktop). It installed in about 3 seconds, and worked. :slightly_smiling_face:

[2021-04-26 13:47] michalsustr commented on #555
This would be a perfect timeline also for the competition as we could have the games as easily available as just with `pip install open_spiel` :) I will try to get everything in before well implemented and tested. Currently there is missing RBC and Gin Rummy updates, and a mechanism for not revealing perfect information in the game. I think the last could be done via communication with a referee t

[2021-04-26 14:28] lanctot commented on #555
Sounds good @michalsustr . Also, keep in mind we can do minor releases after the big one (and update the wheel each time) so there's no rush to get all that finished for this first release of the bdist wheel.

[2021-04-26 15:14] hecong97 opened #569 "Error in docker build"
When I use the docker in windows to build open_spiel with the command
"docker build --target python-slim -t openspiel -f Dockerfile.base --rm ."
The docker Error shows:
------
` => ERROR [base 11/20] RUN ./install.sh                                                                            0.2s

#21 0.222 /usr/bin/env: 'bash\r': No such file or directory
executor failed running [/bin/sh -c ./inst

[2021-04-26 15:24] hecong97 commented on #569
git in Windows was configured to convert line endings from the characters LF (line feed) used in Linux and family to CR LF (the "carriage return" character followed by "line feed") commonly used in Windows.
Add  "--config core.autocrlf=input" when git clone can solve the question.

[2021-04-26 15:24] #569 closed

[2021-04-28 00:47] lanctot commented on #531
Good news, I finally got around to doing this. Should be merged in the next sync. However, there seems to be a problem with Goofspiel -- I suspect it's related to the observations, possibly they are missing something. @michalsustr, can you take a look when it's merged?

[2021-04-28 00:48] lanctot commented on #464
Alright I finally got around to implementing this. It should be included in the next github sync.

[2021-04-28 15:35] VitamintK commented on #565
I fear there may be no quick fix to allow memoizing BRs to treat states belonging to the same markovian state as identical, since "the value of the state is equivalent for all histories that lead to it" may not be true since *policies* in general are per infostate, not Markovian state.

That is, my open_spiel policy could have me playing action A if the tic-tac-toe sequence (aka infostate) is `1 0

[2021-04-28 15:55] lanctot commented on #565
I agree there is no quick fix to the current BR impl. I'm currently implementing a new best response algorithm that will handle this properly, in the sense that policies can be based on observations (i.e. Markovian descriptions of states in perfect info games like Tic-Tac-Toe) and uses value iteration to find the BR. Please see the issues I linked in my last response for more detail. I finished th

[2021-04-28 17:00] VitamintK commented on #565
Ah, I see.  Thank you, sounds great!

[2021-04-29 06:10] guyreading commented on #413
Hi Kianté, Edward,

I'm looking to run "bridge_uncontested_bidding_bluechip.py" as well, however I'm using open_spiel in WSL from within Windows. I'm wondering if either of you know how I would perform the step, "wine /path/to/Wbridge5.exe Autoconnect 12345"?

Thanks, Guy

[2021-04-29 23:52] christianjans opened #571 "Libtorch AlphaZero: Resume training from most recent checkpoint"
This feature was talked about before with @selfsim and @SwiftGodDev.

I have been working on it a little bit and should hopefully have something soon, but I just thought I would make an issue to ensure that it is not forgotten about.

[2021-04-30 10:33] lanctot commented on #571
Awesome @christianjans, thanks for continual contributions!

[2021-05-03 08:29] #464 closed

[2021-05-03 08:29] #505 closed

[2021-05-03 08:31] lanctot commented on #531
Ok @michalsustr can you see the commit linked above and check the case for simultaneous moves? It's failing for goofspiel, could be a bug in my impl, but could also be a bug in the goofspiel observations.

[2021-05-03 08:45] michalsustr commented on #531
Ok I will try to take a look over the weekend. If I recall correctly I did fix observations in a number of games, I just didn't prioritize to make PRs at the moment. Last time I checked I made 500 commits apart from master, so that will be "fun time" merging everything after deadlines :)

[2021-05-03 12:10] lanctot commented on #531
Hah, no rush. I may try to come back to it as well when I have a bit of time for it. For now I just put a warning that there's a known problem in the tests for the case of simultaneous move games.

[2021-05-03 15:31] lanctot commented on #555
Quick update the the problem with neurd_test has been resolved as of TF 2.5.0rc2, and https://github.com/deepmind/open_spiel/pull/572 moves our supported versions up to Python3.9.

Everything is looking good now, the last thing we need to do add test for the installed wheel, and we'll be good to go.

[2021-05-04 00:17] lanctot commented on #565
Hi @VitamintK , the new BR I mentioned is now live from this commit: https://github.com/deepmind/open_spiel/commit/110a2a724d35d880ff1025725f2586a43f472167. You can find it in `algorithms/tabular_best_response_mdp.*` It's not overly tested but I did check that it matches the value of the current BR to random in TicTacToe (but is a lot more space efficient using only 4520 Markovian observations rat

[2021-05-04 12:56] lanctot opened #576 "Master moving to Python 3.9 at next sync"
Hi all,

Just a quick announcement to let everyone know, in preparation for the next release, we will be moving to support Python 3.9 as of next week's sync. Here is the PR change: https://github.com/deepmind/open_spiel/pull/572.

This is a big change because TF < 2.5 does not officially support Python 3.9. Also there is a known problem with neurd_test.py with the early release candidates of 2.5.0

[2021-05-04 13:09] lanctot commented on #542
@Asugawara just submitted a PR!! https://github.com/deepmind/open_spiel/pull/575

![image](https://user-images.githubusercontent.com/3929263/117008183-048fcd80-acc5-11eb-934c-6a2ba8eab5ba.png)

[2021-05-04 14:53] VitamintK commented on #565
Thanks @lanctot, looking forward to checking it out.  How does this behave if the policy being best-responded to has a different policy for, e.g. sequence `1 0 3` and `3 0 1`, both of which are the same Markovian observation?

[2021-05-04 15:07] TheoCabannes opened #577 "Installation error: use of overloaded operator '<<' is ambiguous on Mac"
Hey,

I am trying to compile the code and I have the following error:
[code]

My computer is using MacOS BigSur 11.3. With cmake version 3.15.3 and Apple clang version 11.0.3 (clang-1103.0.32.59). I am running the code from a conda environment (with conda 4.8.3).
I get this error when downloading the git and running ```python setup.py install```. I also get this error when running ```CXX=/usr/bin/

[2021-05-04 15:19] lanctot commented on #565
That is not currently supported: it uses information state strings as the keys or observation strings, and it's dynamically decided based on the game type (btw is there a reason or specific use case you can describe where that would be useful?)

You could modify the code to get this if you can just use observation strings when you build the MDP for the best-responding player but use information st

[2021-05-04 15:22] lanctot commented on #577
Hmm, odd.. the MacOS tests passed when I pushed that code... maybe because it's still using 10.15?

I _think_ the fix is to change all instances of `SPIEL_CHECK_NE(x, nullptr)` to `SPIEL_CHECK_TRUE(x != nullptr)` in `algorithms/tabular_best_response_mdp.cc`. Can you try doing that and see if it fixes it?

[2021-05-04 15:39] TheoCabannes commented on #577
Thank you, the fix solves the issue! Tests are running.

Here are more info about my config:
[code]

[2021-05-04 15:57] TheoCabannes commented on #577
All the tests are passing

[2021-05-04 19:37] lanctot commented on #577
Great @TheoCabannes! Can you submit a PR?

[2021-05-04 20:11] TheoCabannes commented on #577
Here it is https://github.com/deepmind/open_spiel/pull/578. Thanks

[2021-05-04 21:43] lanctot commented on #577
Much appreciated!

[2021-05-04 21:50] TheoCabannes commented on #577
Are you welcome, should macOS 11.3 be added to https://github.com/deepmind/open_spiel/blob/master/.github/workflows/actions.yml ?

[2021-05-05 00:14] willmcgowan commented on #522
Having manually checked the observation tensor I can say its pretty normal/legal. Any advice on what else could be causing this error?

[2021-05-05 01:21] lanctot commented on #522
Hi @willmcgowan , are you printing out the state and the observation at the time that you get the actual crash? There is something causing the probabilities to become NaN / infinity and I think you'll need to print it out when it happens.

From you comment here: https://github.com/deepmind/open_spiel/issues/522#issuecomment-820276687, I would say put that code block it's failing on within a try st

[2021-05-05 01:28] lanctot commented on #577
Hmm... yeah I thought about it after you found the problem you identified.

Normally I'd say let's just replace 10.15 with 11.3, but 11.3 is quite new. I just checked: it's only a few weeks old. I'm not even sure github actions will have it as a choice yet? But if so: yes I think it's a good idea to add it, in addition to the 10.15 entry and not under nox (I will be soon removing those anyway sinc

[2021-05-05 01:31] lanctot commented on #577
Ah yes, only 11.0 is available (https://github.com/actions/virtual-environments) and seems like it's "preview only". I have no clue what that means, but I guess it means people can't use it for CI quite yet). `macos-latest` still points to 10.15.

[2021-05-05 23:14] willmcgowan commented on #522
I had implemented a try statement on line(roughly where the division occurs) 170, which in the except statement would print the observation, which is how I manually checked the observation.

[2021-05-06 14:04] VitamintK commented on #565
The original motivation was that I had a policy for tic-tac-toe that I wanted to measure exploitability for.  I found that `exploitability` was reporting incorrect exploitability due to the BR caching values by `ToString` rather than infostate.  If the values were incorrect, I think that means that my original policy did not fulfill the requirement where "the value of the state is equivalent for a

[2021-05-06 14:53] lanctot commented on #565
Ok.. I was all kind of confused throughout this thread but now I think I finally understand. Sincere apologies for the runaround.

You are talking about the python best response, and it does indeed have the problem you initially described. We also had this on the C++ side, and we changed it to use State::HistoryString as keys instead of ToString several months ago. But we did not make the same cha

[2021-05-06 14:59] lanctot commented on #565
Also tagging @finbarrtimbers @elkhrt who have done a lot of work on these implementations.

[2021-05-08 01:04] benblack769 opened #580 "Alpharank visualization fails with matplotlib >= 3.2"
Using matplotlib >= 3.2 the line from the example here: https://openspiel.readthedocs.io/en/latest/alpha_rank.html#alpha-sweep-plots

fails with

[code]

Using matplotlib 3.1.3, it works just fine.

[2021-05-08 12:30] lanctot commented on #580
Hmm we will try to reproduce. @shayegano @dhennes is there any way that we can change how thst plotting code works?

We need to keep supporting matplotlib >= 3.2 in order to e.g. work with Python 3.9 and beyond.

[2021-05-08 13:17] lanctot commented on #580
Could I ask you to try changing this line: https://github.com/deepmind/open_spiel/blob/643dfd2a5ef023e796e20d06758800ec34a1204b/open_spiel/python/egt/alpharank_visualizer.py#L309

to `marker=xyi` and see if it fixes it?

[2021-05-10 09:34] #577 closed

[2021-05-10 09:37] lanctot commented on #576
Done, by https://github.com/deepmind/open_spiel/pull/572

[2021-05-10 09:37] #576 closed

[2021-05-10 13:25] shayegano commented on #580
Thanks for the catch @weepingwillowben, and thanks @lanctot for the update to adhere to the updated `matplotlib` API.

I was also able to reproduce the RuntimeWarning, which is related to numerical imprecision when the value of alpha is set too high (as highlighted in alpharank.py:242 of @lanctot's comment). It doesn't seem to cause any realizable numerical errors/divide-by-zeros, so I would advis

[2021-05-12 09:17] TheoCabannes opened #588 "Inconsistent documentation in case no possible actions"
In case a player has no possible actions, the documentation is not clear.

ApplyActions states that the player should have the action kInvalidAction: https://github.com/deepmind/open_spiel/blob/53eeb6127578f91e88a6c0451983d10e3509446d/open_spiel/spiel.h#L557.
Generate_playthrough.py seems to work when the player has kInvalidAction as action.

LegalActions seems to say that the player should have a

[2021-05-12 09:29] lanctot commented on #588
Hi @TheoCabannes,

Sure we can help but I have to understand your use case first.

Is it a simultanrous move game? If so are you loading it as a sequential game using turn_based_simultaneous_game?

Sounds you are indeed hitting some uncovered use cases of our API.

[2021-05-12 09:32] TheoCabannes commented on #588
Indeed, I am creating a simultaneous move game and I am loading it as a sequential game using turn_based_simultaneous_game. I am also currently writing it with python.

I am currently hitting several issues, so I will probably create a small use case in order to enable debugging my current issues.
Hopefully, the small use case can later be converted in a test.

Thank you a lot for your help!

[2021-05-12 09:33] lanctot commented on #588
If a simultaneous game, are you saying you have nodes where some players have actions and others don't have any?

Can we clearly exclude the case that it is a player's turn and they have zero legal moves?

[2021-05-12 09:34] lanctot commented on #588
Absolutely we will definitely make sure it is properly handled and covered in a test afterward. Thanks a lot for your help in following up.

[2021-05-12 09:37] TheoCabannes commented on #588
Yes, in some nodes some players have actions and other not.
When converting into turn based it created nodes where there is no legal moves.
Currently, one fix is to use kInvalidAction in this case and comment the line https://github.com/deepmind/open_spiel/blob/53eeb6127578f91e88a6c0451983d10e3509446d/open_spiel/spiel.cc#L317

For more context, I am working on a research project based on the imple

[2021-05-12 10:23] lanctot commented on #588
Yeah absolutely not surprised that the code does not handle this case (nor that the docs are inconsistent). This should indeed be fixed and covered by tests. Should be an easy fix, will try to have it dobe by next sync github sync (Monday). Will update this thread as we progress.

This is great timing too, catching these before the release.

Dynamic routing games are definitely something I would l

[2021-05-12 12:18] TheoCabannes commented on #588
I created a PR to show my current issues: https://github.com/deepmind/open_spiel/pull/589

[2021-05-13 00:47] lanctot commented on #588
Ok @TheoCabannes, I have looked into this and have some updates.

First of all, I would like to separate two things that are being mixed up currently:

1. Proper support for simultaneous move games where some players have no legal actions (along with clear documentation on how these are to be supported)
2. Implementation of a simultaneous move games in Python, and how they can be converted to sequ

[2021-05-13 12:12] #535 closed

[2021-05-13 12:13] #538 closed

[2021-05-13 12:13] #348 closed

[2021-05-13 12:13] lanctot commented on #348
We are now doing some form of this.

[2021-05-13 12:15] #424 closed

[2021-05-13 18:20] uduse opened #592 "Issues regarding incomplete docker related handlings"
Since OpenSpiel's development is quite healthy (actively developed and many tests), I assumed that I could use docker smoothly. This is the promise of docker, after all. However, this was not the case. Here are some observations of mine after trying to build and run docker stuff with OpenSpiel. If I missed some important information somewhere, please let me know!

### documentation inaccurate
The

[2021-05-14 04:46] willmcgowan commented on #522
It seems to be the trend that the true divide error is thrown in the deployment phase from my manual checking of the observations thrown on multiple failed runs. The observations appear to be perfectly normal/legal games so I am very confused as to what/how this is occurring.
Example observation 1:
[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,

[2021-05-14 08:42] TheoCabannes commented on #588
Thank you a lot @lanctot.
Two questions/remarks on the point (1).
1. In case LegalActions returns a empty list for player without actions and ApplyActions needs an argument so it takes as argument a list of length equal to the number of player, should generate_playthrough be changed? Also in this case, then the example [here](https://github.com/deepmind/open_spiel/blob/master/docs/concepts.md#play

[2021-05-14 08:46] lanctot commented on #592
Thanks @uduse.

Thanks for flagging. Not many of us use docker, so it does indeed get left behind since there are no tests. I will put a note on the docker installation to make this clear.

The missing tensorflow can be fixed by sourcing scripts/python_extra_deps.sh and installing the extra python dependencies (we do that in our github actions tests, see here: https://github.com/deepmind/open_spie

[2021-05-14 09:00] lanctot commented on #588
Yes generate_playthrough shoukd be changed. I don't see why the example is mot correct. Can you explain why you think so.

Yes the doc line has been change. You will only see the change when we apply the sync of our internal repo with github, which happens on Mondays.

[2021-05-14 09:44] TheoCabannes commented on #588
Sorry, the example is still correct. But it only applies to sequential games, as simultaneous games use state.legal_actions().

For simultaneous game this will be incorrect:
[code]

[2021-05-14 09:48] lanctot commented on #588
Actually that should still work too, but I will add a test to be sure.

There is an inherited version of ApplyAction that converts a flat action into its equivalent joint action (see simultaneous_move_game.h).

[2021-05-14 13:53] TheoCabannes commented on #588
I see. For a simultaneous python game my example fails. But this is due to the issue raised in https://github.com/deepmind/open_spiel/pull/587:
LegalActions bindings does not cover LegalActions(player p) due to potentially some issue with overloading in python.

[2021-05-14 13:53] TheoCabannes commented on #588
I will try it with C++ code

[2021-05-14 14:00] lanctot commented on #588
It will fail. :) You have to wait until Monday. :-p

I also caught a few more things as a result of your last messages, and fixed them too. I don't have the python side of if tested, but I'll try to get it in there too.

@elkhrt also got an example simultaneous game implemented and working too, so it will be a big update.

[2021-05-14 14:23] lanctot commented on #588
Great! Once all this new code is live, it should be as easy as just pulling changes from master and should work from then on.

I think it's too much. This is a rare case... I think it's fine to just keep the lists empty and submit 0 in the simultaneous move case. And actually, I believe it has to be 0 for the flat action to joint action converter to work properly. I don't think it's so bad to over

[2021-05-14 15:08] elkhrt commented on #588
Agree passing action=0 makes sense for nodes without actions.
We could alternatively make it a vector<optional<Action>> or a map<Player, Action>

[2021-05-14 15:29] lanctot commented on #588
Yeah and I prefer the 0 option than map (too heavy) and optionals (not supported fully through pybind11 without an additional dependency).

[2021-05-14 17:03] uduse commented on #592
@lanctot Thanks for the info. I don't think I can confidently provide the right fix for the Dockefile right now as I fixed it in different ways on different platforms in order for it to work. We should worry about it later when we have cross-platform tests for that.

Here's the plan. I will tinker with the docker stuff on my forked repo and use it for a while to make sure it works as intended. Whe

[2021-05-14 17:55] uduse opened #595 "MuZero implementation using OpenSpiel"
First of all, I want to thank the developers for this awesome project! It's simple, clean yet powerful. I really enjoyed playing with it.

I'm currently studying at the University of Alberta under the supervision of Prof. Martin Mueller. My primary research focus is learning/planning with a model, and general game playing. MuZero was a big step in this direction and I would like to implement an op

[2021-05-17 08:41] #580 closed

[2021-05-17 08:41] #588 closed

[2021-05-17 10:42] dvstter opened #597 "Is there any possibility that support the code for <The Advantage Regret-Matching Actor-Critic>?"
I am also one researcher focused on the EFG. I have read the preprint version of that paper. Is there any possibility that Lanctoc can support me with the implementation of this algorithm?

[2021-05-17 12:13] lanctot commented on #595
Hi @uduse,

This sounds great :)

Do you know about [muzero-general](https://github.com/werner-duvaud/muzero-general)? They also recently added support for OpenSpiel games: https://github.com/werner-duvaud/muzero-general/commit/23a1f6910e97d78475ccd29576cdd107c5afefd2.

Cool! Am I assuming correctly that you want to have the search/inference in C++ due to performance? (i.e. rather than a Python im

[2021-05-17 12:16] lanctot commented on #597
I'd love nothing more than to have an implementation of ARMAC in OpenSpiel. It was also requested in the past, see here: https://github.com/deepmind/open_spiel/issues/441.

I was hoping to reimplement it as a side project to learn JAX, but I've been saying that for 6 months. I don't think I will be able to realistically get to it because I've got too many other things to do that are higher priorit

[2021-05-17 12:18] #519 closed

[2021-05-17 12:18] #542 closed

[2021-05-17 12:19] #385 closed

[2021-05-17 12:19] lanctot commented on #398
I feel like the conversation has mostly been resolved, closing for now. Please re-open if you want to continue it!

[2021-05-17 12:19] #398 closed

[2021-05-17 12:21] lanctot commented on #438
We have written this now: https://github.com/deepmind/open_spiel/blob/master/docs/library.md for people who want to use OpenSpiel as a C++ library rather than framework. That's probably the best way to go at this point. Closing for now.

[2021-05-17 12:21] #438 closed

[2021-05-17 12:22] #479 closed

[2021-05-17 12:23] #494 closed

[2021-05-17 12:23] #495 closed

[2021-05-17 12:24] lanctot commented on #495
We don't plan to run our test on GPUs, so closing these issues. Thanks for reporting.

[2021-05-17 12:24] lanctot commented on #483
Here is the PR: https://github.com/deepmind/open_spiel/pull/537

Thanks @selfsim !

[2021-05-17 12:24] #483 closed

[2021-05-17 12:25] #524 closed

[2021-05-17 12:31] lanctot commented on #533
@VitamintK @michalsustr yes that's the reason. It _can_ be a significant performance hit in general -- really depends on the game implementation. Some games have a lot of legal moves and they are costly to generate.

My advice: always do a check that the move is legal before calling ApplyAction. We will do is add a flag to the RL environments that will allow/enable check in the `step` method. I kn

[2021-05-17 14:19] dvstter commented on #597
Thanks for your reply, I will try to implement it by myself.

[2021-05-17 14:19] #597 closed

[2021-05-17 14:34] TheoCabannes commented on #588
Thank you for the fix (and the python iterated_prisoners_dilemma).
However the inconsistencies have not been fully solved.
It seems from the discussion that legal_actions() should return [0] and not an empty list when there is no action possible.
In the [docs](https://github.com/deepmind/open_spiel/blob/cb327b1d662e3552416c9e10af61cf994ae6a746/open_spiel/spiel.h#L231), it still says that legal_act

[2021-05-17 14:38] TheoCabannes commented on #588
This issue should also be raised in:
https://github.com/deepmind/open_spiel/blob/cb327b1d662e3552416c9e10af61cf994ae6a746/open_spiel/examples/example.cc#L120
and
https://github.com/deepmind/open_spiel/blob/cb327b1d662e3552416c9e10af61cf994ae6a746/open_spiel/examples/benchmark_game.cc#L84

[2021-05-17 14:42] lanctot commented on #588
Hi @TheoCabannes,

I think there was a misunderstanding:

1. LegalActions(player) should return an empty list when player does not have any legal actions.
2. When calling ApplyActions(std::vector<Action> actions), a 0 should be passed into the index for any players that do not have legal actions.

That was solved in this commit: https://github.com/deepmind/open_spiel/commit/8d38f58f907330002b7885a

[2021-05-17 14:46] lanctot commented on #588
Whoops, I think I missed example.py. We did add it in the tests (see that commit above), we just have to apply a similar fix to example.py.

[2021-05-17 14:46] TheoCabannes commented on #588
Hi @lanctot,
Then in this case, the following lines needs to be changed:
https://github.com/deepmind/open_spiel/blob/cb327b1d662e3552416c9e10af61cf994ae6a746/open_spiel/python/examples/example.py#L85
https://github.com/deepmind/open_spiel/blob/cb327b1d662e3552416c9e10af61cf994ae6a746/open_spiel/examples/benchmark_game.cc#L84
https://github.com/deepmind/open_spiel/blob/cb327b1d662e3552416c9e10af61c

[2021-05-17 14:47] lanctot commented on #588
Yes you're right. Can you submit another PR (you can fix them all in one PR)?

[2021-05-17 15:11] lanctot commented on #588
Oh sorry, the change I described was in a different commit, this one: https://github.com/deepmind/open_spiel/commit/96bd3e1e65d2c36947b4e45a7033bf775b8bbbe7

See the changes I made in generate_playthrough.py, games_sim_test.py, and basic_tests.py.

It does not matter that 0 encodes a legal action: it's only being used as a placeholder value when the agent has no legal actions. @elkhrt was talking

[2021-05-17 15:29] TheoCabannes commented on #588
I created this PR https://github.com/deepmind/open_spiel/pull/601

[2021-05-17 15:58] uduse commented on #595
Yes, and my project is heavily inspired by that. My project will be different in two main ways: (1) I'll use JAX (2) I'll try to make the algorithm efficient and scalable.

Yes, similar to the MCTS in KataGo, I will try to implement a multi-threaded C++ version for MuZero.

I was wondering if there's anything on top of your head that you would like to tell me. Other than that, my only concern is g

[2021-05-17 18:03] lanctot opened #602 "JAX NFSP tests failing (only sometimes)"
Happened twice today.

Here's an example: https://github.com/deepmind/open_spiel/runs/2603201182?check_suite_focus=true

@perolat can you take a look?

[2021-05-17 18:36] elkhrt commented on #588
Using 0 seems reasonable to me. We could alternatively require kInvalidAction (-1) for cases where the player has no legal action, but this would require a few other changes. Let me know if you fancy doing that and I can provide some guidance.

[2021-05-18 03:30] findmyway commented on #595
FYI, a [GSoC](https://summerofcode.withgoogle.com/projects/#4538531164192768) student will also work on MuZero in Julia and use the OpenSpiel wrapper this summer.

[2021-05-18 04:06] uduse commented on #595
Thanks for the information! Do you know this person's contact information? I cold-emailed a person with the same name but I likely got it wrong...

[2021-05-18 04:36] findmyway commented on #595
Try this `michal.lukomski21` through gmail. And @jonathan-laurent is the primary mentor.

[2021-05-18 21:24] lanctot opened #606 "Julia test failing"
Hi @findmyway, seems like there are still some problems with the Julia test so I've disabled it again. See: https://github.com/deepmind/open_spiel/runs/2613878461?check_suite_focus=true.

I _think_ currently the line with the copy of the libstdc++.so is only triggered when julia is installed manually. On Github Actions, Julia 1.6.1 is installed in /usr/local/julia. So I wonder if there's a similar

[2021-05-18 23:11] fzh6762788 opened #607 "az_path Unicode Decode Error"
Hi everyone,

I wanted to use the following line to start a game between the az-trained model and me.

python3 open_spiel/python/examples/mcts.py --game=connect_four --player1=az --player2=human --az_path=/mnt/d/Windows_to_Ubuntu/connect_four/checkpoint-240.pt

However, I ran into the following issue. I am using Ubuntu 20.04 LTS on my Windows 10. It passed 100% of the tests after I installed every

[2021-05-19 01:19] lanctot commented on #607
Hi @fzh6762788,

What produced `checkpoint-240.pt` ? The Python (TF-based) AlphaZero, or the Libtorch (C++-based) AlphaZero?

I believe that playing against a checkpoint in `examples/mcts.py` in your message was designed for the former. So if you're sending it LibTorch-generated checkpoints, that would certainly explain things.  I'm not 100% sure if we have something that can play against the torc

[2021-05-19 02:14] fzh6762788 commented on #607
Hi Lanctot,

Thank you so much for your response. That explains a lot. Yes, our az model was based on Libtorch. We thought that we could solve this by installing Libtorch. We are looking forward to receiving any updates on this matter.

[2021-05-19 02:23] lanctot commented on #607
I just remembered that @christianjans did add this recently: https://github.com/deepmind/open_spiel/pull/557

Specifically there is a C++ example that you can run called alpha_zero_game_example, here:

[2021-05-19 03:06] christianjans commented on #607
Hi @fzh6762788 and @lanctot, yes, to play a LibTorch model, run the `alpha_zero_torch_game_example`. The flags are slightly different than in `examples/mcts.py`, but hopefully they are clear. Please don't hesitate to ask if you have any questions!

And regarding the documentation for LibTorch AlphaZero, I have updated (and will continue update if things are unclear or need clarification) the `alph

[2021-05-19 03:17] findmyway commented on #606
That explains it!
I was wondering why the v1.6.1 was installed 🤣

[2021-05-19 03:31] fzh6762788 commented on #607
Hi @christianjans, this is a naive question. Do I still need to download or install something in my Ubuntu terminal? I am a little confused. Thank you so much for your time and help.

[2021-05-19 09:04] lanctot commented on #607
Do you see it in build/examples? i.e. can you run `ls -l ./build/examples`?

If not, you can try building it:
[code]

If it doesn't work, can you paste the exact error?

[2021-05-19 12:41] VojtaKovarik opened #609 "Requirements missing"
When installing openspiel on windows, I followed the steps listed in documentation. Afterwards, 36 tests failed. It seems the issue was that some (many?) requirements were missing. Eg, numpy didn't get installed. The file requirements.txt only contained three items, so it could have something to do with that.

[2021-05-19 13:54] fzh6762788 commented on #607
@lanctot Thank you for your reply. I did not see that under /open_spiel/build/examples file. So I tried to build it under /open_spiel/build. It returned me "no rule to make target" as follows:

fengzhihao@Feng:~/open_spiel/build/examples$ ls
CMakeFiles           Makefile        cfr_example                   cmake_install.cmake  example  imperfect_recall_mccfr  mcts_example

[2021-05-19 16:23] lanctot commented on #609
Yeah many of them are now not officially "required" and have become optional as of this commit: https://github.com/deepmind/open_spiel/commit/146c76158344f76bee6ad2bfd71e852c9ccd6504. Those tests now only get included if the additional packages are detected as installed, which works properly on MacOS and Linux -- probably the windows instructions need to be updated.

They have been moved to this f

[2021-05-19 16:26] lanctot commented on #609
Just took a look at the Windows instructions -- CMake should be auto-detecting the things you need just like on Linux and MacOS.

Are you using CMake to build via Step 7 on this page? https://github.com/deepmind/open_spiel/blob/master/docs/windows.md. If so, it should not run those extra tests that depend on the things that you don't have installed.

Before installing anything, can you try this an

[2021-05-19 16:29] lanctot commented on #609
Oh wait numpy specifically that is something from `requirements.txt`. Much of our code just assumes it's installed (even outside of those extra deps above), we should really add it to `requirements.txt`. Can you try doing that and see how many of those 36 tests pass after rerunning the `pip3 install -r requirements.txt` ?

[2021-05-19 17:10] VojtaKovarik commented on #609
I dirty-fixed it in the meantime by using an old requirements.txt file, after which it worked.

But sure, let me try reinstalling it in the way you mentioned, s.t. we can fix it for future people :-).

[2021-05-19 17:18] lanctot commented on #609
Thanks I appreciate that, when you get it working can you submit a PR? :)

[2021-05-19 18:30] VojtaKovarik commented on #609
When I add `numpy >= 1.16` to requirements.txt, two out of the 155 tests still fail:

Not sure what is still missing. I will have to leave this unresolved for now though, because of certain upcoming deadlines :-).

[2021-05-19 18:37] VojtaKovarik commented on #609
When doing a fresh instal in a virtual environment, I got the following after running `CXX=clang++ cmake -DPython3_EXECUTABLE=$(which python3) -DCMAKE_CXX_COMPILER=clang++ ../open_spiel`:

`-- The C compiler identification is GNU 9.3.0
-- The CXX compiler identification is Clang 10.0.0
-- Check for working C compiler: /usr/bin/cc
-- Check for working C compiler: /usr/bin/cc -- works
-- Detecting C

[2021-05-19 19:55] lanctot commented on #609
No problem I can tske over and fix the rest, thanks!

[2021-05-19 20:18] uduse opened #610 "`observation_spec` does not specify `dtype`, `minimum`, and `maximum`."
https://github.com/deepmind/open_spiel/blob/93c2ebd9479389aff3a00be1c83ff70615f357e9/open_spiel/python/rl_environment.py#L353-L361

I was creating a thin wrapper over `open_spiel.python.rl_environment.Environment` to interface with `dm_env.Environment`. However, I notice that the `observation_spec` of OpenSpiel doesn't provide information such as `dtype`, `minimum`, and `maximum`. Can I assume tha

[2021-05-19 22:52] christianjans commented on #607
Hi @fzh6762788, no worries, but yeah that is strange.

The updated README for LibTorch AlphaZero (https://github.com/deepmind/open_spiel/blob/49bfd9cb044316d58624bfd7a4436aab381322de/open_spiel/algorithms/alpha_zero_torch/README.md) may help. It has instructions on how to install, build, run training, and play a trained model for LibTorch AlphaZero. Did your setup process of LibTorch AlphaZero loo

[2021-05-19 23:10] #610 closed

[2021-05-20 00:08] fzh6762788 commented on #607
@christianjans
Yes, I followed the instructions by running the following lines under the /open_spiel file,

export OPEN_SPIEL_BUILD_WITH_LIBTORCH="${OPEN_SPIEL_BUILD_WITH_LIBTORCH:-"ON"}"
and
export OPEN_SPIEL_BUILD_WITH_LIBTORCH_DOWNLOAD_URL="${OPEN_SPIEL_BUILD_WITH_LIBTORCH_DOWNLOAD_URL:-"https://download.pytorch.org/libtorch/cpu/libtorch-cxx11-abi-shared-with-deps-1.5.1%2Bcpu.zip"}"
and
./insta

[2021-05-20 00:37] lanctot commented on #609
Many thanks @VojtaKovarik for reporting.

This should fix them all: https://github.com/deepmind/open_spiel/pull/611

[2021-05-20 03:16] christianjans commented on #607
Okay great @fzh6762788, glad you have `alpha_zero_torch_game_example.cc` 👍

And the commands look right. What command led to the "command not found" error? Did you also run `./open_spiel/scripts/build_and_run_tests.sh` after running `./install.sh`?

[2021-05-20 04:09] fzh6762788 commented on #607
Thank you for your response. Here is what I got after I ran ./open_spiel/scripts/build_and_run_tests.sh under /open_spiel directory. Please let me know where I can improve.

fengzhihao@Feng:~/open_spiel$ ./open_spiel/scripts/build_and_run_tests.sh
Running ./open_spiel/scripts/build_and_run_tests.sh from /home/fengzhihao/open_spiel
Reusing virtualenv from ./venv.
Skipping installation of requiremen

[2021-05-20 15:45] fzh6762788 commented on #607
Hi @lanctot @christianjans,

My colleague helped me fix the issue above earlier. It turns out that it was a small issue that had nothing to do with open_spiel. This issue was because Unzip did not come with Ubuntu's installation. I never knew it had to be installed in the subsystem. After we installed Unzip and ran the open_spiel installation again, the AZ model with Pytorch worked! Thank you so m

[2021-05-21 00:20] christianjans commented on #607
Oh great to hear @fzh6762788! Glad this has been resolved, good find!

[2021-05-22 01:00] willmcgowan commented on #522
On a separate note, PolicyGradient isn't crashing.

[2021-05-22 08:13] lanctot commented on #522
Right now the only thing that comes to mind is that maybe your learning rate could be too high for the magnitude of your inputs (we normally use 0 or 1). I doubt that's the real problem, but maybe you can use a factor of 10 or 100 smaller? (I believe they are smaller in PolicyGradient)

Does your observation encode whether or not the state is terminal? This shouldn't make a big difference but you

[2021-05-23 06:52] willmcgowan commented on #522
The observation doesn't explicitly encode whether it is terminal or not. I will try nfsp again with the changes you proposed. A separate question, how would a human play against a trained agent?

[2021-05-24 09:34] #609 closed

[2021-05-24 09:36] lanctot commented on #606
Fixed by https://github.com/deepmind/open_spiel/commit/1cb359c8d2b9f83283c5d6f6b53bd1ba2109eeb9

[2021-05-24 09:36] #606 closed

[2021-05-24 10:11] #607 closed

[2021-05-24 14:15] dvstter opened #613 "Some implementation problems about the ARMAC."

[2021-05-24 14:15] #613 closed

[2021-05-24 14:26] dvstter opened #614 "Some implementation problem about the ARMAC."
Hello, I am sorry to contact @lanctot in this way, but I cannot find any personal email or anything.
I am a researcher focus on the CFR. Recently I am working on implementing the ARMAC.
In this paper, I have some problems, anyone could help me on this?

First one:
<img width="812" alt="Screen Shot 2021-05-24 at 10 12 31 PM" src="https://user-images.githubusercontent.com/11886450/119361157-ec1c3d00

[2021-05-25 01:57] lanctot commented on #614
Hi @dvstter,

Most of my papers have my email contact on them, and it's also available from my web site too. I will answer these here but prefer not to use the OpenSpiel forums for this purpose, so if you have any more question feel free to follow-up by email.

For the first question, indeed the v_{\theta^t}(h) (and q_{\theta^t}) are not used in epoch t, since j is sampled from 0 to t-1. These are

[2021-05-25 01:57] #614 closed

[2021-05-27 04:46] willmcgowan commented on #522
Changing the learning rates by a factor of 100 eliminated the crashes of nfsp. Many thanks for the advice.

[2021-05-30 11:47] lanctot commented on #555
Just a quick heads-up that there is just too much to do before the release, so this will be getting pushed to the summer. Hopefully July but possibly further. It might be big enough for 1.0, still discussing that with the team.

[2021-05-31 07:55] willmcgowan commented on #522
What changes would need to be made to policy_gradient.py to enable gpu usage?

[2021-06-01 13:59] TheoCabannes opened #617 "Cannot generate play-through for `python_mfg_crowd_modelling`"
In https://github.com/TheoCabannes/open_spiel/tree/use-init-in-mfg-modules, if I try to run `./open_spiel/scripts/generate_new_playthrough.sh python_mfg_crowd_modelling` then I got the following error:
[code]
I am willing to help debugging this issue, but it might be easier with some help. I will open a PR to follow the issue.

[2021-06-02 00:33] ngrupen opened #619 "Building with CentOS causes libtorch linker errors"
CentOS 7.8.2003 (Core)
cmake version 3.18.4
clang version 10.0.1
Python 3.8.8

I have successfully built/run OpenSpiel + libtorch on macOS and Ubuntu, but am running into issues when building with CentOS. It is a lab cluster (more compute needed for complex games), so cuda is also installed in a non-standard location. I already fixed a few issues installing libtorch from source because of this (na

[2021-06-02 00:47] lanctot commented on #619
Hi @ngrupen,

Actually, I recently discovered it still works perfectly fine with g++. In fact, we will need to go back to "fully" supporting g++ compilation because it is required for building the binary distribution wheels that we plan to use on the Python side as of the next release (see [this PR](https://github.com/deepmind/open_spiel/pull/583) and some discussion on [this thread](https://githu

[2021-06-02 01:11] ngrupen commented on #619
That's good to know! I actually didn't see that clang++ was required anywhere, I was just going with what I remembered from the last time I set things up :)

Will give it a shot with g++ and report back.

[2021-06-02 01:34] lanctot commented on #619
Great, let us know how it goes. Tagging @christianjans who might also be interested or have some ideas.

[2021-06-02 18:13] ngrupen commented on #619
Hmm, it also seems to be failing with gcc=9.3 and g++=9.3. I noticed that glibc (2.17) is quite a bit older on the head node of the cluster than on the other machines I've built OpenSpiel on. This might be the cause of the libtorch issues, but looking into this further.

[2021-06-02 19:50] lanctot commented on #619
Ok. Same error?

The functions causing the problems seem too related to [this thread](https://discuss.pytorch.org/t/glibc-linker-errors-when-linking-against-libtorch-on-ubuntu-18-04/55183) and [this thread](https://github.com/pytorch/pytorch/issues/27834) that you mentioned to be a conicidence.

From my reading, it seems related to using the compilers within the conda environment. The fix seems to

[2021-06-02 20:40] ngrupen commented on #619
Yes I tried those instructions earlier. Setting to the system defaults returns the following errors:
`
/home/fs01/nag83/open_spiel/open_spiel/libtorch/libtorch/lib/libtorch_cpu.so: undefined reference to `lgammaf@GLIBC_2.23'
/home/fs01/nag83/open_spiel/open_spiel/libtorch/libtorch/lib/libtorch_cpu.so: undefined reference to `lgamma@GLIBC_2.23'
`
which is an improvement, but the system g++ is 7.3.0

[2021-06-03 00:31] lanctot commented on #619
Ok, nonetheless, I feel this is on the libtorch side. If you download libtorch separately, can you build a test or a simple example that runs it on the machine(s) you're using? If it fails then I think it's best to follow-up with the libtorch team.

If that works, then maybe try compiling libtorch from scratch? (This was one of the suggestions in those threads from above.)

[2021-06-03 01:08] ngrupen commented on #619
The simple example from the libtorch site works on the other machines -- it's actually what I'm using primarily to debug this. Definitely not an OpenSpiel problem, was just curious if anyone here had seen it before. Will close, but will give the other suggestions a shot.

[2021-06-03 01:12] lanctot commented on #619
Ok good. But, it's not a problem to keep open for visibility!

[2021-06-03 09:14] MachengShen commented on #175
Hi,
The 'fix' does not seem to work for me. When I run `psro_v2_example.py` (openspiel version 0.3.1) with `oracle_type="PG"`, and `symmetric_game, True` on the default settings (game=kuhn_poker, load as turn based game), I still got
[code]
if (not time_step.last()) and (
        time_step.is_simultaneous_move() or
        self.player_id == time_step.current_player()):
[code]

[2021-06-03 09:34] #571 closed

[2021-06-03 09:34] #617 closed

[2021-06-03 19:37] ngrupen commented on #619
Ok minor update: the simple libtorch example builds/runs fine from source. Now going to try pointing OpenSpiel to this version.

[2021-06-03 23:20] lanctot commented on #619
Nice!!! I love the "reason" :)

I wonder if it's worth adding a link to the this thread in the AlphaZero torch instructions, something like "note, if you are building from CentOS or encounter an error with missing symbols, try this" then link to your summary above? Would you be happy to submit a PR for that?

[2021-06-04 00:53] christianjans commented on #619
Thanks for the tag on this issue @lanctot.

This would be a great addition! Let us know if you would like to add that to the LibTorch AlphaZero instructions @ngrupen. Glad you figured out a solution!

[2021-06-04 02:20] ngrupen commented on #619
That sounds great! I'll shoot over a PR.

[2021-06-07 08:50] lanctot commented on #619
Thanks! Merged in https://github.com/deepmind/open_spiel/commit/cfe17d1e013a1f74aa9433139a58eba8d8afd3b7

[2021-06-07 08:50] #619 closed

[2021-06-07 20:03] Counterfeiter opened #623 "Kingdom Builder board game"
Hello,

I have implemented the Kingdom Builder board game from Queen Games (there a maybe reserved rights) in python3.

The repo is here: https://github.com/Counterfeiter/KingdomBuilder

I have written this game with the goal to train an alpha zero agent to create a really powerful player, but I failed. =(
I would like to ask smarter guys then me, to build a advanced player. So I could learn why I

[2021-06-07 22:01] jhtschultz commented on #595
Newly released MuZero implementation that might be of interest:
https://github.com/google-research/google-research/tree/master/muzero

[2021-06-10 08:42] zhotaios opened #626 "Restoring nfsp agent in leduc poker"
I hope this is the right place to ask questions:

I trained the nfsp agents for leduc poker provided in the example files and for testing purposes I saved the agents at half of the total iterations as well. Now I wanted to restore both the half trained agents and the fully trained agents and test them against eachother to see how much they have improved in the last half of the iterations. However

[2021-06-10 16:11] finbarrtimbers commented on #626
If you post your code I'm happy to take a look.

The answer is that in tensorflow, restoring works magically as long as you're restoring the exact same graph that you were originally checkpointing. However, once you start doing anything slightly different, you have to change how you do things to explicitly manipulate the graph.

Specifically- now, your graph is different from the checkpoint. What

[2021-06-11 15:01] TheoCabannes opened #629 "[feature request] Converting Mean Field Games to N-player game and the opposite"
I am writing this issue to ask for a feature request on mean field game. Feel free to close the issue if this is not the right place to discuss about the feature request.

I would like to compare how a policy learnt on a mean field game will perform on the corresponding N-player game.
More specifically, I have implemented a N-player dynamic routing and its corresponding mean field routing game (ve

[2021-06-13 18:53] TheoCabannes opened #630 "MFG best response does not work on terminal reward model in python"
When trying to run MFG fictitious play on game with a terminal reward model, I run into the following error:
- In a iteration ficticious play create a BestResponse [here](https://github.com/deepmind/open_spiel/blob/cfe17d1e013a1f74aa9433139a58eba8d8afd3b7/open_spiel/python/mfg/algorithms/fictitious_play.py#L82)
- In best response (MFG) initialization the initialization finishes on [evaluate](https

[2021-06-14 09:47] #630 closed

[2021-06-14 09:50] zhz44 opened #632 "PSRO Symmetric game question."
Hi,

I am trying to understand how the symmetric game works in PSRO solver. When I am running the PSRO kuhn/leduc experiments from https://github.com/aicenter/openspiel_reproductions, if I set the symmetric to true in the PSRO solver, the computed exploitabilities keep increasing rather than converge to 0 as the game progress. I am wondering why is this, thank you.

[2021-06-14 11:55] lanctot commented on #632
Hi @zhz44, I will ask the original author, but can you say more about your motivation? Those games are not symmetric, so I would not expect that to work.

[2021-06-14 12:18] PaulFMMuller commented on #632
Hi @zhz44 ! I'm the author :)
Yes, Kuhn and Leduc are not symmetric games. Iirc, what the `symmetric` option does is that it considers that player 0's policies are all players' policies; since the game is symmetric, this is a valid assumption. The meta-solver is also forced to be equal over all players. Same, since the game is symmetric, all players should take the same optimal distribution of pla

[2021-06-15 08:38] MachengShen commented on #632
Hi,

I'm also interested in solving symmetric games in PSRO. I guess it is because of the fixed sequence of game play that makes kuhn/leduc asymmetric, right?

Is there another game which is symmetric that I can use instead? Thanks!

[2021-06-15 08:48] PaulFMMuller commented on #632
Hey Macheng,

It is partly because of that, partly because the second player sees the first player's action and reacts to it (The first player checked ? Raised ? Or even folded ? All of these advantage me, as they bring quite some information to me that the first player didn't have when it made its first decision)

As far as symmetric games are concerned, I'm not too sure. I think @lanctot will be

[2021-06-15 09:06] lanctot commented on #632
Yep thanks @PaulFMMuller. Some of the simultaneous move games are symmetric: Goofspiel, Oshi-Zumo. Tiny Hanabi, too, I think.

[2021-06-15 09:16] lanctot commented on #626
Thanks @finbarrtimbers !

@zhotaios: does it make sense? Did this resolve your issue?

[2021-06-17 06:59] rainwangphy opened #633 "Initialization of Neural networks in Pytorch Deep CFR"
I ran the code of the pytorch implementation of Deep CFR on Leduc poker. However, the current implementation cannot converge and the results sometimes become even worse along with the training, as below:
[code]

The tf version works well. Similar to the one in NFSP, I found that the tf version uses a different initialization of the networks. So I adapted the Sonnet initialization in NFSP to Deep C

[2021-06-17 09:33] lanctot commented on #633
Hi @rainwangphy, great thanks! However: can you plaease submit a pull request with your changes? This way it's easier to see the lines that you have changed and we can pull it in for import (then I will also tag the original author).

[2021-06-17 10:14] rainwangphy commented on #633
Yes. I will do this. Thanks

[2021-06-17 17:24] lanctot commented on #633
@MJ10, can you take a look at this, and let me know what you think? There is a PR for it now too: https://github.com/deepmind/open_spiel/pull/634.

[2021-06-17 17:29] lanctot commented on #633
@rainwangphy , I noticed your comparisons are only up to 15 iterations. Could you both for longer, e.g. at least up to, say, 300? You can use this paper to see what the TF Deep CFR graph should look like: https://arxiv.org/abs/2103.00187

[2021-06-18 03:43] rainwangphy commented on #633
@lanctot Sure. I will run the codes for more iterations and compare the results. That may take a bit longer time and I will update when I finished.

[2021-06-19 07:04] rainwangphy commented on #633
Below is the figure with the results of different implementation of deep CFR with 300 iterations (I only run once due to the limited resources.)

![myplot](https://user-images.githubusercontent.com/28892049/122634150-29be8b00-d10f-11eb-91d3-a6484553853b.png)

The 'deep cfr pt original' is the original implementation of pytorch deep cfr and the 'deep cfr pt' is the new implementation. The 'deep cfr

[2021-06-19 09:44] lanctot commented on #633
Wonderful, thank you!

I will import the PR and it will likely get merged on Monday.

[2021-06-19 10:35] MJ10 commented on #633
Thanks for the experiments @rainwangphy!
It is surprising to me that just the init would make this big a difference. Out of curiosity, I had the older environment which I used to test, so I tested it again, It looks like in 5/10 runs Pytorch and TF results matched. It looks like I should've run it few more times when I initially raised the PR. Apologies for that.

Regardless, this is a good bug to

[2021-06-19 10:44] lanctot commented on #633
Thanks for your comments @MJ10! It'd be a good idea to run the TF2 impl as well just to be sure, but IIRC it was a lot slower and we vould mot figure out why. @StochasticEntropy, did you ever run it in Leduc up to 300 iterations? Did it look like the above graphs?

[2021-06-19 12:13] rainwangphy commented on #633
Thanks. I am glad to find this, which is also important for my work. Thanks for the great implementations @lanctot @MJ10 .

[2021-06-20 00:12] #632 closed

[2021-06-20 00:12] #626 closed

[2021-06-20 15:43] lanctot commented on #633
This is fixed by https://github.com/deepmind/open_spiel/pull/634, which I have now imported. It should be merged into master tomorrow. Thanks again @rainwangphy !

[2021-06-20 15:43] #633 closed

[2021-06-21 05:26] StochasticEntropy commented on #633
Hi @lanctot, that's not a problem with the TF2 implementation, so I agree that it was likely the missing activation if that was the case. I did two test runs to confirm:
![it300](https://user-images.githubusercontent.com/73407002/122710648-0277d300-d261-11eb-89c5-e5c39aad465c.png)
IIRC the TF2 was slower in inference/data gathering (but I couldn't figure out why, maybe that's also improved now wit

[2021-06-22 09:24] RaphaelMarinier commented on #629
Regarding your proposal, how do you plan to implement convert_state_to_mean_field_state()? Will it return a proper MFG state, or only its string representation?
Otherwise, it looks good to me from a high-level.

I guess that alternatives would be:
- Instead of adding logic in policies, wrap your N-player game so that it looks like (in terms of states and actions) an MFG game. But you would lose th

[2021-06-22 18:27] TheoCabannes commented on #629
Thank you @RaphaelMarinier for your remarks. I am planning to implement a proper MFG state because I need the current distribution to get my action_probabilities, currently the string observation does not have distribution information.

For your alternatives:
- I am not sure I can wrap the N-player game as a MFG game as I need to wrap the N-player state to a MFG state which is not possible.
- This

[2021-06-23 09:08] menglinjian opened #640 "I can't install openspiel"
when I was installing openspiel，some errors raise：
ERROR: Command errored out with exit status 1: /home/mlj/venv/bin/python3 -u -c 'import io, os, sys, setuptools, tokenize; sys.argv[0] = '"'"'/tmp/pip-install-wfyikrao/open-spiel_27b15f01be044bb49384b9b6a08727a8/setup.py'"'"'; __file__='"'"'/tmp/pip-install-wfyikrao/open-spiel_27b15f01be044bb49384b9b6a08727a8/setup.py'"'"';f = getattr(tokenize, '"

[2021-06-23 10:00] lanctot commented on #640
Are you installing via pip?

[2021-06-23 15:43] VitamintK opened #641 "python games: allow python game definition to define clone behavior"
In python games, @elkhr recently changed `Clone` in the C++ layer to copy the attributes of the python object instead of replaying all actions in the history, which is great!: [ref](https://github.com/deepmind/open_spiel/blob/104deea0f931f960b362a38e498410385ac5e81b/open_spiel/python/pybind11/python_games.cc#L121)

It does through deepcopying all attributes
[code]

As someone who has no idea how p

[2021-06-23 17:35] elkhrt commented on #641
Apologies for not commenting this better. My recollection is that the default implementation of deepcopy() doesn't work because it calls the default constructor of the state class, which means the game reference is missing. Hence using the call the `game.new_initial_state` to create a blank state inside the `Clone` method, complete with a reference to the parent game.

It would of course be possib

[2021-06-24 09:45] lanctot commented on #640
Did you follow the instructions here? https://github.com/deepmind/open_spiel/blob/master/docs/install.md#python-only-installation-via-pip

If so can you please show the versions of cmake and clang++ by running the commands in the installation instructions and post them here?

[2021-06-24 10:56] menglinjian commented on #640
Yes，I follow the instruction.
camke=3.12.2
clang++=10.0.0
ubuntu=18.04.2
python=3.8.9

[2021-06-24 16:04] lanctot commented on #640
You have the python dev files? Does `python3-config --help` run for you?

If so, maybe try outside of the virtual environment? i.e. try skipping these two lines:
[code]

[2021-06-25 01:46] menglinjian commented on #640
Thank you, lanctot. I have solved this problem by updating clang7 to clang10 then following the instructions again.

[2021-06-25 01:59] lanctot commented on #640
Great!

[2021-06-25 01:59] #640 closed

[2021-06-28 10:30] TheoCabannes commented on #629
I discuss with Julien Perolat, and this is not the priority.

[2021-06-29 13:47] StochasticEntropy commented on #602
setting a np.random.seed in the test should probably fix that to not get unlucky reservoir buffer sampling in the test

[2021-06-29 18:06] balloch opened #653 "research_dqn_pytorch.ipynb uses TensorFlow, not pytorch"
The title is pretty straightforward, was looking for a DQN example with PyTorch, and the notebook ` research_dqn_pytorch.ipynb ` in fact uses TensorFlow. i didn't see a file in `open_spiel/python/examples` either that met this criteria. do you have any suggestions? Or could this be modified to used pytorch?

[2021-06-30 09:32] lanctot commented on #653
Thanks, we will fix that. Best place to start is https://github.com/deepmind/open_spiel/blob/master/open_spiel/python/pytorch/dqn_pytorch_test.py. @Asugawara, what do you think about adding a simple example to python/examples that shows it solving catch?

[2021-06-30 15:21] VitamintK commented on #641
Thanks for the response!

I tried verifying this by doing
[code]
but it seems to work, as `state_copy.get_game()` correctly returns the game.

But maybe an issue is that doing a deepcopy on the entire State does an expensive deepcopy of the `game` object? e.g.
[code]
but I'm just conjecturing, since I have no idea if copying the game object is actually expensive or not.

Either way, I tried to get

[2021-07-01 00:43] Asugawara commented on #653
I think research_dqn_pytorch.ipynb uses Pytorch. dqn_pt defined on cell 1 and used on cell 4.
Is there something wrong??
ref:https://github.com/deepmind/open_spiel/blob/master/open_spiel/colabs/research_dqn_pytorch.ipynb

It's a nice idea!
I think it would be good to make one based on　python/examples/subgle_agent_catch.py.

[2021-07-01 12:22] milecdav opened #654 "AIVAT implementation"
Is there a plan to include the AIVAT variance reduction implentation in open spiel? https://arxiv.org/abs/1612.06915

[2021-07-01 19:41] lanctot commented on #654
No there is no implementation currently, but would be a welcome addition!

[2021-07-01 19:43] lanctot commented on #653
Oops I did not actually check. @balloch can you help us understand? Thanks.

[2021-07-01 19:58] balloch commented on #653
Ah, I see my mistake. It has Pytorch, but it also has Tensorflow (`tf_main`, I presume so that the person running the notebook can compare the results from the two frameworks?). I understand now. Thanks!

[2021-07-01 19:58] #653 closed

[2021-07-01 23:51] #602 closed

[2021-07-04 17:54] lanctot commented on #592
Hi @uduse, also wanted to mention this PR from way back, which seens relevant:  https://github.com/deepmind/open_spiel/pull/161/files

[2021-07-05 09:23] elkhrt commented on #565
This will be fixed in the next push to github. Sorry it's taken so long!

[2021-07-05 13:48] StochasticEntropy commented on #654
@milecdav I think this might be related to #428 and #458

[2021-07-05 16:50] TheoCabannes opened #657 "Tests are failing on my computer"
When I am running the OpenSpiel tests on my computer some are failing due to `RuntimeError: Tried to call pure virtual function "Game::new_initial_state"` and `AttributeError: 'pyspiel.State' object has no attribute '__dict__'`

Here are my logs:
[logs.txt](https://github.com/deepmind/open_spiel/files/6765521/logs.txt)

When trying to debug the errors, I found that rolling back GitHub to https://g

[2021-07-05 16:51] TheoCabannes commented on #657
I run tests with `sh open_spiel/scripts/build_and_run_tests.sh`

[2021-07-05 16:56] lanctot commented on #657
Yes you need to pull changes from pybind11. You are probably using the one you downloaded before and a recent commit require some new features. If you run `git pull` in the pybind11 top-level dir I think that should be enough.

[2021-07-05 17:08] TheoCabannes commented on #657
Thank you so much. Can this be added to the install script?

[2021-07-05 17:09] lanctot commented on #657
There is no changes to make in the install script, because it's checking out a fresh copy of pybind11. It's only happening to you because you're using a cached copy.

[2021-07-05 17:14] TheoCabannes commented on #657
I see. My problem is solved now. Thanks! Is there a way to check the cached copy of pybind11 in build_and_run_tests script and update it if needed? (I do not know a lot of bash/shell scripts)

[2021-07-05 17:14] #657 closed

[2021-07-05 17:20] TheoCabannes commented on #657
@lanctot can't this line be changed for example: https://github.com/deepmind/open_spiel/blob/9e4f6d219244dcd3deddf1ca75ab1113580bc73c/open_spiel/scripts/install.sh#L98

[2021-07-05 17:40] lanctot commented on #657
Well, in this case it was that a checked out branch was just behind master, and we had a change that depended on new features. That's a very rare occurrence. We normally prefer _not_ to depend on the master branch, because it is always moving and can cause problems, so we fix them to release versions or specific checkouts. In the case of pybind11, we are working with that team and using advanced f

[2021-07-05 18:44] #565 closed

[2021-07-05 19:53] elkhrt commented on #657
Perhaps a simpler option is to use `git pull` to update the local copy to the latest version. This should be reasonably quick in the common case that not much has changed.

[2021-07-08 13:48] julianhartmann1 opened #667 "Replay Chance Outcomes"
Hello,

I was wondering if there is an easy way to replay certain chance outcomes switched for the players in order to be able to better evaluate the performance of differently trained agents. I would be especially interested in doing so for the game leduc poker, so the goal would be to play a game and in the following game the cards of two agents are switched.

[2021-07-08 22:09] lanctot commented on #667
Hi @julianhartmann1, no we don't have anything like that implemented. I think it would have to be tailored to each game because they're no easy way to associate which chance nodes distribute private information to which player (and in some cases that's not even done by separate chance nodes like in our Leduc and Kuhn poker implementations).

I'd say the easiest way to achieve that-- assuming you a

[2021-07-09 02:49] StochasticEntropy opened #669 "Running the game logic on GPU"
Is there a way to run the game logic on GPUs? Currently the games all run on the CPU because of the C++ bindings as far as I know. This results in a lot of data movement from GPU memory to CPU memory and back for an algorithm that trains better on a GPU.

I'm wondering if it would be possible to implement a game in such a way that all the data can be kept on the GPU.

I'm thinking maybe JAX might

[2021-07-09 09:12] michalsustr commented on #669
I'm afraid that won't be easy to do, is there something specific you have in mind, or just the ability to do state.apply_action() in parallel? (or something like that)

[2021-07-09 09:15] michalsustr commented on #669
If you prebuild the game trees in advance, and then run algorithms on those trees on the GPU that can be done efficiently. For example, there is a GPU version of CFR that one student made but we didn't have time to integrate it into OpenSpiel. Would this be something of interest?

[2021-07-09 10:57] StochasticEntropy commented on #669
The main problem is that I have to have my exproration steps running on the CPU due to the C++ implementation. Don't get me wrong, I'm grateful for the open spiel environment, I'm just wondering if it would make sense to implement some games on a GPU to scale them up. I understand that the notion is a bit weird, but given that our facebook and google friends were able to do it, maybe @mattjj and t

[2021-07-11 10:52] #669 closed

[2021-07-11 12:28] lanctot commented on #531
Now fully working as of https://github.com/deepmind/open_spiel/commit/898ea51ae6ce4f34c788007ba710cf3ced127ca4, but the observations need to be Markovian, which required a change to Goofspiel. See the comment in the header for clarification.

[2021-07-11 12:28] #531 closed

[2021-07-11 12:31] lanctot commented on #476
Closing due to inactivity but @18jeffreyma feel free to reopen if you want to make this change.

[2021-07-11 12:31] #476 closed

[2021-07-11 12:33] lanctot commented on #457
Closing -- not a bug on our side. @gabrfarina @elkhrt feel free to follow-up with the original authors.

[2021-07-11 12:33] #457 closed

[2021-07-11 12:35] lanctot commented on #441
@dvstter just curious how your impl is looking? Would you be willing to contribute it to OpenSpile?

[2021-07-12 02:44] StochasticEntropy commented on #441
Since this was my request initally, I'd also still be interested in helping to implement this. Either by integrating an already existing implementation, or maybe writing a new implementation if one of the original authors would be interested in helping with/proof reading the code.

[2021-07-12 19:19] lanctot opened #671 "coordinated_mp does not inherit from NormalForm* nor Matrix*"
Unlike `matching_pennies_3p` and `blotto`, `coordinated_mp` does not inherit from NormalFormGame/State nor MatrixGame/State. @michalsustr, is there a reason for this? It might be good to change them to make them consistent with the rest (there are some free helpful functions that get inherited).

[2021-07-12 20:31] michalsustr commented on #671
Yes, while the game is quite simple, it cannot be represented with just NormalFormGame/State nor MatrixGame/State, as after action of the first player there is a stochastic public outcome (top/bottom) for the two infostates of the second player. Did this come up as an issue in some code refactor?

[2021-07-12 20:39] lanctot commented on #671
Ahh, makes sense! Yes please take a look at the commit I linked on the C++ DQN PR.

[2021-07-12 20:39] #671 closed

[2021-07-13 21:01] VitamintK opened #672 "is the efficiency of CFR tied to the efficiency of state.child()?"
From [the comments introducing Python games](https://github.com/deepmind/open_spiel/blob/ead53908dd109180ce68e8240e8ae157927c7ddf/open_spiel/python/games/kuhn_poker.py):

for prototyping or for small games.

to have good performance if the algorithm simply extracts a game tree and then
works with that (e.g. CFR algorithms). It is likely to be poor if the algorithm
relies on processing and updating

[2021-07-13 21:06] VitamintK commented on #672
tagging @elkhrt because I think you wrote the comment

[2021-07-14 01:47] lanctot commented on #672
No, our CFR implementations don't do this. They walk the game tree procedurally on every iteration via states, applying actions, getting the next children states, and looking up information states from the keys from those states.

I know @michalsustr talked about making a CFR based on `algorithms/info_state_trees`, but I can't seem to find it now -- maybe it was never submitted?

[2021-07-14 03:17] VitamintK commented on #672
Gotcha, thanks for the answer!  Should I close this now, or leave it open to track the comment update?

[2021-07-14 07:14] michalsustr commented on #672
Yes, I have a version that prebuilds the infostate trees, computes full gradients on the sequence form and propagates it through the individual trees. It's a bit of code, I didn't get to publishing it yet, but maybe now I can in the coming weeks.

[2021-07-14 08:13] lanctot commented on #672
Cool, thanks guys. Yes @VitamintK, leave it open as a reminder to update the comment, thanks!

[2021-07-14 08:18] lanctot commented on #667
Hi @julianhartmann1, I assume it's all clear, so I'm closing the issue. Please reopen if you need to follow-up!

[2021-07-14 08:18] #667 closed

[2021-07-16 01:51] StochasticEntropy commented on #441
Maybe at some point I will have to get a bit suspicious about this paper, since there was no follow up after it got rejected.

Probably the authors got really fed up, for not being published, despite being from google.

But I liked the idea when I first read it, and I still do ....

[2021-07-16 18:42] lanctot commented on #441
@StochasticEntropy. You know that I'm one of the authors, right...?

I'd really like to see ARMAC in OpenSpiel. I've wanted to add it myself, but I just have not been able to get to it because there are too many other things that I have had to do. The internal implementation might be too difficult to port, so I'd rather start fresh with a new one (probably in Jax).

It would be great if you wanted

[2021-07-18 14:14] StochasticEntropy commented on #441
Sounds good, I'll give it a try.

[2021-07-18 23:23] StochasticEntropy commented on #441
I just think one of the problems was that the DREAM implementation is publicly available, in a totally independent framework developed by Steinberger, and now here comes google with a paper that tells us all it's better than dream, but google doesn't have the manpower/interest to show the implementation to the world. So I assume that it's not as good as DREAM. And given that there is no follow up

[2021-07-18 23:25] StochasticEntropy commented on #441
On a quiet weekend I might even have a look at the math which seems a bit too optimistic for me, but I trust a bunch of PhDs there for now ;)

[2021-07-19 02:46] StochasticEntropy commented on #441
Maybe if you could open a private branch for that, I would appreciate it

[2021-07-19 03:26] StochasticEntropy commented on #441
I'm also not a big fan of the model-free paradigm. I think it will always be helpful to train a model to give you some probabilities. Even if we don't have a simulator, we can try to learn the environment and then replay it.

[2021-07-20 23:34] wyz2368 opened #675 "Definition of NashConv (in Mean-Field Games)"
Dear authors,

It seems to me that the code for nashconv only works when the initial distribution is uniform. For other initial distributions, this definition, summing up the deviation payoffs over all states, may be improper since states may associate with different probabilities at the beginning. I just want to note this since the current available MFG games in Openspiel seem to start from the u

[2021-07-21 00:27] lanctot commented on #675
@perolat, can you take a look?

[2021-07-21 00:34] lanctot commented on #441
You can use a PR for that, it acts in every way like your own private branch. Don't worry about opening a PR even before it is ready; you can put it in draft mode. And then I can easily go through the code and ask about it. Depending on how complete it is, we could even pull it in early and mark it as experimental so that I can modify it too. We did this recently with C++ DQN and it worked quite w

[2021-07-21 17:02] perolat commented on #675
Hi @wyz2368,

The sum is over population's initial states and not the initial distribution's state which will appear at the next step. It is the analogue of the following line in N-player games.
 https://github.com/deepmind/open_spiel/blob/e3a597b1d5e34a3130f36fa833702a1ae720a83f/open_spiel/python/algorithms/exploitability.py#L196

We do have a list of initial states in a multi-population mean fie

[2021-07-21 18:06] wyz2368 commented on #675
Thanks @lanctot and @perolat !

This helps. I raised this question because my understanding about NashConv is that NashConv is the sum of regrets over players, where regret for one player is defined as the difference between the expected deviation payoff (fixing opponent strategies or players' distributions in MFG) and the expected payoff of the current strategy. Since we calculate the payoffs in

[2021-07-21 18:22] lanctot commented on #675
Hi @wyz2368, was it clear to you after Julien's response that this line:

https://github.com/deepmind/open_spiel/blob/e3a597b1d5e34a3130f36fa833702a1ae720a83f/open_spiel/python/mfg/algorithms/nash_conv.py#L59

is a sum over populations, _not_ over states initial states from the distribution?

The expectation over the individual distributions of initial states gets factored at the next step (after

[2021-07-21 18:38] wyz2368 commented on #675
Oh, I see. Thank you very much @lanctot . I think I misunderstood @perolat 's reply.
Now it makes sense to me. So there is one chance node for every population at the beginning. Then the sum over populations in MFG is analogous to the sum over players in other games.
Thanks again.

[2021-07-21 18:40] lanctot commented on #675
Ok, great. I would not call it a chance node over populations, though, because-- as far as I understand-- there is no distribution over populations. It's just a collection of them (like, i.e., the set of players).

[2021-07-21 18:43] wyz2368 commented on #675
I mean the chance node for each population decides the initial states at the next step. So it is a chance node over initial states and every population is associated with such a chance node. It is a no chance node over distributions. Just for clarification. Sorry for the confusion. : )

[2021-07-21 19:14] lanctot commented on #675
Haha, no worries, my bad.. sorry! Yes, right :)

[2021-07-21 19:14] #675 closed

[2021-07-21 23:21] StochasticEntropy commented on #441
I was more thinking a private conversation branch, believe it or not, I might be a nice person ;)

[2021-07-22 00:02] StochasticEntropy commented on #441
I'll do it, but I don't want every bit of conversion in the open.

[2021-07-22 00:07] lanctot commented on #441
Got it, but the code being open is ok? You can also reach me/us by email too for the discussion part.

Heads-up. I'm giving a talk tomorrow which will include an quick overview  (maybe 5 minutes worth) of ARMAC: https://sites.google.com/view/comarl-seminars/upcoming-seminars. It's free to attend but will be recorded in case you miss it.

[2021-07-22 00:08] StochasticEntropy commented on #441
Yes, of course the final code is open. That's what were here for.

[2021-07-22 00:21] StochasticEntropy commented on #441
I won't miss your talk ;P

[2021-07-22 00:37] StochasticEntropy commented on #441
let's see, I would just take the DeepCFR pipeline and integrate the steps accordingly

[2021-07-22 00:41] StochasticEntropy commented on #441
as a first step, and then we only have to fix the policies around it

[2021-07-23 03:58] VitamintK opened #676 "phantom tic-tac-toe: InformationStateString gives num attempted turns even when obstype is `reveal-nothing`"
Is this correct?  Phantom Tic-Tac-Toe's `InformationStateString` gives `absl::StrAppend(&str, history_.size(), "\n");` even when obstype is `reveal-nothing` instead of `reveal-numturns`.

[2021-07-23 08:44] lanctot commented on #676
That is indeed a bug! Good find, thanks. I will fix it this week.

[2021-07-23 10:26] lanctot commented on #676
Actually could you submit a PR? It'd be good for you to get the credit for it.

[2021-07-26 06:16] uduse opened #678 "Converting from observations to string representations"
It would be helpful if some games implement `ObservationToString`, a function that pretty prints an observation tensor.

Here are two scenarios:
 - The user has no direct control over the environment interaction process (e.g., using libraries like Acme that wraps open_spiel) and only sees observations as inputs.
 - The observations are stored somewhere (e.g., in a replay buffer) while the full gam

[2021-07-26 14:30] lanctot commented on #676
Forgot I wrote that and fixed it today, so please disregard :)

[2021-07-26 17:37] lanctot opened #679 "Bug in RBC?"
@michalsustr

We are seeing memory issues with RBC, in the first test where there are two successive pass moves. You can reproduce if you compile in debug mode and run rbc_test under valgrind.

I think it is caused by some checks or functions which should not apply in the case of pass moves.  Also, `illegal_move_attempted_` was being immediately set back to false after being set to true; that does

[2021-07-26 17:55] #672 closed

[2021-07-26 17:55] #533 closed

[2021-07-26 17:55] #676 closed

[2021-07-27 08:43] michalsustr commented on #679
Thanks! I can't replicate the memory issue, valgrind showed me that there are no leaks:

[code]

I have updated the code to reflect the other points, can you check if the memory leak still persists?

I updated the pass moves in chess board.

Indeed! good catch, thank you.

[2021-07-27 09:13] lanctot commented on #679
Thanks. It was not a leak, it was an out-of-bounds problem caused by unitialized memory. Unfortunately it still seems to happen with your new PR:

[code]

The line numbers will not match your code, the line in rbc_test is this one: https://github.com/deepmind/open_spiel/blob/792d47446276b33d07f6ea72760aacf6e8a713db/open_spiel/games/rbc_test.cc#L37

[2021-07-27 09:24] lanctot commented on #679
I think it's IsBreachingMove not handling pass and accessing some unititialized values.

There are no comments in the IsBreachingMove and BreachingMoveToCaptureMove functions.. can you explain what a breaching move is so I can add a comment?

[2021-07-27 09:32] michalsustr commented on #679
I still can't reproduce the problem with valgrind... maybe it's due to some compiler differences, and how the `inline const chess::Move kPassMove` is handled?

It's handling pass implicitly, because pass move has piece type empty. But maybe an explicit if-statement would make it more obvious.

All should be constructed through defaulted values in the Move constructor

Here's an explanation, maybe

[2021-07-27 10:02] lanctot commented on #679
Found it, and fixed! Thanks: https://github.com/deepmind/open_spiel/pull/680/files#r677303847

[2021-07-27 12:28] michalsustr commented on #679
Wow, nice! That was a tricky one to spot, good job!

[2021-07-28 00:59] lanctot opened #681 "UCIBot basic test is not working"
@vofak

Upon import of https://github.com/deepmind/open_spiel/pull/496, I added a basic test that implements a simple UCI chess program that takes random moves. Unfortunately it seems to hang and not work. So I have marked the bot as experimental and opening this issue to discuss it.

[2021-07-28 09:01] lanctot commented on #679
Fix is now merged: https://github.com/deepmind/open_spiel/commit/aeb39689ff8cd9b9d883135e8b4bce8c919a26d6

[2021-07-28 09:01] #679 closed

[2021-07-29 00:11] lanctot commented on #681
You can see the test I added in this merge commit: https://github.com/deepmind/open_spiel/commit/a432cf7441acc08479b868ffc2cde208464d403e

@michalsustr did you also work on this? Or do you have contact with @vofak.. ? I have not heard from them in some time. It would be good to get a basic test in place to ensure the UCIBot works.

[2021-07-29 14:52] michalsustr opened #682 "TARGET_OBJECTS:human_bot not found"
The [alpha_zero_torch_game_example](https://github.com/deepmind/open_spiel/blob/master/open_spiel/examples/CMakeLists.txt#L54) uses `TARGET_OBJECTS:human_bot`, but this target does not exist. This shows up if `OPEN_SPIEL_BUILD_WITH_LIBTORCH` is enabled.

[2021-07-29 14:59] lanctot commented on #682
Whoops, I removed that in the UCIBot PR. You can replace it with `TARGET_OBJECTS:bots`. I'll fix it, thanks!

[2021-07-30 18:39] wyz2368 opened #684 "No smart_holder.h in pybind11"
Hi authors,

When installing openspiel (build from source), I met the following issue.

[ 93%] Building CXX object python/CMakeFiles/pyspiel.dir/pybind11/algorithms_trajectories.cc.o
In file included from /Users/wangyzh/PycharmProjects/open_spiel/open_spiel/python/pybind11/algorithms_corr_dist.cc:15:
In file included from /Users/wangyzh/PycharmProjects/open_spiel/open_spiel/../open_spiel/python/py

[2021-07-30 22:48] lanctot commented on #684
Hi @wyz2368, the install.sh script clones the smart holder branch here: https://github.com/deepmind/open_spiel/blob/a432cf7441acc08479b868ffc2cde208464d403e/open_spiel/scripts/install.sh#L98

Have you pulled from master within an older clone (possibly before we started using the smart holder branch)? Or did you start from scratch (running install.sh on a fresh clone)?

[2021-07-30 23:59] wyz2368 commented on #684
Hi @lanctot ,

I fetched the newest open_spiel to merge the local old version. I found that the pybind11 in my old version was not removed after the merge. I guess when I compiled, the installation detected the old pybind11 so it didn't download the new smart_holder branch. The issue was solved when I replaced the old pybind11 with the new one. Interestingly, the pybind11 folder was not placed in

[2021-07-31 09:15] lanctot commented on #684
Great, glad you were able to fix it!

[2021-07-31 09:15] #684 closed

[2021-08-02 04:33] EmmaUnimelb opened #685 "Saving trained tabular qlearner"
Is there a method implemented in openSpiel for saving a trained tabular qlearner and restoring it for later use? The existence of a lambda seems to stop it from pickling at the moment

[2021-08-02 08:28] #682 closed

[2021-08-02 08:38] lanctot commented on #681
Fixed by https://github.com/deepmind/open_spiel/commit/ba9220ecd0225ba558f79853b0c3a877bcd7ce10

[2021-08-02 08:38] #681 closed

[2021-08-02 09:15] EmmaUnimelb commented on #685
Yes, I believe that's the one.

The error is:
AttributeError: Can't pickle local object 'QLearner.__init__.<locals>.<lambda>'

[2021-08-02 11:01] EmmaUnimelb commented on #685
I tried your suggestion and it worked - thanks

[2021-08-02 11:51] rysios opened #686 "bridge and double dummy solver"
DDS colors are spades = 0,hearts = 1,diamonds = 2, clubs =3
bridge.h :
enum Denomination { kClubs = 0, kDiamonds, kHearts, kSpades, kNoTrump };

It's nothing wrong with it, until you try to calculate par result

[2021-08-02 11:57] lanctot commented on #685
Great! Would you like to submit a fix?

[2021-08-02 15:07] lanctot commented on #686
@elkhrt can you take a look?

[2021-08-02 23:20] EmmaUnimelb commented on #685
Sure.
I have sent a pull request. Github is having a little trouble showing me the CLA for the right email though

[2021-08-03 11:12] lanctot commented on #685
Ah yes I think you probably have to logout of your current account or access github while signed into your account associated with your github account.

[2021-08-03 11:37] elkhrt commented on #686
This is intriguing! Are you attempting to use the par score as a baseline of some sort?

Feel free to add a mapping from open spiel suits to DDS suits if that would be helpful for you.
I think you'd need to change the line that populates the deal here:

https://github.com/deepmind/open_spiel/blob/ba9220ecd0225ba558f79853b0c3a877bcd7ce10/open_spiel/games/bridge.cc#L458

Plus every access of the val

[2021-08-03 12:11] rysios commented on #686
Thanks for answer.
Yes I'm trying to use (real score - par score) as reward in RL.
You are wright, mentioned line should be:
 dd_table_deal.cards[player][3 - suit] += 1 << (2 + rank);
and every occurrence of
double_dummy_results_->resTable[trumps]
should be replaced with
double_dummy_results_->resTable[trumps == 4 ? trumps : 3 - trumps]

[2021-08-03 13:49] lanctot commented on #441
@StochasticEntropy just curious if you're currently working on this? I'm thinking about looking into it with the help of @jhtschultz. Even if it's only partly completed, feel free to submit early because then maybe we can iterate. If you haven't had a chance to start, then maybe we can start it and you can help us too.

[2021-08-03 16:12] StochasticEntropy commented on #441
Hi @lanctot, I didn't have a chance to do much yet, but I should have more time in August to help. Do you know if there is already a version of the Tree-Backup implemented somewhere in Open Spiel?

[2021-08-04 09:40] elkhrt commented on #686
If you'd like to submit a PR, that would be great.
I'd recommend you create a member function for the second change, rather than have `trumps == 4 ? trumps : 3 - trumps` repeated multiple times.

[2021-08-09 09:09] lanctot commented on #685
Solved by https://github.com/deepmind/open_spiel/pull/690, thanks!

[2021-08-09 09:09] #685 closed

[2021-08-09 09:14] elkhrt commented on #678
Yes, this would be great. We could perhaps then change the existing ObservationString implementations to use this functionality, to reduce duplication. What games do you have in mind?

[2021-08-09 13:56] lanctot commented on #555
Ok, the bdist_wheel PR has been merged: https://github.com/deepmind/open_spiel/pull/583

Thanks especially to @henryiii who had many helpful suggestions for use of cibuildwheel with CMake.

Release coming this or next week..! Will now close this thread and open a new one when it's live.

[2021-08-09 13:56] #555 closed

[2021-08-09 15:38] lanctot opened #692 "OpenSpiel 1.0: Call for Beta Testers of Binary Pip Wheel"
Hi all,

We are now building the bdist_wheel for OpenSpiel!

It would be helpful for us to get a sample from different testing environment before we deploy live. If you would like to help, on a Linux x86_64 or MacOS x86_64 machine could you:

1. `python3 -m pip uninstall open_spiel`
2. Remove or temporarily move any other installation (i.e. from source) so pyspiel.so is not picked up by `PYTHONPAT

[2021-08-09 16:19] lanctot commented on #692
Awesome @jhtschultz , which wheel did you install?

[2021-08-09 16:19] jblespiau commented on #692
[code]

I was able to create a Go game and state.

[2021-08-09 16:21] jhtschultz commented on #692
open_spiel-0.3.1-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl

[2021-08-09 16:32] Asugawara commented on #692
Hi! Dr. @lanctot
Thank you for your hard work!!!
It works!
[code]

[2021-08-09 16:46] dhennes commented on #692
Installed `wheelhouse/open_spiel-0.3.1-cp38-cp38-macosx_10_9_x86_64.whl` on a M1 Mac under Rosetta in `0.709s` (`numpy` already installed). Loading games and creating initial state worked flawlessly! Great work!

[2021-08-09 18:34] lanctot commented on #692
Thanks all!

I've verified that it works on colab, too, with:

[code]

Output:

[code]

[2021-08-09 22:50] christianjans commented on #692
On an Intel Mac (macOS Big Sur) with Python 3.7:
[code]
Also able to load and step through a game of Clobber 👍

[2021-08-09 23:04] StochasticEntropy commented on #441
Generally from my understanding, we could just use most of the DeepCFR code for data gathering with the policy selection modification. However I think the main new thing that has to be implemented is the critic training. The cited TreeBackup Paper is for the original tabular algorithm, so to get that one right here for the neural network training will be the tricky part I think.

[2021-08-09 23:19] lanctot commented on #441
Ah apologies, just realized I had not replied to you. Yeah we'd have to implement Tree Backup, but I think that wouldn't be too hard. I'm also not very clear on how important it was for the results and there might be an easier one we can start with like Q(\lambda) or a better one like Retrace. They all look fairly simple to me but I agree they can be tricky to get right. I'll chat about it with th

[2021-08-09 23:21] lanctot commented on #692
@christianjans @ssokota @dmorrill10 @uduse

Can one of you try it on a university machine? Specifically as a user without access to root, and/or an older setup if you can find one (like Python 3.6)?

[2021-08-09 23:32] StochasticEntropy commented on #441
Wasn't most of your PhD thesis about importance sampling which is the contrary to Tree Backup ;P

[2021-08-09 23:41] lanctot commented on #441
Ahh, yes.. ! But that was also 8-12 years ago! :-p More importantly there was zero function approximation in what I looked at. That was only introduced in RCFR.

ARMAC is entirely about getting rid of the importance sample by using RL-inspired tricks (like off-policy evaluation). Turns out the model-free RL style of sampling is super high variance and you need some tricks to ensure it combines wel

[2021-08-09 23:45] StochasticEntropy commented on #441
@lanctot calls poker an easy small and short game ;D

[2021-08-09 23:47] lanctot commented on #441
Haha .. oh, that was a typo -- sorry!

What I meant was small (like Leduc, Liar's dice) *or* short (poker). The poker domains, even subgames or action-abstracted games like FCPA.  are _definitely_ not easy :)

[2021-08-09 23:59] StochasticEntropy commented on #441
It's really hard to understand how importance sampling works in NN approximations, they should normally already account for importance sampling if the exploration and data gathering is done right. My brain is running in circles when I'm thinking about it and I neither like VR-CFR nor DREAM when they involve NNs from their argumentation.

[2021-08-10 00:03] ssokota commented on #692
Works for me on a Centos 7 machine without root access (with Python 3.8)

[2021-08-10 00:06] StochasticEntropy commented on #441
Same problem with converting tabular Tree Backup to NNs, because the statistics are messed up when the NN already learned values from nearby states.

[2021-08-10 00:27] StochasticEntropy commented on #441
Probably the answer will be evolutionary non-importance-sampling algorithms

[2021-08-10 00:45] StochasticEntropy commented on #441
Anyways, I can provide a template based on the DeepCFR code, where the critic training and policy selection is blank

[2021-08-10 00:59] StochasticEntropy commented on #441
The more I think about is the more I get confused, I know the paper says that the W think is like the cumulative Regret, and there is a proof in the Appendix, I'm assuming that is also correct for approximations?

[2021-08-10 03:31] findmyway commented on #692
Works for me with `python3.8.3` on *Ubuntu-18.04* without root. (0.78s)

[2021-08-10 14:10] michalsustr commented on #692
Works for me on a Ubuntu 20.04.2 LTS machine without root access (with Python 3.8.10)

[2021-08-10 23:45] uduse commented on #678
Right now I'm only using `Catch` for prototyping my project.

[2021-08-11 15:44] TheoCabannes commented on #629
To add on this thread. The N player game should be a symmetric game to be seen as a MFG. Maybe a class should be created for symmetric games. This would also enable designing algorithms for N-player symmetric game (like exploitability gradient descents, or no regret algorithms).

[2021-08-12 07:26] StochasticEntropy commented on #441
Did Sutton ever say that these NN approximations are theoretically sound?

[2021-08-13 18:28] newmanne opened #694 "Pytorch Deep CFR example uses wrong value for Policy Network layers"
The policy network seems to be created using the advantage network parameters and the policy network layer parameters appear to be unused.

https://github.com/deepmind/open_spiel/blob/1506d1c7b14c0f7dfcc091c41824c5a0dbe1971e/open_spiel/python/pytorch/deep_cfr.py#L269

[2021-08-14 08:22] lanctot commented on #694
Good catch, thanks! I've fixed it, will get merged in next update (Monday).

[2021-08-16 08:17] #694 closed

[2021-08-16 12:10] lanctot commented on #692
Hi all,

I've uploaded the binary distribution wheels to PyPI as a release candidate.

Can one/some of you repeat steps 1-2, and then install via:

[code]

And do a quick check that it can be imported?

Thanks for your help. Release going out today!

[2021-08-16 14:53] dmorrill10 commented on #692
Installs and imports correctly on (Anaconda) Python 3.7.5 on Mac. One of the tests in `open_spiel/python/tests` fails, but the rest succeed:

[code]

[2021-08-16 15:01] lanctot commented on #692
Alright, the binary distribution wheel is now live so you should not need the `==1.0.0rc1` anymore.

Thanks for all the help!

[2021-08-16 15:01] #692 closed

[2021-08-18 14:22] VitamintK opened #695 "rbc repetition draws?"
The rules for recon blind chess [here](https://reconchess.readthedocs.io/en/latest/rules.html) state that "all rules associated with stalemates or automatic draw conditions are eliminated."

The OpenSpiel implementation doesn't currently match:

[code]

Should this be changed, or does the implementation intentionally differ?

[2021-08-18 20:03] lanctot commented on #695
Hi @michalsustr, can you take a look?

[2021-08-18 20:14] michalsustr commented on #695
Ah, I was basing the implementation on [these rules](https://rbc.jhuapl.edu/gameRules) which are slightly different. I will take a closer look at the differences. Regarding the automatic draw specifically, I think it's preferrable to make sure the game is finite and terminates after some number of (possibly nonsensical) moves.

[2021-08-18 20:46] VitamintK commented on #695
That sounds reasonable to me -- would it be worth it to add the automatic draw thresholds as parameters to the game?

Also-- unrelated, but I just noticed: the rbc rules from jhuapl also say that "If a player captures a piece, she is informed that she made a capture (but she is not informed about what she captured)" but from skimming the observation tensor and observation string code in open_spiel

[2021-08-19 14:07] VitamintK commented on #695
Ah, now I see that captures are in `WritePublicInfoTensor`, so they are in the observation tensors at least.

I do have some other questions though:
1. isn't `state.move_captured_` always true?  It's set by `move_captured_ = Board().at(move.from).color != Board().at(move.to).color`, and since the color of the destination square is either the opponent or empty, it will always be unequal to the piec

[2021-08-21 16:44] VitamintK opened #696 "rbc observations"
(spinning out the potential issues I brought up in  #695 regarding RBC observation strings/tensors into its own thread)

1. The RBC rules say "If a player captures a piece, she is informed that she made a capture (but she is not informed about what she captured)" but from skimming the observation string code in open_spiel, I couldn't find this in there.
2. Captures do seem to be part of the observ

[2021-08-22 13:06] lanctot commented on #696
@michalsustr can you take a look?

[2021-08-23 13:31] michalsustr commented on #696
Hey @VitamintK thanks for making the issue. I am at the moment busy with some duties, but I will try to respond by the end of this week.

[2021-08-25 14:52] VitamintK opened #697 "rbc ActionToString sometimes returns ambiguous moves in SAN"
example:

[code]

results include both `Raxd2` and `Rxd2`, but should instead include `Raxd2` and `Rdxd2`, since `Rxd2` is ambiguous.

(the board is
[code]
)

This is due to [`ChessBoard`'s `Move.ToSan()`](https://github.com/deepmind/open_spiel/blob/d727b51ba1caed0018f5da81af8d49b73d932843/open_spiel/games/chess/chess_board.cc#L231) using only (pseudo)-legal moves to disambiguate, of which Raxd2 i

[2021-08-30 15:47] michalsustr commented on #695
Right now the draws are controlled via `kNumRepetitionsToDraw` constant, when the board hashvalue occurs more than 3 (kNumRepetitionsToDraw) times. https://github.com/deepmind/open_spiel/blob/master/open_spiel/games/rbc.cc#L419
I think this is a reasonable default, but if you have a particular use-case in mind when you'd need to change that feel free to make a PR, I can make a review for it.

Than

[2021-08-31 08:09] michalsustr commented on #696
Yes, the strings are based on DarkFEN and should be implemented appropriately for RBC... I took too much of a shortcut and will rewrite this. Thanks for pointing it out!

Indeed!

True as well, just checked with the rules.

I'll link a PR here when I get back to it. Seems like I did a portion of the code carelessly :-/ I'm a bit under a load of work and it shows.

[2021-08-31 08:28] michalsustr commented on #697
Yes `ToLAN` is a better choice as you explained. Can you post a PR?

[2021-09-02 08:23] xhevahir commented on #595
Here's the GSOC page for the Julia muZero project: https://michelangelo21.github.io/gsoc/2021/08/23/gsoc-2021.html

[2021-09-08 11:39] dvstter commented on #441
Sorry, I had been wondering about other questions for a few months. I have returned back to this question. I am reviewing my code and the algorithm described in the paper. Within this month, I will do some progress, I guess. If there is any progress on this topic by others, please notify me, thanks.

[2021-09-08 11:39] dvstter commented on #441
Sorry, I had been wondering about other questions for a few months. I have returned back to this question. I am reviewing my code and the algorithm described in the paper. Within this month, I will do some progress, I guess. If there is any progress on this topic by others, please notify me, thanks.

[2021-09-09 23:57] StochasticEntropy commented on #441
Sorry, I'm also swamped with other projects currently and I expected this one to be easier, but you can always put me down for review.

[2021-09-10 07:22] menglinjian opened #702 "Error in rl_environment.py"
when I run:
game = 'leduc_poker'
env_configs = {"players": num_players}
env = rl_environment.Environment(game, **env_configs)

one error rasised:
 File "/mnt/d/ubuntu/venv/lib/python3.8/site-packages/open_spiel/python/rl_environment.py", line 318, in step
    self._state.apply_action(actions[0])
pyspiel.SpielError: /tmp/pip-req-build-muvq_yxe/open_spiel/games/leduc_poker.cc:392 num_raises_ < kMaxR

[2021-09-11 13:04] lanctot commented on #702
Hi @menglinjian,

actions[0] is the correct value there, as the environment step function receives action ids in the range [0, game.num_distinct_actions()).

What you are seeing is a failure due to submitting an illegal action to the environment. By default, this will fail inside the game's ApplyAction environment (such as when trying to raise when you have used the maximum number of raises).

You

[2021-09-12 07:40] menglinjian commented on #702
Thank you for your answer,  I have solved this problem.

[2021-09-12 08:25] lanctot commented on #702
Great! You're welcome.

[2021-09-12 08:25] #702 closed

[2021-09-13 08:50] dvstter commented on #441
<img width="717" alt="Screen Shot 2021-09-13 at 4 39 31 PM" src="https://user-images.githubusercontent.com/11886450/133052124-7b31699d-6bf2-4598-8371-85dc71fc3a36.png">
I have three questions about this algorithm, @lanctot @StochasticEntropy could you please spare your time to help me?
1. orange part: I have already discussed with you, these two lines' code seems to be futile;
2. red part: the net

[2021-09-13 18:46] lanctot commented on #441
Hi @dvstter,

1. I would not call them "futile". The policy is required for several steps of the algorithm and the critic is required to compute the regret, so they are just being defined up here for completion. The first one could have also been expresses as "let \pi^t(s) = NormalizedRelu(\bar{W}_{\theta^t}(s)) **for all timesteps t**"

2. Sorry, I don't understand the question. Can you rephrase?

[2021-09-14 02:36] dvstter commented on #441
Many thanks, helps a alot,  but I have one more question.
As you said, armac will use past policies and past critic, so in fact, this algorithm need to implement 4 networks for W and q(current and past), right? and the retrospective buffer will need to save two types of buffer, which namely past policies buffer and past q buffer. Is that right?

[2021-09-14 10:02] lanctot commented on #441
I believe we used 4 heads on the same single network. @agruslys, can you confirm precisely what the heads were?

I believe only one replay buffer, I will let Audrunas follow-up with more detail.

[2021-09-14 12:31] agruslys commented on #441
The algorithm needs to implement the following networks or heads of the same network:
Q_t(h, a) network, which is a global critic and takes observations of all players as input. It evaluates some past policy pi_t at epoch t where 0 < t <= T.
W_t(s, a) network that takes observations only of the current player. Policy pi_t is defined by normalising max(W_t(s, .), 0), so whether we call it a separat

[2021-09-14 13:00] dvstter commented on #441
Thanks for your reply.
So in my opinion, there are four networks from another perspective, which namely past-Q_t, past W_t, Q_t, W_t, mu_t, but the two past-* networks share the same backbone layers with Q_t and W_t. Is that right?

[2021-09-14 13:47] lanctot commented on #441
I think the easiest way to see it is as follows. Every network has three output heads as described by Audrunas.

Suppose T = 100. Then, there would be 101 networks in total (since 100 epochs have passe, and for the current epoch), one for t = 0, 1, 2, ..., 100.

So when t = 100, you are generating data for and training the *current network* at epoch t only. All the past 100 networks (t = 0, 1, 2..

[2021-09-15 04:27] dvstter commented on #441
That's amazing. Thanks.

[2021-09-15 11:26] dvstter commented on #441
Hello everybody, I just wrote down this code based on my understanding of this paper.
The link is here [https://github.com/dvstter/cfr-algos/blob/master/armac.py](armac-github-blob).
In fact, I am not sure about this implementation's correctness, so I hope somebody can help me review this code when he is not busy. I am running this code on my server, but it will consume a lot of time.

There are t

[2021-09-15 14:09] lanctot commented on #441
I think it's a great idea to try Q-learning before Tree Backup and to skip the part about adaptive policy selection for the first version.

It would be a lot easier to review if you were able to submit it as a PR on this repository. Would it be easy to that? Because then we can go back and forth, and we can even import the first version of it (before it's officially ready) if anyone wants to help

[2021-09-16 03:19] dvstter commented on #441
Thanks, I just submitted it.

[2021-09-20 13:29] lanctot commented on #695
I believe this was fixed by https://github.com/deepmind/open_spiel/pull/704. If there are any outstanding problems on this issue, please re-open.

[2021-09-20 13:29] #695 closed

[2021-09-20 13:29] lanctot commented on #697
I believe this was fixed by https://github.com/deepmind/open_spiel/pull/704. If there are any outstanding problems on this issue, please re-open.

[2021-09-20 13:29] #697 closed

[2021-09-20 13:29] lanctot commented on #696
I believe this was fixed by https://github.com/deepmind/open_spiel/pull/704. If there are any outstanding problems on this issue, please re-open.

[2021-09-20 13:29] #696 closed

[2021-09-29 19:19] BedirT opened #711 "Converting policy.Policy to pyspiel.Policy"
Is there any way to convert `policy.Policy` object to `pyspiel.Policy` object? I am trying to use something like the `AveragePolicy` implemented on MCCFR, for `pyspiel.TabularBestResponseMDP()`, which requires a game and a pyspiel policy object.

[code]

[2021-09-29 23:21] lanctot commented on #711
Hi @BedirT,

Best thing to do here:

1. Get all the states in the game (python/algorithm/get_all_states.py)
2. Extract the MCCFR average policy into a (python) policy.TabularPolicy, by enumerating all the states and querying the MCCFR average policy at each one.
3. Call this function to convert the resulting tabular policy into a pyspiel.TabularPolicy: https://github.com/deepmind/open_spiel/blob/e

[2021-09-29 23:23] lanctot commented on #711
Wait I think there's an even easier way.

1. Pass a lambda to this function that just queries the MCCFR average policy: https://github.com/deepmind/open_spiel/blob/ef9e24d1cef64af6949fa1f1b98d7c10d97bd5b7/open_spiel/python/policy.py#L430
2. Then apply step 3 from my last message.

[2021-10-13 17:17] VitamintK opened #715 "higc referee_test fails: No module named 'numpy'"
When attempting to install latest master open_spiel, I ran into the following failed test:
[code]

I followed the steps

I have numpy installed on the `python` I'm using, as well as my system's python, so I'm not sure why this is happening.

I can disable the test to move forward, but I'm filing this issue here in case anyone else experiences this or knows how to fix it.

cc: @michalsustr

[2021-10-17 09:28] lanctot opened #716 "absl error when building (no matching function for call max in failure_signal_handler.cc)"
I just upgraded my desktop to Ubuntu 21.10.

It seems like there is a problem building on master (see below). I'm looking into it.

[code]

[2021-10-18 07:42] lanctot commented on #715
Another quick update: this is now causing the Hithub Actions wheels test to fail on MacOS X, so I'm disabling the higc_referee_test until we fix it, see https://github.com/deepmind/open_spiel/pull/719 for details.

I think we should fix this ASAP. @michalsustr, have you been able to reproduce it from a fresh checkout of master?

@VitamintK can you let me know what your environment is? It only star

[2021-10-18 08:09] #715 closed

[2021-10-18 09:37] TheoCabannes commented on #629
This has been done for the dynamic routing game through https://github.com/deepmind/open_spiel/commit/a1c97527c9ceb8c2686855db9b5354a2a0aa080f .
Feel free to close the issue.

[2021-10-18 17:13] VitamintK commented on #715
I'm using Mac OS with a conda (not venv) environment.

`import numpy` works both with the conda environment's `python` and `/usr/bin/python`.

[2021-10-18 17:33] VitamintK commented on #715
ah, but the tests were running with `open_spiel/venv/bin/python`, which I wasn't using, and which doesn't have `numpy`.  (Found the python directory by putting `print(os.path.dirname(sys.executable), file=sys.stderr)` in `random_bot.py`.)

When I run installation with `--virtualenv=false`, the issue seems to be fixed.

[2021-10-18 18:47] lanctot commented on #715
Ok, so, yes same with me.

With a fresh checkout from the latest master, when I re-enable both HIGC tests (in `higc/CMakeLists.txt` and `python/CMakeLists.txt`):

- When I run the build and test script with no arguments, both `referee_text` and `python/higc_referee_test.py` fail. Log here: https://pastebin.com/FnxkibtT
- When I run with `--virtualenv=false` all the tests pass.

[2021-10-18 19:14] VitamintK commented on #715
You're right, that one indeed looks unrelated to timeouts:

[code]

It looks like that operator ([extended iterable unpacking](Extended Iterable Unpacking)) was introduced in python 3.0, so this must mean the python interpreter being used is python 2.x -- probably mac OS's system python.

[2021-10-18 19:24] michalsustr commented on #715
I will take a look now as well. The tests assumed the default installation of virtualenv, because the python files needed both numpy and pyspiel.

[2021-10-18 20:52] lanctot commented on #715
Unfortunately they seemed to get deleted.. they definitely happened, though. The logs were similar to the one I linked above here: https://github.com/deepmind/open_spiel/issues/715#issuecomment-946063027

Didn't you say that you could reproduce the problem locally?

[2021-10-18 21:46] lanctot commented on #715
Yes that looks like one of them! I feel like there might have been another too but I am not 100% sure :) either way, good find, thanks!

[2021-10-20 15:31] lanctot opened #724 "Problem with Restricted Nash Response tests"
@milecdav

Basic simulation tests are not running on the Restricted Nash Response game. Once the crashing bug is fixed, the error will be:

[code]

See BasicRNRTests in `restricted_nash_response_test.cc` and a similar test in `python/games_sim_test`. Both are currently disabled.

[2021-10-21 19:17] MachengShen opened #725 "Running goofspiel/markov_soccer as turn_based_game"
Hi, I would like to run the simultaneous games as turn based game by following the code in the [psro example](https://github.com/deepmind/open_spiel/blob/master/open_spiel/python/examples/psro_v2_example.py):
[code]
But i got

[code]
because neither ```provides_information_state_tensor``` nor ```provides_observation_tensor``` is true for ```<GameType 'turn_based_simultaneous_game'>
[code]

[2021-10-22 00:52] MachengShen commented on #725
Thanks for the reply. I was using ```game = pyspiel.load_game("markov_soccer")
        env = rl_environment.Environment(game)```

I tried the your command, the goofspiel command works fine, but the markov_soccer gave me this error ```open_spiel/python/rl_environment.py", line 210, in __init__
    raise ValueError(f"observation_tensor not supported by {game}")
ValueError: observation_tensor not sup

[2021-10-22 01:25] lanctot commented on #725
Alright, I have reproduced it. This looks like a bug.

I _think_ the two lines (258 and 259) here: https://github.com/deepmind/open_spiel/blob/eebcdf539a80a26062d73060f17ced5a0a31cc0a/open_spiel/game_transforms/turn_based_simultaneous_game.cc#L258 should be removed.

I'm not 100% sure, though -- it might cause other problems. I will need to think about a proper fix and will submit something next w

[2021-10-22 21:47] uozuAho opened #728 "Question about interfacing OpenSpiel with agents/games running in other processes"
Hi there, I'm interested in using OpenSpiel to play games implemented in other languages. An example: I have a game implemented in C# - I don't want to reimplement it in C++/Python, and I don't want to implement OpenSpiel algorithms in C#.

Is there an existing way to get OpenSpiel communicating with games/agents running in other processes? I couldn't find anything. I'm happy to have a go at imple

[2021-10-25 08:51] #724 closed, assigned to nobody

[2021-10-25 22:20] MachengShen opened #729 "pyspiel import error"
Hi, I follow the tutorial on installing from source on ubuntu 18.04. All tests passed except

[code]

After installation and setting the ```PYTHONPATH```, ```import open_spiel``` works, but ```import pyspiel``` fails with ```ImportError: /home/macshen/open_spiel/build/python/pyspiel.so: undefined symbol: PyCMethod_New```  Any idea on debugging this issue? Thanks

[2021-10-26 19:52] #729 closed, assigned to nobody

[2021-11-03 22:15] chiraguic opened #737 "Sampling of actor in NeuRD"
Hi, I am interested in implementing NeuRD in my actor-critic RL model. I think the version in the NeuRD paper samples actions only for the critic and not for the actor and so I wanted to know how can I implement it for the sampled version? Can I just include 1/pi in the update like you have explained before the equation (5) of the paper?

[2021-11-04 01:10] lanctot commented on #737
Hi @chiraguic !

See the discussions of it here: https://github.com/deepmind/open_spiel/issues/148 and here: https://github.com/deepmind/open_spiel/issues/316, where one of the original authors posted the code for the thresholding and the policy gradient loss. You should be able to adapt it from that and the policy gradient code.

We've had a number of requests for an implementation of sample-base

[2021-11-08 10:28] uozuAho commented on #728
An update: I've got a basic version of what I want working in Python here: https://github.com/uozuAho/open_spiel_playground/tree/main/zmq_ttt

Some questions:
- Do you want the python version contributed to this codebase? My C++ is a little rusty, so it'll take me a while to get the same thing running in C++.
- Is the use of [ZeroMQ](https://zeromq.org/) OK for the networking part? I'm not very fa

[2021-11-09 00:15] lanctot commented on #728
Wow.. I have to say, I'm quite impressed :)

Maybe, with some changes. I'll discuss it with the team. I think having Python implementation is ok, if you're willing to support it. C++ would be better integrated with the library, but it's also some work.. so might be oke to just have a working Python example.

This part I like less. For such simple network communication it might better to just use v

[2021-11-15 22:45] nileshop22 opened #742 "Solitaire Rewards Too High"
Hi @lanctot , first of all this is amazing collaborative effort! Thanks for this library.
I tried training DQN with Solitaire in Pytorch by tweaking the code [here](https://github.com/deepmind/open_spiel/blob/master/open_spiel/colabs/research_dqn_pytorch.ipynb) but the rewards are too high that my Q-values becomes NaN. Is there any way to resolve this?
Is rescaling the rewards a good option? If ye

[2021-11-16 15:12] lanctot commented on #742
Hmm, looking at the solitaire max reward: https://github.com/deepmind/open_spiel/blob/dbfb14322c8c3ebc089310032a56bfaed0dc4c01/open_spiel/games/solitaire.cc#L1556

That is a higher range than a lot of the other games. I am still surprised that you get NaNs though.

Maybe the learning rate is too high? I would first try tuning down the learning rate of your DQN agent (lower, maybe try 0.001 or 0.00

[2021-11-16 15:43] nileshop22 commented on #742
Hi @lanctot, thanks for your response.
I implemented both of your suggestions and started training. I was wondering if someone has trained Solitaire before and if yes, how much reward they got after training?
Thanks.

[2021-11-16 16:01] lanctot commented on #742
I have not run it myself nor anybody in our team.

I will tag the original author of the game: @tyjch. Maybe they will have a better answer for you.

[2021-11-17 17:39] nileshop22 commented on #742
Hi @tyjch, can you please look into this. Also, if you did train then how did you modified your rewards so that the training becomes stable. I'm unable to get good results with DQN for rewards in [0,1].

[2021-11-18 14:04] lmh-leo opened #744 "How can I solve this on pycharm of Windows: We recommend: Clang version >= 7.0.0."
After pip install open_spiel ,there is an error:
`RuntimeError: A C++ compiler that supports c++17 must be installed to build the following extensions: pyspiel. We recommend: Clang version >= 7.0.0.`
thanks.

[2021-11-18 14:28] lmh-leo commented on #744
But there is a python library clang which version is 11.0;

[2021-11-19 00:54] #744 closed

[2021-11-19 01:57] lmh-leo opened #745 "Can I install open_spiel on Windows?"
thanks!

[2021-11-19 10:46] uozuAho commented on #728
Hmm I don't think I could commit to supporting it, so it's probably best kept separate for now. I also understand the hesitance about ZeroMQ. It was a lazy choice of mine, and is very likely an unnecessary dependency. I did install it via pip, but I guess it probably wouldn't be that hard to make it use regular sockets instead. Thanks so much for the advice anyway!

I'll give AlphaZero a go on Pan

[2021-11-19 14:51] lanctot commented on #745
Hi @lmh-leo,

We have very limited support on Windows. The answer currently is yes, but it has to be through WSL, see the instructions here: https://github.com/deepmind/open_spiel/blob/master/docs/windows.md.

However, there is nothing truly Linux-specific in the core of the library. Most of OpenSpiel should be able to be properly supported on Windows (at least under Cygwin, possibly fully eventua

[2021-11-26 23:28] lanctot commented on #745
Quick update. I was curious, so I started looking into this.

Turns out we actually have very few real Linux / MacOS dependencies. Outside of the optional parts of OpenSpiel (like HIGC which we could turn off), there are really only two "real" ones: the UCI chess bot Linux style pipes, and the utils/file.cc wrapper (which seems very easy to support on Windows and might even work already).

So I in

[2021-11-30 07:29] NightMachinary opened #749 "[FR] Parametrize Tic-Tac-Toe to accept an arbitrary sized board and win patterns"
E.g., we might want a 10x10 board with the win conditions being

[code]

(up to any number of 90 degree rotations.).

PS: If you’re too busy, would a PR of this feature be accepted?

[2021-11-30 21:49] lanctot commented on #749
I don't see why we wouldn't accept a PR implementation. I would recommend leaving Tic-Tac-Toe implemented as is and make a new game.

I'm curious, though: is it because you'd use this game for a research project?

[2021-12-01 07:08] NightMachinary commented on #749
I am learning RL, so I am not doing research yet; but I like Tic-Tac-Toe's simplicity. It's easier for me to analyze the game, rather than, say, chess. But the classic version is too useless.

I also really like big Tic-Tac-Toe games ;)

[2021-12-04 08:03] NightMachinary commented on #595
I am also interested in implementing MCTS and a semi-grad TD algorithm, to learn the material better. But figuring out the batching is a problem for me. Is there a JAX-based implementation of MCTS (or any kind of tree search that uses a neural network to estimate some feature of the nodes) I can see as a reference?

In general, is the idiomatic approach to use multi-threading and run several JAX J

[2021-12-04 08:39] lanctot commented on #595
Hi @NightMachinary,

You can find MCTS that uses neural nets in our AlphaZero implementations: https://github.com/deepmind/open_spiel/blob/master/docs/alpha_zero.md

None are JAX-based. It would be great to have a JAX one too! Would make a nice contribution.

[2021-12-06 18:06] uduse commented on #595
My current implementation uses multiple copies of asynchronous MCTSs (using `asyncio`) and batch their queries together to inference using the NN. Each single MCTS still perform like a single-threaded MCTS, but combining multiple such MCTSs yields similar throughput as multi-threaded MCTS.

[2021-12-06 19:55] NightMachinary commented on #595
Can you link your implementation?

 From what I understand, the key points are your design are that

1) MCTS only depends on the value/policy functions defined before it is run (which are not updated during the run), and its output is just the selection count for each node, which we can trivially sum for multiple runs.

2) JAX uses async dispatch, so using it with asyncio will result in an effecti

[2021-12-07 04:41] uduse commented on #595
@NightMachinary

I just made my repo public, [see here for my async MCTS](https://github.com/uduse/moozi/blob/670a57ed160da1ff8da91ade9cc81c044677dd48/moozi/policy/mcts_async.py#L62
).

It might not be what you want. My implementation focuses on increasing the throughput of multiple MCTSs but the latency of each individual MCTS is not reduced.

Each MCTS outputs its own selection count, multiple r

[2021-12-11 12:27] lanctot commented on #749
You might also be interested in Ultimate Tic-Tac-Toe. I saw a recent applicate of AlphaZero to it: https://www.reddit.com/r/MachineLearning/comments/rdb1uw/p_utttai_alphazerolike_solution_for_playing/?utm_medium=android_app&utm_source=share

I have always liked this game, would be great to have it in OpenSpiel.

[2021-12-12 17:56] holgersindbaek commented on #742
@nileshop22 @tyjch I'd love to see an implementation example for solitaire as well!

[2021-12-16 17:30] ngrupen opened #753 "Libtorch AlphaZero at Test-Time"
Quick, and possibly silly, question regarding libtorch AZ at test-time (as in alpha_zero_torch_game_example).

alpha_zero_torch_game_example is running AZ as an MCTSBot with AZ's value network -- i.e. it inits an MCTSBot with the VPNetEvaluator instead of the standard evaluator. So it seems that (i) AZ is forced to use mcts at test-time (which requires at least max_simulations=2) and (ii) AZ uses

[2021-12-16 22:48] lanctot commented on #753
Hi @ngrupen, I might be missing something -- what's the alternative.. sampling from the prior? Minimax? What would you like to do that's different from MCTS at test time?

[2021-12-16 23:32] ngrupen commented on #753
Hmm my thought was to evaluate performance as a function of “thinking time” — by degrading max_sims until there is virtually no look-ahead, but I’m realizing that might be misguided.

[2021-12-16 23:58] lanctot commented on #753
No that makes perfect sense. I guess you're saying it can't go any less than 2? What does less than 2 simulations even mean? 1 simulation should be essentially sampling from the prior (since there's nothing else to compare to), e.g. no search at all. 2 simulations should still at least compare two different options and choose the best one?

Maybe you're saying the code does not support the case of

[2021-12-17 19:52] ngrupen commented on #753
Yes, I guess this question comes down to sampling from the prior :) Playing with max_sims = 1 returns:
[code]
which is also the behavior of trying to play with max_sims = 0 (and this error makes sense, since it is basically not a search anymore, as we discussed). For now, I am happy to proceed with max_sims=2, unless you think there would be enough other people interested in sampling from the prio

[2021-12-18 10:23] lanctot commented on #753
We should be supporting that case, we've used it several times in the past, and it's come in handy.

I went through the MCTS code and I think I understand why it's happening: because the root does not even add a child on the first simulation (it only gets expanded). Also it seems to me that we're not even sampling from the prior at any point, but rather always using the PUCT values. This seems lik

[2021-12-22 03:15] lanctot commented on #745
Good news: I managed to get OpenSpiel compiled on Windows 10 in Visual Studio Community Edition! All the tests are built, and the example runs natively. The Python extension is also built and was able to be loaded by Python 3.9 and run some games.

It took many small changes to get it to compile and run in Windows, which I will submit over the coming weeks. It looks like we will be able to support

[2021-12-22 20:27] MachengShen opened #756 "Best way to parallelize env rollout"
I'm wondering what would be the best way to parallelize the env steps? For gym envs, we have the SubProcessEnv wrapper, is there anything equivalent in open_spiel? I would like to avoid passing policy networks to subprocess. Please instruct, thanks!

[2021-12-23 17:59] lanctot commented on #756
By paralellize do you mostly mean batching? As in are you looking for a way to execute say n steps on n independent environments in one step?

We don't have anything like that currently, but it would be a nice addition, so we would welcome a PR that adds this (a batched environment).

I am not sure what you mean by passing policy nets to the subprocess. Can you elaborate? I am not familiar with Su

[2021-12-23 18:06] MachengShen commented on #756
Yes, i mean batched environment. Can you suggest an implementation for the python version without changing the cpp code? I appreciate it.

[2021-12-25 16:10] lanctot commented on #756
Hmm, not sure what to recommend without knowing more about your use case, other than the basic one of having an object with multiple environments, that sequentially applies step to all of them and returns a batch of observations.

But I can see this a fast/performant one done on the C++ side ​(i.e. where the cost of going from Python to C++ and back is paid only once per step) being generally usef

[2021-12-30 09:23] Jzhou0 opened #757 "how to exchange the private cards in leduc poker?"
Hi @lanctot , there's a little question. I'm wondering how to exchange the private cards in leduc poker?  I want to use duplicate tables to remove some of the randomness of the cards.  However  the definition of the class _state_  is  unclear, where the _state_  show as follows:
`game = pyspiel.load_game("leduc_poker")
state=game.new_initial_state()
`
when exchange the private cards, I could not a

[2021-12-30 09:53] lanctot commented on #757
Hi @Jzhou0,

The state is a Python-wrapped C++ object described in `spiel.h`. In the case of leduc poker, it is a LeducState object defined in games/leduc_poker.h. The python API for these classes and objects are in `python/pybind11`.

There are two potential solutions: (i) add a method to LeducState to modify the cards and expose it to Python, (ii) write a Python function that builds a new state

[2021-12-30 13:13] Jzhou0 commented on #757
I  am trying  to  follow (i).  Coincidentally, I find a  more simple  solution in `python/example/example.py`,  I could use the method ` game.deserialize_state(state_string)` to  construction a special state with saved `state_string` , and the whole process is easy:
`flags.DEFINE_string("load_state", None, "A file containing a string to load a specific state")`
`with open(FLAGS.load_state, encodin

[2021-12-30 14:23] lanctot commented on #757
Ah yes but there is no need to read or writing to a file, and that's not what the serialized state looks like. You can see what a serialized state looks like by printing `state.serialize()`. This solution would be similar to my history-based one. Probably best to do it the right way.

Take a look at python/pybind11/games_backgammon.cc and the associated methods in games/backgammon.h. You can see h

[2021-12-30 14:46] Jzhou0 commented on #757
Yeah, only replace the private cards.
For example,  in the first game of Leduc poker,  cards for p1 and p2 are Ks and Qs respectively. And  I want to set p1's and p2's private card to Qs and Ks respectively in the second game.  But is there any method implementation for this assigning operator in Python?
I could try to write a function in C++,  but I wonder how to expose them to python?

[2021-12-30 16:24] lanctot commented on #757
To add the methods on the C++ side, modify LeducState in games/leduc_poker.h and games/leduc_poker.cc.

To expose them to python, see the second paragraph of my previous response. (We will add documentation for this soon.)

[2022-01-02 13:27] lanctot commented on #757
Hi @Jzhou0, I have this implemented and tested internally now. We will use it as an example for documentation on how to provide games-specific functionality and expose it to python.

The code has to go through a short review and will be available on the next sync to github, which might be tomorrow or the next day (this thread will be updated when the code is in master).

[2022-01-03 09:31] #757 closed

[2022-01-04 00:01] ngrupen commented on #753
@lanctot Thank you for the detailed description of this fix! I took a little time off as well since we last spoke, but I am back on this -- just wanted to keep you in the loop so that we aren't double fixing :)

I've implemented SampleFromPrior() and will tackle the bug fix next. Will let you know when the PR is ready.

[2022-01-04 00:18] lanctot commented on #753
Sounds good, thanks for the heads up because I was going to look into it soon. But I have other stuff to do as well, so will do those first. Still happy to help if you hit any snags and can imporr it whenever it is ready.

[2022-01-04 02:55] ngrupen commented on #753
One quick question: should max_simulations=0 be handled in the same way as max_simulations=1? After SampleFromPrior() and the bug fix, max_simulations=1 samples from the evaluator as expected, but now max_simulations=0 seg faults because there is no check on line 222 anymore.

Changing the if statement to be an or over both 0 and 1 seems to fix it, but I'm not sure if there are unintended conseque

[2022-01-04 09:29] lanctot commented on #753
Yeah I think max_simulations as 0 or 1 can be handled in the same way (where 0 is just a special case for convenience). That sounds fine to me. I will take a deeper look when I see the code, so I encourage you to submit the PR and we can iterate on it if necessary. Thanks for doing this!

[2022-01-04 17:50] ngrupen commented on #753
@lanctot Just submitted PR #760 with proposed fix. Let me know what you think!

[2022-01-05 10:17] #745 closed

[2022-01-05 14:50] lanctot commented on #745
Ok you can now install OpenSpiel on Windows 10 using Visual Studio community edition. For instructions, see here: https://github.com/deepmind/open_spiel/blob/master/docs/windows.md

[2022-01-08 01:41] ThorvaldAagaard commented on #745
I have just tried to follow the instructions for installing on windows in
https://github.com/deepmind/open_spiel/blob/master/docs/windows.md

`
git clone -b '20211102.0' --single-branch --depth 1 https://github.com/abseil/abseil-cpp.git open_spiel\abseil-cpp

git clone -b 'develop' --single-branch --depth 1 https://github.com/jblespiau/dds.git open_spiel\games\bridge\double_dummy_solver
`

The bra

[2022-01-08 02:56] lanctot commented on #745
Hi @ThorvaldAagaard,

Thanks! I guess the single quotes worked in my case because I was using PowerShell? I'm not sure. Can you submit a PR fix to the instructions to remove them?

For the Python module, I only tested it when I ran Python from the same directory (which, I believe, was `open_spiel\out\build\x64-Debug\python`). On Linux and MacOS, if you add this directory to `PYTHONPATH` as describ

[2022-01-08 13:32] ThorvaldAagaard commented on #745
@lanctot
I will create a PR, and is testing the description at the moment

You are right that Quotes are ignored when using PowerShell, but it works fine without them, so I will remove it.

I have tested the PYTHONPATH and will add a description for windows

When I test the other scripts in open_spiel\python\examples not all of them are working, but it is not clear to me if all should work, and wa

[2022-01-08 14:13] lanctot commented on #745
Ah yes, that is (probably) expected. This Windows support is super new and the extent to which I have tested this so far is to cobfirm that the C++ example runs, that pyspiel can be imported, a game can be created, and a few legal moves can be applied :)

So this is quite experimental for the moment. Please vontinue to report any breakage.

Absolutely! I will take a look on Monday. In the mean tim

[2022-01-08 15:42] ThorvaldAagaard commented on #745
I am trying the first example using python

![image](https://user-images.githubusercontent.com/10560652/148650374-4ae2d19a-351a-462e-bee0-b72ec4e289e1.png)

And getting this error
  File "<My local dir>\open_spiel\open_spiel\python\examples\example.py", line 26, in <module>
    from open_spiel.python import games  # pylint: disable=unused-import
ModuleNotFoundError: No module named 'open_spiel'

A

[2022-01-08 16:01] lanctot commented on #745
Ah yes this is because there are two paths you must add to PYTHONPATH. The first one is the location of the module. The second one is the root of OpenSpiel so it can find all the other modules. See the link to the Linux install instructions I posted in a previous message for how to set the PYTHONPATH in Linux, you need the same two paths in Windows.

[2022-01-08 16:08] ThorvaldAagaard commented on #745
I did add two paths, but probably got the one to root wrong assuming it was the Python directory I should add and not root. Seems to be working now

[2022-01-10 09:38] #753 closed

[2022-01-10 09:40] lanctot commented on #757
We have now added documentation on this at the bottom of [the developer guide page](https://github.com/deepmind/open_spiel/blob/master/docs/developer_guide.md).

[2022-01-17 03:15] BedirT opened #768 "Low Depth - High Breadth Game"
Do we have any low-depth high breadth games implemented in the library?

I was thinking of something like [Cheat](https://gamerules.com/rules/bullshit-card-game/) for two-player.

I have a clean implementation I probably attempt to convert to open_spiel sometime soon, wanted to see if we have anything in this area, as I see the research on this type of game is not that wide-variety.

[2022-01-22 02:30] jeremysalwen opened #769 "Building with BUILD_WITH_XINXIN="ON" is broken (missing hearts/Algorithm.cpp)"
Attempted to build with XINXIN support (export BUILD_WITH_XINXIN="ON").  Cmake fails, it appears there are some missing files that are not checked into the git?

[code]

`find . -name Algorithm.cpp` finds nothing.

[2022-01-22 11:46] lanctot commented on #769
Hi @jeremysalwen,

You also need to have the variable set when you run `./install.sh` which will clone the xinxin repo, which is what you are missing.

You can check out scripts/install.sh for the git clone command.

[2022-01-22 17:43] DeeNewcum opened #770 "Are proprietary games welcomed?"
I was interested in implementing and submitting a PR for these two games:

* No Thanks! — VERY simple mechanics
* Mamono Sweeper — a basic extension of Minesweeper, where instead of each "bomb" being a simple binary yes/no, each "bomb" has a value from 1 to 9, and you "level up" over time and are able to clear increasingly more powerful "bombs"

However, both are proprietary (e.g. No Thanks! is pu

[2022-01-23 00:36] lanctot commented on #770
You can submit a PR, but merging them into the repos takes time and may never happen. (You can see a few examples in our current PRs.)

For these cases, we consult with our legal team. Sometimes we are able to get permissions to include implementations (like for Hanabi).

There may be other options too. If you have more questions on this topic, feel free to contact us by email.

[2022-01-23 02:47] jeremysalwen commented on #769
Thanks @lanctot, that solves it. Might I suggest updating https://github.com/deepmind/open_spiel/blob/master/docs/install.md to note that you need to set the configuration variables before install.sh?

[2022-01-23 02:47] #769 closed

[2022-01-23 07:50] jeremysalwen opened #772 "Measuring exploitability for large games"
I'm training nfsp agents on hearts using `leduc_nfsp.py`.  However, I was forced to disable the nash_conv computation, since it appears to be trying to compute the complete set of possible information states in the game which blowing up my memory/cpu.

Is there a sampling based implementation that could efficiently calculate approximate nash_conv for games with large game trees?  or is there anoth

[2022-01-23 08:50] lanctot commented on #769
Actually, great idea. Can you submit a PR to fix the docs?

[2022-01-23 09:23] lanctot commented on #772
Hi @jeremysalwen, at the moment you can try using RL to exploit your opponent, see the [rl_response](https://github.com/deepmind/open_spiel/blob/master/open_spiel/python/examples/rl_response.py) example.

We have all the components to be able to implement [ABR](https://arxiv.org/abs/2004.09677). It would require some programming and could be a nice project, if you're interested, but it's non-trivi

[2022-01-23 10:03] jeremysalwen commented on #772
Interesting, I'll have to read the ABR paper.  rl_response seems like it might be too expensive to be running repeatedly during training, maybe I would save that until training is complete? Is there something more lightweight I could run to just compare performance to earlier agents to check progress, like alpha-rank?

[2022-01-23 10:44] lanctot commented on #772
ABR is even more expensive because it does search too. Typically we do by saving checkpoints and evaluating them separately.

Yes you can compute the payoff tensor between checkpoints and then do some kind of analysis of the progression. Alpha-rank is a good choice, you can also do uniform distribution and measure head-to-head performance. We came up with a few others too (variants of Nash averagi

[2022-01-24 11:17] lanctot commented on #749
Hi @NightMachinary, we have now added an implementation of Ultimate Tic-Tac-Toe: https://github.com/deepmind/open_spiel/commit/fa7b6af395a0d80ac62513d4edfeb4f9a0092957

[2022-01-24 11:41] NightMachinary commented on #749
Thanks, that game is also interesting!

[2022-01-26 12:35] egeozsoy opened #774 "AlphaZero for Backgammon"
Hi, I am trying to create a good Ai for the backgammon game, as there are no examples for it. I tried pure PPO, but it did not give very good results. I was thinking to apply the AlphaZero algorithm, but realized it is only for deterministic games. Is there are inherent reason for this? I see that it currently does not handle ChanceNode's correctly but that could be changed rather easily right?

I

[2022-01-26 15:02] Henry-E opened #775 "Large memory usage even after abstraction"
Following along with the suggestions on card abstraction [here](https://github.com/deepmind/open_spiel/issues/243), I removed suits from the ACPC poker implementation.

This greatly reduced the number of information sets needed for the toy game I was training. However, despite there only being ~2,000 information sets, when I run `cfr.CFRSolver(custom_universal_poker_game)` the solver object still

[2022-01-26 20:35] lanctot commented on #774
I am actually surprised to discover this because our MCTS implementations all handle chance nodes.

@mlschmidt366 also implied that he had to do non-trivial changes to get games with chance working in AlphaZero.

Can you explain more about why our AlphaZero does not support games with chance nodes? I am pretty sure that our original implementation didn't test on those games, but I'm still surprise

[2022-01-26 20:39] lanctot commented on #775
Hi @Henry-E, can you first clarify whether you're using the Python CFR impl or the C++ CFR impl?

[2022-01-26 20:43] lanctot commented on #775
How did you get the 2k information set count? Did you double-check that this is the size of the CFR table, not from some analysis on the resulting game? E.g. can you confirm that CFR's table is size 2000?

Can you compute the average branching factor.. e.g. for all info states, sum |LegalActions(s)| and divide by number of info state.

[2022-01-26 21:24] jhtschultz commented on #768
Hi! One thing that might be worth looking into is Gambit (http://www.gambit-project.org/gambit14/index.html). It's been a bit since I've used Gambit so you'd have to consult their docs, but it lets you do cool things like construct synthetic game trees. You can write a script to build a game tree and use the branching factor to control depth vs breadth.

Once you construct an EFG game and store it

[2022-01-26 21:37] Henry-E commented on #775
[code]

Ah, this is a good point. It's the Python CFR implementation. I didn't realise the example Universal Poker colab was using the python cfr algorithm. Switching over to the C++ implementation of CFR on pyspiel drops the RAM usage to 1.5GB. Great improvement!

[code]

It was from counting up the entries in the private variable `._info_state_nodes`
`cfr_trained._info_state_nodes` -> 2,280
For

[2022-01-26 21:42] lanctot commented on #775
Great!

I think we might have a tool that does it already: https://github.com/deepmind/open_spiel/blob/master/open_spiel/examples/count_all_states.cc

(Or if it doesn't, we should modify it so that it does.. should be fairly easy)

[2022-01-26 22:24] Henry-E commented on #775
Thanks for the link, it gives the same numbers as above

[code]
`8761301 histories - 36121 chance = 8,725,180 states` as above
It still gets up to 25GB of RAM though while counting all the states.

I think I'm going to experiment tomorrow with having the functions `ChanceOutcomes` and `LegalActions` output values that are consistent with the card abstraction. That should reduce the number of histo

[2022-01-26 22:28] egeozsoy commented on #774
I am using the pure python based version (https://github.com/deepmind/open_spiel/tree/master/open_spiel/python/algorithms/alpha_zero)

I see some reasons for why it does not work out of the box. Firstly it flat out rejects using non deterministic games. https://github.com/deepmind/open_spiel/blob/f522d174a1e2e8fbaf2007294985869d6e520669/open_spiel/python/algorithms/alpha_zero/alpha_zero.py#L503

T

[2022-01-26 22:32] lanctot commented on #775
I agree it is still large for that number of info state, but what I want to know is the average branching factor. CFR's memory requirements are linear in number of infostate time actions, so I am curious how many legsl actions the game has on average. You can get this by summing the size of the legal actions over all the states and then dividing by number of states (a small change to the example I

[2022-01-26 22:38] lanctot commented on #774
Ok great, this should be easy to fix. Would you be willing to submit a PR if I walk you through what needs to be done?

I would happy to do it but with my current load it would be weeks before I get to it.

[2022-01-26 22:39] egeozsoy commented on #774
Yeah sure I could give it a try, though I would be only fixing the python version in this case right?

[2022-01-26 22:42] lanctot commented on #774
Yep, whichever one you want to use. We can fix the other ones similarly later when we find the time. Thanks! I will wrote more in about 90 minutes.

[2022-01-26 22:44] lanctot commented on #774
Well the first one is the AlphaZero evaluator should be modified: if called on a chance node, then sample chance events until a normal node (or terminal) is reached.

[2022-01-26 22:47] Henry-E commented on #775
Ah ok, sorry I missed that.

Not super familiar with C++ but I tried this

[code]
  It gets the size of the legal actions array at every non terminal node. This is what you were looking for I think?

[code]
  So `8145300/2280=3572.5`

[2022-01-26 22:52] lanctot commented on #774
Scratch that. There is a better option. We should add an option to MCTS to never stop expanding at chance nodes (ie. keep expanding the tree if the newly added node is a chance node until you get a decision node or terminal). This vay the evaluator will never be called at chance nodes. Then we should enable this option when running MCTS via AlphaZero.

[2022-01-26 23:00] lanctot commented on #774
The logic in _play_game method is simple: if you encounter a chance node: sample an outcome, apply it, and continue (don't invoke the bots).

[2022-01-26 23:24] egeozsoy commented on #774
I have been thinking if there is also a significant limitation here

https://github.com/deepmind/open_spiel/blob/f522d174a1e2e8fbaf2007294985869d6e520669/open_spiel/python/algorithms/mcts.py#L311

Legal actions, and therefore children nodes are computed only once per node, but in a non-deterministic game these are not the same every time that node is visited, but depend on the previous chance node

[2022-01-27 00:23] lanctot commented on #774
That is not be a problem because the current roll is part of the state (e.g. node). So LegalActions will return a different set of actions when the roll is 1,1 than when it's 2,2 and those two different states would represented as different nodes in the MCTS tree. If that were not the case, then the MCTS would not work on games with chance nodes at all, but you can verify that it does by running t

[2022-01-27 00:37] lanctot commented on #775
Ok perfect, but you should be dividing by the number of histories because the loops is over histories, so you have: `8145300/5234500 = 1.556`. That's quite low, so I'm guessing you're using limited betting... ah! I just noticed now that you're doing limit, so this makes perfect sense.

Ok this is progress. I just noticed this example does not include the information states, but I think we can trus

[2022-01-27 08:10] egeozsoy commented on #774
Here https://github.com/deepmind/open_spiel/blob/f522d174a1e2e8fbaf2007294985869d6e520669/open_spiel/python/algorithms/mcts.py#L313

The evaluator is called during the expansion to get the legal actions. The prior function of the random evaluator correctly deals with this https://github.com/deepmind/open_spiel/blob/f522d174a1e2e8fbaf2007294985869d6e520669/open_spiel/python/algorithms/mcts.py#L78

[2022-01-27 08:28] egeozsoy commented on #774
Side question: Should the code simply run on the GPU if tensorflow with gpu support is installed? Or is this not currently supported?

[2022-01-27 08:40] jeremysalwen commented on #772
I'm looking for examples in the repository where fixed agents are evaluated against each other by playing a sample of games.  I'm having trouble finding something that seems appropriate for the NFSP agents generated by leduc_nfsp.py.

1. `evaluate_bots.py` has the evaluated_bots function which seems to evaluate the performance of a set of bots playing a game.  However, it seems like the "bot" inte

[2022-01-27 08:56] egeozsoy commented on #774
I gave it a shot here https://github.com/deepmind/open_spiel/pull/776. Please let me know

[2022-01-27 09:36] lanctot commented on #772
Hi @jeremysalwen, you are not missing anything. We indeed do not have an example of that anywhere. It would be useful to have one, even if just for NFSP agents. If you do this, please contribute an example to the repo for the next person :)

[2022-01-27 09:48] lanctot commented on #774
Nice!! Thanks. Is it running for you? Can you try it on a very simple game with chance (e.g. pig)?

[2022-01-27 10:11] egeozsoy commented on #774
It is definitely running for me. I just tried it for pig, and I got the following output. Not sure how I should interpret loss only falling at the beginning and policy loss staying the same though.

[2022-01-27 10:56:23.728] Model type: mlp(128, 2)
[2022-01-27 10:56:23.729] Model size: 89351 variables
[2022-01-27 10:56:23.938] Initial checkpoint: alphazero_output/checkpoint-0
[2022-01-27 10:57:57.

[2022-01-27 10:16] lanctot commented on #774
Cool! As long as the losses are roughly going down, should be an indication. You can play against your checkpoints if you want, using this: https://github.com/deepmind/open_spiel/blob/master/open_spiel/python/examples/mcts.py (might take a while before they get good).

If you run on backgammon, I'd be curious about how well it does!

[2022-01-27 10:20] lanctot commented on #774
For better anslysis of the runs there are tools to analyze what is going on, visualize losses etc. Take a look at the full docs on how to do that: https://github.com/deepmind/open_spiel/blob/master/docs/alpha_zero.md

[2022-01-27 11:31] Henry-E commented on #775
Checking out the problem this morning it looks like I was wrong that it's taking up 1.5GB. Because it's a remote server I had assumed RAM usage outside of openspiel was negligible but I forgot that VS code is a RAM hog and it's actually taking up most of the 1.5GB. Looking closely at htop, the kernel of the jupyter notebook appears to be more like 100mb.

[code]
I did try a few of these and they d

[2022-01-27 11:31] #775 closed

[2022-01-27 13:33] egeozsoy commented on #774
I played against it after a while but it was hard to judge how good it was as I am not familiar with this game. But I let it play against a random agent where it won 97% of the games. Though against the generic MCTS agent it only won 36% of the games.

![myplot](https://user-images.githubusercontent.com/23017610/151369066-84393f90-ecf4-44bb-b6ef-3891ae38f3a2.png)

[2022-01-27 13:41] lanctot commented on #774
Ok well that's an indication that it's working. 25 steps is not very long.. beating vanilla MCTS 36% is already good with that amount of straining. You'll need a lot more before it gets any good by human standards. This is also a *very* stochastic game, so you may have to wait longer than usual (or need more simulations per search).

The policy loss does not seem like it's going down at all from t

[2022-01-27 13:47] egeozsoy commented on #774
To clarify, I am using the alpha_zero.py example script (https://github.com/deepmind/open_spiel/blob/master/open_spiel/python/examples/alpha_zero.py). But I changed connect_four to pig, max_simulations to 30 from 300 and network type to MLP with 2 layers and hidden size of 128.

[2022-01-27 13:55] lanctot commented on #774
Ok I'm stuck on the policy loss not changing at all -- either there's a bug in the logging or there is a legitimate bug.

Can I ask you to run it quickly on Tic-Tac-Toe and show us the graphs? We know it should be working there, and that would tell us that maybe it's an interaction in the way the games with chance are being handled.

[2022-01-27 13:58] lanctot commented on #774
Scratch that, can you try Connect Four (with the default config)? We have old graphs for that and we know what they should look like). Thanks

[2022-01-27 14:12] egeozsoy commented on #774
I had already started running it on backgammon, and the policy loss is falling there.

[2022-01-27 14:49:14.120] Step: 1
[2022-01-27 14:49:14.120] Collected 21873 states from 180 games, 49.2 states/s. 24.6 states/(s*actor), game length: 121.5
[2022-01-27 14:49:14.120] Buffer size: 21873. States seen: 21873
[2022-01-27 14:49:18.293] Losses(total: 3.257, policy: 2.470, value: 0.750, l2: 0.037)
[2022

[2022-01-27 14:19] lanctot commented on #774
Nice! Ok, I think it's actually working. I think probably what could be happening in pig is that 30 simulations per search is too small, and you're not getting a sufficiently varying policy from uniform random (because the domain is so noisy). Could also be that the exploration constant doesn't make sense for a game with only 2 actions. If Connect Four looks good then I'd say everything is probabl

[2022-01-27 14:35] egeozsoy commented on #774
Connect Four might take some time, I will report when I have the results.

I will increase simulations for backgammon, and for now it is not a convolutional representation as you said. Do you think good performance is achievable in a realistic time using python alpha_zero? I also considered switching to Libtorch or tensorflow_CC based alpha_zero versions but I am not sure. Especially lib torch ver

[2022-01-27 14:42] lanctot commented on #774
Oh you can stop it after the 2nd or 3rd steps if you see the policy loss changing. I have no reason to think there's a bug at this point. I think the settings for pig would need tuning.

On timing.. it's hard to say... are you using a GPU? The python version was meant more as an example for small games. On the other hand, it was a game that got to super-human level in 1992 with much simpler algori

[2022-01-27 14:43] lanctot commented on #774
By the way, the Tensorflow_CC does not work externally.. we tried really hard, but could not get it to work in the end. So you'd have to use the Libtorch one. I know at least one student using it and it seems to work fairly well for their research purposes.

[2022-01-27 15:29] egeozsoy commented on #774
Sure, here though I have less experience (never used Libtorch just pytorch) so I might have more questions.

[2022-01-28 08:17] jeremysalwen commented on #772
Ok, that makes sense.  Could you provide some guidance for what interface I should be using? Should I be trying to make the RL agents conform to the bot interface? Should I be operating on policies? Should I be operating on AbstractAgents?

[2022-01-28 12:56] egeozsoy opened #777 "Loading LibTorch AlphaZero checkpoints in Python"
The AlphaZero documentation states that the checkpoint are compatible between the C++ and Python versions. Does this still hold true for LibTorch AlphaZero? I could not find a way to use those checkpoints in python.

[2022-01-28 14:49] Henry-E opened #778 "Bug in pickle serialization for Universal poker"
[code]

Saving a pickle file of a universal poker solver and then loading it gives an error. I've played around with removing or editing some of the parameters here from the string used to load the game (e.g. removing `GAMEDEF` and `limit`, adding a space before `GAMEDEF`) but it still gives an exception.

a hopefully reproducible example
[code]